Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(kithara-storage/atomic): fsync tmp file before rename in write_all
  crates/kithara-storage/src/atomic.rs
Due: semver, perf

feat(kithara-assets): LRU update_bytes — segment commits don't bump recency
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/index/flush.rs
  crates/kithara-assets/src/index/lru.rs
  tests/tests/kithara_assets/index_persistence.rs
Due: semver, perf

feat(kithara-play/app): share one FlushHub across all tracks
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-assets/src/index/flush.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
  crates/kithara-play/src/impls/config.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf, bench

test(kithara-assets): pin crash-recovery contracts for index/segment files
  crates/kithara-assets/tests/crash_recovery.rs
Due: perf

revert(kithara-storage/atomic): drop sync_data from write_all hot path
  crates/kithara-storage/src/atomic.rs
Due: semver, perf

test(kithara-assets/crash_recovery): RED tests for atomic mmap segment commits
  crates/kithara-assets/tests/crash_recovery.rs
Due: perf

feat(kithara-storage): AtomicChunked decorator — atomic mmap segment commits
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-storage/src/atomic_chunked.rs
  crates/kithara-storage/src/lib.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

fix(play): drive queue advance from playback stop reasons
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

feat(kithara-assets): durable explicit checkpoint via Flushable::flush_durable
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/flush.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-storage/src/atomic.rs
Due: semver, perf

test(integration): make event collectors resilient to broadcast Lagged
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/track_switch_race.rs
Due: none

fix(kithara-assets): self-deadlock in LeaseAssets::resource_state
  crates/kithara-assets/src/lease.rs
Due: semver, perf

refactor(kithara-storage): hierarchical layout + style sweep
  crates/kithara-storage/README.md
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-storage/src/backend/memory/io.rs
  crates/kithara-storage/src/backend/memory/mod.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  crates/kithara-storage/src/backend/mmap/driver.rs
  crates/kithara-storage/src/backend/mmap/io.rs
  crates/kithara-storage/src/backend/mmap/mod.rs
  crates/kithara-storage/src/backend/mod.rs
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/backend/resource/lifecycle.rs
  crates/kithara-storage/src/backend/resource/mod.rs
  crates/kithara-storage/src/backend/resource/ops.rs
  crates/kithara-storage/src/backend/resource/state.rs
  crates/kithara-storage/src/backend/resource/wait.rs
  crates/kithara-storage/src/backend/traits.rs
  crates/kithara-storage/src/decorator/atomic.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-storage/src/decorator/chunked/mod.rs
  crates/kithara-storage/src/decorator/chunked/tests.rs
  crates/kithara-storage/src/decorator/mod.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/internal.rs
  crates/kithara-storage/src/lib.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-storage/src/mock.rs
  crates/kithara-storage/src/resource.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

refactor(kithara-storage): split decorator/atomic into core+tests
  crates/kithara-storage/src/decorator/atomic/core.rs
  crates/kithara-storage/src/decorator/atomic/mod.rs
  crates/kithara-storage/src/decorator/atomic/tests.rs
Due: semver, perf

fix(play,audio): tighten gapless queue handoff
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
  tests/tests/common/gapless.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(play): make seamless queue advance use observed eof
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  tests/tests/common/gapless.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
Due: semver, perf

feat(xtask): ultimate `just health` orchestrator + audit upgrades
  .config/typos.toml
  Cargo.lock
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-test-utils/src/wav.rs
  deny.toml
  justfile
  tests/tests/kithara_wasm/selenium.rs
  xtask/src/common/mod.rs
  xtask/src/common/scope.rs
  xtask/src/common/timestamp.rs
  xtask/src/health.rs
  xtask/src/main.rs
  xtask/src/orphans.rs
  xtask/src/quality.rs
  xtask/src/similarity.rs
  xtask/src/typos.rs
Due: semver, perf, bench

refactor(gapless,audio): share pcm time helpers
  Cargo.lock
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/README.md
  crates/kithara-decode/src/gapless/codec_priming.rs
  crates/kithara-decode/src/gapless/heuristic.rs
  crates/kithara-decode/src/gapless/mod.rs
  crates/kithara-decode/src/gapless/mp4.rs
  crates/kithara-decode/src/gapless/trimmer.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm_time.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
  crates/kithara-test-utils/src/test_server.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
Due: semver, perf, bench

feat(play,ffi,apple,android): make gapless mode player-scoped
  android/README.md
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerTest.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/README.md
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

test(play): add gapless startup and queue api regressions
  tests/tests/common/offline_player_harness.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
Due: none

test(kithara-assets): fix payload-length precondition in DRM reactivate red-test
  crates/kithara-assets/src/process.rs
Due: semver, perf

fix(kithara-hls): cancel stale-epoch demand under flushing + interrupt mid-wait epoch advance
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
Due: semver, perf, bench

feat(kithara-decode): segment-aware fmp4 decoder for HLS+AAC/FLAC
  Cargo.lock
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/fmp4_segment/codec.rs
  crates/kithara-decode/src/fmp4_segment/codec_symphonia.rs
  crates/kithara-decode/src/fmp4_segment/decoder.rs
  crates/kithara-decode/src/fmp4_segment/demux.rs
  crates/kithara-decode/src/fmp4_segment/mod.rs
  crates/kithara-decode/src/fmp4_segment/source_io.rs
  crates/kithara-decode/src/fmp4_segment/tests.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/mod.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/segmented.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
Due: semver, perf, bench

refactor(kithara-stream): unify Source error type into SourceError enum
  crates/kithara-file/src/error.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/error.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  crates/kithara-test-utils/src/signal_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: semver, perf

refactor(kithara-stream): fold SegmentedSource into Source trait
  Cargo.lock
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4_segment/decoder.rs
  crates/kithara-decode/src/fmp4_segment/tests.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/segmented.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/signal_source.rs
Due: semver, perf, bench

feat(kithara-decode): Demuxer trait foundation for unified decoder
  crates/kithara-decode/src/demuxer/contract.rs
  crates/kithara-decode/src/demuxer/mod.rs
  crates/kithara-decode/src/demuxer/types.rs
  crates/kithara-decode/src/lib.rs
Due: semver, perf

feat(kithara-decode): FrameCodec public trait foundation
  crates/kithara-decode/src/codec/contract.rs
  crates/kithara-decode/src/codec/mod.rs
  crates/kithara-decode/src/lib.rs
Due: semver, perf

feat(kithara-decode): UniversalDecoder<D, C> orchestration
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

feat(kithara-decode): SymphoniaDemuxer + SymphoniaCodec adapters
  crates/kithara-decode/src/codec/mod.rs
  crates/kithara-decode/src/codec/symphonia.rs
  crates/kithara-decode/src/demuxer/mod.rs
  crates/kithara-decode/src/demuxer/symphonia.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/tests/universal_smoke.rs
Due: semver, perf

feat(kithara-decode): Fmp4SegmentDemuxer for HLS fMP4 segments
  crates/kithara-decode/src/demuxer/fmp4_segment.rs
  crates/kithara-decode/src/demuxer/mod.rs
  crates/kithara-decode/src/lib.rs
Due: semver, perf

refactor(kithara-decode): factory routes HLS-fMP4 via UniversalDecoder
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4_segment/codec.rs
  crates/kithara-decode/src/fmp4_segment/codec_symphonia.rs
  crates/kithara-decode/src/fmp4_segment/decoder.rs
  crates/kithara-decode/src/fmp4_segment/mod.rs
  crates/kithara-decode/src/fmp4_segment/tests.rs
Due: semver, perf

fix(kithara-decode): preserve fmp4 segment-aware precise-seek behavior
  crates/kithara-decode/src/demuxer/fmp4_segment.rs
Due: semver, perf

feat(kithara-file): fragmented file-mp4 segment index
  Cargo.lock
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/mod.rs
  crates/kithara-file/src/session/segments.rs
  crates/kithara-file/src/session/source.rs
Due: semver, perf, bench

refactor(kithara-stream): SegmentLayout trait, drop sidecar Source lie
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/demuxer/fmp4_segment.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/fmp4_segment/tests.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

feat(kithara-decode): AppleCodec — AudioConverter as a FrameCodec
  .config/ast-grep/rust.no-lint-suppression.yml
  crates/kithara-decode/README.md
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/converter.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/codec/apple.rs
  crates/kithara-decode/src/codec/mod.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

feat(kithara-decode): AndroidCodec — MediaCodec as a FrameCodec
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/codec/android.rs
  crates/kithara-decode/src/codec/mod.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

feat(kithara-decode): file-Symphonia on UniversalDecoder<SymphoniaDemuxer, SymphoniaCodec>
  crates/kithara-decode/src/codec/symphonia.rs
  crates/kithara-decode/src/demuxer/symphonia.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

refactor(kithara-decode): drop legacy decoder god-types (Phase 5+6)
  crates/kithara-decode/src/android/backend.rs
  crates/kithara-decode/src/android/config.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/extractor.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/android/source.rs
  crates/kithara-decode/src/apple/audiofile.rs
  crates/kithara-decode/src/apple/backend.rs
  crates/kithara-decode/src/apple/config.rs
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/decoder.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/apple/fmp4.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/apple/reader.rs
  crates/kithara-decode/src/backend/mod.rs
  crates/kithara-decode/src/backend/protocol.rs
  crates/kithara-decode/src/backend/source_alias.rs
  crates/kithara-decode/src/backend/tests.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/symphonia/backend.rs
  crates/kithara-decode/src/symphonia/mod.rs
Due: semver, perf

refactor(kithara-decode): drop legacy SymphoniaDecoder god-type
  crates/kithara-decode/src/codec/symphonia.rs
  crates/kithara-decode/src/demuxer/symphonia.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/symphonia/config.rs
  crates/kithara-decode/src/symphonia/decoder.rs
  crates/kithara-decode/src/symphonia/mod.rs
  crates/kithara-decode/src/symphonia/tests.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

refactor(kithara-decode): collapse codec/ + demuxer/ into platform modules
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/media_codec.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/codec/android.rs
  crates/kithara-decode/src/codec/mod.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/demuxer/contract.rs
  crates/kithara-decode/src/demuxer/mod.rs
  crates/kithara-decode/src/demuxer/types.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/mod.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/symphonia/mod.rs
  crates/kithara-decode/src/universal.rs
  crates/kithara-decode/tests/universal_smoke.rs
Due: semver, perf
