Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(server): gate unit tests are real-clock — raw reqwest over a real socket
  tests/src/hls_server.rs
Due: none

fix(tests): restore time module import for flash(false) gate tests
  tests/src/hls_server.rs
Due: none

test(queue): flash-coherent queue tick driver in near_end_stress
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
Due: none

feat: live timestretch performance cost meter
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/studio/status.rs
  crates/kithara-app/src/gui/studio/timestretch.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/state.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/benches/stretch_backends.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/timestretch/controls.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/effects/timestretch/stretch_kind.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/load.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/timestretch.rs
  crates/kithara-queue/src/queue/passthrough.rs
  crates/kithara/src/lib.rs
Due: semver, perf

feat(kithara): re-export flash test macro through the facade
  crates/kithara/src/lib.rs
Due: semver, perf

test(flash): flip 3a batch to flash-ON — blocking-phase restructure
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/phase_continuity/file.rs
  tests/tests/phase_continuity/hls.rs
Due: none

docs(audio): document block_on_underrun thread contract
  crates/kithara-audio/README.md
Due: perf

test(decode): drop block_on_underrun from browser-portable seek tests
  tests/tests/kithara_decode/decoder_seek_tests.rs
Due: none

fix(hls,audio,stream): variant fence carries its target — resolve aligned-fence livelock
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

fix(hls): variant-aware reader cursor — rescue the post-switch fetch-plan gap
  crates/kithara-hls/src/peer.rs
Due: semver, perf

fix(queue,play): keep track status truthful when play() consumes the slot
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/queue/passthrough.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/select_after_eof.rs
  tests/tests/kithara_queue/track_replay_after_switch.rs
Due: semver, perf

fix(abr): explicit set_mode supersedes the queued boundary switch
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/tests.rs
Due: semver, perf, bench

test(queue): keep the observe window below the genuine post-seek remainder
  tests/tests/kithara_queue/early_seek_size_withheld_advance.rs
Due: none

fix(decode): apple demuxer honours the not-ready contract — Pending, not Err
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/error.rs
Due: semver, perf

feat(platform,test-utils,test-macros): flash scheduler dump on test timeout
  .config/arch/thresholds.toml
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/flash.rs
  crates/kithara-platform/src/time/flash/sched.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/flash_dump.rs
  crates/kithara-test-utils/src/lib.rs
  tests/Cargo.toml
Due: semver, perf

build(just): dual-run gate recipe for the platform refactor
  justfile
Due: none

build: rename feature flash-time -> flash (manifests, justfile, xtask, ast-grep)
  .config/ast-grep/arch.no-direct-thread-wait.yml
  .config/ast-grep/arch.no-flash-time-hacks.yml
  Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/README.md
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/flash.rs
  crates/kithara-platform/src/time/flash/sched.rs
  crates/kithara-platform/src/tokio/sync/mod.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  crates/kithara-platform/src/tokio/task/spawn.rs
  crates/kithara-platform/src/tokio/task/spawn_baseline.rs
  crates/kithara-platform/tests/flash_attr.rs
  crates/kithara-platform/tests/flash_spawn.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-test-macros/src/flash.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-macros/src/test/entry.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/rewrite.rs
  crates/kithara-test-macros/src/test/shared.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/flash_dump.rs
  crates/kithara-test-utils/src/hang/real/detector_native.rs
  justfile
  tests/Cargo.toml
  tests/src/test_server/native.rs
  tests/src/test_server/shared.rs
  tests/tests/flash_lexical.rs
  tests/tests/phase_continuity/file.rs
Due: semver, perf, bench

fix(xtask): dead_exports inherits cfg gates from ancestor mod declarations
  xtask/src/arch/checks/dead_exports.rs
Due: none

feat(hls): cache-first segment size estimation
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/tests/size_estimation_cache_first.rs
Due: semver, perf

build(just): clippy recipe runs a single default pass
  justfile
Due: none

refactor(platform): relocate flash engine to src/flash, rename control surface (dynamic, virtual_*)
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/credit.rs
  crates/kithara-platform/src/flash/inert.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/pace.rs
  crates/kithara-platform/src/flash/participant.rs
  crates/kithara-platform/src/flash/sched.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/wake.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  crates/kithara-platform/src/tokio/task/spawn.rs
  crates/kithara-platform/tests/flash_attr.rs
  crates/kithara-platform/tests/flash_spawn.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-test-macros/src/flash.rs
  crates/kithara-test-macros/src/test/entry.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/rewrite.rs
  crates/kithara-test-utils/src/flash_dump.rs
  crates/kithara-test-utils/src/lib.rs
  tests/src/test_server/native.rs
  tests/src/test_server/shared.rs
  tests/tests/flash_lexical.rs
Due: semver, perf

refactor(platform): native/wasm/flash skeleton + Mutex/RwLock/Condvar slices + scoped unreachable_pub exception
  AGENTS.md
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/mod.rs
  crates/kithara-platform/src/flash/sync/mutex.rs
  crates/kithara-platform/src/flash/sync/rwlock.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/native/mod.rs
  crates/kithara-platform/src/native/sync/condvar.rs
  crates/kithara-platform/src/native/sync/mod.rs
  crates/kithara-platform/src/native/sync/mutex.rs
  crates/kithara-platform/src/native/sync/rwlock.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mutex.rs
  crates/kithara-platform/src/sync/rwlock.rs
  crates/kithara-platform/src/wasm/mod.rs
  crates/kithara-platform/src/wasm/sync/condvar.rs
  crates/kithara-platform/src/wasm/sync/mod.rs
  crates/kithara-platform/src/wasm/sync/mutex.rs
  crates/kithara-platform/src/wasm/sync/rwlock.rs
Due: semver, perf

refactor(platform): sync::mpsc/Notify/time slices
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/sync/mod.rs
  crates/kithara-platform/src/flash/sync/mpsc.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/time.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/native/mod.rs
  crates/kithara-platform/src/native/sync/mod.rs
  crates/kithara-platform/src/native/sync/mpsc.rs
  crates/kithara-platform/src/native/sync/notify.rs
  crates/kithara-platform/src/native/time.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/wasm/mod.rs
  crates/kithara-platform/src/wasm/sync/mod.rs
  crates/kithara-platform/src/wasm/sync/mpsc.rs
  crates/kithara-platform/src/wasm/sync/notify.rs
  crates/kithara-platform/src/wasm/time.rs
Due: semver, perf

refactor(platform): thread + maybe_send/logging/env slices
  crates/kithara-platform/src/env.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/logging.rs
  crates/kithara-platform/src/maybe_send.rs
  crates/kithara-platform/src/native/env.rs
  crates/kithara-platform/src/native/logging.rs
  crates/kithara-platform/src/native/maybe_send.rs
  crates/kithara-platform/src/native/mod.rs
  crates/kithara-platform/src/native/thread.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/wasm/logging.rs
  crates/kithara-platform/src/wasm/maybe_send.rs
  crates/kithara-platform/src/wasm/mod.rs
  crates/kithara-platform/src/wasm/thread.rs
  crates/kithara-test-macros/src/test/shared.rs
Due: semver, perf

fix(platform): flash_inert mirrors the flash control surface 1:1
  crates/kithara-platform/src/common/flash_inert.rs
Due: semver, perf

refactor(platform): W1 layout complete — native/wasm/flash layers, common, cfg 230->10
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  crates/kithara-net/src/retry.rs
  crates/kithara-platform/src/native/mod.rs
  crates/kithara-platform/src/native/thread.rs
  crates/kithara-platform/src/native/time.rs
  crates/kithara-platform/src/native/tokio/mod.rs
  crates/kithara-platform/src/native/tokio/task.rs
  crates/kithara-platform/src/wasm/tokio/mod.rs
  crates/kithara-test-utils/src/flash_dump.rs
  crates/kithara-test-utils/src/lib.rs
Due: semver, perf

refactor(platform): flash engine moves under system/ — sched/gate/credit/pace/wake, pub(crate) sched hole dies
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/participant.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
  crates/kithara-platform/src/flash/tokio/task.rs
Due: semver, perf

refactor(platform): typed engine ids — CvId/WaiterId/ThreadKey
  crates/kithara-platform/src/flash/ids.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
Due: semver, perf

refactor(platform): WakeBatch must_use + account_woken dedup
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
Due: semver, perf

refactor(platform): typed TaskGate FSM — AtomicTaskState + exhaustive outcomes
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/sched.rs
Due: semver, perf

refactor(platform): FlashInner single-owner engine state — Clock/Core/Registry/Scheduler, per-instance pacer
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/ids.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
Due: semver, perf

test(audio): preload_gate signaller becomes engine-visible — fixes mixed-clock race under flash
  crates/kithara-audio/src/worker/preload_gate.rs
Due: semver, perf

refactor(platform): single ThreadCtx thread-local — five TLS cells die
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/ctx.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/system/credit.rs
Due: semver, perf

refactor(platform): RAII credit discipline — DedicatedSlot/WaitGuard, !Send scopes, inert parity
  crates/kithara-platform/src/common/flash_inert.rs
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/flash/tokio/task.rs
Due: semver, perf
