Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(agents): make hook installation explicit
  docs/guides/agent-hooks.md
  xtask/README.md
  xtask/agent-hook
  xtask/src/agent_hook.rs
  xtask/src/agent_hook/cache.rs
  xtask/src/agent_hook/fingerprint.rs
  xtask/src/agent_hook/post_edit.rs
  xtask/tests/agent_hook_runner.rs
Due: none

refactor(agents): minimize hook launcher
  .gitignore
  docs/guides/agent-hooks.md
  xtask/README.md
  xtask/agent-hook
  xtask/src/agent_hook/cache.rs
  xtask/src/agent_hook/cache/pointer.rs
  xtask/tests/agent_hook_runner.rs
Due: none

fix(audio): defer bounded range wake off render path
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/audio/core.rs
Due: semver, perf

refactor(stretch): reuse canonical elastic config
  crates/kithara-stretch/src/elastic/capabilities.rs
Due: semver, perf

test(play): preload pitch bend fixture
  tests/tests/kithara_play/pitch_bend_transport.rs
Due: none

refactor(agents): move hook launcher into justfile
  .claude/settings.json
  .codex/hooks.json
  docs/guides/agent-hooks.md
  justfile
  xtask/README.md
  xtask/agent-hook
  xtask/src/agent_hook.rs
  xtask/src/agent_hook/cache.rs
  xtask/src/agent_hook/post_edit.rs
  xtask/tests/agent_hook_runner.rs
Due: none

refactor(stretch): own elastic span planning
  Cargo.lock
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/track/elastic.rs
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/preparation.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/Cargo.toml
  crates/kithara-stretch/src/elastic/error.rs
  crates/kithara-stretch/src/elastic/mod.rs
  crates/kithara-stretch/src/elastic/span.rs
  crates/kithara-stretch/src/elastic/span_tests.rs
  crates/kithara-stretch/src/lib.rs
Due: semver, perf, bench

refactor(audio): centralize elastic reader
  Cargo.lock
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-audio/src/elastic/anchor.rs
  crates/kithara-audio/src/elastic/config.rs
  crates/kithara-audio/src/elastic/error.rs
  crates/kithara-audio/src/elastic/exports.rs
  crates/kithara-audio/src/elastic/exports/enabled.rs
  crates/kithara-audio/src/elastic/mod.rs
  crates/kithara-audio/src/elastic/reader.rs
  crates/kithara-audio/src/elastic/reader/allocation.rs
  crates/kithara-audio/src/elastic/reader/preparation.rs
  crates/kithara-audio/src/elastic/reader/relocation.rs
  crates/kithara-audio/src/elastic/reader/rendering.rs
  crates/kithara-audio/src/elastic/reader/windows.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/Cargo.toml
  crates/kithara-play/README.md
  crates/kithara-play/src/player/config.rs
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/binding.rs
  crates/kithara-play/src/player/platform/mod.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/track/bound_plan.rs
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/feeder.rs
  crates/kithara-play/src/player/track/mod.rs
  crates/kithara-play/src/resource/native.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/src/elastic/config.rs
  crates/kithara-stretch/src/elastic/error.rs
  crates/kithara-stretch/src/elastic/mod.rs
  crates/kithara-stretch/src/elastic/span.rs
  crates/kithara-stretch/src/elastic/span_tests.rs
  crates/kithara-stretch/src/elastic/tests.rs
  crates/kithara-stretch/src/lib.rs
Due: semver, perf, bench

fix(xtask): make self-cache safe and reusable
  .claude/settings.json
  .codex/hooks.json
  .config/hakari.toml
  .config/xtask.toml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/kithara-devtools/Cargo.toml
  crates/kithara-devtools/src/format.rs
  crates/kithara-workspace-hack/Cargo.toml
  docs/guides/agent-hooks.md
  justfile
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/agent_hook.rs
  xtask/src/agent_hook/cache.rs
  xtask/src/agent_hook/cache/pointer.rs
  xtask/src/agent_hook/fingerprint.rs
  xtask/src/agent_hook/input.rs
  xtask/src/agent_hook/post_edit.rs
  xtask/src/agent_hook/pre_bash.rs
  xtask/src/agent_hook/pre_bash/tests.rs
  xtask/src/config.rs
  xtask/src/main.rs
  xtask/src/self_cache/command.rs
  xtask/src/self_cache/digest.rs
  xtask/src/self_cache/layout.rs
  xtask/src/self_cache/lease.rs
  xtask/src/self_cache/manifest.rs
  xtask/src/self_cache/mod.rs
  xtask/src/self_cache/publish.rs
  xtask/tests/agent_hook_runner.rs
  xtask/tests/self_cache_runner.rs
Due: semver, perf, bench

fix(xtask): reuse a supervised worktree cache (#120)
  .claude/settings.json
  .codex/hooks.json
  .config/hakari.toml
  .config/xtask.toml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/kithara-devtools/Cargo.toml
  crates/kithara-devtools/src/format.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-workspace-hack/Cargo.toml
  docs/guides/agent-hooks.md
  justfile
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/agent_hook.rs
  xtask/src/agent_hook/input.rs
  xtask/src/agent_hook/post_edit.rs
  xtask/src/agent_hook/pre_bash.rs
  xtask/src/agent_hook/pre_bash/cargo.rs
  xtask/src/agent_hook/pre_bash/git.rs
  xtask/src/agent_hook/pre_bash/shell.rs
  xtask/src/agent_hook/pre_bash/tests.rs
  xtask/src/config.rs
  xtask/src/main.rs
  xtask/src/self_cache/command.rs
  xtask/src/self_cache/digest.rs
  xtask/src/self_cache/layout.rs
  xtask/src/self_cache/lease.rs
  xtask/src/self_cache/manifest.rs
  xtask/src/self_cache/mod.rs
  xtask/src/self_cache/publish.rs
  xtask/tests/agent_hook_runner.rs
  xtask/tests/self_cache_runner.rs
Due: semver, perf, bench

refactor(play): unify routed member dispatch
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/player/multi/member.rs
Due: semver, perf

fix(net): replace GPL wreq-util dependency
  Cargo.lock
  Cargo.toml
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/src/backend/native/shared.rs
  crates/kithara-net/src/backend/native/wreq.rs
  crates/kithara-net/src/backend/wasm/fetch.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/error.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

fix(audio): blend PCM across decoder transitions
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/pipeline/config/decoder.rs
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/step.rs
  crates/kithara-audio/src/pipeline/gapless_blender.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/track/recreate.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/pipeline/track/tests/splice.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/resampled.rs
  crates/kithara-decode/src/traits.rs
  tests/Cargo.toml
  tests/tests/kithara_decode/factory_tests.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_play/cochlea_continuity_oracle.rs
  tests/tests/kithara_play/mod.rs
Due: semver, perf, bench

refactor(app): remove the compact window mode
  crates/kithara-app/assets/album-placeholder.svg
  crates/kithara-app/assets/fonts/Inter-SemiBold.ttf
  crates/kithara-app/assets/icons/disc.svg
  crates/kithara-app/assets/icons/faders.svg
  crates/kithara-app/assets/icons/gear.svg
  crates/kithara-app/assets/icons/playlist-add.svg
  crates/kithara-app/assets/icons/repeat-once.svg
  crates/kithara-app/assets/icons/repeat.svg
  crates/kithara-app/assets/icons/shuffle.svg
  crates/kithara-app/assets/icons/speaker-high.svg
  crates/kithara-app/assets/icons/speaker-low.svg
  crates/kithara-app/assets/icons/speaker-x.svg
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/fonts.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/icons.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/studio/eq.rs
  crates/kithara-app/src/gui/studio/mod.rs
  crates/kithara-app/src/gui/studio/shell.rs
  crates/kithara-app/src/gui/studio/styles.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/studio/topbar.rs
  crates/kithara-app/src/gui/subscription.rs
  crates/kithara-app/src/gui/tokens.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/url_bar.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/play_button.rs
  crates/kithara-app/src/gui/widgets/speed_slider.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/theme.rs
Due: semver, perf

feat(ui): scoped read resolution for multi-deck rendering
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/examples/gallery/mock.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/model.rs
  crates/kithara-ui/src/render/tree.rs
  crates/kithara-ui/src/widgets/deck.rs
  crates/kithara-ui/src/widgets/mini_wave.rs
  crates/kithara-ui/src/widgets/track_list.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
  crates/kithara-ui/tests/render_scope.rs
Due: semver, perf

fix(queue): expose the config source from TrackSource::uri
  crates/kithara-queue/src/track.rs
Due: semver, perf

feat(app): per-deck load flow and studio layout sizing
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-library.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-mixer.kmodule.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/catalog.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

feat(app): load via row assign chips and display-rate playback ticks
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-library.kmodule.ron
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/subscription.rs
  crates/kithara-app/src/gui/update.rs
Due: semver, perf

feat(ui): assign chips, document-owned fader label, natural wheel axis
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/examples/gallery/assets/modules/tabs/faders.kmodule.ron
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/tree.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/fader.rs
  crates/kithara-ui/src/widgets/track_list.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(ui): track-anchored waveform bars and a tempo knob
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/src/catalog.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-ui/src/widgets/wave/hero.rs
  crates/kithara-ui/src/widgets/wave/zoom_math.rs
Due: semver, perf

chore(ui,app): apply rustfmt
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/deck.rs
  crates/kithara-ui/src/widgets/track_list.rs
Due: semver, perf

feat(app,ui): parameterized channel strip and skin-owned knob captions
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-mixer.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-app/src/gui/studio_ui/scope.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/src/atoms/knob.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/tree.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

feat(ui): design-system waveform bars, deck metrics and stateful transport
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/widgets/button.rs
  crates/kithara-ui/src/widgets/deck.rs
  crates/kithara-ui/src/widgets/mini_wave.rs
  crates/kithara-ui/src/widgets/wave/hero.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(app): studio overview strip and a one/two-deck layout switch
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-bar.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-overview-row.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-overview-single.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-overview.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
Due: semver, perf

refactor(ui,app): one owner per derived value, design metrics for the rest
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-bar.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/examples/gallery/mock.rs
  crates/kithara-ui/src/atoms/design/crossfader.rs
  crates/kithara-ui/src/atoms/knob.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/widgets/button.rs
  crates/kithara-ui/src/widgets/deck.rs
  crates/kithara-ui/src/widgets/mini_wave.rs
  crates/kithara-ui/src/widgets/wave/bars.rs
  crates/kithara-ui/src/widgets/wave/hero.rs
  crates/kithara-ui/src/widgets/wave/mod.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(ui): deck overlay follows the design's hover rule and box alignment
  crates/kithara-ui/src/widgets/mini_wave.rs
Due: semver, perf

feat(app): narrowing the deck layout pauses the decks it hides
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-mixer-single.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/update.rs
Due: semver, perf

chore(ui,app): capture frames and measure them against the design canon
  .gitignore
  AGENTS.md
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/shot.rs
  crates/kithara-ui/examples/gallery/shot.rs
  crates/kithara-ui/src/render/bmp.rs
  crates/kithara-ui/src/render/mod.rs
  docs/guides/design-parity.md
  docs/skills/run-kithara-app/SKILL.md
  tools/design-parity/parity.py
  tools/design-parity/regress.py
Due: semver, perf

feat(ui,app): resize a window that draws its own chrome by its own edges
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/render/event.rs
  crates/kithara-ui/src/render/mod.rs
  crates/kithara-ui/src/render/tree.rs
  crates/kithara-ui/src/widgets/window/mod.rs
  crates/kithara-ui/src/widgets/window/resize.rs
  crates/kithara-ui/tests/roundtrip.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(ui,app): a track reaches a deck by being dragged onto it
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-library.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/catalog.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/mock_data.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/event.rs
  crates/kithara-ui/src/render/mod.rs
  crates/kithara-ui/src/render/model.rs
  crates/kithara-ui/src/render/skin.rs
  crates/kithara-ui/src/render/tree.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/chrome.rs
  crates/kithara-ui/src/widgets/drag_ghost.rs
  crates/kithara-ui/src/widgets/mod.rs
  crates/kithara-ui/src/widgets/track_list.rs
Due: semver, perf

chore(ui,app): drop the frame-capture harness, tighten what a layout owns
  .gitignore
  AGENTS.md
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/deck.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/mix.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/shot.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/compile.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-app/src/gui/studio_ui/scope.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/shot.rs
  crates/kithara-ui/src/render/bmp.rs
  crates/kithara-ui/src/render/mod.rs
  docs/guides/design-parity.md
  docs/skills/run-kithara-app/SKILL.md
  tools/design-parity/parity.py
  tools/design-parity/regress.py
Due: semver, perf

refactor(app): the studio fails to start rather than panicking on its own documents
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/compile.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-app/src/gui/studio_ui/scope.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-ui/src/atoms/design/crossfader.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/read.rs
  crates/kithara-ui/src/render/tree/window.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/window/surface.rs
  tasks-2026-06-15.md
Due: semver, perf

refactor(ui): the control dispatcher keeps one list instead of four
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/expand/machine.rs
Due: semver, perf

refactor(ui,app): a read address is resolved by the owner of its segment
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/compile.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/reads.rs
  crates/kithara-app/src/gui/studio_ui/reads/deck.rs
  crates/kithara-app/src/gui/studio_ui/reads/library.rs
  crates/kithara-app/src/gui/studio_ui/reads/mix.rs
  crates/kithara-app/src/gui/studio_ui/reads/mod.rs
  crates/kithara-app/src/gui/studio_ui/reads/root.rs
  crates/kithara-app/src/gui/studio_ui/reads/ui.rs
  crates/kithara-app/src/gui/studio_ui/reads/value.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/src/render/address.rs
  crates/kithara-ui/src/render/mod.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/validate.rs
Due: semver, perf

feat(ui): decorative corner ticks are opt-in per module instance
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/examples/gallery/assets/gallery-chrome.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-tokens.klayout.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/chrome-full-all.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/tokens-notes.kmodule.ron
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/widgets/chrome.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/roundtrip.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf
