Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

Parametrize perf decoder scenarios with rstest
  tests/perf/decoder.rs
Due: perf

Fix wasm file playback compatibility in kithara-file and kithara-play
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

Stage pending codex refactor tail in main
  .gitlab-ci.yml
  Cargo.lock
  crates/kithara-decode/src/traits.rs
  scripts/ci/lint.sh
  scripts/ci/trait-mock-exceptions.sh
  scripts/ci/trait-mock-exceptions.txt
Due: semver, perf, bench

Parametrize audio pipeline preload and read tests with rstest
  crates/kithara-audio/src/pipeline/audio_tests.rs
Due: semver, perf

Parametrize resampler passthrough and quality tests with rstest
  crates/kithara-audio/src/resampler.rs
Due: semver, perf

Adapt wasm stress tests to WasmPlayer API
  tests/tests/kithara_wasm/stress.rs
Due: none

Add rstest contract topic table for progressive download architecture tests
  crates/kithara-stream/tests/architecture_progressive_download.rs
Due: perf

Parametrize ABR perf scenarios with rstest
  tests/perf/abr.rs
Due: perf

Parametrize resampler perf scenarios with rstest
  tests/perf/resampler.rs
Due: perf

Parametrize storage perf scenarios with rstest
  tests/perf/storage.rs
Due: perf

Raise rstest CI gate to 485
  .gitlab-ci.yml
Due: none

Create rust.yml
  .github/workflows/rust.yml
Due: none

Compact root architecture diagram and inline crate README links
  README.md
Due: none

disable rust workflow
  .github/workflows/rust.yml.disabled
Due: none

Stabilize wasm stress tests for WasmPlayer migration
  tests/tests/kithara_wasm/stress.rs
Due: none

Add wasm tests for playlist switch and EQ controls
  tests/tests/kithara_wasm/stress.rs
Due: none

wasm: migrate player to kithara-play (playlist/crossfade/EQ) and stabilize wasm tests (#9)
  .github/workflows/rust.yml.disabled
  Cargo.lock
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/effect_bridge.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/shared_eq.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/README.md
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf, bench

platform: add cross-platform channel/time wrappers
  Cargo.lock
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/channel.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/time.rs
Due: semver, perf, bench

play: use kithara-platform channels instead of kanal
  Cargo.lock
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/shared_player_state.rs
Due: semver, perf, bench

audio/platform: switch audio channels to platform wrapper
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-platform/src/channel.rs
Due: semver, perf, bench

platform: route abr/hls time via kithara-platform
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/benches/abr_estimator.rs
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/estimator.rs
  crates/kithara-abr/src/lib.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf, bench

file/wasm-tests: fix ephemeral mp3 head loss and add regressions
  Cargo.lock
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  tests/Cargo.toml
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf, bench

wasm-tests: align stress API and expose cpal-in-wasm panic
  tests/tests/kithara_wasm/stress.rs
Due: none

play: split firewheel backend and guard wasm cpal
  Cargo.lock
  Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf, bench

cargo: pin kithara-play default features at call sites
  crates/kithara-wasm/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf

tests: remove rstest timeout from wasm double-play case
  tests/tests/kithara_wasm/stress.rs
Due: none

wasm: run engine commands on main thread for web audio
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-wasm/index.html
Due: semver, perf

wasm: switch to firewheel cpal backend and fix playlist switching
  Cargo.lock
  Cargo.toml
  crates/firewheel-wasm-demo/.gitignore
  crates/firewheel-wasm-demo/Cargo.toml
  crates/firewheel-wasm-demo/Trunk.toml
  crates/firewheel-wasm-demo/index.html
  crates/firewheel-wasm-demo/src/lib.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/play_crossfade_audio.rs
Due: semver, perf, bench

wasm: avoid single-thread fallback for thread pool init
  crates/kithara-wasm/index.html
Due: perf

play: reload track when selecting already-seen src
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

play: start selected track from beginning on fade-in
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

feat(wasm): stabilize playback graph and master effects
  Cargo.lock
  Cargo.toml
  crates/firewheel-wasm-demo/.gitignore
  crates/firewheel-wasm-demo/Cargo.toml
  crates/firewheel-wasm-demo/Trunk.toml
  crates/firewheel-wasm-demo/index.html
  crates/firewheel-wasm-demo/src/lib.rs
  crates/kithara-play/src/impls/effect_bridge.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/shared_eq.rs
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/player.rs
Due: semver, perf, bench

fix(play): satisfy clippy for master effect routing
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/master_eq_node.rs
Due: semver, perf

feat(play): share one audio session across player instances
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/engine_tests.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/types.rs
  crates/kithara-wasm/src/player.rs
Due: semver, perf

update claude settings
  .claude/settings.json
Due: none

wasm: add SAB runtime checks and hosting headers guidance
  crates/kithara-wasm/README.md
  crates/kithara-wasm/_headers
  crates/kithara-wasm/index.html
Due: perf

wasm: make gh-pages demo work with coi fallback and relative wasm paths
  crates/kithara-wasm/README.md
  crates/kithara-wasm/coi-serviceworker.js
  crates/kithara-wasm/index.html
  crates/kithara-wasm/post-build.sh
Due: perf
