Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(xtask): expect 21 publishable crates after kithara-devtools split
  xtask/src/publish.rs
Due: none

test(xtask): derive publish-order contract from metadata, not a pinned count
  xtask/src/publish.rs
Due: none

feat(platform): no_block async blocking detection core
  .config/arch/baseline.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/common/mod.rs
  crates/kithara-platform/src/common/no_block_inert.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/native/sync/condvar.rs
  crates/kithara-platform/src/native/sync/mpsc.rs
  crates/kithara-platform/src/native/thread.rs
  crates/kithara-platform/src/no_block/api.rs
  crates/kithara-platform/src/no_block/clock.rs
  crates/kithara-platform/src/no_block/ctx.rs
  crates/kithara-platform/src/no_block/mod.rs
  crates/kithara-platform/src/no_block/mode.rs
  crates/kithara-platform/src/no_block/report.rs
  crates/kithara-platform/src/no_block/tests.rs
  crates/kithara-platform/src/no_block/watch.rs
Due: semver, perf, bench

fix(platform): early-drop watch lock guard before parking waker
  crates/kithara-platform/src/flash/tokio/watch.rs
Due: semver, perf

chore(zed): isolate rust-analyzer target dir to stop boring-sys2 clippy-gate race
  .zed/settings.json
Due: none

refactor(xtask): move project data from code constants to [ext.*] config
  .config/xtask.toml
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/config.rs
  xtask/src/publish.rs
  xtask/src/release.rs
Due: none

feat(platform): no_block flash interop - bridged forbid and engine-wait pause
  crates/kithara-platform/src/common/no_block_inert.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/no_block/api.rs
  crates/kithara-platform/src/no_block/mod.rs
  crates/kithara-platform/src/no_block/mode.rs
  crates/kithara-platform/src/no_block/report.rs
  crates/kithara-platform/src/no_block/tests.rs
Due: semver, perf

fix(fuzz): route fuzz targets through the kithara facade
  Cargo.lock
  crates/kithara-storage/src/backend/mod.rs
  tests/fuzz/Cargo.toml
  tests/fuzz/fuzz_targets/aes_decrypt.rs
  tests/fuzz/fuzz_targets/assets_key.rs
  tests/fuzz/fuzz_targets/file_config.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
  tests/fuzz/fuzz_targets/play_resource_config.rs
  tests/fuzz/fuzz_targets/storage_mem_resource.rs
  tests/fuzz/fuzz_targets/storage_mmap_resource.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
Due: semver, perf, bench

fix(storage): don't panic on repeat commit of a released mem buffer
  crates/kithara-storage/src/backend/memory/io.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

feat(macros): #[kithara::no_block] and #[kithara::allow_block]
  .config/arch/baseline.toml
  Cargo.lock
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-macros/src/no_block.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/no_block.rs
Due: semver, perf, bench

chore(features): wire no-block through facade, dev-deps, and test lanes
  .config/xtask.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-devtools/src/common/project.rs
  crates/kithara-devtools/src/init.rs
  crates/kithara-devtools/src/test.rs
  crates/kithara-devtools/tests/config_contract.rs
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara/Cargo.toml
  crates/kithara/src/lib.rs
  justfile
  tests/Cargo.toml
Due: semver, perf, bench

fix(fuzz): repair kithara-fuzz build + fix mem-storage double-commit panic (#103)
  Cargo.lock
  crates/kithara-storage/src/backend/memory/io.rs
  crates/kithara-storage/src/backend/mod.rs
  crates/kithara-storage/src/unified.rs
  tests/fuzz/Cargo.toml
  tests/fuzz/fuzz_targets/aes_decrypt.rs
  tests/fuzz/fuzz_targets/assets_key.rs
  tests/fuzz/fuzz_targets/file_config.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
  tests/fuzz/fuzz_targets/play_resource_config.rs
  tests/fuzz/fuzz_targets/storage_mem_resource.rs
  tests/fuzz/fuzz_targets/storage_mmap_resource.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
Due: semver, perf, bench

feat(no-block): blanket coverage at test roots and spawn chokepoints
  .config/arch/baseline.toml
  crates/kithara-platform/src/common/no_block_inert.rs
  crates/kithara-platform/src/flash/tokio/task.rs
  crates/kithara-platform/src/native/tokio/task.rs
  crates/kithara-platform/src/no_block/mod.rs
  crates/kithara-platform/src/no_block/mode.rs
  crates/kithara-platform/src/no_block/report.rs
  crates/kithara-platform/src/no_block/tests.rs
  crates/kithara-platform/src/no_block/watch.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  tests/tests/no_block.rs
  tests/tests/suite_light.rs
Due: semver, perf

chore(lint): guard no_block internals with ast-grep; engine wait uses permit
  .config/ast-grep/arch.no-raw-no-block.yml
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/no_block/report.rs
Due: semver, perf

docs: drop references to local-only plan docs and memory files
  .config/ast-grep/arch.no-std-sync-mutex.yml
  .config/ast-grep/arch.prefer-dashmap-dashset.yml
  .config/ast-grep/rust.no-crate-lint-allow.yml
  .config/ast-grep/rust.no-inherent-to-string.yml
  .config/ast-grep/rust.no-to-string-method.yml
  .config/ast-grep/rust.prefer-from-iterator.yml
  .config/ast-grep/rust.prefer-from-not-to-into.yml
  .config/ast-grep/rust.prefer-from-trait.yml
  .config/ast-grep/rust.prefer-fromstr.yml
  .config/ast-grep/rust.prefer-io-write-read.yml
  .config/ast-grep/rust.prefer-tryfrom-trait.yml
  .config/ast-grep/style.no-pub-fields-inside-crate.yml
  .config/ast-grep/style.prefer-default-derive.yml
  apple/README.md
  crates/kithara-assets/tests/inflight_sharing.rs
  crates/kithara-file/CONTEXT.md
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_baseline_no_switch.rs
  tests/tests/abr_contract/probe_demuxer_continuity.rs
  tests/tests/abr_contract/probe_disk_inventory_parity.rs
  tests/tests/abr_contract/probe_emit_count_contract.rs
  tests/tests/abr_contract/probe_init_range.rs
  tests/tests/abr_contract/probe_pcm_seam_continuity.rs
  tests/tests/abr_contract/probe_track_continuity_invariants.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
Due: perf

docs: make crates/kithara/ARCHITECTURE.md the canonical architecture doc
  ARCHITECTURE.md
  CONTEXT.md
  README.md
  crates/kithara/ARCHITECTURE.md
  crates/kithara/README.md
Due: perf

docs,test: translate all remaining Russian text to English
  .gitlab-ci.yml
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-utils/src/probe/real/wire.rs
  docker/ci-cross.Dockerfile
  tests/Cargo.toml
  tests/tests/abr_contract/helpers.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/flac_swallow_fixture.rs
  tests/tests/kithara_queue/user_simulation/scenarios.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
Due: semver, perf

feat(devtools): non_english_text and dead_doc_refs style lint checks
  .config/style/thresholds.toml
  crates/kithara-devtools/src/common/walker.rs
  crates/kithara-devtools/src/style/checks/dead_doc_refs.rs
  crates/kithara-devtools/src/style/checks/mod.rs
  crates/kithara-devtools/src/style/checks/non_english_text.rs
  crates/kithara-devtools/src/style/config.rs
  crates/kithara-devtools/src/style/mod.rs
Due: semver, perf

chore(no-block): sanction census-triaged bridges with allow_block
  crates/kithara-audio/src/audio.rs
  crates/kithara-play/src/impls/session/host_native.rs
  tests/src/flash_pace.rs
  tests/src/offline/session.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: semver, perf

feat(no-block): default to panic with measured blanket budget
  crates/kithara-platform/src/no_block/mode.rs
Due: semver, perf

fix(devtools): exclude check implementations from dead_doc_refs scan
  .config/style/thresholds.toml
  crates/kithara-devtools/src/style/config.rs
Due: semver, perf

docs: fix stale claims across crate CONTEXT/README docs (audit batch 1)
  .config/ast-grep/arch.no-target-os-outside-platform.yml
  CONTEXT.md
  TESTING.md
  crates/kithara-abr/CONTEXT.md
  crates/kithara-abr/README.md
  crates/kithara-abr/src/lib.rs
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/README.md
  crates/kithara-devtools/README.md
  crates/kithara-drm/CONTEXT.md
  crates/kithara-drm/README.md
  crates/kithara-events/CONTEXT.md
  crates/kithara-events/README.md
  crates/kithara-ffi/CONTEXT.md
  crates/kithara-file/CONTEXT.md
  crates/kithara-file/README.md
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/README.md
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/README.md
  crates/kithara-queue/CONTEXT.md
  crates/kithara-queue/README.md
  crates/kithara-stream/CONTEXT.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/CONTEXT.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/CONTEXT.md
  crates/kithara-test-utils/README.md
  crates/kithara-test-utils/src/probe/capture/recorder.rs
  crates/kithara/ARCHITECTURE.md
  crates/kithara/README.md
  docs/README.md
Due: semver, perf, bench

docs: move project context narrative into crates/kithara/CONTEXT.md
  AGENTS.md
  CONTEXT.md
  crates/kithara-devtools/src/common/walker.rs
  crates/kithara/CONTEXT.md
Due: semver, perf

docs: fix stale claims across infra/pipeline crate docs (audit batch 2)
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/README.md
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-audio/src/lib.rs
  crates/kithara-beat/CONTEXT.md
  crates/kithara-beat/README.md
  crates/kithara-bufpool/CONTEXT.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/README.md
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/README.md
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/README.md
  crates/kithara-platform/CONTEXT.md
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/README.md
  crates/kithara-storage/CONTEXT.md
  crates/kithara-storage/README.md
  crates/kithara-storage/src/decorator/mod.rs
  crates/kithara-stretch/README.md
Due: semver, perf

feat(no-block): rtsan-checked poll lane with async suppressions
  .config/rtsan/async-suppressions.txt
  Cargo.lock
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/no_block.rs
  justfile
Due: semver, perf, bench

docs(platform): document the no_block contract in CONTEXT.md
  crates/kithara-platform/CONTEXT.md
Due: perf

test(devtools): typos-proof the unknown-section config fixture
  crates/kithara-devtools/tests/config_contract.rs
Due: perf

fix(apple): unblock xcframework build (pin uniffi 0.31.2 + simulator bindgen triple)
  Cargo.lock
  Cargo.toml
  xtask/src/apple.rs
Due: perf, bench

test(audio): add PCM-continuity regression guards for seek/recreate/gapless
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/composed.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

fix(decode): drop fully-pre-target packet on seek trim
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/composed.rs
Due: semver, perf

fix(apple): unblock xcframework build (pin uniffi 0.31.2 + simulator bindgen triple) (#104)
  Cargo.lock
  Cargo.toml
  xtask/src/apple.rs
Due: perf, bench

fix(decode): eliminate splice click on HLS ABR variant switch (#102)
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/composed.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

refactor(resampler): collapse to concrete sinc/poly, drop Maximum quality
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/resampler.rs
  tests/perf/resampler.rs
Due: semver, perf

refactor(decode): move SRC core to kithara-decode behind resample-rubato
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/resampler.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/config.rs
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf, bench

feat(decode): thread target_output_rate to Apple codec output format
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

feat(audio): gate FFT resampler and waveform analysis behind features
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/analysis/analyzer/mod.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/waveform_pass_disabled.rs
  crates/kithara-audio/src/analysis/analyzer/waveform_pass_enabled.rs
  crates/kithara-audio/src/analysis/beat/analyzer.rs
  crates/kithara-audio/src/analysis/beat/consts.rs
  crates/kithara-audio/src/analysis/beat/mod.rs
  crates/kithara-audio/src/analysis/beat/resampler.rs
  crates/kithara-audio/src/analysis/beat/resampler_fft.rs
  crates/kithara-audio/src/analysis/beat/resampler_sinc.rs
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/waveform/analyzer.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-audio/src/waveform/params.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf, bench

feat(decode): flip gapless and seek-trim to decoder-output domain for fused SRC
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
Due: semver, perf
