Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

docs: add PR description skill and summary rules (#36)
  .agents/skills/pr/SKILL.md
  .claude/skills
  .docs/workflow/pr-description.md
  AGENTS.md
Due: none

feat(ci): consolidated GitLab CI with multi-platform release pipeline
  .config/nextest.toml
  .docs/plans/2026-03-23-ci-consolidation.md
  .gitlab-ci.yml
  crates/kithara-drm/Cargo.toml
  crates/kithara-hang-detector-macros/Cargo.toml
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-play/src/impls/source_type.rs
  crates/kithara-wasm/.cargo/config.toml
  docker/ci-android.Dockerfile
  docker/ci-cross.Dockerfile
  docker/ci.Dockerfile
  justfile
  tests/Cargo.toml
  xtask/src/publish.rs
  xtask/src/util.rs
  xtask/trait-mock-exceptions.txt
Due: semver, perf

chore: remove plan doc (should be gitignored)
  .docs/plans/2026-03-23-ci-consolidation.md
Due: none

fix gitlab-ci
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
Due: perf, bench

fix: clippy single_match_else in test-macros
  .gitlab-ci.yml
  crates/kithara-test-macros/src/lib.rs
Due: semver, perf

feat(apple): move playground into KitharaDemo and add iOS build recipes
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/Examples/KitharaDemo/KitharaPlayground.playground/contents.xcplayground
  justfile
Due: none

feat(apple): move playground into demo, add iOS build recipes, release v0.0.1
  Package.swift
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/Examples/KitharaDemo/KitharaPlayground.playground/contents.xcplayground
  apple/Examples/KitharaDemo/project.yml
  justfile
Due: none

feat(drm): DRM key processor with UniqueBinaryCipher across all layers
  Cargo.lock
  Cargo.toml
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/project.yml
  apple/Sources/Kithara/Cipher.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/drm.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-drm/Cargo.toml
  crates/kithara-drm/src/cipher.rs
  crates/kithara-drm/src/lib.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/cipher.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  justfile
  xtask/src/apple.rs
Due: semver, perf, bench

feat(apple): enable hardware decoder on macOS, fix remaining clippy lints
  crates/kithara-app/Cargo.toml
  crates/kithara-decode/src/apple.rs
Due: semver, perf

feat(ui): highlight failed tracks in red in TUI and GUI playlists
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf

refactor: unified track loading via TrackLoadParams + Playlist(Arena<Track>)
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/controls.rs
  crates/kithara-app/src/drm.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/playlist.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf, bench

feat(net): soft/hard load timeouts with LoadSlow event
  crates/kithara-app/src/controls.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/playlist.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-events/src/file.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/types.rs
Due: semver, perf

fix(decode): fallback to Symphonia when Apple decoder cannot handle codec
  crates/kithara-decode/src/factory.rs
  crates/kithara-net/src/types.rs
Due: semver, perf

fix: Apple decoder fallback + test race condition + flaky list
  .config/nextest.toml
  crates/kithara-decode/src/factory.rs
  crates/kithara-net/src/types.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(decode): Apple decoder seek + HardwareBackend abstraction
  .config/nextest.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: semver, perf

style: fix all ast-grep warnings, promote rules to error
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  .config/ast-grep/style.no-deep-qualified-paths.yml
  .config/ast-grep/style.no-functions-in-lib-or-mod-rs.yml
  .config/ast-grep/style.no-inline-qualified-paths.yml
  .config/ast-grep/style.no-local-use-in-prod-functions.yml
  .config/ast-grep/style.no-magic-numbers.yml
  .config/ast-grep/style.no-separator-comments-rs.yml
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/playlist.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-drm/src/cipher.rs
  crates/kithara-ffi/src/player.rs
  tests/tests/kithara_decode/timeline_tests.rs
Due: semver, perf

fix(test): reduce native NEXT_CHUNK_TIMEOUT from 90s to 10s
  .config/ast-grep/style.no-inline-qualified-paths.yml
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

test(red): seek after warmup hangs on DRM mmap path
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

fix(audio): recompute byte_len on every decoder recreation
  crates/kithara-audio/src/audio.rs
Due: semver, perf

fix(hls): always start decoder from offset 0 on ABR variant switch
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(app): first get_next_track returns track 0; restore track.mp3
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/playlist.rs
Due: semver, perf

feat(events): add DecoderReady event for decoder init/recreation
  crates/kithara-app/src/events.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/src/audio.rs
Due: semver, perf

docs: plan decoder init unification refactoring
  .docs/plans/2026-03-25-decoder-init-unification.md
Due: none

fix(hls): always start decoder from offset 0 on ABR variant switch
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

test(red): ABR must freeze during seek; add min_throughput_record_ms
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: semver, perf, bench

fix(hls): freeze ABR decisions while seek is pending
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

fix(hls): defer layout switch until decoder recreation
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

test(hls): tighten stress test budgets and add min_throughput_record_ms: 0
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

test(hls): reduce stress test budgets for local server
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
Due: none

fix(audio): recover from corrupted decoder seek via recreation
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: semver, perf

test(audio): update seek failure test for recovery behavior
  tests/tests/kithara_audio/stream_source_tests.rs
Due: none

fix(audio): detect format change when source blocked to avoid wait_range stall
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

refactor: signal-based test fixtures
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/signal_pcm.rs
  crates/kithara-test-utils/src/signal_source.rs
  crates/kithara-test-utils/src/signal_source_utils.rs
  crates/kithara-test-utils/src/wav.rs
  tests/Cargo.toml
  tests/bin/fixture_server.rs
  tests/bin/hls_fixture_server.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf

fix(audio,hls): RAII shutdown via Arc inner, typed on-demand outcome, serial thread-budget tests
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-hls/src/source.rs
  tests/tests/thread_budget.rs
Due: semver, perf

fix(hls): prevent init segment injection into mid-stream segments
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

SignalSource fixtures, RAII worker shutdown, typed demand outcome (#44)
  AGENTS.md
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/signal_pcm.rs
  crates/kithara-test-utils/src/signal_source.rs
  crates/kithara-test-utils/src/signal_source_utils.rs
  crates/kithara-test-utils/src/wav.rs
  tests/Cargo.toml
  tests/bin/fixture_server.rs
  tests/bin/hls_fixture_server.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_wasm/stress.rs
  tests/tests/thread_budget.rs
Due: semver, perf

style: fix import formatting after merge with production/main
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/signal_pcm.rs
  crates/kithara-test-utils/src/signal_source.rs
  crates/kithara-test-utils/src/wav.rs
  tests/bin/fixture_server.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/thread_budget.rs
Due: semver, perf

chore: upgrade dependencies (tracing-subscriber 0.3.23, clap 4.6, symphonia dev-0.6 #68af2424)
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore: upgrade dependencies
  Cargo.lock
  Cargo.toml
  crates/kithara-decode/src/symphonia.rs
Due: semver, perf, bench

chore: update xcframework checksum for v0.0.1 release
  Package.swift
Due: none
