Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(style): localize single-use consts + order struct fields/inits
  .config/style/baseline.toml
  crates/kithara-app/src/crossfade.rs
  crates/kithara-app/src/events.rs
  crates/kithara-app/src/tui/session.rs
  crates/kithara-app/tests/stage_drm_burst_e2e.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/index/persist.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/gapless/probe.rs
  crates/kithara-decode/src/symphonia/aac_fdk.rs
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-net/src/timeout.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-test-utils/src/hang/real/detector.rs
Due: semver, perf

fix(xtask): refine const_locality/struct_init_order/struct_field_order detection (eliminate false positives)
  .config/style/baseline.toml
  xtask/src/style/checks/const_locality.rs
  xtask/src/style/checks/struct_field_order.rs
  xtask/src/style/checks/struct_init_order.rs
Due: none

feat(xtask): config-driven test-code exclusion for idioms checks
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
  xtask/src/idioms/config.rs
  xtask/src/idioms/mod.rs
Due: none

fix(xtask): refine box_concrete_type/loop_flag_accumulator/accumulator_loops (eliminate production false positives)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/accumulator_loops.rs
  xtask/src/idioms/checks/box_concrete_type.rs
  xtask/src/idioms/checks/loop_flag_accumulator.rs
Due: none

refactor(app): functional rewrites — hoist loop allocs, extract loop bodies, collapse guards
  .config/idioms/baseline.toml
  crates/kithara-app/build.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf

refactor(encode): functional rewrites + DRY request validation
  .config/idioms/baseline.toml
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/ffmpeg/pcm.rs
  crates/kithara-encode/src/types.rs
Due: semver, perf

refactor(net,ffi,storage): functional rewrites — hoist allocs, extract loop bodies
  .config/idioms/baseline.toml
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-net/src/error.rs
  crates/kithara-net/src/types.rs
Due: semver, perf

refactor(assets,stream): functional rewrites — hoist allocs, extract loop bodies
  .config/idioms/baseline.toml
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

feat(xtask): exempt #[cfg(test)] modules from idioms checks (AST-based)
  .config/idioms/baseline.toml
  xtask/src/idioms/mod.rs
Due: none

refactor(net): type NetError retryability, drop stringly Http variant
  .config/idioms/baseline.toml
  crates/kithara-events/src/downloader.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-net/README.md
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/error.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/response.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_net/retry.rs
  tests/tests/kithara_net/timeout.rs
Due: semver, perf

refactor(queue): replace coordination sentinels with typed state
  crates/kithara-queue/src/queue/lifecycle.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/state.rs
  crates/kithara-queue/src/queue/types.rs
Due: semver, perf

refactor(hls): typed segment lifecycle via phantom Segment handles
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(decode): functional rewrites in fmp4 parsing/source_io/mp4-scan/symphonia-demuxer
  .config/idioms/baseline.toml
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/mp4/scan.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
Due: semver, perf

refactor(audio,play,hls): functional rewrites — extract RT-safe loop bodies, hoist allocs
  .config/idioms/baseline.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_resource.rs
Due: semver, perf

refactor(decode): behavior-identical loop extractions in gapless/composed/demuxer (danger-zone, test-gated)
  .config/idioms/baseline.toml
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
Due: semver, perf

feat(audio): parameterizable pre-resampler chain slot
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/effects/timestretch.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/traits.rs
Due: semver, perf

refactor(encode,net): restore 2 genuine dedups (no chopping)
  .config/idioms/baseline.toml
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-net/src/error.rs
Due: semver, perf

refactor(ffi): dedup time/duration emit into one emit_if_changed helper
  .config/idioms/baseline.toml
  crates/kithara-ffi/src/event_bridge.rs
Due: semver, perf

feat: waveform envelope collection (audio DSP core + app analyze driver)
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/waveform/envelope.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-audio/src/waveform/peaks.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/lifecycle.rs
  tests/tests/kithara_app/waveform_analyzer.rs
  tests/tests/kithara_file/waveform_shared_download.rs
  tests/tests/suite_light.rs
Due: semver, perf

refactor(gui): share brand mark and ghost button in compact header
  crates/kithara-app/src/gui/icons.rs
  crates/kithara-app/src/gui/studio/mod.rs
  crates/kithara-app/src/gui/studio/styles.rs
  crates/kithara-app/src/gui/studio/topbar.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

fix(storage): stop wait_range watchdog false-firing on slow network reads
  crates/kithara-storage/src/backend/resource/wait.rs
Due: semver, perf

feat: one-deck DJ Studio GUI with timestretch-styled compact player
  Cargo.lock
  Cargo.toml
  crates/kithara-app/assets/fonts/Inter-OFL.txt
  crates/kithara-app/assets/fonts/InterVariable.ttf
  crates/kithara-app/assets/fonts/JetBrainsMono-Medium.ttf
  crates/kithara-app/assets/fonts/JetBrainsMono-OFL.txt
  crates/kithara-app/assets/fonts/JetBrainsMono-Regular.ttf
  crates/kithara-app/assets/fonts/JetBrainsMono-SemiBold.ttf
  crates/kithara-app/assets/fonts/SpaceGrotesk-OFL.txt
  crates/kithara-app/assets/fonts/SpaceGrotesk-Variable.ttf
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/fonts.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/icons.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/library.rs
  crates/kithara-app/src/gui/studio/mod.rs
  crates/kithara-app/src/gui/studio/shell.rs
  crates/kithara-app/src/gui/studio/status.rs
  crates/kithara-app/src/gui/studio/styles.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/studio/topbar.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/knob.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/speed_slider.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/theme.rs
Due: semver, perf, bench

test(abr): gate is_throughput_driven seek-invalidation contract
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_seek_invalidates_stale_pending.rs
Due: none

fix(xtask): branch_density counts real predictor pressure, not ? / match arms
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/function_branch_density.rs
Due: none

perf(play): render_audio addresses tracks by arena Index, not cloned Arc<str>
  crates/kithara-play/src/impls/arena_registry.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

refactor(decode): dedup fmp4 segment-fill ready-check into SegmentReadState::sync_buffer_ready
  .config/idioms/baseline.toml
  crates/kithara-decode/src/fmp4/source_io.rs
Due: semver, perf

style(decode): order SegmentReadState items (sync_buffer_ready before total)
  crates/kithara-decode/src/fmp4/source_io.rs
Due: semver, perf

refactor(ffi): typed ItemView replaces ItemState boolean god-struct
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
Due: semver, perf

fix(xtask): loop_allocation skips error-path allocs (map_err / return / break)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/loop_allocation.rs
Due: none

fix(xtask): exempt build scripts from idioms checks
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
Due: none

refactor(xtask): similarity crate exclusions via .config/similarity.toml
  .config/similarity.toml
  xtask/src/similarity.rs
Due: none

refactor(xtask): move project crate names out of lint-config defaults
  .config/arch/thresholds.toml
  xtask/src/arch/config.rs
  xtask/src/idioms/checks/pointwise_loop.rs
  xtask/src/style/config.rs
Due: none

refactor(hls): true Segment<S> phantom typestate (G-6a redo)
  crates/kithara-hls/src/variant.rs
Due: semver, perf

refactor(xtask): operational tooling reads project identity from .config/xtask.toml
  .config/xtask.toml
  xtask/src/callgraph/mod.rs
  xtask/src/common/mod.rs
  xtask/src/common/project.rs
  xtask/src/health.rs
  xtask/src/publish.rs
  xtask/src/style/checks/comment_hygiene.rs
Due: none

fix(xtask): guard_cascade ignores loop-control and dependency chains (9->0)
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
  xtask/src/idioms/checks/guard_cascade.rs
  xtask/src/idioms/config.rs
Due: none

fix(xtask): fat_loop_body discounts data-plumbing let-bindings (33->9)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/fat_loop_body.rs
Due: none

fix(xtask): accumulator_loops ignores in-place element scaling (2->0)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/accumulator_loops.rs
Due: none
