Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

chore(lint): rust-idioms Wave 14 — promote rust.no-inherent-to-string + clippy guards (Cat 12a)
  .config/ast-grep/rust.no-inherent-to-string.yml
  Cargo.toml
Due: perf, bench

chore(lint): rust-idioms Waves 15+16 — promote prefer-from-iterator + prefer-io-write-read to error (Cat 12b/12c)
  .config/ast-grep/rust.prefer-from-iterator.yml
  .config/ast-grep/rust.prefer-io-write-read.yml
Due: none

chore(lint): rust-idioms Wave 99 — final severity promotion (sealing)
  .config/ast-grep/rust.prefer-tryfrom-trait.yml
Due: none

refactor(workspace): rust-idioms followup — replace 2 lazy suppresses with real impl From, restore EvictConfig pub fields
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/resampler.rs
Due: semver, perf

fix(stream,test): cluster B byte_integrity — surface VariantChange past wait_range short-circuit + relax ABR-auto byte-equality assertions
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/drm_stream_integrity.rs
Due: semver, perf

refactor(workspace): rust-idioms Wave 13 — Mutex<HashSet/HashMap> → DashMap/DashSet (Cat 11)
  .config/ast-grep/arch.prefer-dashmap-dashset.yml
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-assets/src/index/pin/disk.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/loading/keys.rs
Due: semver, perf, bench

fix(hls,audio): Wave 2.A — close decoder-recreate stall after non-byte-continuous variant switch
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/variant.rs
Due: semver, perf

docs(agents): add lint-zero-suppress campaign hard rule
  AGENTS.md
Due: none

chore(lint): arch baseline -13 — drop readme_presence + ratchet improvements (W1.A)
  .config/arch/baseline.toml
  AGENTS.md
  tests/fuzz/README.md
  xtask/README.md
Due: none

chore(lint): clippy --fix sweep (W1.C)
  crates/kithara-storage/src/decorator/chunked/tests.rs
  tests/tests/kithara_play/engine_cpal_tests.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf

fix(file,stream): preserve container from Content-Type in FileSource::media_info
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-stream/src/media.rs
  tests/tests/kithara_file/file_source.rs
Due: semver, perf

fix(decode/apple): revert HE-AAC v1/v2 native dispatch — regress prod zvuk playback
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  tests/src/test_server.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

Revert "fix(decode/apple): revert HE-AAC v1/v2 native dispatch — regress prod zvuk playback"
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  tests/src/test_server.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(decode/apple): native HE-AAC v1/v2 via ESDS + FormatList
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/ffi.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

refactor(decode/apple): drop #[expect] suppressions, fix lint debt
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
Due: semver, perf

chore(lint): idioms baseline line-shift sync after W1.B style autofix
  .config/idioms/baseline.toml
Due: none

chore(lint): style autofix #2 + remove empty mock noop fallback
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-test-utils/src/mock/mod.rs
  crates/kithara-test-utils/src/mock/noop.rs
Due: semver, perf

chore(lint): relocate kithara-test-utils to services layer (W1.F)
  .config/arch/baseline.toml
  .config/arch/direction.toml
Due: none

fix(xtask): comment_hygiene autofix preserves spec/byte-format annotations
  crates/kithara-decode/src/apple/codec.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
  tests/tests/kithara_queue/user_simulation/scenarios.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/kithara_queue/zvuk_drm_trace.rs
  xtask/src/style/checks/comment_hygiene.rs
Due: semver, perf

feat(encode,tests): variable encoder-delay test fixtures + ffmpeg hardening
  Cargo.lock
  Cargo.toml
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/bytes.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
  tests/Cargo.toml
  tests/src/consts.rs
  tests/src/native/routes/mod.rs
  tests/src/native/routes/range.rs
  tests/src/native/routes/signal.rs
  tests/src/native/routes/stream.rs
  tests/src/native/test_server_state.rs
  tests/src/signal_spec.rs
  tests/src/signal_url.rs
  tests/src/test_server.rs
  tests/src/test_server/native.rs
Due: semver, perf, bench

test(decode,phase): MP3 priming probe + phase-continuity sentinel matrix
  tests/tests/kithara_decode/aac_priming_regression.rs
  tests/tests/kithara_decode/apple_mp3_priming_probe.rs
  tests/tests/kithara_decode/factory_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_encode/bytes_tests.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/phase_continuity/common.rs
  tests/tests/phase_continuity/file.rs
  tests/tests/phase_continuity/hls.rs
  tests/tests/phase_continuity/mod.rs
  tests/tests/suite_light.rs
  tests/tests/suite_stress.rs
Due: none

test(decode,phase): pre-roll test adjustments
  crates/kithara-decode/src/fmp4/tests.rs
  tests/tests/phase_continuity/file.rs
  tests/tests/phase_continuity/hls.rs
Due: semver, perf

fix(audio): unify recreate readiness window — close HE-AAC v2 variant-switch livelock
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

fix(audio,decode): resume mid-seek variant switch at target + AAC SBR seek pre-roll
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/codec.rs
Due: semver, perf

chore(xtask): add dead_exports arch-lint detector + autofix
  .config/arch/thresholds.toml
  xtask/src/arch/checks/dead_exports.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
  xtask/src/arch/mod.rs
  xtask/src/common/fix/mod.rs
  xtask/src/style/checks/mod.rs
Due: none

refactor(stream,encode,tests): relocate test-only fixture helpers to tests/
  crates/kithara-encode/src/types.rs
  crates/kithara-stream/src/lib.rs
  tests/src/encode_ext.rs
  tests/src/hls_spec.rs
  tests/src/lib.rs
  tests/src/native/fmp4/mux.rs
  tests/src/rfc6381.rs
  tests/tests/kithara_encode/bytes_tests.rs
  tests/tests/kithara_encode/types_tests.rs
Due: semver, perf

refactor(play): remove speculative DJ/session/mixer/asset traits
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/mock.rs
  crates/kithara-play/src/traits/asset.rs
  crates/kithara-play/src/traits/dj/bpm.rs
  crates/kithara-play/src/traits/dj/crossfade.rs
  crates/kithara-play/src/traits/dj/effects.rs
  crates/kithara-play/src/traits/mixer.rs
  crates/kithara-play/src/traits/session.rs
  crates/kithara-play/src/types.rs
Due: semver, perf

refactor: remove never-referenced dead exports
  crates/kithara-app/src/events.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-events/src/file.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-storage/src/decorator/atomic/core.rs
  crates/kithara-storage/src/decorator/atomic/mod.rs
  crates/kithara-storage/src/decorator/mod.rs
  crates/kithara-storage/src/lib.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

test(stream): localize dl test timing consts
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

refactor(net): drop test-only ByteStream/RangeSpec constructors
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/traits.rs
  crates/kithara-net/src/types.rs
  tests/src/net_fixture.rs
Due: semver, perf

refactor(abr): drop test-only bandwidth-estimate accessor
  crates/kithara-abr/src/controller/core.rs
  tests/tests/kithara_hls/abr_integration.rs
Due: semver, perf, bench

fix(assets): wire FlushHub background flush worker
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/flush/mod.rs
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/flush/worker_stub.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
  tests/tests/thread_budget.rs
Due: semver, perf

fix(storage): clear failed state on reactivate — unblock variant-switch recreate hang
  crates/kithara-storage/src/backend/resource/lifecycle.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

refactor(assets): drop test-only accessors; relocate has_resource to tests/
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-assets/src/key.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  tests/src/assets_ext.rs
  tests/src/lib.rs
  tests/tests/kithara_assets/resource_state.rs
Due: semver, perf

test(hls): exclude _index bookkeeping from idle-prefetch file count
  tests/tests/kithara_hls/idle_behavior.rs
Due: none

fix(xtask): dead_exports skips platform-cfg/fix-protected defs in report
  .config/arch/thresholds.toml
  xtask/src/arch/checks/dead_exports.rs
Due: none

refactor(storage): drop speculative scrub_stale_tmp
  crates/kithara-file/src/stream.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-storage/src/decorator/chunked/tests.rs
Due: semver, perf

refactor(decode): relocate is_chunk to tests/ ext-trait
  crates/kithara-decode/src/traits.rs
  tests/src/decode_ext.rs
  tests/src/lib.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/protocol_tests.rs
  tests/tests/kithara_decode/symphonia_tests.rs
Due: semver, perf
