Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

fix(platform): doc-promises become executable guards — LIFO mode check, park_for pin
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/ctx.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/tests.rs
Due: semver, perf

refactor(platform): Backend enum kills engine-bool+cvid pairs, flash Condvar wraps native
  crates/kithara-platform/src/flash/ids.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
Due: semver, perf

refactor(platform): pin-project-lite replaces unsafe Pin projections in flash futures
  Cargo.lock
  Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/participant.rs
  crates/kithara-platform/src/flash/time.rs
Due: semver, perf, bench

feat(platform): trace native-latched primitive used from ambient thread
  crates/kithara-platform/src/flash/ids.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
Due: semver, perf

refactor(platform): flash layer consumes native/common primitives — layering audit fixup
  crates/kithara-platform/src/common/time.rs
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/ids.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/mpsc.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/flash/time.rs
  crates/kithara-platform/src/flash/tokio/mod.rs
  crates/kithara-platform/src/flash/tokio/task.rs
  crates/kithara-platform/src/native/sync/condvar.rs
  crates/kithara-platform/src/native/sync/mutex.rs
  crates/kithara-platform/src/native/thread.rs
  crates/kithara-platform/src/native/time.rs
  crates/kithara-platform/src/native/tokio/task.rs
  crates/kithara-platform/src/wasm/time.rs
Due: semver, perf

fix(platform): review fixes for layering fixup — layer-clean native doc, pin relock in unlocked contract test
  crates/kithara-platform/src/native/sync/mutex.rs
  crates/kithara-platform/src/native/thread.rs
Due: semver, perf

test(platform): pure-scheduler engine tests run on local FlashInner instances
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
Due: semver, perf

fix(test-macros): single ambient holder per emission — body-held scope tears down non-LIFO on timeout cancel
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/ctx.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-test-macros/README.md
  crates/kithara-test-macros/src/test/entry.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/expand_sync.rs
  crates/kithara-test-macros/src/test/shared.rs
Due: semver, perf

docs(platform): align LIFO-enforcement prose with the dual-cause assert — review fixes for eec9b4b58
  crates/kithara-platform/src/common/flash_inert.rs
  crates/kithara-platform/src/flash/ctx.rs
Due: semver, perf

refactor(platform): W2 engine complete — FlashInner owner, ThreadCtx, typed layer, engine under system/
  crates/kithara-platform/README.md
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/thread.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
  crates/kithara-platform/src/flash/tokio/task.rs
  crates/kithara-platform/tests/flash_spawn.rs
Due: semver, perf

docs(platform): retire dead sleep_sim name in Wake::Task doc — 2.12 review nit
  crates/kithara-platform/src/flash/system/wake.rs
Due: semver, perf

docs: W3 cancel contract — typed roots, CancelScope, cancel_root_sites guard
  AGENTS.md
  crates/kithara-play/README.md
Due: perf

feat(platform): common/cancel — propagate-down Node, CancelRoot/Token/Group/Scope
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-platform/src/common/cancel/mod.rs
  crates/kithara-platform/src/common/cancel/node.rs
  crates/kithara-platform/src/common/cancel/scope.rs
  crates/kithara-platform/src/common/cancel/token.rs
  crates/kithara-platform/src/common/cancel/wait.rs
  crates/kithara-platform/src/common/mod.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/tests/cancel.rs
Due: semver, perf

fix(platform): cancel foundation — drop ast-grep markers via code, pin bounds
  AGENTS.md
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-platform/src/common/cancel/mod.rs
  crates/kithara-platform/src/common/cancel/node.rs
  crates/kithara-platform/src/common/cancel/scope.rs
  crates/kithara-platform/src/common/cancel/token.rs
  crates/kithara-platform/tests/cancel.rs
  crates/kithara-play/README.md
Due: semver, perf

bench(platform): cancel — legacy CancellationToken vs W3 CancelRoot/Token
  Cargo.lock
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/benches/cancel.rs
Due: semver, perf, bench

docs(platform): note cancel Mutex is flash-blind by contract
  crates/kithara-platform/src/common/cancel/mod.rs
Due: semver, perf

bench(platform): cancel bench covers only the propagate-down impl
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/benches/cancel.rs
Due: semver, perf

refactor(platform): collapse CancelRoot into CancelToken::root()
  AGENTS.md
  crates/kithara-app/src/main.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/benches/cancel.rs
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-platform/src/common/cancel/mod.rs
  crates/kithara-platform/src/common/cancel/scope.rs
  crates/kithara-platform/src/common/cancel/token.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/tests/cancel.rs
  crates/kithara-play/README.md
Due: semver, perf

refactor(platform): drop legacy rt_cancel/cancel_group and tokio-util — wasm check green
  Cargo.lock
  Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/cancel_group.rs
  crates/kithara-platform/src/common/cancel/mod.rs
  crates/kithara-platform/src/common/cancel/token.rs
  crates/kithara-platform/src/common/cancel/wait.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/rt_cancel.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

feat(xtask): cancel_root_sites guard replaces cancel_hierarchy
  .config/arch/thresholds.toml
  xtask/src/arch/checks/cancel_root_sites.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
  xtask/src/style/checks/comment_hygiene.rs
Due: none

fix(xtask): make no-implicit-clock/sleep path-aware, not bare-form
  .config/ast-grep/arch.no-implicit-clock.yml
  .config/ast-grep/arch.no-implicit-sleep.yml
Due: none

refactor(assets): drop dead ResourceKey::matches_url
  .config/arch/baseline.toml
  crates/kithara-assets/src/key.rs
Due: semver, perf

refactor: drop 5 redundant accessors (P1/P2/P4)
  .config/arch/baseline.toml
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/gapless/trimmer/tests.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-play/src/impls/player/core.rs
Due: semver, perf

refactor: rewrite 6 guarded loops as iterator chains
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix(platform,ffi): W3 3.6 cancel doc-sweep + android_test CancelToken import
  crates/kithara-audio/README.md
  crates/kithara-ffi/src/native/android_test.rs
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
Due: semver, perf

fix(test-utils,build): wasm hang-detector remaining() + decode recipe -> just wasm green
  crates/kithara-test-utils/src/hang/real/detector_wasm.rs
  justfile
Due: semver, perf

refactor(audio): rename worker/decoder_node.rs to decoder.rs
  .config/arch/baseline.toml
  crates/kithara-audio/src/worker/decoder.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/mod.rs
Due: semver, perf

refactor(decode): bundle 8 over-arg fns into params/config structs
  .config/arch/baseline.toml
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/symphonia/mod.rs
Due: semver, perf

refactor(audio): bundle 7 over-arg fns into params/config structs
  .config/arch/baseline.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/resampler.rs
Due: semver, perf

refactor(abr,assets): bundle 4 over-arg fns into params/setup structs
  .config/arch/baseline.toml
  crates/kithara-abr/src/controller/throttle.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf, bench

refactor(encode): bundle 3 over-arg ffmpeg fns into params structs
  .config/arch/baseline.toml
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/bytes.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
Due: semver, perf

refactor(hls): typed params for activate-with-shift (pub-primitive-spread)
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/layout.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(play,queue): SelectTransition for select_item_with_crossfade
  crates/kithara-play/src/impls/player/mod.rs
  crates/kithara-play/src/impls/player/transitions.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-queue/src/queue/selection.rs
Due: semver, perf

feat(platform): W4 channels — flash-aware broadcast/Semaphore/OnceCell + enumerate tokio::sync
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-assets/src/index/demand.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-platform/src/flash/tokio/broadcast.rs
  crates/kithara-platform/src/flash/tokio/mod.rs
  crates/kithara-platform/src/flash/tokio/oncecell.rs
  crates/kithara-platform/src/flash/tokio/semaphore.rs
  crates/kithara-platform/src/flash/tokio/sync.rs
  crates/kithara-platform/src/native/tokio/sync.rs
  crates/kithara-platform/src/wasm/tokio/sync.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue/playback.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/idle_behavior.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/track_switch_race.rs
Due: semver, perf

refactor(app): bundle 8 over-arg fns into params/ctx structs
  .config/arch/baseline.toml
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/library.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/vfader.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf

refactor(decode): rename PcmChunk.pcm field to samples
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/effects/timestretch.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/gapless/trimmer/tests.rs
  crates/kithara-decode/src/types.rs
  tests/perf/decoder.rs
  tests/perf/resampler.rs
  tests/tests/kithara_audio/alloc_free_hotpath.rs
  tests/tests/kithara_audio/gapless_crossfade.rs
  tests/tests/kithara_decode/aac_priming_regression.rs
  tests/tests/kithara_decode/apple_mp3_priming_probe.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/protocol_tests.rs
  tests/tests/kithara_decode/symphonia_tests.rs
  tests/tests/kithara_hls/segment_boundary_strand.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
Due: semver, perf

feat(platform): W5 Phase A — adopt Default at construction sites + mpsc iter/try_iter
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/demand.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-ffi/src/core/item.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/key_processor_bridge.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-platform/src/flash/sync/mpsc.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/native/sync/mpsc.rs
  crates/kithara-platform/src/wasm/sync/mpsc.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player/core.rs
  crates/kithara-play/src/impls/session/host_native.rs
  crates/kithara-play/src/impls/session/host_web.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-stream/src/dl/downloader.rs
  tests/src/offline/session.rs
Due: semver, perf, bench
