Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

test(audio/play): red tests pinning the Failed-vs-Eof contract across 5 layers
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix(audio/play): distinguish Failure from NaturalEof across the PCM wire
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

fix(hls/source): filter find_at_offset callers to committed segments only
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/source_impl.rs
Due: semver, perf

test(play/resource): mirror live_remote_resource_decodes_with_duration locally
  tests/tests/kithara_play/resource_regressions.rs
Due: none

test(play): mirror silvercomet seek-hang iters against local HLS fixture
  tests/tests/kithara_play/local_seek_hang_iters.rs
  tests/tests/kithara_play/mod.rs
Due: none

test(queue): mirror real_playlist::track_plays_end_to_end on local fixtures
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/mod.rs
Due: none

test(queue): pin local_queue_playlist_behavior — captures multi-fixture loader/seek bug
  tests/tests/kithara_queue/local_track_plays.rs
Due: none

test(queue): polling helper for local_queue_playlist_behavior — kills helper race
  tests/tests/kithara_queue/local_track_plays.rs
Due: none

test: keep silvercomet/zvuk/cpal modules out of integration mod.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_queue/mod.rs
Due: none

test(queue): split cold_seek_cpal into synthetic-offline (heavy) + silvercomet-cpal (e2e)
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/cpal_cold_seek_synthetic.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/suite_e2e.rs
Due: none

test(macros): drop auto-ignore from kithara::test(selenium); gate via cargo feature
  crates/kithara-test-macros/src/lib.rs
  justfile
  tests/Cargo.toml
  tests/tests/kithara_wasm/mod.rs
Due: semver, perf

test(perf): drop #[ignore]; suite gated by `perf` feature in tests/Cargo.toml
  tests/perf/abr.rs
  tests/perf/decoder.rs
  tests/perf/memory_rss.rs
  tests/perf/pool.rs
  tests/perf/resampler.rs
  tests/perf/storage.rs
Due: perf

test(wasm): drop #[ignore] from stress.rs
  tests/tests/kithara_wasm/stress.rs
Due: none

test(play): split engine cpal tests, parametrize by backend (cpal | offline)
  tests/tests/kithara_play/engine_cpal_tests.rs
  tests/tests/kithara_play/engine_tests.rs
  tests/tests/suite_e2e.rs
Due: none

test(queue): drop #[ignore] from pinned production-bug tests
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/local_track_plays.rs
Due: none

fix(audio/decode): typed StreamReadError to distinguish seek-pending from EOF in Apple decoder
  crates/kithara-decode/src/apple/audiofile.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/symphonia/error_chain.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

refactor(assets): single AssetDeleter channel + symmetric Arc-shared indexes
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/deleter.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/index/persist.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/availability_persistence.rs
  crates/kithara-assets/tests/resource_state.rs
  crates/kithara-storage/src/error.rs
  tests/tests/kithara_assets/pins_index_integration.rs
Due: semver, perf

style(assets): import dashmap::DashMap at file top, drop deep qualified path
  crates/kithara-assets/src/store.rs
Due: semver, perf

fix(assets): block ProcessedResource readers until commit drains the processor
  crates/kithara-assets/src/process.rs
Due: semver, perf

fix(assets): mark ProcessedResource pending before inner reactivate
  crates/kithara-assets/src/process.rs
Due: semver, perf

feat(storage): add ResourceStatus::Cancelled, observe in process gate
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/state.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/resource.rs
Due: semver, perf

test(assets): pin ProcessedResource readiness gate contract via concurrent red-tests
  crates/kithara-assets/src/process.rs
Due: semver, perf

Revert: ResourceStatus::Cancelled + red-tests (regress partial_cache_resume_works)
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/state.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/resource.rs
Due: semver, perf

feat(storage): ResourceStatus::Cancelled + readiness gate red-tests
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/state.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/resource.rs
Due: semver, perf

chore(app): honor RUST_LOG + add KITHARA_LOG_FILE for tui/gui tracing
  .zed/debug.json
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/tui/tracing_init.rs
Due: semver, perf

fix(test-utils): bind standalone test server on 0.0.0.0 by default
  crates/kithara-test-utils/src/test_server/native.rs
Due: semver, perf

fix(audio/net): typed seek-out-of-range + unbounded wait_range + NetOptions split
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/symphonia/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/types.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/hls_fixture.rs
  crates/kithara-test-utils/src/memory_source.rs
  crates/kithara-test-utils/src/signal_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_middle_stress.rs
  tests/tests/kithara_play/hls_seek_middle_stress_long.rs
  tests/tests/kithara_play/hls_seek_past_end_terminates.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/track_switch_race.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
  tests/tests/suite_stress.rs
Due: semver, perf

test(kithara_queue): reshape hls_seek_near_end_stress to fresh-player iterations
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
Due: none

refactor(play,audio): genericize session backend plumbing
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session_engine.rs
Due: semver, perf

fix(hls): break populate hot-loop via per-variant populated_cached_count
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

fix(play): resolve clippy failures in test code
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

test(play): add offline harness smoke coverage
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  tests/tests/common/mod.rs
  tests/tests/common/offline_player_harness.rs
  tests/tests/kithara_play/engine_tests.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/offline_harness_smoke.rs
Due: semver, perf

feat(xtask): cargo xtask arch — 13 architectural fitness checks with ratchet baseline
  .config/arch/baseline.toml
  .config/arch/canonical-types.toml
  .config/arch/direction.toml
  .config/arch/module-layers.toml
  .config/arch/thresholds.toml
  Cargo.lock
  Cargo.toml
  justfile
  xtask/Cargo.toml
  xtask/src/arch.rs
  xtask/src/arch/baseline.rs
  xtask/src/arch/checks/canonical_types.rs
  xtask/src/arch/checks/direction.rs
  xtask/src/arch/checks/duplicate_error_enums.rs
  xtask/src/arch/checks/file_density.rs
  xtask/src/arch/checks/file_size.rs
  xtask/src/arch/checks/flat_directory.rs
  xtask/src/arch/checks/max_nesting.rs
  xtask/src/arch/checks/mixed_entities.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/module_layers.rs
  xtask/src/arch/checks/readme_presence.rs
  xtask/src/arch/checks/redundant_accessors.rs
  xtask/src/arch/checks/shared_state.rs
  xtask/src/arch/checks/stray_rs_files.rs
  xtask/src/arch/config.rs
  xtask/src/arch/mod.rs
  xtask/src/arch/parse.rs
  xtask/src/arch/report.rs
  xtask/src/arch/violation.rs
  xtask/src/arch/walker.rs
  xtask/src/main.rs
  xtask/src/quality.rs
Due: perf, bench

feat(xtask/arch): add single_word_filenames check (14th)
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/single_word_filenames.rs
  xtask/src/arch/config.rs
Due: none

test(play): scope offline harness to kithara_play tests
  tests/tests/common/mod.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/offline_harness_smoke.rs
Due: none

refactor(file): split session.rs into session/ submodule (5 files)
  .config/arch/baseline.toml
  crates/kithara-file/src/session.rs
  crates/kithara-file/src/session/download.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/mod.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
Due: semver, perf

docs(play): document offline backend testing path
  crates/kithara-play/README.md
Due: perf

refactor(file): drop Arc<Mutex<FileInner>> via atomics + OnceLock
  .config/arch/baseline.toml
  crates/kithara-file/src/session/download.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
