Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

fix(analysis): read a gap at the start of a track through to the run behind it
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/beat/runs.rs
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/worker/schedule.rs
Due: semver, perf

test(analysis): reach the probe from the signal-processing backend too
  crates/kithara-analysis/src/tests/mod.rs
Due: semver, perf

feat(beat): fetch the full beat model into a build cache
  .gitignore
  crates/kithara-beat/Cargo.toml
  crates/kithara-beat/README.md
  crates/kithara-beat/build.rs
  crates/kithara-beat/scripts/fetch-beat-models.sh
  crates/kithara-beat/src/nn/models.rs
Due: semver, perf

test(analysis): give the pass a detector it may drop on any thread
  crates/kithara-analysis/src/tests/fixtures.rs
Due: semver, perf

fix(analysis): count dub and ambient at the rate they are played
  crates/kithara-analysis/src/grid/octave.rs
Due: semver, perf

docs(analysis): say what the hold carries and where a run may aim
  crates/kithara-analysis/CONTEXT.md
Due: perf

refactor(beat): share the pooled-buffer helper and the parity fixtures
  crates/kithara-beat/src/dsp/buffer.rs
  crates/kithara-beat/src/dsp/mod.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/tests/common/mod.rs
  crates/kithara-beat/tests/degara.rs
  crates/kithara-beat/tests/fixtures/record_degara_golden.py
  crates/kithara-beat/tests/parity.rs
Due: semver, perf

perf(beat): keep the decoder's logarithms out of its loop
  crates/kithara-beat/src/dsp/decode.rs
  crates/kithara-beat/src/dsp/novelty.rs
  crates/kithara-beat/src/dsp/tracker.rs
Due: semver, perf

refactor(beat): hash the fetched model in-process
  Cargo.lock
  crates/kithara-beat/Cargo.toml
  crates/kithara-beat/build.rs
Due: semver, perf, bench

refactor(analysis): fold the octave inside the grid builder
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/grid/core.rs
  crates/kithara-analysis/src/grid/mod.rs
Due: semver, perf

refactor(analysis): implement the detector trait on the backends directly
  crates/kithara-analysis/src/beat/backend/build.rs
  crates/kithara-analysis/src/beat/backend/dsp.rs
  crates/kithara-analysis/src/beat/backend/nn.rs
  crates/kithara-analysis/src/beat/detector.rs
  crates/kithara-analysis/src/beat/mod.rs
Due: semver, perf

docs(analysis): say what the resampler seam carries
  crates/kithara-analysis/src/beat/runs.rs
Due: semver, perf

test(analysis): share one in-memory track between the pass tests
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/mod.rs
  crates/kithara-analysis/src/tests/probe.rs
  crates/kithara-analysis/src/tests/track.rs
Due: semver, perf

fix(bufpool): give idle buffers back before refusing a live request
  crates/kithara-bufpool/CONTEXT.md
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/tests/region.rs
Due: semver, perf

fix(analysis): read on when the beat pass cannot feed its detector
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/beat/pass.rs
  crates/kithara-analysis/src/slots/beat.rs
  crates/kithara-analysis/src/tests/hold.rs
Due: semver, perf

chore(app): trace what the analysis driver serves, publishes and drops
  crates/kithara-app/src/analysis.rs
Due: semver, perf

test(app): pin that a deck sees every revision and a partial snapshot is finished
  crates/kithara-app/src/analysis.rs
Due: semver, perf

fix(app): refresh the deck waveform by analysis revision
  crates/kithara-app/src/gui/ui/cache.rs
Due: semver, perf

refactor(app): one owner of track analysis
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/analysis/entry.rs
  crates/kithara-app/src/analysis/handle.rs
  crates/kithara-app/src/analysis/mod.rs
  crates/kithara-app/src/analysis/service.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-platform/src/flash/tokio/watch.rs
Due: semver, perf

feat(app): a deck observes the analysis of the track it shows
  crates/kithara-app/src/state.rs
Due: semver, perf

docs(app): describe the analysis owner
  PROGRESS.md
  crates/kithara-app/CONTEXT.md
Due: perf

fix(analysis): a pass opens above the revision its caller holds
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/analyzer/session.rs
  crates/kithara-analysis/src/analyzer/set.rs
  crates/kithara-analysis/src/archive/resume_tests.rs
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/ingest.rs
  crates/kithara-analysis/src/tests/node.rs
  crates/kithara-analysis/src/tests/order.rs
  crates/kithara-analysis/src/tests/probe.rs
  crates/kithara-analysis/src/tests/schedule.rs
  crates/kithara-analysis/src/tests/worker.rs
  crates/kithara-analysis/src/worker/handle.rs
  crates/kithara-analysis/src/worker/task.rs
Due: semver, perf

fix(app): open a fresh pass above the seeded revision
  crates/kithara-app/src/analysis/service.rs
  crates/kithara-app/src/waveform.rs
Due: semver, perf

refactor(app): split the analysis owner into scheduling and run lifecycle
  crates/kithara-app/src/analysis/fixtures.rs
  crates/kithara-app/src/analysis/mod.rs
  crates/kithara-app/src/analysis/run.rs
  crates/kithara-app/src/analysis/service.rs
  crates/kithara-app/src/analysis/tests.rs
  crates/kithara-app/src/state.rs
Due: semver, perf

fix(app): an entry ends only on a pass that ran its course
  crates/kithara-app/src/analysis/entry.rs
  crates/kithara-app/src/analysis/fixtures.rs
  crates/kithara-app/src/analysis/mod.rs
  crates/kithara-app/src/analysis/run.rs
  crates/kithara-app/src/analysis/service.rs
  crates/kithara-app/src/analysis/tests.rs
Due: semver, perf

fix(app): a deck follows the track it shows on list changes
  crates/kithara-app/src/analysis/fixtures.rs
  crates/kithara-app/src/analysis/mod.rs
  crates/kithara-app/src/gui/ui/cache.rs
  crates/kithara-app/src/state.rs
Due: semver, perf

docs(app): the analysis contract as the code honors it
  PROGRESS.md
  crates/kithara-app/CONTEXT.md
Due: perf

test: pass the held revision at every pass opener
  crates/kithara-test-fixtures/src/defs/rhythm/analyze.rs
  tests/tests/kithara_app/beat_tempo.rs
  tests/tests/kithara_app/waveform_analyzer.rs
Due: semver, perf

test: count receivers through the platform watch sender
  crates/kithara-app/src/state.rs
  tests/tests/kithara_analysis/analysis_offer_is_realtime_safe.rs
  tests/tests/kithara_file/waveform_shared_download.rs
  tests/tests/kithara_queue/playback_warms_its_own_analysis.rs
Due: semver, perf

test: format the shared-download caller
  tests/tests/kithara_file/waveform_shared_download.rs
Due: none

test: pass the held revision in the analysis benchmark
  tests/benches/perf_audit.rs
Due: none

test(analysis,app): a source that ends before its claimed length is complete
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/node.rs
  crates/kithara-analysis/src/tests/track.rs
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/analysis/fixtures.rs
  crates/kithara-app/src/analysis/tests.rs
Due: semver, perf

build(app): lock the test-fixtures dev-dependency
  Cargo.lock
Due: perf, bench

refactor(analysis): one extent type for a pass
  crates/kithara-analysis/src/analyzer/extent.rs
  crates/kithara-analysis/src/analyzer/mod.rs
Due: semver, perf

test(analysis): assert on the last publication of a pass
  crates/kithara-analysis/src/tests/node.rs
Due: semver, perf

fix(analysis,app): start a resumed pass like a fresh one
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/worker/handle.rs
  crates/kithara-analysis/src/worker/schedule.rs
  crates/kithara-app/src/waveform.rs
Due: semver, perf

fix(analysis): hand one extent to every consumer of a pass
  crates/kithara-analysis/src/analyzer/session.rs
  crates/kithara-analysis/src/analyzer/set.rs
  crates/kithara-analysis/src/archive/resume_tests.rs
  crates/kithara-analysis/src/tests/ingest.rs
  crates/kithara-analysis/src/tests/order.rs
  crates/kithara-analysis/src/worker/task.rs
Due: semver, perf

docs(analysis): describe the one-extent rule
  PROGRESS.md
  crates/kithara-analysis/CONTEXT.md
Due: perf

fix(analysis,app): a pass is done when the source has nothing left to give
  PROGRESS.md
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/analyzer/extent.rs
  crates/kithara-analysis/src/analyzer/session.rs
  crates/kithara-analysis/src/analyzer/set.rs
  crates/kithara-analysis/src/artifact/track.rs
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/track.rs
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/analysis/entry.rs
  crates/kithara-app/src/analysis/fixtures.rs
  crates/kithara-app/src/analysis/run.rs
  crates/kithara-app/src/analysis/service.rs
  crates/kithara-app/src/analysis/tests.rs
Due: semver, perf

docs(analysis,app): say what settled means and pin the head-only gap
  PROGRESS.md
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/artifact/track.rs
  crates/kithara-app/src/analysis/tests.rs
Due: semver, perf
