Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(queue,ffi): consumer crates own cancel master + propagate via PlayerConfig
  Cargo.lock
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/queue/state.rs
Due: semver, perf, bench

chore(xtask,audio,docs): cancel-hierarchy invariant + lint
  AGENTS.md
  crates/kithara-abr/src/controller/incoherence.rs
  crates/kithara-app/src/main.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/config.rs
  xtask/src/arch/checks/cancel_hierarchy.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
Due: semver, perf, bench

feat(xtask): add comment_hygiene style check + autofix
  .config/style/baseline.toml
  .config/style/thresholds.toml
  xtask/src/style/checks/comment_hygiene.rs
  xtask/src/style/checks/mod.rs
  xtask/src/style/config.rs
Due: none

chore(docs): untrack local plan, drop docker-ci workflow doc
  .docs/plans/2026-03-25-decoder-init-unification.md
  .docs/workflow/docker-ci.md
Due: none

refactor(dl,net): DownloaderConfig owns shared HttpClient, drop NetOptions field
  crates/kithara-app/src/main.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-net/src/client.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/benches/refactor_hotpaths.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf

fix(audio,decode): treat missing fmp4 init range as transient, not fatal
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/test_helpers.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
Due: semver, perf

Revert "fix(audio,decode): treat missing fmp4 init range as transient, not fatal"
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/test_helpers.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
Due: semver, perf

chore(ffi): drop jni 0.21 workaround; regen bindings with isLiveStream + variant events
  Cargo.lock
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-decode/src/android/media_codec.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
Due: semver, perf, bench

refactor(kithara-app): rewrite GUI/TUI demos for iOS-parity
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/icons.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tracing_init.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/mod.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-app/src/tui/session.rs
Due: semver, perf

feat(xtask): android/apple run+debug subcommands; Zed launch+attach config
  xtask/src/android.rs
  xtask/src/apple.rs
Due: none

feat(demo): iOS↔Android UI parity, screenshot test harness for both
  .zed/debug.json
  .zed/tasks.json
  android/example/build.gradle.kts
  android/example/src/androidTest/kotlin/com/kithara/example/ui/PlayerScreenshots.kt
  android/example/src/main/kotlin/com/kithara/example/FileUtils.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerRoute.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/kotlin/com/kithara/example/ui/theme/Color.kt
  android/example/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/UITests/PlayerScreenshots.swift
  apple/Examples/KitharaDemo/project.yml
Due: none

test(abr): codify HLS/ABR correctness via USDT probes (RED)
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-test-macros/src/probe_macro.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/inner/native/probe_capture.rs
  crates/kithara-test-utils/src/probes/mod.rs
  crates/kithara-test-utils/src/probes/wire.rs
  tests/Cargo.toml
  tests/tests/abr_contract/helpers.rs
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/t10_no_apply_format_change_until_v_new_init_committed.rs
  tests/tests/abr_contract/t11_apply_format_change_target_offset_matches_init_range.rs
  tests/tests/abr_contract/t12_read_at_offsets_contiguous_within_segment.rs
  tests/tests/abr_contract/t13_next_frame_count_matches_segment_duration.rs
  tests/tests/abr_contract/t14_post_apply_fetch_targets_current_decode_time_not_seg_0.rs
  tests/tests/abr_contract/t1_phase_continuity_wave.rs
  tests/tests/abr_contract/t2_exact_fetch_count.rs
  tests/tests/abr_contract/t3_disk_equals_network.rs
  tests/tests/abr_contract/t4_seek_freezes_abr.rs
  tests/tests/abr_contract/t5_switch_latency_bounded.rs
  tests/tests/abr_contract/t6_init_range_outcome_ok_seg0.rs
  tests/tests/abr_contract/t7_no_double_decode.rs
  tests/tests/abr_contract/t8_natural_eof_complete_playback.rs
  tests/tests/abr_contract/t9_no_metadata_fallback_until_v_new_init_committed.rs
Due: semver, perf, bench

test infra(abr_contract): probe recorder dump on T8 failure
  tests/tests/abr_contract/helpers.rs
  tests/tests/abr_contract/t8_natural_eof_complete_playback.rs
Due: none

test infra(stream/dl): probe establish/deliver/with_soft_timeout entry
  crates/kithara-stream/src/dl/batch.rs
  tests/tests/abr_contract/helpers.rs
Due: semver, perf

test infra(hls/peer+plan): probe build_batch/apply_variant_readiness/skip — narrow R3
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  tests/tests/abr_contract/helpers.rs
Due: semver, perf

test infra(abr_contract): per-thread probe sequence + extended T8 contract
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-macros/src/probe_macro.rs
  crates/kithara-test-macros/src/test_macro.rs
  crates/kithara-test-utils/src/inner/native/probe_capture.rs
  crates/kithara-test-utils/src/probes/mod.rs
  crates/kithara-test-utils/src/probes/wire.rs
  tests/tests/abr_contract/helpers.rs
  tests/tests/abr_contract/t8_natural_eof_complete_playback.rs
Due: semver, perf

fix(hls/peer): skip demand cursor reset when segment already committed
  crates/kithara-hls/src/peer.rs
Due: semver, perf

test infra(abr_contract): T14 forward-only contract + cursor probes
  .config/arch/baseline.toml
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-test-utils/src/inner.rs
  crates/kithara-test-utils/src/inner/native.rs
  crates/kithara-test-utils/src/inner/native/probe_capture.rs
  crates/kithara-test-utils/src/inner/probe_capture/event.rs
  crates/kithara-test-utils/src/inner/probe_capture/layer.rs
  crates/kithara-test-utils/src/inner/probe_capture/mod.rs
  crates/kithara-test-utils/src/inner/probe_capture/recorder.rs
  tests/tests/abr_contract/helpers.rs
  tests/tests/abr_contract/t14_post_apply_fetch_targets_current_decode_time_not_seg_0.rs
Due: semver, perf

refactor(hls/scheduler): extract VariantDownloadState (in_flight, init_sent)
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
Due: semver, perf

refactor(hls/scheduler): move cursor into VariantDownloadState
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

refactor(hls/scheduler): rename download_variant -> primary_variant
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

fix(hls/scheduler): keep current_only invariant on primary_variant switch
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

feat(abr/state): boundary-commit primitive (request_target / commit_pending)
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/tests.rs
Due: semver, perf, bench

feat(test-macros/probe): support `name = expr` syntax for computed wire values
  crates/kithara-test-macros/src/probe_macro.rs
Due: semver, perf

stub(abr/handle): add commit_pending + notify_commit (Plan 01 fills in)
  crates/kithara-abr/src/handle.rs
Due: semver, perf, bench

stub(stream/source): add Source::position + Source::advance (Plan 02 fills in)
  crates/kithara-stream/src/source.rs
Due: semver, perf

stub(hls/variant): skeleton HlsVariant + types (Plan 03 fills in)
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/variant.rs
Due: semver, perf

stub(hls/segment_view): skeleton HlsSegmentView (Plan 04 fills in)
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/segment_view.rs
Due: semver, perf

test(abr_contract): probe_commit_sequence (RED — Plan 01 fills probes)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_commit_sequence.rs
Due: none

test(abr_contract): probe_variant_dispatch (RED — Plan 03 fills probes)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_variant_dispatch.rs
Due: none

test(abr_contract): probe_variant_rebuild (RED — Plan 03 fills probes)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_variant_rebuild.rs
Due: none

test(kithara_hls): segment_view_lockfree (RED — Plan 04 fills probes)
  tests/tests/kithara_hls/segment_view_lockfree.rs
  tests/tests/suite_light.rs
Due: none

test(kithara_hls): variant_position_independence (RED — Plan 03 fills probes)
  tests/tests/kithara_hls/variant_position_independence.rs
  tests/tests/suite_light.rs
Due: none

test(kithara_stream): source_position_contract (RED — Plan 02 fills probes)
  tests/tests/kithara_stream/mod.rs
  tests/tests/kithara_stream/source_position_contract.rs
Due: none

test(kithara_hls): eviction_routing (RED — Plan 08 wires mpsc)
  tests/tests/kithara_hls/eviction_routing.rs
  tests/tests/suite_light.rs
Due: none

test(kithara_hls): init_byte_space (RED — Plan 03 fills probes)
  tests/tests/kithara_hls/init_byte_space.rs
  tests/tests/suite_light.rs
Due: none

test(abr_contract): probe_pcm_seam_continuity replaces T1+T7 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_pcm_seam_continuity.rs
Due: none
