Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

test(e2e): strengthen silvercomet_seek_hang assertions
  tests/tests/kithara_play/silvercomet_seek_hang.rs
Due: none

refactor(audio): introduce SeekLocation as canonical byte-target lens
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/seek_location.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

fix(audio): demand anchor byte in AwaitingResume wait, not stale pos
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

fix(android): wire gapless metadata into mediacodec
  crates/kithara-decode/src/android/config.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/extractor.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-decode/src/android/source.rs
  crates/kithara-decode/src/hardware.rs
Due: semver, perf

fix(decode/tests): bind Consts::WAV_FRAMES before format_args
  crates/kithara-decode/tests/decoder_protocol.rs
Due: perf

test(common): extend SawWav helpers, add reader_helpers, MP3 duration const
  tests/src/audio_fixture.rs
  tests/tests/common/mod.rs
  tests/tests/common/reader_helpers.rs
  tests/tests/common/test_defaults.rs
Due: none

test(common): group shared scalar constants into common::test_defaults::Consts
  tests/src/audio_fixture.rs
  tests/tests/common/test_defaults.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_hls/red_leak_small_cache_seek.rs
  tests/tests/kithara_hls/seek_past_eof.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/red_crossfade_hls_to_mp3_blocks_render.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
Due: none

test(multi_instance): parametrize concurrent N-instance suites
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
Due: none

test(kithara_decode): parametrize seek and spec tests, extract open_test_mp3 helper
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_decode/decoder_tests.rs
Due: none

test(kithara_storage/assets): parametrize reopen/write-mode and centralise Resource::open
  tests/tests/kithara_assets/pins_index_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_storage/atomic.rs
  tests/tests/kithara_storage/streaming.rs
Due: none

test(kithara_assets): merge availability-reader helpers into one function
  tests/tests/kithara_assets/index_persistence.rs
Due: none

test(kithara_hls): parametrize ephemeral backend and manual-selector tests
  tests/tests/kithara_hls/abr_integration.rs
  tests/tests/kithara_hls/ephemeral.rs
Due: none

test(resource_regressions): unify config helpers and warmup-poisoning trio
  tests/tests/kithara_play/resource_regressions.rs
Due: none

test(kithara_stream/source): merge seek_current_forward/backward
  tests/tests/kithara_stream/source.rs
Due: none

test(kithara_abr_integration/seek_no_switch): merge up/down-switch lock tests
  tests/tests/kithara_abr_integration/seek_no_switch.rs
Due: none

fix(decode/apple): configure Fmp4Reader ASBD + cookie per actual codec
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/fmp4.rs
Due: semver, perf

fix(decode/apple): disable MediaSource seek during IsoMp4Reader::try_new
  crates/kithara-decode/src/apple/fmp4.rs
Due: semver, perf

feat(audio): apply gapless trimming in pipeline
  .docs/reports/gapless_research.md
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/mock.rs
  tests/tests/kithara_audio/gapless_pipeline.rs
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

test(kithara_net/http_client): parametrize timeout_matrix, drop error-code dupes
  tests/tests/kithara_net/http_client.rs
Due: none

test(kithara_stream/source): parametrize three invalid-input seek-error tests
  tests/tests/kithara_stream/source.rs
Due: none

test(kithara_file/file_source): merge seek_current_works + seek_end_works
  tests/tests/kithara_file/file_source.rs
Due: none

test(kithara_hls/html_error_cleanup): parametrize orphan-cache tests
  tests/tests/kithara_hls/html_error_cleanup.rs
Due: none

test(kithara_hls/live_stress_real_stream): extract live-audio setup helpers
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

test(kithara_queue/cold_seek_middle): extract queue+tick setup and seek watchdog helpers
  tests/tests/kithara_queue/cold_seek_middle.rs
Due: none

test(multi_instance): inline SawWav::DEFAULT alias and wasm MAX_ZERO_READS
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
Due: none

test(kithara_hls/stress_chunk_integrity): drop dead TEST_TIMEOUT_SECS
  tests/tests/kithara_hls/stress_chunk_integrity.rs
Due: none

fix(audio/pipeline): use init-segment range for Fmp4 variant-switch recreate
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

refactor(decode/factory): remove native-probe fallback from create_for_recreate
  crates/kithara-decode/README.md
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/symphonia/entry.rs
  crates/kithara-decode/src/symphonia/mod.rs
Due: semver, perf

test(audio/stream_source): param variant-switch recreate across all containers
  tests/tests/kithara_audio/stream_source_tests.rs
Due: none

fix(audio/pipeline): apply init-range logic to decoder_seek recovery path
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

fix(audio/pipeline): preserve cached codec+container at variant boundary
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

test(kithara_queue/real_playlist): widen mp3 position-gain tolerance for non-strict offline pacing
  crates/kithara-play/src/impls/session_engine.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf

chore(ci): auto-resume mutants-ci from prior run when outcomes.json exists
  justfile
Due: none

fix(audio/pipeline): route same-variant init-bearing seeks through init-range recreate
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

fix(audio/pipeline): advance consumer epoch on AnchorSeek recreate path + tests
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

fix(kithara-play): honor caller's initial_abr_mode override in prepare_config
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

test(scope): parametrize silvercomet S1-S6 tests by initial_abr_mode
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: none

fix(dl/watchdog): move hang detection from passive storage wait_range to Downloader fetch loop
  Cargo.lock
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/driver.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/registry.rs
Due: semver, perf, bench

fix(hls/stream_index): decouple byte_map lookup from committed-data filter
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/types.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
