Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(audio): worker FSM → phantom Track<S> typestate (G-4)
  .config/idioms/baseline.toml
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

refactor(xtask): fbd owner-attribution replaces cumulative call-graph walk
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/function_branch_density.rs
  xtask/src/idioms/config.rs
Due: none

refactor(xtask): drop orphaned call-graph subsystem
  .config/idioms/callgraph.json
  .config/xtask.toml
  xtask/src/callgraph/mod.rs
  xtask/src/callgraph/parser.rs
  xtask/src/common/project.rs
  xtask/src/main.rs
Due: none

refactor(xtask): config-exempt legitimate retry/fallback owners (DENY 9->0)
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
Due: none

feat(xtask): module-scoped idioms ignore; narrow retry_fallback exempt to net
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
  xtask/src/idioms/config.rs
  xtask/src/idioms/mod.rs
Due: none

refactor(xtask): shared test-code exclusion across all lint namespaces
  .config/arch/baseline.toml
  .config/idioms/thresholds.toml
  .config/xtask.toml
  xtask/src/arch/mod.rs
  xtask/src/common/exclude.rs
  xtask/src/common/mod.rs
  xtask/src/common/project.rs
  xtask/src/idioms/config.rs
  xtask/src/idioms/mod.rs
  xtask/src/style/mod.rs
Due: none

refactor(xtask): apply shared test-code path filter to ast-grep too
  xtask/src/ast_grep.rs
Due: none

refactor(xtask): exclude test code from ast-grep at source via --globs
  xtask/src/ast_grep.rs
Due: none

refactor(xtask): honest file_size/god_struct metrics — exclude test code + std-trait conformance
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  xtask/src/arch/checks/file_size.rs
  xtask/src/arch/checks/god_struct.rs
  xtask/src/arch/config.rs
  xtask/src/common/exclude.rs
Due: none

refactor(xtask): god_struct counts per type across files, not per file
  .config/arch/baseline.toml
  xtask/src/arch/checks/god_struct.rs
Due: none

feat(gui): vertical EQ faders in DJ Studio deck
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/widgets/knob.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/vfader.rs
Due: semver, perf

refactor(xtask): god_struct measures behaviour concentration, not raw count
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  xtask/src/arch/checks/god_struct.rs
  xtask/src/arch/config.rs
Due: none

feat(ffi): wasm engine-worker boot + web FFI control-plane parity
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-ffi/index.html
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-ffi/src/web/bridge.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/observer/source.rs
  crates/kithara-ffi/src/web/surface.rs
  crates/kithara-ffi/src/web/worker.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/logging.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/hang/real/detector.rs
  crates/kithara-test-utils/src/hang/real/detector_native.rs
  crates/kithara-test-utils/src/hang/real/detector_wasm.rs
  crates/kithara-test-utils/src/hang/real/mod.rs
  crates/kithara-test-utils/src/hang/real/native.rs
  crates/kithara-test-utils/src/hang/real/shared.rs
  crates/kithara-test-utils/src/hang/real/wasm.rs
  tests/tests/kithara_ffi_web/selenium.rs
Due: semver, perf, bench

fix(gui): retain EQ gains set before playback starts
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-assets/src/identity.rs
  crates/kithara-assets/src/index/demand.rs
  crates/kithara-assets/src/key.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/variant.rs
  tests/tests/kithara_decode/factory_tests.rs
Due: semver, perf

fix(android): resync :lib Kotlin wrappers with u64 TrackId FFI surface
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
Due: none

chore(workspace-hack): regenerate after PR #72 integration merge
  Cargo.lock
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

chore(lint): reconcile PR#72 code to ast-grep rules
  .config/arch/baseline.toml
  .config/ast-grep/idioms.match-self-conversion.yml
  crates/kithara-app/src/gui/fonts.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/library.rs
  crates/kithara-app/src/gui/studio/shell.rs
  crates/kithara-app/src/gui/studio/status.rs
  crates/kithara-app/src/gui/studio/styles.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/studio/topbar.rs
  crates/kithara-app/src/gui/tokens.rs
  crates/kithara-app/src/gui/url_bar.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/play_button.rs
  crates/kithara-app/src/gui/widgets/speed_slider.rs
  crates/kithara-app/src/gui/widgets/vfader.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-audio/src/effects/timestretch.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/waveform/envelope.rs
  crates/kithara-audio/src/waveform/peaks.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-storage/src/backend/mmap/driver.rs
  crates/kithara-storage/src/unified.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

test(rtsan): worker blocking-discovery harness + forbid/allow macros
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-macros/src/probe/derive.rs
  crates/kithara-test-macros/src/probe/expand.rs
  crates/kithara-test-macros/src/rtsan.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/probe/real/wire.rs
  crates/kithara-test-utils/src/rtsan.rs
  justfile
Due: semver, perf

refactor(rtsan): route player RT-contract through kithara::rtsan_forbid_blocking
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix(audio): throttle PlaybackProgress so telemetry can't drop control events
  crates/kithara-audio/src/audio.rs
Due: semver, perf

fix(audio): defer variant-change to in-flight seek instead of failing producer
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

test(hls): assert ABR switch via committed variant index, not lossy event count
  tests/tests/kithara_hls/abr_auto_switch.rs
Due: none

fix(hls): rescue reader from urgent-down-switch boundary deadlock
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf

test(multi-instance): arm cancel timer after create, not racing it
  tests/tests/multi_instance/failure_resilience.rs
Due: none

chore(lint): backtick code identifiers in kithara-assets doc comments
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/inflight_sharing.rs
Due: semver, perf

refactor(assets): typed ProcessedWriter/ProcessedReader split + acquisition foundation (G-2 A+C)
  crates/kithara-assets/README.md
  crates/kithara-assets/src/acquisition.rs
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/process.rs
Due: semver, perf

refactor(assets): flip Assets to AcquisitionResult<WriteSide,ReadSide> typestate (G-2 Phase 2a)
  crates/kithara-assets/src/acquisition.rs
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/availability_api.rs
  crates/kithara-assets/tests/availability_persistence.rs
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-assets/tests/inflight_sharing.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
Due: semver, perf

test(g2): migrate tests/tests/* integration suite to AcquisitionResult typestate (G-2 Phase 2c)
  crates/kithara-assets/src/lease.rs
  tests/tests/kithara_assets/eviction_bytes_integration.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/index_persistence.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/processing_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/resource_state.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
  tests/tests/kithara_hls/ephemeral.rs
Due: semver, perf

docs(assets): compile-fail typestate proofs + Writer/Reader split README (G-2 Phase 2f)
  crates/kithara-assets/README.md
  crates/kithara-assets/src/acquisition.rs
Due: semver, perf

refactor(file,hls): migrate consumers to AcquisitionResult typestate (G-2 Phase 2b)
  .config/arch/baseline.toml
  crates/kithara-assets/src/acquisition.rs
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/resource.rs
  crates/kithara-assets/tests/availability_api.rs
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-assets/tests/inflight_sharing.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/variant.rs
Due: semver, perf

build(storage): add arc-swap dependency
  Cargo.lock
  Cargo.toml
  crates/kithara-storage/Cargo.toml
Due: semver, perf, bench

feat(storage): DriverIo committed snapshot (committed_len/read_committed)
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-storage/src/backend/memory/io.rs
  crates/kithara-storage/src/backend/mmap/driver.rs
  crates/kithara-storage/src/backend/mmap/io.rs
  crates/kithara-storage/src/backend/traits.rs
Due: semver, perf

feat(storage): lock-free committed read fast path
  crates/kithara-storage/src/backend/resource/io.rs
Due: semver, perf

feat(storage): lock-free len/contains for committed resources
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/backend/resource/lifecycle.rs
Due: semver, perf

perf(storage): release mem working buffer on commit (single committed copy)
  crates/kithara-storage/src/backend/memory/io.rs
Due: semver, perf

fix(storage): atomic snapshot publish/free on mem commit (close read race)
  crates/kithara-storage/src/backend/memory/io.rs
Due: semver, perf

fix(storage): release mem working buffer through the pool (no budget leak)
  crates/kithara-storage/src/backend/memory/io.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
