Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(stream): remove dead Timeline EOF flag
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(stream): drop write-only download_position field + getter
  crates/kithara-file/src/session/tests.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(ffi): drop dead FFI utilities + test-only config ctor
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

refactor(decode): drop test-only is_variant_change predicate
  crates/kithara-decode/src/error.rs
Due: semver, perf

refactor(queue): drop test-only with_should_autoplay builder
  crates/kithara-queue/src/config.rs
  tests/tests/kithara_queue/auto_advance.rs
Due: semver, perf

fix(probe): give noop backend IntoProbeArg parity with real
  crates/kithara-test-utils/src/probe/noop.rs
Due: semver, perf

fix(android): unbreak xcframework/AAR build
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android_test.rs
  xtask/src/android.rs
Due: semver, perf

refactor(dead_exports): relocate test-only ctors, drop unused FfiResult
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  tests/benches/bufpool.rs
  tests/src/bufpool_ext.rs
  tests/src/lib.rs
  tests/src/storage_ext.rs
  tests/tests/kithara_bufpool/memory_budget.rs
  tests/tests/kithara_bufpool/pool_core.rs
  tests/tests/kithara_bufpool/pool_reuse.rs
  tests/tests/kithara_bufpool/pool_stats.rs
  tests/tests/kithara_storage/streaming.rs
Due: semver, perf

refactor(dead_exports): drop redundant in-crate test accessors
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

refactor(hls): drop superseded reconcile_segment_size
  crates/kithara-hls/src/playlist.rs
Due: semver, perf

test(hls): fix WAV ABR-switch overshoot + assert tail-ownership
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

feat(audio): pre-warm PCM pool at Audio::new
  crates/kithara-audio/src/audio.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

refactor(assets): drop FlushHub::live_source_count test seam
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
Due: semver, perf

refactor(play): drop with_engine; offline harness uses PlayerImpl::new
  crates/kithara-play/src/impls/player.rs
  tests/tests/common/offline_player_harness.rs
Due: semver, perf

refactor(play): unify Resource construction through from_reader
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

refactor(audio,play): route inline state checks through named predicates
  crates/kithara-audio/src/audio.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

chore(arch): exempt 6 irreducible test-only exports in dead_exports
  .config/arch/thresholds.toml
Due: none

chore(arch): ratchet dead_exports to a hard gate
  .config/arch/baseline.toml
  xtask/src/arch/checks/dead_exports.rs
Due: none

test(phase): skip silent windows in e2e phase-continuity anchor
  tests/tests/phase_continuity/common.rs
Due: none

fix(decode): sniff mp4 stsd codec in probe instead of guessing AAC
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/mp4/mod.rs
  crates/kithara-decode/src/mp4/scan.rs
  crates/kithara-decode/src/mp4/tests.rs
Due: semver, perf

feat(play): RealtimeSanitizer lane + RT-safe audio-thread process()
  Cargo.toml
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/lib.rs
  tests/tests/kithara_play/player_processor_internal.rs
Due: semver, perf, bench

perf(audio): hold pre-sized read_planar scratch off the RT thread
  crates/kithara-audio/src/audio.rs
Due: semver, perf

perf(audio): wait-free SchedulerWake so RT thread can wake the worker
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mod.rs
  crates/kithara-storage/src/backend/resource/wait.rs
Due: semver, perf

fix(audio): return spent PcmChunks off-RT so the pool never frees on the audio thread
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
Due: semver, perf

fix(audio): drop RT-unsafe eager peer-wake from Audio::seek
  crates/kithara-audio/src/audio.rs
Due: semver, perf

test(phase): scripted [(AbrMode, seek)] HLS scenarios + pin cross-codec warmup drifts
  tests/tests/phase_continuity/common.rs
  tests/tests/phase_continuity/hls.rs
Due: none

refactor(audio): wait-free service-class atomic, drop RT-path scheduler alloc
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/runtime/mod.rs
  crates/kithara-audio/src/runtime/node.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
Due: semver, perf

test(play): gate crossfade wall-clock budget asserts under cfg(not(rtsan))
  tests/tests/kithara_play/resource_regressions.rs
Due: none

chore(justfile): add rtsan recipe (RealtimeSanitizer offline-render lane)
  justfile
Due: none

test(play): add real player-loop FLAC phase-continuity guard
  tests/tests/kithara_play/flac_realtime_player_continuity.rs
  tests/tests/phase_continuity/common.rs
  tests/tests/phase_continuity/hls.rs
  tests/tests/suite_stress.rs
Due: none

test(play): mark flac_realtime_player_continuity #[ignore] (load-dependent flake)
  tests/tests/kithara_play/flac_realtime_player_continuity.rs
Due: none

test(server): process-global shared server + TestServerHelper facade
  tests/src/native/http_server.rs
  tests/src/test_server.rs
  tests/src/test_server/native.rs
  tests/src/test_server/shared.rs
Due: none

test(server): behavior catalog, dispatch route, and BehaviorHandle
  tests/src/lib.rs
  tests/src/native/routes/behavior.rs
  tests/src/native/routes/mod.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server.rs
  tests/src/test_server/native.rs
Due: none

test(server): fold kithara_file/html_error_cleanup onto shared behavior catalog
  tests/tests/kithara_file/html_error_cleanup.rs
Due: none

test(server): add StaticBytes+Range to catalog; fold kithara_file/file_source
  tests/src/native/routes/behavior.rs
  tests/src/native/test_server_state.rs
  tests/tests/kithara_file/file_source.rs
Due: none

test(server): add EarlyClose delivery; fold kithara_file/early_stream_close
  tests/src/native/routes/behavior.rs
  tests/src/native/test_server_state.rs
  tests/tests/kithara_file/early_stream_close.rs
Due: none

test(server): add Throttle delivery + child_url/nested route; fold kithara_audio/file_ephemeral_mp3
  tests/src/native/routes/behavior.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server/native.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
Due: none

test(server): fold kithara_play/resource_regressions mp3 server onto shared catalog
  tests/tests/kithara_play/resource_regressions.rs
Due: none

test(server): fold kithara_hls/html_error_body onto shared behavior catalog
  tests/tests/kithara_hls/html_error_body.rs
Due: none

test(server): fold kithara_hls/html_error_cleanup onto shared behavior catalog
  tests/tests/kithara_hls/html_error_cleanup.rs
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
