Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

wasm: remove unused pcm processor and ring buffer code
  Cargo.lock
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/README.md
  crates/kithara-wasm/index.html
  crates/kithara-wasm/pcm-processor.js
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/ring_buffer.rs
  tests/tests/kithara_wasm/mod.rs
  tests/tests/kithara_wasm/ring_buffer_backpressure.rs
Due: semver, perf, bench

test(wasm): add seek event/pcm regressions with jitter fixture
  tests/bin/hls_fixture_server.rs
  tests/tests/kithara_wasm/stress.rs
Due: none

docs: add seek refactoring design, plan, and OSS comparison
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/seek.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/fetch.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/player.rs
  docs/plans/2026-02-20-seek-architecture-comparison.md
  docs/plans/2026-02-21-seek-refactoring-design.md
  docs/plans/2026-02-21-seek-refactoring-plan.md
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf

feat: add seek coordinator to Timeline + WaitOutcome::Interrupted + DecodeError::Interrupted
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/src/rodio/source_impl.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-events/src/file.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-storage/src/resource.rs
  crates/kithara-stream/src/context.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
  crates/kithara-stream/tests/reader_seek_overflow.rs
  crates/kithara-stream/tests/timeline_source_of_truth.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/bin/hls_fixture_server.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf

fix(stream): address Codex review — complete_seek race + pre-read flushing check
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

feat(hls): make wait_range/read_at flushing-aware + migrate seek_epoch to Timeline
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

fix(hls): suppress must_use warnings on initiate_seek in tests
  crates/kithara-hls/src/source.rs
Due: semver, perf

feat(audio): remove AudioCommand::Seek, seek via Timeline atomics + add rstest timeouts
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-audio/src/pipeline/worker.rs
Due: semver, perf

feat: Wave 4 — downloader flushing, remove seek_with_epoch, notify condvar, fix complete_seek race
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

test(audio): add seek-during-active-decode and rapid-seeks integration tests
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
Due: semver, perf

fix(audio): use lock-free make_notify_fn to prevent SharedStream deadlock
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

test(stream): un-ignore seek_corrupted_delta tests, flip to defense-in-depth
  crates/kithara-stream/tests/reader_seek_overflow.rs
Due: perf

chore: snapshot streaming seek stress state
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-audio/src/rodio/source_impl.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/tests/timeline_source_of_truth.rs
  crates/kithara-test-utils/src/http_server.rs
  crates/kithara/Cargo.toml
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/hls_audio.rs
  crates/kithara/examples/hls_drm_audio.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_file/mod.rs
  tests/tests/kithara_hls/basic_playback.rs
  tests/tests/kithara_hls/keys_integration.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
Due: semver, perf, bench

stream: centralize coverage index handling
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/coverage.rs
  crates/kithara-stream/src/lib.rs
Due: semver, perf

refactor: extract coverage layer and remove legacy seek fallback checkpoint
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/index/coverage.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-coverage/Cargo.toml
  crates/kithara-coverage/src/index.rs
  crates/kithara-coverage/src/lib.rs
  crates/kithara-coverage/src/mem.rs
  crates/kithara-coverage/tests/index_integration.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-storage/src/atomic.rs
  crates/kithara-storage/src/lib.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/coverage.rs
  crates/kithara-stream/src/lib.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
Due: semver, perf, bench

Stabilize seek recovery and harden stress coverage paths
  crates/kithara-abr/src/controller.rs
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-audio/src/pipeline/stream_source_core.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-bufpool/src/tests.rs
  crates/kithara-coverage/tests/index_integration.rs
  crates/kithara-events/src/bus.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/tests/reader_seek_overflow.rs
  crates/kithara-stream/tests/timeline_source_of_truth.rs
Due: semver, perf, bench

refactor coverage manager integration and stabilize thread lifecycle tests
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/coverage.rs
  crates/kithara-stream/src/lib.rs
  tests/tests/multi_instance/thread_lifecycle.rs
Due: semver, perf

refactor coverage ownership and decoder recreate path
  Cargo.lock
  crates/kithara-assets/src/backend.rs
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-coverage/src/lib.rs
  crates/kithara-coverage/src/manager.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/coverage.rs
  crates/kithara-stream/src/lib.rs
Due: semver, perf, bench

stabilize timeout tests and tighten stream contracts
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-coverage/README.md
  crates/kithara-decode/README.md
  crates/kithara-file/src/downloader.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_net/timeout.rs
Due: semver, perf

chore: migrate lint/ci tooling to just and harden wrapper lint rules
  .gitignore
  .gitlab-ci.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  crates/kithara-assets/src/backend.rs
  crates/kithara-audio/src/pipeline/stream_source_tests.rs
  crates/kithara-bufpool/src/tests.rs
  crates/kithara-coverage/tests/index_integration.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-storage/src/mock.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-wasm/src/bindings.rs
  crates/kithara-wasm/src/lib.rs
  justfile
  lefthook.yml
  scripts/ci/bench-test.sh
  scripts/ci/coverage.sh
  scripts/ci/lint-style.sh
  scripts/ci/lint.sh
  scripts/ci/perf-test.sh
  scripts/ci/trait-mock-exceptions.txt
  scripts/pre-commit
  semgrep.yml
  tests/perf/README.md
Due: semver, perf

ci: install ALSA dev dependencies in GitHub Actions
  .github/workflows/rust.yml
Due: none

hls: enforce coverage contracts and add wait_range integration tests
  crates/kithara-assets/tests/coverage_manager_contract.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-storage/src/atomic.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: semver, perf

Move HLS source tests into tests directory
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/tests/source_internal_cases.rs
Due: semver, perf

ci: disable GitHub Actions workflow while retaining updated config
  .github/workflows/rust.yml
  .github/workflows/rust.yml.disabled
Due: none

chore: standardize CI tooling on just and nextest
  .config/nextest.toml
  .github/workflows/ci.yml.disabled
  .github/workflows/coverage.yml.disabled
  .github/workflows/rust.yml.disabled
  CONTRIBUTING.md
  README.md
  justfile
  lefthook.yml
  scripts/ci/bench-test.sh
  scripts/ci/coverage.sh
  scripts/ci/perf-test.sh
  scripts/ci/test.sh
  scripts/pre-commit
Due: none

perf: add criterion benchmarks for refactored hot paths
  tests/Cargo.toml
  tests/benches/refactor_hotpaths.rs
Due: none

chore(hls): fix clippy warnings for pre-commit
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/keys.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

chore: finalize pending refactors and integration updates
  Cargo.lock
  crates/kithara-abr/src/controller.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_tests.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara/Cargo.toml
  crates/kithara/src/internal.rs
  tests/tests/kithara_assets/eviction_bytes_integration.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/pins_index_integration.rs
  tests/tests/kithara_assets/processing_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
  tests/tests/kithara_hls/abr_integration.rs
  tests/tests/kithara_hls/fixture/assets.rs
  tests/tests/kithara_hls/keys_integration.rs
  tests/tests/kithara_hls/playlist_integration.rs
  tests/tests/kithara_net/http_client.rs
Due: semver, perf, bench

Move large src tests to integration tests and internal modules
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/stream_source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/tests/audio_tests.rs
  crates/kithara-audio/tests/stream_source_tests.rs
  crates/kithara-bufpool/src/internal.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-bufpool/tests/tests.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-play/tests/engine_tests.rs
Due: semver, perf

Make asset decorators backend-capability driven
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf

refactor(assets): unify store backend and gate decorators by capability
  crates/kithara-assets/README.md
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/coverage_manager_contract.rs
  crates/kithara-drm/README.md
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/tests/source_internal_cases.rs
Due: semver, perf

docs(readme): refresh workspace and tests documentation
  README.md
  crates/kithara-abr/README.md
  crates/kithara-assets/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-coverage/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-events/README.md
  crates/kithara-file/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-wasm/README.md
  crates/kithara/README.md
  tests/README.md
  tests/perf/README.md
Due: perf, bench

feat: unify examples and rename crossfade demo to player
  .github/workflows/ci.yml.disabled
  Cargo.lock
  Cargo.toml
  README.md
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara/Cargo.toml
  crates/kithara/examples/common/controls.rs
  crates/kithara/examples/common/events.rs
  crates/kithara/examples/common/playback.rs
  crates/kithara/examples/common/player_tui.rs
  crates/kithara/examples/common/tracing.rs
  crates/kithara/examples/common/tui.rs
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/file_rodio.rs
  crates/kithara/examples/hls_audio.rs
  crates/kithara/examples/hls_drm_audio.rs
  crates/kithara/examples/hls_rodio.rs
  crates/kithara/examples/play_crossfade_audio.rs
  crates/kithara/examples/player.rs
  crates/kithara/examples/resource_rodio.rs
  justfile
Due: semver, perf, bench

wasm-slim integration
  .github/workflows/ci.yml.disabled
  .gitlab-ci.yml
  crates/kithara-wasm/.wasm-slim.toml
  crates/kithara-wasm/README.md
  justfile
  scripts/ci/wasm-slim-check.sh
  tests/Cargo.toml
Due: perf

fix(wasm): remove DashMap, fix Condvar and channel spin for WASM safety
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-coverage/Cargo.toml
  crates/kithara-coverage/src/index.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-platform/src/channel.rs
  crates/kithara-platform/src/wasm.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/src/player.rs
  tests/Cargo.toml
Due: semver, perf, bench

fix(tests): increase pool_recovers_after_saturation timeout to 120s
  tests/tests/multi_instance/thread_lifecycle.rs
Due: none

fix(tests): resolve kithara name collision in events and sync_reader tests
  tests/tests/events.rs
  tests/tests/kithara_stream/sync_reader_basic_test.rs
Due: none

chore: limit test runner threads to 4 to reduce resource contention
  .cargo/config.toml
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
