Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(dl): add Peer trait, PeerHandle, FetchResponse with stream passthrough
  .config/nextest.toml
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/mod.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/multi_instance/concurrent_mixed.rs
Due: semver, perf

fix(test): stabilize flaky stress tests via correct threads-required config
  .config/nextest.toml
Due: none

refactor(hls): migrate from TrackHandle callbacks to PeerHandle + FetchResponse
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_probe.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

refactor(dl): migrate File to PeerHandle and remove legacy callback API
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_probe.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/handle.rs
  crates/kithara-stream/src/dl/mod.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

feat(dl): extend Peer trait with priority, batch, poll_next, streaming callbacks
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/mod.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

feat(hls): pre-fetch size maps via batched HEAD probes, add prepare/complete media split
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-stream/src/dl/peer.rs
Due: semver, perf

feat(assets): add CachedResource with retain/release pinning API
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf

feat(platform): add CancelGroup OR-combinator with comprehensive tests
  Cargo.lock
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/cancel_group.rs
  crates/kithara-platform/src/lib.rs
Due: semver, perf, bench

refactor(dl): FetchCmd builder API with non_exhaustive + Setters
  crates/kithara-file/src/session.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/mod.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

refactor(hls): migrate from worker thread to poll_next peer model
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/ids.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_probe.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/helpers.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/scheduler/worker.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/demand.rs
  crates/kithara-hls/src/source/mod.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/source/types.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

chore: reduce nextest retries from 2 to 1
  .config/nextest.toml
Due: none

feat(platform): CancelGroup BitOr composition and From conversions
  crates/kithara-platform/src/cancel_group.rs
Due: semver, perf

refactor(dl): three-tier Downloader architecture with Registry + BatchGroup
  Cargo.lock
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-platform/src/cancel_group.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/mod.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/registry.rs
  tests/tests/kithara_hls/playlist_integration.rs
Due: semver, perf, bench

fix(net): enable HTTP connection pooling to prevent port exhaustion
  Cargo.toml
  crates/kithara-net/src/types.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf, bench

feat(hls): three-tier segment size estimation (BYTERANGE → init bitrate → HEAD)
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
Due: semver, perf, bench

fix(stream): use segment_position for decoder metadata instead of byte_position
  crates/kithara-hls/src/context.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(hls): remove segment index fallback heuristics from wait_range
  crates/kithara-events/src/hls.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/source/types.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(audio): switch variant layout before readiness gate in decoder recreation
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

fix(hls): stop copying old-variant SegmentData into new variant on ABR switch
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/scheduler/plan.rs
Due: semver, perf

minor fix
  crates/kithara-hls/src/inner.rs
Due: semver, perf

fix(stream): move register_rx polling inside tick poll_fn to prevent dropped FetchCmds
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/registry.rs
Due: semver, perf

refactor(hls): split inner.rs into peer.rs and stream.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

fix(hls): resolve 2 of 6 integration test failures via targeted fixes
  .docs/phase02-handoff-rc2.md
  crates/kithara-assets/src/process.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

fix(assets): stop cache fall-through from exposing uncommitted entries
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
Due: semver, perf

fix(assets): ProcessedResource.reactivate must clear processed flag
  crates/kithara-assets/src/process.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

fix(hls): clamp tail-state gap scan by reader position
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

fix(hls): close 3 scheduler hot loops revealed by parallel RED-test hunt
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/tests.rs
Due: semver, perf

fix(stream,hls,assets): close 3 structural bugs found by parallel RED-test hunt
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/registry.rs
  tests/tests/kithara_hls/red_leak_pattern.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(hls): break Registry→HlsPeer→SegmentLoader→PeerHandle arc cycle on source drop
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  tests/Cargo.toml
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/red_leak_peer_handle_cycle.rs
  tests/tests/kithara_hls/red_leak_small_cache_seek.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/red_crossfade_hls_to_mp3_blocks_render.rs
  tests/tests/red_env_guard_leak_thread.rs
  tests/tests/suite_light.rs
  tests/tests/suite_stress.rs
Due: semver, perf

fix(play): eagerly enable non-blocking recv for player-wrapped resources
  .config/nextest.toml
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

refactor(stream): drop dead demand() from TransferCoordination trait
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/coordination.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  crates/kithara-test-utils/src/signal_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: semver, perf

chore: untrack .docs/phase02-handoff-rc2.md (kept local)
  .docs/phase02-handoff-rc2.md
Due: none

test(hls): survive broadcast Lagged in abr_auto_switch subscriber
  tests/tests/kithara_hls/abr_auto_switch.rs
Due: none

chore(gitignore): ignore *.lock and top-level build/
  .gitignore
Due: none

feat(ffi): queue + crossfade controls, variant events, dev feature
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/config.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/player.rs
  xtask/src/apple.rs
Due: semver, perf

feat(demo/ios): revamp KitharaDemo — tabs, default playlist, crossfade-safe switching
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

test(flaky): bump nextest leak-timeout + MP3 stress budget under CPU contention
  .config/nextest.toml
  tests/tests/kithara_file/live_stress_real_mp3.rs
Due: none

feat(ffi): cross-platform init_logging + fix FFI_RUNTIME priority inversion
  apple/Sources/Kithara/Logging.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/logging.rs
Due: semver, perf

fix(demo/ios): queue divergence + pending-select + richer diagnostics
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none
