Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(abr_contract): probe_baseline_no_switch replaces T8 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_baseline_no_switch.rs
Due: none

test(abr_contract): probe_emit_count_contract replaces T2 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_emit_count_contract.rs
Due: none

test(abr_contract): probe_disk_inventory_parity replaces T3 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_disk_inventory_parity.rs
Due: none

test(abr_contract): probe_init_range replaces T6 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_init_range.rs
Due: none

test(abr_contract): probe_demuxer_continuity replaces T12+T13 (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_demuxer_continuity.rs
Due: none

test(abr_contract): probe_track_continuity_invariants Bug#1/#2/#3 reproducer (RED)
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_track_continuity_invariants.rs
Due: none

test(abr_contract/helpers): adjust probe-name mapping per Pre-Phase 0 spec
  tests/tests/abr_contract/helpers.rs
Due: none

test(mod.rs): swap T1..T14 + legacy modules for new probe-based modules
  tests/tests/abr_contract/mod.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_stream/mod.rs
Due: none

test(cleanup): delete T1..T14, legacy source_internal_cases, anchor-machinery (Pre-Phase 0)
  tests/tests/abr_contract/t10_no_apply_format_change_until_v_new_init_committed.rs
  tests/tests/abr_contract/t11_apply_format_change_target_offset_matches_init_range.rs
  tests/tests/abr_contract/t12_read_at_offsets_contiguous_within_segment.rs
  tests/tests/abr_contract/t13_next_frame_count_matches_segment_duration.rs
  tests/tests/abr_contract/t14_post_apply_fetch_targets_current_decode_time_not_seg_0.rs
  tests/tests/abr_contract/t1_phase_continuity_wave.rs
  tests/tests/abr_contract/t2_exact_fetch_count.rs
  tests/tests/abr_contract/t3_disk_equals_network.rs
  tests/tests/abr_contract/t4_seek_freezes_abr.rs
  tests/tests/abr_contract/t5_switch_latency_bounded.rs
  tests/tests/abr_contract/t6_init_range_outcome_ok_seg0.rs
  tests/tests/abr_contract/t7_no_double_decode.rs
  tests/tests/abr_contract/t8_natural_eof_complete_playback.rs
  tests/tests/abr_contract/t9_no_metadata_fallback_until_v_new_init_committed.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_stream/architecture_progressive_download.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
  tests/tests/suite_heavy.rs
Due: none

test(abr_contract): use #[case] for homogeneous parametric skeletons
  tests/tests/abr_contract/probe_baseline_no_switch.rs
  tests/tests/abr_contract/probe_init_range.rs
  tests/tests/abr_contract/probe_pcm_seam_continuity.rs
  tests/tests/abr_contract/probe_track_continuity_invariants.rs
Due: none

refactor(abr): switch tick→request_target; wire AbrHandle::commit_pending/notify_commit
  crates/kithara-abr/src/controller/incoherence.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-abr/src/handle.rs
Due: semver, perf, bench

test(abr_contract): split probe_commit_sequence ownership 4/4 between Plans 06/09
  tests/tests/abr_contract/probe_commit_sequence.rs
Due: none

refactor(stream): move byte cursor from Timeline to Source (Plan 02)
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/demand.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/demand.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/context.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/src/memory_source.rs
  tests/src/signal_source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_stream/mod.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/source_position_contract.rs
Due: semver, perf

refactor(stream): drop StreamContext trait + position_handle leaks
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/config.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/session/reader.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/source/reader_hooks.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/context.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/src/memory_source.rs
  tests/src/signal_source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
Due: semver, perf

refactor(hls/variant): implement HlsVariant per Plan 03 spec
  crates/kithara-hls/src/variant.rs
  tests/tests/abr_contract/probe_variant_dispatch.rs
  tests/tests/abr_contract/probe_variant_rebuild.rs
  tests/tests/kithara_hls/init_byte_space.rs
  tests/tests/kithara_hls/variant_position_independence.rs
Due: semver, perf

refactor(hls/segment_view): lock-free SegmentLayout per Plan 04
  crates/kithara-hls/src/segment_view.rs
  tests/tests/kithara_hls/segment_view_lockfree.rs
Due: semver, perf

refactor(hls/stream): mpsc-based eviction wiring per Plan 08
  crates/kithara-hls/src/stream.rs
  tests/tests/kithara_hls/eviction_routing.rs
Due: semver, perf

refactor(hls): scope variant/segment_view to crate, drop test-utils leakage
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/test_utils.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_view.rs
  tests/src/hls_test_helpers.rs
  tests/tests/abr_contract/mod.rs
  tests/tests/abr_contract/probe_variant_dispatch.rs
  tests/tests/abr_contract/probe_variant_rebuild.rs
  tests/tests/kithara_hls/eviction_routing.rs
  tests/tests/kithara_hls/init_byte_space.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/segment_view_lockfree.rs
  tests/tests/kithara_hls/variant_position_independence.rs
  tests/tests/suite_light.rs
Due: semver, perf

refactor(hls/variant): interior mutability for production wiring
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_view.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(hls): HlsCoord + HlsTrack rewrite per Plans 05+06
  .config/arch/baseline.toml
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/demand.rs
  crates/kithara-hls/src/ids.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/scheduler/cmd_builder.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/helpers.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/mod.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/reader_hooks.rs
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/source/types.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_view.rs
  crates/kithara-hls/src/variant/tests.rs
  tests/src/hls_test_helpers.rs
  tests/tests/kithara_hls/seek_variant_switch_after_eof.rs
Due: semver, perf

refactor(hls): SizeEstimator + url-on-MediaPlaylist cleanup
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/stream.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
Due: semver, perf

refactor(hls): drop dead state + move reader wake to HlsPeer
  .config/arch/baseline.toml
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_view.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(hls/variant): persistent queue + cancel-token epoch
  .config/arch/baseline.toml
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(hls): restore Source::format_change_segment_range + skip resource.fail on stale settle
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
Due: semver, perf

fix(hls): post-PKCS7 size reconciliation + drop HlsSegmentView
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_view.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(hls): cross-variant byte continuity on Auto switch
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  tests/tests/abr_contract/probe_commit_sequence.rs
Due: semver, perf

refactor(stream): drop Source::commit_variant_layout
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor: drop demand machinery, FilePeer becomes pull-driven
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/seek_location.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/demand.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/session/download.rs
  crates/kithara-file/src/session/mod.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

fix(file): pin PeerHandle to FileSource lifetime
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/stream.rs
Due: semver, perf

fix(file): gap-driven FilePeer + on_response callback
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/mod.rs
Due: semver, perf

fix(hls): restore Source::media_info after HlsCoord rewrite
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

fix(hls): expose previous variant's init range after ABR commit
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

fix(hls): implement Source::current_segment_range
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

fix(hls): reentrant deadlock in poll_state_phase via AbrController tick
  Cargo.lock
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/composed.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/backend/resource/wait.rs
Due: semver, perf, bench

refactor(stream): non-Optional SegmentLayout::init_segment_range
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

refactor(hls): emit_fetch_cmd probe with seek_epoch field
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-test-macros/src/probe_macro.rs
Due: semver, perf

feat(hls): HlsReaderHooks publishes ReaderSeek + SegmentReadStart
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/reader.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

test(integration): warm CoreAudio _dispatch_once before apple-backend tests
  tests/src/apple_warmup.rs
  tests/src/lib.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_play/hls_seek_middle_stress.rs
  tests/tests/kithara_play/hls_seek_middle_stress_long.rs
  tests/tests/kithara_play/local_seek_hang_iters.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/cpal_cold_seek_synthetic.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: none
