Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(devtools,test): route no-block through `just test --no-block=on|off`
  .config/xtask.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-devtools/src/common/project.rs
  crates/kithara-devtools/src/perf/list.rs
  crates/kithara-devtools/src/perf/matrix.rs
  crates/kithara-devtools/src/test.rs
  crates/kithara-devtools/tests/config_contract.rs
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/no_block.rs
  docs/guides/test-harness.md
  justfile
  tests/Cargo.toml
  tests/tests/suite_light.rs
Due: semver, perf, bench

perf(platform): sample no-block thread CPU through a 1ms-bounded snapshot
  crates/kithara-platform/CONTEXT.md
  crates/kithara-platform/src/no_block/clock.rs
  crates/kithara-platform/src/no_block/mode.rs
  crates/kithara-platform/src/no_block/tests.rs
  crates/kithara-platform/src/no_block/watch.rs
Due: semver, perf

fix(tests): restore suite_e2e compilation after platform tokio move
  tests/tests/kithara_queue/cold_seek_cpal.rs
Due: none

fix(app): declare fixed-ratio SRC backends for the player binary
  crates/kithara-app/Cargo.toml
Due: semver, perf

feat(test): resampler-backend e2e lane matrix
  .config/xtask.toml
  justfile
  tests/Cargo.toml
Due: none

fix(net): bound get_bytes/post_bytes body reads on stalled responses
  crates/kithara-net/src/client.rs
Due: semver, perf

feat(audio,hls): trace the silent decode/read starvation paths
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/variant/io/read.rs
Due: semver, perf

feat(test): pin stalled-network and DRM-seek contracts locally
  tests/src/native/routes/behavior.rs
  tests/src/native/test_server_state.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/packaged_drm_seek.rs
  tests/tests/kithara_queue/playlist_stall_fails_load.rs
Due: none

feat(test): quiet audible e2e playback at volume 0.1
  tests/src/e2e.rs
  tests/src/lib.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
Due: none

build(decode): enable web-sys WebCodecs bindings for wasm
  .cargo/config.toml
  Cargo.toml
Due: perf, bench

feat(bufpool): extract RegionBudget and add Region facade with shared byte budget
  crates/kithara-bufpool/src/budget.rs
  crates/kithara-bufpool/src/global.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/src/pool/mod.rs
  crates/kithara-bufpool/src/pool/shared.rs
  crates/kithara-bufpool/src/region.rs
  crates/kithara-bufpool/tests/region.rs
Due: semver, perf

fix(devtools): make field_always_constant assignment-aware
  crates/kithara-devtools/src/arch/checks/field_always_constant.rs
  crates/kithara-devtools/src/arch/checks/struct_index.rs
Due: semver, perf

feat(decode): add WebCodecs decoder backend behind webcodecs feature
  Cargo.lock
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/src/webcodecs/host.rs
  crates/kithara-decode/src/webcodecs/mod.rs
  crates/kithara-decode/src/webcodecs/protocol.rs
  justfile
Due: semver, perf, bench

feat(bufpool): transactional budget-checked growth in ensure_len
  crates/kithara-bufpool/src/budget.rs
  crates/kithara-bufpool/src/growth.rs
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/src/pool/owned.rs
  crates/kithara-bufpool/src/pool/shared.rs
  crates/kithara-bufpool/src/region.rs
  crates/kithara-bufpool/tests/region.rs
Due: semver, perf

feat(app,ffi,net,hls,assets,storage): inject region-derived pools at composition roots
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-net/src/backend/apple/session.rs
  crates/kithara-net/src/types.rs
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-storage/src/backend/memory/io.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/decorator/chunked/tests.rs
  crates/kithara-storage/src/unified.rs
  tests/fuzz/fuzz_targets/storage_mem_resource.rs
  tests/tests/kithara_app/waveform_analyzer.rs
  tests/tests/kithara_file/waveform_shared_download.rs
  tests/tests/kithara_queue/false_eof_rapid_scrub.rs
  tests/tests/kithara_queue/packaged_drm_seek.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/kithara_queue/zvuk_drm_trace.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
  tests/tests/kithara_queue/zvuk_stage_drm_e2e.rs
Due: semver, perf

feat(decode,ffi): probe WebCodecs support at startup and default to it on wasm
  crates/kithara-audio/Cargo.toml
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/src/webcodecs/mod.rs
  crates/kithara-decode/src/webcodecs/probe.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/wasm_support.rs
  crates/kithara-queue/Cargo.toml
Due: semver, perf

feat(events): decoder transparency events
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/decoder.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/lib.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

docs(play): refresh README/CONTEXT for role-first layout and decoder-owned resampling
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/README.md
Due: perf

chore(lint): allow vDSP stride identifier iy in typos config
  .config/typos.toml
Due: none

docs(audio): add refactor transition contract to CONTEXT.md
  crates/kithara-audio/CONTEXT.md
Due: perf

refactor(audio): W1 runtime split + per-node rt policy
  crates/kithara-audio/src/runtime/handle.rs
  crates/kithara-audio/src/runtime/mod.rs
  crates/kithara-audio/src/runtime/node.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
Due: semver, perf

refactor(audio): W2 worker -> renderer, drop AUDIO_WORKER_ID static
  crates/kithara-app/src/gui/studio/status.rs
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/renderer/gate.rs
  crates/kithara-audio/src/renderer/handle.rs
  crates/kithara-audio/src/renderer/load.rs
  crates/kithara-audio/src/renderer/mod.rs
  crates/kithara-audio/src/renderer/node.rs
  crates/kithara-audio/src/renderer/source.rs
  crates/kithara-audio/src/renderer/tests.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/types.rs
Due: semver, perf

refactor(play): adopt delegate/bon patterns, fix RT box free (review W8)
  Cargo.lock
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/query.rs
  crates/kithara-play/src/player/state/playlist.rs
  crates/kithara-play/src/resource/config.rs
  crates/kithara-play/src/resource/mod.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/resource/resampler.rs
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/track/core.rs
  tests/Cargo.toml
  tests/tests/common/offline_player_harness.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/offline_harness_smoke.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
  tests/tests/kithara_play/player_track_internal.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
  tests/tests/kithara_queue/advance_boundary_provenance.rs
  tests/tests/kithara_queue/auto_advance.rs
  tests/tests/kithara_queue/select_after_eof.rs
Due: semver, perf, bench

feat(events): network and file loader transparency
  crates/kithara-events/src/downloader.rs
  crates/kithara-events/src/file.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/observe.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/traits.rs
  crates/kithara-net/src/types.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

refactor(audio): W3 eq/blob split by owners, timestretch cfg seam
  crates/kithara-audio/src/blob.rs
  crates/kithara-audio/src/blob/frame.rs
  crates/kithara-audio/src/blob/mod.rs
  crates/kithara-audio/src/blob/read.rs
  crates/kithara-audio/src/blob/write.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/effects/eq/band.rs
  crates/kithara-audio/src/effects/eq/effect.rs
  crates/kithara-audio/src/effects/eq/filter.rs
  crates/kithara-audio/src/effects/eq/gain.rs
  crates/kithara-audio/src/effects/eq/isolator.rs
  crates/kithara-audio/src/effects/eq/mod.rs
  crates/kithara-audio/src/effects/timestretch/backend.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-play/src/impls/master_eq_node.rs
Due: semver, perf

fix(decode): drain queue-based codec tails at EOF via needs_eof_drain
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/src/webcodecs/host.rs
  crates/kithara-decode/src/webcodecs/protocol.rs
Due: semver, perf

feat(lint): boilerplate-candidate rules, autofixes, derivable_delegation checker
  .config/ast-grep/idioms.derive-deref-candidate.yml
  .config/ast-grep/idioms.derive-display-candidate.yml
  .config/ast-grep/idioms.derive-from-candidate.yml
  .config/ast-grep/idioms.derive-getter-candidate.yml
  .config/ast-grep/idioms.derive-setter-candidate.yml
  .config/ast-grep/style.no-separator-comments-rs.yml
  .config/ast-grep/style.prefer-any-is-none.yml
  .config/ast-grep/style.prefer-any-is-some.yml
  .config/ast-grep/style.prefer-any.yml
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
  crates/kithara-devtools/src/idioms/checks/mod.rs
  crates/kithara-devtools/src/idioms/config.rs
Due: semver, perf

refactor(audio): W4 split PcmReader god trait
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/mock.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-audio/src/traits/effect.rs
  crates/kithara-audio/src/traits/mod.rs
  crates/kithara-audio/src/traits/outcome.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara/src/lib.rs
  tests/src/audio_mock.rs
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_file/waveform_shared_download.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/red_abr_no_escape_from_stalled_variant.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/player_resource_internal.rs
  tests/tests/phase_continuity/common.rs
  tests/tests/phase_continuity/file.rs
Due: semver, perf

feat(events): audio failure/buffer-state and HLS lifecycle transparency
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/deferred.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/reader.rs
  crates/kithara-hls/src/segment/fetch.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-hls/src/stream/mod.rs
  crates/kithara-hls/src/stream/source.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/io/fetch.rs
  crates/kithara-hls/src/variant/mod.rs
  crates/kithara-hls/src/variant/tests.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

refactor(resampler): pilot fieldwork accessor derive
  Cargo.lock
  Cargo.toml
  crates/kithara-resampler/Cargo.toml
  crates/kithara-resampler/src/apple/input.rs
  crates/kithara-resampler/src/glide/engine.rs
  crates/kithara-resampler/src/rubato/engine.rs
Due: semver, perf, bench

refactor(audio): W5 source.rs part 1 - stream layer and ReadinessGate
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/gate.rs
  crates/kithara-audio/src/pipeline/decode/mod.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/stream/mod.rs
  crates/kithara-audio/src/pipeline/stream/offset.rs
  crates/kithara-audio/src/pipeline/stream/shared.rs
Due: semver, perf

feat(events): drm key lifecycle and asset cache transparency
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/evict/events.rs
  crates/kithara-assets/src/evict/events_noop.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lease/events.rs
  crates/kithara-assets/src/lease/events_noop.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/asset.rs
  crates/kithara-events/src/drm.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/segment/fetch.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf, bench

test(decode): browser verification suite for WebCodecs backend
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/src/webcodecs/host.rs
  crates/kithara-decode/src/webcodecs/probe.rs
  crates/kithara-decode/src/webcodecs/protocol.rs
  crates/kithara-decode/tests/webcodecs_browser.rs
Due: semver, perf

refactor(play): decompose PlayerImpl/PlayerTrack god structs (W9)
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/control.rs
  crates/kithara-play/src/player/flow/handover.rs
  crates/kithara-play/src/player/flow/notify.rs
  crates/kithara-play/src/player/flow/prepare.rs
  crates/kithara-play/src/player/flow/query.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/state/mod.rs
  crates/kithara-play/src/player/state/params.rs
  crates/kithara-play/src/player/state/phase.rs
  crates/kithara-play/src/rt/track/core.rs
Due: semver, perf

refactor(audio): W6 source.rs part 2 - seek/decode/rebuild owners
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/drain.rs
  crates/kithara-audio/src/pipeline/decode/format.rs
  crates/kithara-audio/src/pipeline/decode/mod.rs
  crates/kithara-audio/src/pipeline/decode/resume.rs
  crates/kithara-audio/src/pipeline/decode/step.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/parts.rs
  crates/kithara-audio/src/pipeline/rebuild/mod.rs
  crates/kithara-audio/src/pipeline/rebuild/policy.rs
  crates/kithara-audio/src/pipeline/rebuild/port.rs
  crates/kithara-audio/src/pipeline/rebuild/retire.rs
  crates/kithara-audio/src/pipeline/seek/anchor.rs
  crates/kithara-audio/src/pipeline/seek/emit.rs
  crates/kithara-audio/src/pipeline/seek/engine.rs
  crates/kithara-audio/src/pipeline/seek/mod.rs
  crates/kithara-audio/src/pipeline/seek/recover.rs
  crates/kithara-audio/src/pipeline/seek/skip.rs
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf
