Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

chore(deps): keep reqwest out of the workspace-hack surface
  .config/hakari.toml
  Cargo.lock
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

feat(ui,app): the deck's TEMPO block is the studio's reach to the timestretch
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/reads/deck.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/assets/modules/deck/transport.kmodule.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/address.rs
  crates/kithara-ui/src/render/event.rs
  crates/kithara-ui/src/render/mod.rs
  crates/kithara-ui/src/render/tree/control.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/button.rs
  crates/kithara-ui/src/widgets/mod.rs
  crates/kithara-ui/src/widgets/wave/zoom_math.rs
  crates/kithara-ui/src/widgets/wheel.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(ui): optional blocks in layout and module documents
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/layout_preview.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/render_scope.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

refactor(ui): clear the clippy warnings kithara-ui carried
  crates/kithara-ui/src/atoms/design/crossfader.rs
  crates/kithara-ui/src/atoms/knob.rs
  crates/kithara-ui/src/widgets/behavior.rs
  crates/kithara-ui/src/widgets/layout_preview.rs
  crates/kithara-ui/tests/swatch.rs
Due: semver, perf

feat(ui): a popover opens where the document says, over anything the document draws
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/event.rs
  crates/kithara-ui/src/render/icons.rs
  crates/kithara-ui/src/render/skin.rs
  crates/kithara-ui/src/render/theme.rs
  crates/kithara-ui/src/render/tree/atom.rs
  crates/kithara-ui/src/render/tree/control.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/icon.rs
  crates/kithara-ui/src/render/tree/mod.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/anchored.rs
  crates/kithara-ui/src/widgets/button.rs
  crates/kithara-ui/src/widgets/chrome.rs
  crates/kithara-ui/src/widgets/mod.rs
  crates/kithara-ui/src/widgets/text.rs
  crates/kithara-ui/tests/app_menu.rs
  crates/kithara-ui/tests/common/app_menu_spec.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/render_scope.rs
  crates/kithara-ui/tests/roundtrip.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

feat(ui): the gallery shows a menu, and stops stretching everything else
  crates/kithara-ui/examples/gallery/assets/gallery-atoms.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-buttons.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-cells.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-chrome.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-faders.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-library2.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-menu.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-micro.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-mixer.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-modules-global-bar.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-modules-layout.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-modules-telemetry.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-modules.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-sizes.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-stress.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-titlebars.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-tokens.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-tracklist.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-tree.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-typography.klayout.ron
  crates/kithara-ui/examples/gallery/assets/gallery-vis.klayout.ron
  crates/kithara-ui/examples/gallery/assets/modules/nav.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/primitives/chips.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/primitives/knobs.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/primitives/meters.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/primitives/readouts.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/primitives/toggles.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/stress.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/buttons.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/menu-context.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/menu-notes.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/mixer-1d.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/mixer-1g.kmodule.ron
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/mock/consts.rs
  crates/kithara-ui/examples/gallery/mock/endpoints.rs
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/examples/gallery/mock/mod.rs
  crates/kithara-ui/examples/gallery/mock/reads.rs
  crates/kithara-ui/examples/gallery/sections.rs
Due: perf

chore: name the render feature in the test lane, and drop a dependency nobody uses
  .config/xtask.toml
  Cargo.toml
Due: perf, bench

chore: state the test-lane feature without arguing with itself
  .config/xtask.toml
Due: none

refactor(ui): the menu borrows the type it needs instead of minting its own
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/menu-context.kmodule.ron
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin/controls.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/event.rs
  crates/kithara-ui/src/render/tree/atom.rs
  crates/kithara-ui/src/render/tree/control.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/mod.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/anchored.rs
  crates/kithara-ui/src/widgets/module/chrome.rs
  crates/kithara-ui/src/widgets/text.rs
  crates/kithara-ui/tests/app_menu.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/common/app_menu_spec.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/render_scope.rs
  crates/kithara-ui/tests/roundtrip.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

refactor(ui): the menu takes the type roles the design already has
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/skin/controls.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/widgets/text.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/roundtrip.rs
  crates/kithara-ui/tests/skin.rs
Due: semver, perf

refactor(ui): the repeated menu rows become one included template each
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/assets/modules/app-menu/layout-row.kmodule.ron
  crates/kithara-ui/assets/modules/app-menu/module-cell.kmodule.ron
  crates/kithara-ui/assets/modules/app-menu/window-row.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/menu-context.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/menu-context/track-row.kmodule.ron
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/examples/gallery/mock/reads.rs
Due: perf

feat(ui): a template argument fills in a typed field and an endpoint id
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/assets/modules/app-menu/toggle-row.kmodule.ron
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/src/doc/mod.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/param.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/lib.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

refactor(ui): the gallery nav is one item template taken per tab
  crates/kithara-ui/examples/gallery/assets/modules/nav.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/nav/item.kmodule.ron
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/sections.rs
Due: perf

refactor(ui): the record and cast rows become one template
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/assets/modules/app-menu/hint-row.kmodule.ron
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/examples/gallery/mock/reads.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

fix(ui): a menu glyph leaves its height to the row that holds it
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/src/size.rs
Due: semver, perf

fix(app): match the deck EQ layout to the knobs the studio draws
  crates/kithara-app/app.yaml
  crates/kithara-app/build.rs
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/deck.rs
  crates/kithara-app/src/gui/studio_reads/deck.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
Due: semver, perf

feat(ui): a deck names the stream it plays and picks the rung
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/modules/deck/quality.kmodule.ron
  crates/kithara-ui/assets/modules/deck/quality/auto.kmodule.ron
  crates/kithara-ui/assets/modules/deck/quality/row.kmodule.ron
  crates/kithara-ui/assets/modules/deck/transport.kmodule.ron
  crates/kithara-ui/examples/gallery/mock/endpoints.rs
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/examples/gallery/mock/mod.rs
  crates/kithara-ui/examples/gallery/mock/quality.rs
  crates/kithara-ui/examples/gallery/mock/quality/tests.rs
  crates/kithara-ui/examples/gallery/mock/reads.rs
  crates/kithara-ui/examples/gallery/mock/reads/tests.rs
  crates/kithara-ui/src/builtin.rs
  crates/kithara-ui/src/doc/module/binding.rs
  crates/kithara-ui/src/doc/module/mod.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/doc/module/style.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/site.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/widgets/anchored.rs
  crates/kithara-ui/src/widgets/module/preview.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/common/mod.rs
Due: semver, perf

feat(app): the studio picks the stream quality, and the terminal goes
  .config/arch/baseline.toml
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  .config/idioms/baseline.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/Cargo.toml
  crates/kithara-app/README.md
  crates/kithara-app/assets/ui/modules/studio-deck.kmodule.ron
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/events.rs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/studio_reads/deck.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-app/src/tracing_init.rs
  crates/kithara-app/src/track.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/mod.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-app/src/tui/session.rs
  crates/kithara/CONTEXT.md
Due: semver, perf, bench

refactor(ui): name the popover overhang after the frame it clears
  crates/kithara-ui/src/widgets/anchored.rs
Due: semver, perf

chore(storage): let the pinned lint tools pass over the resource docs
  crates/kithara-storage/src/backend/resource/handle.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-storage/src/lib.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

docs(app,ui): say the quality contract once, and let the cache struct name its halves
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-ui/CONTEXT.md
Due: semver, perf

refactor(app,ui): let the deck cache and its stream handlers read without docs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/studio_reads/deck.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-ui/examples/gallery/mock/quality.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/site.rs
Due: semver, perf

feat(app): switch studio EQ topology at runtime
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-select-row.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip/eq-3-band.kmodule.ron
  crates/kithara-app/assets/ui/modules/studio-strip/eq-4-band.kmodule.ron
  crates/kithara-app/assets/ui/studio-single.klayout.ron
  crates/kithara-app/assets/ui/studio.klayout.ron
  crates/kithara-app/src/deck.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_reads/deck.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/cache.rs
  crates/kithara-app/src/gui/studio_ui/compile.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/api/equalizer.rs
  crates/kithara-play/src/bridge/eq.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/control.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/state.rs
  crates/kithara-queue/CONTEXT.md
  crates/kithara-queue/src/queue/passthrough.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/size.rs
Due: semver, perf

refactor(app,play,ui): tighten the runtime EQ topology switch
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/deck.rs
  crates/kithara-app/src/gui/deck.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/studio_ui/scope.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-ui/benches/ui.rs
Due: semver, perf

perf(play): keep the shared EQ gain mirror lock-free
  Cargo.lock
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/bridge/eq.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-play/src/session/state.rs
Due: semver, perf, bench

fix(app): an EQ band is flat when its knob points straight up
  crates/kithara-app/src/gui/studio_reads/deck.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
Due: semver, perf

docs(app): drop the doc comments from the EQ travel helpers
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
Due: semver, perf

test(rtsan): run the sanitizer lanes against the audio contour
  .config/just/test.just
  crates/kithara-test-utils/src/no_block.rs
  xtask/src/ci/lane/deep.rs
Due: semver, perf

refactor(play,audio): take logging, allocation and seek off the audio thread
  Cargo.lock
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/mod.rs
  crates/kithara-audio/src/audio/seek.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/traits/mod.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/bridge/metrics.rs
  crates/kithara-play/src/bridge/mod.rs
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/player/flow/notify.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/mod.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/registry.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/slots.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/fade.rs
  crates/kithara-play/src/rt/track/feeder.rs
  crates/kithara-play/src/rt/track/mod.rs
  crates/kithara-play/src/rt/track/read.rs
  crates/kithara-play/src/rt/track/sink.rs
  tests/src/audio_mock.rs
  tests/src/offline/player.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_processor_internal.rs
  tests/tests/kithara_play/player_resource_internal.rs
  tests/tests/kithara_play/player_track_internal.rs
  tests/tests/kithara_play/rt_click.rs
  tests/tests/kithara_play/rt_metrics.rs
Due: semver, perf, bench

fix(audio,decode): stop denormal and non-finite samples at each stage's input
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/effects/eq/filter.rs
  crates/kithara-audio/src/effects/eq/gain.rs
  crates/kithara-audio/src/effects/eq/isolator.rs
  crates/kithara-audio/src/effects/limiter.rs
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/resampled.rs
  crates/kithara-decode/src/sample.rs
  crates/kithara-decode/tests/resampled.rs
  tests/tests/kithara_audio/dsp_properties.rs
  tests/tests/kithara_audio/mod.rs
Due: semver, perf

perf(hls): borrow the segment's resource handle instead of cloning its url
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/playlist/master.rs
  crates/kithara-hls/src/playlist/variant_playlist.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-hls/src/variant/io/init.rs
  crates/kithara-hls/src/variant/map/media.rs
Due: semver, perf

fix(hls): prepare a seek on the control thread, not the produce core
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/pipeline/stream/shared.rs
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/signal.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/source.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

fix(play): type the audio session's death instead of formatting it
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/session/native.rs
  crates/kithara-play/src/session/web/client.rs
Due: semver, perf

test(play): time the render block against its device budget
  .config/just/perf.just
  tests/Cargo.toml
  tests/benches/rt_block_budget.rs
Due: none

refactor(queue): own the queue's atomics instead of sharing them behind Arc
  crates/kithara-queue/src/queue/state.rs
Due: semver, perf

fix(audio,decode): retire displaced chunks instead of freeing them on the core
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/generation.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/rebuild/port.rs
  crates/kithara-audio/src/pipeline/rebuild/retire.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track/fsm.rs
  crates/kithara-audio/src/pipeline/track/recreate.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/renderer/node.rs
  crates/kithara-audio/src/renderer/source.rs
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/gapless/trimmer/tests.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/retire.rs
Due: semver, perf

feat(decode): give frames and samples separate types
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/pcm/units.rs
  crates/kithara-decode/src/resampled.rs
  crates/kithara-play/src/rt/track/feeder.rs
Due: semver, perf

refactor(decode): group the PCM helpers under one module
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/gapless/mp3.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/pcm/retire.rs
  crates/kithara-decode/src/pcm/sample.rs
  crates/kithara-decode/src/pcm/time.rs
Due: semver, perf

refactor(play,audio): index the slot set directly and reuse std
  crates/kithara-audio/src/effects/eq/filter.rs
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/rt/slots.rs
Due: semver, perf

fix(play): write every frame the host asked for
  crates/kithara-play/src/rt/render.rs
  tests/tests/kithara_play/rt_metrics.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
