Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(assets): one Asset Store for file and HLS via Ctx erasure (#88)
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/eviction.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/ctx_erasure.rs
  crates/kithara-assets/tests/eviction_subscription.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-drm/src/context.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-drm/src/lib.rs
  crates/kithara-file/src/config.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/decrypt_processor.rs
  crates/kithara-hls/src/invalidation.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

fix(wasm): WorkerWake: Send+Sync so threaded holders compile on wasm32
  crates/kithara-ffi/index.html
  crates/kithara-stream/src/wake.rs
Due: semver, perf

chore(release): 0.0.1-alpha4
  Cargo.lock
  Cargo.toml
  Package.swift
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-beat/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-encode/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: semver, perf, bench

deploy: wasm Pages for v0.0.1-alpha4
  .nojekyll
  _headers
  coi-serviceworker.js
  index.html
  kithara-ffi.js
  kithara-ffi_bg.wasm
  logo.svg
  snippets/wasm_safe_thread-6af64f6626d30659/inline0.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline1.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline2.js
Due: none

docs: consolidate agent guidance
  .agents/skills
  .claude/agents
  .claude/agents/rust-architecture-guardian.md
  .claude/rules
  .claude/rules/00-core.md
  .claude/settings.json
  .claude/workflows
  .cursor/rules
  .cursor/rules/00-core.mdc
  .docs/README.md
  .docs/agents/rust-architecture-guardian.md
  .docs/beat-slicer-architecture-notes.md
  .docs/flash-time/blocking-primitive-coverage.md
  .docs/guides/architecture-shape.md
  .docs/guides/cancel-policy.md
  .docs/guides/lint-policy.md
  .docs/guides/red-flags.md
  .docs/guides/review-validation.md
  .docs/guides/rule-placement.md
  .docs/guides/rust-shape.md
  .docs/rules/00-core.mdc
  .docs/skills/code-hygiene/SKILL.md
  .docs/skills/commit/SKILL.md
  .docs/skills/pr/SKILL.md
  .docs/workflow/rust-ai.md
  .docs/workflows/pr-description.md
  .docs/workflows/rust-ai.md
  AGENTS.md
  CLAUDE.md
  CONTEXT.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  WARP.md
Due: none

fix(platform): complete flash tokio compatibility surface
  crates/kithara-app/src/analysis.rs
  crates/kithara-platform/src/flash/tokio/errors.rs
  crates/kithara-platform/src/flash/tokio/mod.rs
  crates/kithara-platform/src/flash/tokio/oncecell.rs
  crates/kithara-platform/src/flash/tokio/watch.rs
Due: semver, perf

fix(release): add --no-verify to xtask publish
  xtask/src/publish.rs
Due: none

docs(agents): route tooling guidance
  .docs/README.md
  .docs/guides/lint-policy.md
  .docs/guides/tooling.md
  .docs/workflows/rust-ai.md
  AGENTS.md
  xtask/README.md
Due: none

chore(agents): add workflow guard hooks
  .claude/settings.json
  .docs/guides/agent-hooks.md
  .docs/guides/test-harness.md
  .docs/workflows/rust-ai.md
  AGENTS.md
  xtask/README.md
  xtask/src/agent_hook.rs
  xtask/src/main.rs
Due: none

fix(apple): pass seek completion closure in demo after wrapper API change
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
Due: none

fix(apple): pass seek completion closure in demo after wrapper API change (#93)
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
Due: none

chore(ci): ignore workspace-hack in dependabot
  .github/dependabot.yml
Due: none

refactor(storage,decode): clear lint warnings in wasm and clippy lanes
  crates/kithara-decode/src/mp4/scan.rs
  crates/kithara-storage/src/unified.rs
Due: semver, perf

chore(deps): upgrade workspace dependencies
  Cargo.lock
  Cargo.toml
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

chore(claude): update local settings
  .claude/settings.json
Due: none

chore(deps): sort workspace hack manifest
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf

chore(deps): upgrade workspace dependencies (#95)
  .claude/settings.json
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

test(queue): merge tone runs across underrun silence gaps in the AAC case
  tests/tests/kithara_queue/advance_boundary_provenance.rs
Due: none

fix(stream): cap resampled-path position writes at the duration budget
  crates/kithara-audio/src/audio.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-stream/src/playhead.rs
  tests/tests/kithara_queue/advance_boundary_provenance.rs
  tests/tests/kithara_queue/mod.rs
Due: semver, perf

chore(play): drop hunt-time debug tracing from advance paths
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix(stream): cap playback-progress position writes only, not seek landings
  crates/kithara-audio/src/audio.rs
  crates/kithara-stream/src/playhead.rs
Due: semver, perf

test(queue): merge tone runs across any silence gap in the AAC case
  tests/tests/kithara_queue/advance_boundary_provenance.rs
Due: none

test(queue): sawtooth frame-provenance classifier for advance-boundary tests
  tests/src/lib.rs
  tests/src/pcm_provenance.rs
Due: none

fix(stream): cap resampled-path position writes at the duration budget (#96)
  crates/kithara-audio/src/audio.rs
  crates/kithara-stream/src/playhead.rs
  tests/src/lib.rs
  tests/src/pcm_provenance.rs
  tests/tests/kithara_queue/advance_boundary_provenance.rs
  tests/tests/kithara_queue/mod.rs
Due: semver, perf

feat(xtask-core): crate skeleton with Ctx and clap flatten proof
  Cargo.lock
  Cargo.toml
  xtask-core/Cargo.toml
  xtask-core/README.md
  xtask-core/src/ctx.rs
  xtask-core/src/lib.rs
  xtask/Cargo.toml
Due: perf, bench

refactor(stretch): extract time-stretch backend core into kithara-stretch crate
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/analysis/beat/grid.rs
  crates/kithara-audio/src/effects/timestretch/controls.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/effects/timestretch/region_tests.rs
  crates/kithara-audio/src/effects/timestretch/stretch_factory.rs
  crates/kithara-audio/src/waveform/beat_grid.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/Cargo.toml
  crates/kithara-stretch/README.md
  crates/kithara-stretch/src/backend.rs
  crates/kithara-stretch/src/backends/bungee.rs
  crates/kithara-stretch/src/backends/mod.rs
  crates/kithara-stretch/src/backends/signalsmith.rs
  crates/kithara-stretch/src/factory.rs
  crates/kithara-stretch/src/kind.rs
  crates/kithara-stretch/src/lib.rs
  crates/kithara-stretch/src/region.rs
Due: semver, perf, bench

fix(audio): make post-seek pcm drain epoch-aware to stop dropping seek-target chunks
  crates/kithara-audio/src/audio.rs
Due: semver, perf

refactor(xtask): expose lane_features and nextest_lane_command for perf pipeline
  xtask/src/test.rs
Due: none

test(harness): add nextest perf profile with junit output
  .config/nextest.toml
Due: none

fix(xtask): read nextest junit from workspace store in perf matrix
  xtask/src/perf/matrix.rs
Due: none

feat(xtask): perf report with gecko wait/cpu classification
  xtask/src/perf/cli.rs
  xtask/src/perf/gecko.rs
  xtask/src/perf/mod.rs
  xtask/src/perf/report.rs
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
