Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

chore(release): bump workspace version to 0.0.1-alpha1
  .github/ISSUE_TEMPLATE/bug_report.md
  Cargo.lock
  Cargo.toml
  apple/README.md
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-encode/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara/Cargo.toml
  examples/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: semver, perf, bench

docs(release): align tracked docs with current architecture
  CHANGELOG.md
  README.md
  android/README.md
  apple/README.md
  crates/kithara-abr/README.md
  crates/kithara-app/README.md
  crates/kithara-assets/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-encode/README.md
  crates/kithara-events/README.md
  crates/kithara-ffi/README.md
  crates/kithara-file/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-wasm-macros/README.md
  crates/kithara-wasm/README.md
  crates/kithara-workspace-hack/README.md
  crates/kithara/README.md
  tests/README.md
Due: perf, bench

docs(release): sync tracked docs with current code; drop empty examples crate
  .config/arch/baseline.toml
  .config/arch/direction.toml
  .config/hakari.toml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  SECURITY.md
  android/README.md
  apple/README.md
  crates/kithara-abr/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-events/README.md
  crates/kithara-file/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-queue/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-wasm/README.md
  crates/kithara/README.md
  examples/Cargo.toml
  examples/src/lib.rs
  tests/README.md
  xtask/src/common/fix/README.md
  xtask/src/common/scope.rs
Due: perf, bench

chore(deps): cargo upgrade + symphonia 0.6.0 stable + hotpath 0.16.1
  Cargo.lock
  Cargo.toml
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-workspace-hack/Cargo.toml
  tests/benches/refactor_hotpaths.rs
  tests/perf/decoder.rs
  tests/perf/memory_rss.rs
  tests/perf/resampler.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf, bench

chore(deps): cargo upgrade --incompatible (8 packages)
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-drm/src/tests.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  crates/kithara-storage/src/decorator/atomic/tests.rs
  crates/kithara-storage/src/decorator/chunked/tests.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-test-utils/src/probe/real/usdt_wire.rs
  crates/kithara-workspace-hack/Cargo.toml
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf, bench

test(queue): add prod zvuk DRM end-to-end behind #[ignore]
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
Due: none

fix(decode): in-tree fdk-aac adapter for HE-AAC v1/v2 prod playback
  Cargo.lock
  Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/aac_fdk.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/symphonia/mod.rs
  crates/kithara-decode/src/symphonia/registry.rs
  tests/tests/common/gapless.rs
  tests/tests/kithara_decode/aac_priming_regression.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/suite_light.rs
Due: semver, perf, bench

feat(app): per-provider X-Encrypted-Key seed shape + parked stage DRM diagnostics
  crates/kithara-app/app.yaml
  crates/kithara-app/build.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/zvuk_cipher_check.rs
  tests/tests/kithara_queue/zvuk_stage_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_stage_seed_brute_force.rs
Due: perf

fix(file): recover codec from cached bytes on cold restart
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-stream/src/media.rs
  tests/src/native/routes/assets.rs
  tests/src/test_server/native.rs
  tests/tests/kithara_queue/file_replay_from_warm_cache.rs
  tests/tests/kithara_queue/mod.rs
Due: semver, perf

test(user_sim): e2e harness with ABR × backend × DRM × multi-track matrix
  Cargo.lock
  tests/Cargo.toml
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/user_simulation/actions.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
  tests/tests/kithara_queue/user_simulation/mod.rs
  tests/tests/kithara_queue/user_simulation/scenarios.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: perf, bench

fix(play): decode error must not become false EOF auto-advance
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/src/play.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-queue/src/queue/playback.rs
  tests/tests/kithara_play/player_resource_internal.rs
  tests/tests/kithara_play/player_track_internal.rs
Due: semver, perf

test(user_sim): rapid scrub without warmup + auto ABR upswitch scenarios
  tests/tests/kithara_queue/user_simulation/scenarios.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

test(ios): XCUITest reproducing false-EOF auto-advance from app.log
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/UITests/FalseEofRegression.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
Due: none

feat(ios): per-provider DRM rules mirroring app.yaml + macOS UITest target
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/project.yml
Due: none

test(queue): probe-driven e2e for false-EOF rapid scrub against prod DRM
  tests/tests/kithara_queue/false_eof_rapid_scrub.rs
  tests/tests/kithara_queue/mod.rs
Due: none

feat(encode): HE-AAC v2 packaged encoder + fmp4 sample entry
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/codec.rs
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-encode/src/fdk/mod.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/lib.rs
  crates/kithara-hls/src/variant.rs
  tests/src/native/fmp4/codec.rs
  tests/src/test_server.rs
Due: semver, perf, bench

test(queue): rapid scrub on HE-AAC v2 reproduces decode failure
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/rapid_scrub_decode_failure.rs
Due: none

test(queue,ios): pin HE-AAC v2 rapid-scrub cascade via probe + XCUITest
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/UITests/FalseEofRegression.swift
  apple/Examples/KitharaDemo/project.yml
  tests/tests/kithara_queue/false_eof_rapid_scrub.rs
  tests/tests/kithara_queue/rapid_scrub_decode_failure.rs
Due: none

fix(decode): HE-AAC v2 fMP4 HLS — route via segment-aware demuxer + extract raw ASC
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/symphonia/aac_fdk.rs
Due: semver, perf

test(queue): red repro for audio_worker hang on prod DRM multi-track scrub
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

test(queue): pin variant-switch recreate hang on plain HLS too
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

chore(audio): instrument variant-switch recreate boundary for hang diagnosis
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

test(queue): harden multi-track hang heuristic against handover position race
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

test(queue): PCM-based prod hang repro replaces position-regression heuristic
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

fix(abr,hls,audio): drop stale throughput-driven pending on seek, gate seek-landing on full segment
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/coord.rs
Due: semver, perf, bench

fix(audio): skip recreate on same-variant same-codec seek anchor
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

chore(audio): downgrade [recreate-trace] diagnostics to debug
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

chore(demos): drop unreachable stage DRM track from desktop + iOS demo
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  crates/kithara-app/app.yaml
Due: perf

feat(events,queue,ffi): TrackId allocation + uuid v5 — process-wide queue handle
  Cargo.lock
  Cargo.toml
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-events/src/queue.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-queue/src/queue/lifecycle.rs
  crates/kithara-queue/src/queue/state.rs
Due: semver, perf, bench

feat(apple): discrete publishers + AudioPlayerProtocol conformance + PlayerError
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/Protocols.swift
Due: none

feat(apple): KitharaRx target — RxSwift bridge over Combine publishers
  Package.resolved
  Package.swift
  apple/Sources/KitharaRx/KitharaRx.swift
Due: none

test(apple),chore(demo): align tests + demo with TrackId migration
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Tests/KitharaTests/KitharaPlayerItemTests.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  apple/Tests/KitharaTests/LiveStreamTests.swift
Due: none

feat(audio,kithara): pass-through fdk-aac feature for HE-AAC on apple
  apple/Examples/KitharaDemo/Sources/PlayerViewModelCombine.swift
  crates/kithara-audio/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf

chore(ffi): regenerate KitharaFFI bindings
  apple/Sources/KitharaFFI/KitharaFFI.swift
Due: none

feat(apple): currentTime publishers + DocC link fixes
  apple/Sources/Kithara/Cipher.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaRx/KitharaRx.swift
Due: none

chore(spm): add swift-docc-plugin + ignore docs-build/
  .gitignore
  Package.resolved
  Package.swift
Due: none

feat(demo): bake-secrets pipeline + Combine/Rx variants over shared base
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/Obfstr.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelCombine.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelRx.swift
  apple/Examples/KitharaDemo/project.yml
  apple/Examples/KitharaDemo/scripts/bake-secrets.swift
Due: none

chore(apple): just-recipes for combined DocC + stripped release zip
  justfile
Due: none
