Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

style: format post-merge test assertions
  crates/kithara-stream/src/backend.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix: set host_sample_rate on track load to prevent 2x playback on Apple
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-net/src/error.rs
  crates/kithara-play/src/impls/player_processor.rs
  xtask/src/xcframework.rs
Due: semver, perf

test: verify load_track propagates host_sample_rate to the resource
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix: resolve pre-existing clippy warnings in proc-macro crates
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-wasm-macros/src/lib.rs
Due: semver, perf

refactor: add shared source phase FSM core to kithara-stream
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

refactor: make file source use shared source phase
  crates/kithara-file/src/session.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

refactor: add HLS adapter for shared SourcePhase FSM
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
Due: semver, perf

refactor: collapse HLS wait_range helper stack into SourcePhase dispatch
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
Due: semver, perf

fix: address code review findings
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

refactor: make phase() a required method on Source trait
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: semver, perf

refactor: remove SourcePhaseView and classify(), inline phase logic into each Source impl
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

refactor: consolidate HlsSource impl blocks into single file
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor: replace 9 Stream<T> boilerplate delegates with delegate! macro
  Cargo.lock
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/stream.rs
Due: semver, perf, bench

refactor: replace Progress boilerplate delegates with delegate! macro
  Cargo.lock
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/session.rs
Due: semver, perf, bench

refactor: replace Atomic<R> trait delegation boilerplate with delegate!
  Cargo.lock
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/atomic.rs
Due: semver, perf, bench

refactor: deduplicate hang_watchdog! macro arms via internal @inner rule
  crates/kithara-hang-detector/src/watchdog_macro.rs
Due: semver, perf

refactor: convert hang_watchdog! to #[hang_watchdog] attribute proc macro
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hang-detector-macros/Cargo.toml
  crates/kithara-hang-detector-macros/src/lib.rs
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-hang-detector/README.md
  crates/kithara-hang-detector/src/lib.rs
  crates/kithara-hang-detector/src/watchdog_macro.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/driver.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf, bench

rm docs
  docs/ios-protocol.md
Due: none

refactor: add default methods to Source/StreamType traits and merge test sources
  crates/kithara-file/src/inner.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/tests/kithara_stream/source.rs
Due: semver, perf

Fix stale HLS init offset after seek
  crates/kithara-hls/src/source.rs
Due: semver, perf

refactor: add parameterless Source::phase() and simplify audio is_ready()
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: semver, perf

Fix kithara_file demand reloads after eviction
  crates/kithara-file/src/downloader.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
Due: semver, perf

Add platform park support for audio wakeups
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/thread_wake.rs
  crates/kithara-audio/src/pipeline/worker_wake.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/thread.rs
Due: semver, perf

Increase debug timeout for concurrent file tests
  tests/tests/multi_instance/concurrent_file.rs
Due: none

build(deps): update workspace dependencies
  Cargo.lock
  Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

refactor(audio): add TrackState FSM types with transition tests
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

refactor(audio): introduce DecoderSession and SeekRejected event
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/src/audio.rs
Due: semver, perf

refactor(audio): add TrackState field and state transitions to StreamAudioSource
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

refactor(audio): replace AudioWorkerSource trait with step_track FSM dispatch
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

refactor(audio): replace eof:bool with ConsumerPhase in Audio<S>
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/rodio/source_impl.rs
Due: semver, perf

refactor(audio): remove FallibleIterator trait impl and fallible-iterator dep
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf, bench

Refactor stream audio source FSM
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf, bench

Reduce seek and writer log verbosity
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-stream/src/writer.rs
Due: semver, perf

tests(audio): use longer wav fixtures for seek cases
  tests/tests/kithara_audio/audio_tests.rs
Due: none

audio: preserve partially consumed chunk tails
  crates/kithara-audio/src/pipeline/audio.rs
Due: semver, perf

stream: commit ready batch prefix eagerly
  crates/kithara-stream/src/backend.rs
Due: semver, perf

assets: add side-effect-free resource state queries
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/state.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/resource_state.rs
  crates/kithara-file/src/session.rs
Due: semver, perf

stream: expose explicit variant-change and seek landing signals
  crates/kithara-decode/src/error.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

audio: make seek paths land on exact decoder targets
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

Tie stream roles to Source contract
  crates/kithara-stream/src/coordination.rs
  crates/kithara-stream/src/cursor.rs
  crates/kithara-stream/src/demand.rs
  crates/kithara-stream/src/internal.rs
  crates/kithara-stream/src/layout.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/topology.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
Due: semver, perf
