Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

fix(file,hls): one-shot fmp4 parse + seek-collapse cross-variant continuity
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
Due: semver, perf

refactor(hls,audio): variant-resident heavy ops + cross-codec fence + idle backpressure split
  .config/idioms/baseline.toml
  Cargo.lock
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/runtime/node.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  tests/tests/kithara_hls/idle_behavior.rs
  tests/tests/suite_stress.rs
Due: semver, perf, bench

refactor(abr,events): collapse AbrVariant into VariantInfo + fix seek wait timeout
  .zed/debug.json
  crates/kithara-abr/src/abr.rs
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/controller/peer.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/lib.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-abr/src/state/tests.rs
  crates/kithara-abr/src/state/view.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/state.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-events/src/abr.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-stream/src/stream.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
  tests/perf/abr.rs
  tests/tests/abr_contract/probe_commit_sequence.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_abr_integration/multi_track_contention.rs
  tests/tests/kithara_abr_integration/switch_midfetch.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
  tests/tests/kithara_hls/abr_integration.rs
Due: semver, perf, bench

feat(abr): pull-based current_variant chain — UI label refreshes without events
  crates/kithara-abr/src/handle.rs
  crates/kithara-app/src/state.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf, bench

fix(hls,abr,audio): manual ABR switch fires immediately + cross-codec recreate stability
  crates/kithara-abr/src/abr.rs
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/tests.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-stream/src/error.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/benches/abr_estimator.rs
  tests/src/abr_fixtures.rs
  tests/tests/abr_contract/probe_commit_sequence.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: semver, perf, bench

test(workspace): consolidate via `#[case]` parametrize + drop duplicate suite_heavy mounts
  crates/kithara-app/src/gui/subscription.rs
  crates/kithara-assets/src/key.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/gapless/codec_priming.rs
  crates/kithara-decode/src/gapless/heuristic.rs
  crates/kithara-drm/src/tests.rs
  crates/kithara-events/src/bus.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-queue/src/track.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-test-macros/src/probe_macro.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_bufpool/pool_reuse.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_net/timeout.rs
  tests/tests/suite_heavy.rs
Due: semver, perf

fix(hls): container-aware ABR commit — recreate decoder for fMP4 same-codec
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/inner/hls_fixture.rs
  crates/kithara-test-utils/src/inner/hls_spec.rs
  crates/kithara-test-utils/src/inner/hls_url.rs
  crates/kithara-test-utils/src/inner/native/hls_stream.rs
  crates/kithara-test-utils/src/inner/test_server.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf

fix(hls,decode): WAV continuity race + cross-codec init + segment-index propagation
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-stream/src/source.rs
  tests/benches/abr_estimator.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
Due: semver, perf

feat(abr): seed initial throughput + remove warmup gate
  crates/kithara-abr/README.md
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/controller/peer.rs
  crates/kithara-abr/src/controller/tick.rs
  crates/kithara-abr/src/estimator.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-abr/src/state/tests.rs
  crates/kithara-events/src/abr.rs
  tests/benches/abr_estimator.rs
  tests/src/abr_fixtures.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_abr_integration/multi_track_contention.rs
  tests/tests/kithara_abr_integration/switch_midfetch.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
  tests/tests/kithara_hls/abr_integration.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf, bench

feat(decode): Frame.packet_desc + FrameCodec packet-desc plumbing for VBR
  .gitignore
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
Due: semver, perf

feat(test-utils): ensure_silence_1s_alac_m4a generator (afconvert / ffmpeg)
  crates/kithara-test-utils/src/inner.rs
  crates/kithara-test-utils/src/inner/alac_fixture.rs
Due: semver, perf

feat(decode/apple): native standalone WAV/MP3/ALAC via AudioFileServices
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/tests/protocol.rs
Due: semver, perf

fix(decode): keep HLS WAV/MP3/ALAC on Symphonia; add Android-native standalone
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/media_extractor.rs
  crates/kithara-decode/src/android/media_extractor_demuxer.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

feat(decode): ungate Apple/Android-native standalone from segment_layout; symphonia-free fmp4
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/gapless/mod.rs
Due: semver, perf

fix(decode/apple): CBR batching + preserved io::Error chain → HLS-WAV at parity with Symphonia
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
Due: semver, perf

fix(decode): ungate probe_mp4_gapless_dyn for android-only build
  crates/kithara-decode/src/gapless/mod.rs
Due: semver, perf

update gitignore
  .gitignore
Due: none

fix(audio): size-based recreate-readiness gate for backwards seek after manual variant switch
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf

chore(hang-detector): cfg-gate dump impl on `not(feature = "disable-hang-detector")`
  crates/kithara-hang-detector/src/dump.rs
  crates/kithara-hang-detector/src/tests.rs
Due: semver, perf

fix(audio): wake peer after clear_seek_pending so ABR lock releases when peer is idle
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf

build(kithara-play): drop file/hls feature gates; add bon to workspace deps
  Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/source_type.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-wasm/Cargo.toml
  crates/kithara/Cargo.toml
  tests/fuzz/Cargo.toml
Due: semver, perf, bench

refactor(stream,net): migrate DownloaderConfig/MediaInfo/SourceSeekAnchor/NetOptions to bon::Builder
  Cargo.lock
  crates/kithara-app/src/main.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/types.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-workspace-hack/Cargo.toml
  tests/benches/refactor_hotpaths.rs
  tests/src/hls_fixture/assets.rs
  tests/src/signal_source.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_hls/config_with_downloader.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/red_leak_pattern.rs
  tests/tests/kithara_hls/red_leak_peer_handle_cycle.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf, bench

refactor(bon): migrate StoreOptions + FetchCmd to bon::Builder
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/store.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/benches/refactor_hotpaths.rs
  tests/src/hls_fixture/builders.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/red_leak_small_cache_seek.rs
  tests/tests/kithara_hls/wait_range_contract.rs
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf, bench

refactor(bon): migrate kithara-drm::KeyProcessorRule to bon::Builder
  Cargo.lock
  crates/kithara-app/src/drm.rs
  crates/kithara-drm/Cargo.toml
  crates/kithara-drm/src/registry.rs
  crates/kithara-drm/src/tests.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf, bench

chore: remove stray XXEWvjos artifact, finalize bon-migration regression gate
  tests/tests/kithara_hls/XXEWvjos
Due: none

refactor(play): drop ResourceConfig chain shims, unify on bon builder
  crates/kithara-app/src/sources.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-queue/src/loader.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_middle_stress.rs
  tests/tests/kithara_play/hls_seek_middle_stress_long.rs
  tests/tests/kithara_play/hls_seek_past_end_terminates.rs
  tests/tests/kithara_play/local_seek_hang_iters.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/cpal_cold_seek_synthetic.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/track_switch_race.rs
Due: semver, perf

refactor(play): add #[non_exhaustive] to PlayerConfig
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/queue/state.rs
Due: semver, perf

refactor(play): functional builder chain in into_file_config / into_hls_config
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

refactor(play): make prepare_config functional + other imperative cleanups
  crates/kithara-ffi/src/player.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/loader.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
Due: semver, perf

test(abr_contract): mark Plan 10 stub scaffolds as #[ignore] pending probe wiring
  tests/tests/abr_contract/probe_baseline_no_switch.rs
  tests/tests/abr_contract/probe_demuxer_continuity.rs
  tests/tests/abr_contract/probe_disk_inventory_parity.rs
  tests/tests/abr_contract/probe_emit_count_contract.rs
  tests/tests/abr_contract/probe_init_range.rs
  tests/tests/abr_contract/probe_pcm_seam_continuity.rs
  tests/tests/abr_contract/probe_track_continuity_invariants.rs
Due: none

test(queue): document #[ignore] reasons for silvercomet/DEFAULT_TRACKS/coalescer-pending
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: none

test(hls): pin multi_track_shared_abr Step 1 to Manual(0) for deterministic cache fill
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

Revert "test(hls): pin multi_track_shared_abr Step 1 to Manual(0) for deterministic cache fill"
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

fix(decode,hls,stream): refresh segment range mid-fill to absorb DRM PKCS7 size shrink
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

refactor(test-macros): decompose test/probe macros into submodules
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  crates/kithara-test-macros/src/fixture/expand.rs
  crates/kithara-test-macros/src/fixture/mod.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-macros/src/mock/expand.rs
  crates/kithara-test-macros/src/mock/mod.rs
  crates/kithara-test-macros/src/probe/derive.rs
  crates/kithara-test-macros/src/probe/entry.rs
  crates/kithara-test-macros/src/probe/expand.rs
  crates/kithara-test-macros/src/probe/mod.rs
  crates/kithara-test-macros/src/probe/parse.rs
  crates/kithara-test-macros/src/probe_macro.rs
  crates/kithara-test-macros/src/test/case.rs
  crates/kithara-test-macros/src/test/entry.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/expand_sync.rs
  crates/kithara-test-macros/src/test/fixture_args.rs
  crates/kithara-test-macros/src/test/mod.rs
  crates/kithara-test-macros/src/test/parse.rs
  crates/kithara-test-macros/src/test/shared.rs
  crates/kithara-test-macros/src/test_macro.rs
Due: semver, perf

refactor(tests): Phase 4 — drop white-box test_helpers, drive via pub API
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/test_helpers.rs
  crates/kithara-decode/src/mock.rs
  crates/kithara-encode/src/lib.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/test_helpers.rs
  tests/Cargo.toml
  tests/src/decode_mock.rs
  tests/src/encode_test_pcm.rs
  tests/src/lib.rs
  tests/src/memory_source.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_audio/gapless_pipeline.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_encode/aac_tests.rs
  tests/tests/kithara_encode/bytes_tests.rs
  tests/tests/kithara_encode/flac_tests.rs
  tests/tests/kithara_play/engine_cpal_tests.rs
  tests/tests/kithara_play/engine_tests.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
