Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

feat(tests): add fast/stress nextest profiles and justfile targets
  .config/nextest.toml
  justfile
Due: none

fix(ci): include bufpool and hotpaths benchmarks in bench-ci
  justfile
Due: none

refactor(fuzz): move fuzz crate to tests/fuzz and use workspace dependencies
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  justfile
  tests/fuzz/Cargo.toml
  tests/fuzz/fuzz_targets/aes_decrypt.rs
  tests/fuzz/fuzz_targets/hls_parsing.rs
Due: perf, bench

fix(tests): replace tautological assertions with meaningful checks
  tests/tests/kithara_hls/basic_playback.rs
  tests/tests/kithara_hls/keys_integration.rs
  tests/tests/kithara_hls/playlist_integration.rs
  tests/tests/kithara_hls/smoke_test.rs
Due: none

feat(test-macros): add selenium and multi_thread flags to #[kithara::test]
  crates/kithara-test-macros/src/lib.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf

feat(fuzz): scaffold cargo-fuzz with AES decrypt and HLS parsing targets
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/aes_decrypt.rs
  fuzz/fuzz_targets/hls_parsing.rs
Due: perf, bench

refactor(tests): extract file_count_and_size into shared stress helper
  tests/tests/common/mod.rs
  tests/tests/common/stress_helpers.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

fix: address code review findings from Codex and Gemini
  .config/nextest.toml
  .gitlab-ci.yml
  justfile
  tests/Cargo.toml
  tests/fuzz/fuzz_targets/hls_parsing.rs
  tests/src/hls_fixture/builders.rs
Due: none

refactor(tests): parameterize duplicate decode and HLS tests with #[case]
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_hls/smoke_test.rs
Due: none

docs(tests): update README with new test infrastructure
  tests/README.md
Due: none

refactor(tests): extract HlsStreamBuilder to reduce HLS test setup boilerplate
  tests/src/hls_fixture/builders.rs
  tests/src/hls_fixture/mod.rs
  tests/tests/kithara_hls/basic_playback.rs
  tests/tests/kithara_hls/deferred_abr.rs
  tests/tests/kithara_hls/smoke_test.rs
  tests/tests/kithara_hls/source_seek.rs
Due: none

fix(ci): correct abr_estimator bench package and add test-ultimate target
  justfile
Due: none

fix(tests): remove timeout from selenium tests and add test-ultimate
  .gitignore
  justfile
  tests/tests/kithara_wasm/selenium.rs
Due: none

fix(drm): resolve DRM seek deadlock and cache lookup failures
  Cargo.toml
  crates/kithara-app/src/app.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-wasm/index.html
  tests/bin/fixture_server.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf, bench

refactor(wasm): move Player statics into struct fields
  crates/kithara-wasm/src/player.rs
Due: semver, perf

feat(xtask): add xtask crate skeleton with clap CLI
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  xtask/Cargo.toml
  xtask/src/arch.rs
  xtask/src/main.rs
  xtask/src/perf_compare.rs
  xtask/src/quality.rs
  xtask/src/xcframework.rs
Due: perf, bench

feat(xtask): implement arch validation with cargo_metadata
  xtask/src/arch.rs
Due: none

feat(xtask): implement perf-compare with hotpath metric parsing
  xtask/src/perf_compare.rs
Due: none

feat(xtask): implement quality subcommands
  xtask/src/quality.rs
  xtask/trait-mock-exceptions.txt
Due: none

refactor(ffi): thin Swift bindings and wire apple hardware decoder feature
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/LockedValue.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/WeakRef.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/KitharaPlayerItemTests.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/Cargo.toml
  crates/kithara/Cargo.toml
  scripts/build-xcframework.sh
Due: semver, perf

feat(xtask): implement xcframework build command
  xtask/src/xcframework.rs
Due: none

refactor: migrate CI scripts to xtask and justfile
  .github/workflows/ci.yml.disabled
  .github/workflows/gh-pages.yml.disabled
  .github/workflows/perf.yml.disabled
  .gitlab-ci.yml
  AGENTS.md
  crates/kithara-wasm/README.md
  justfile
  tests/README.md
  tests/tests/kithara_wasm/stress.rs
Due: perf

chore: remove scripts/ directory after xtask migration
  scripts/README.md
  scripts/build-xcframework.sh
  scripts/ci/check-arch.sh
  scripts/ci/check-play-traits-unimock.sh
  scripts/ci/compare-perf.sh
  scripts/ci/memory-check.sh
  scripts/ci/quality-report.sh
  scripts/ci/rstest-audit.sh
  scripts/ci/test-compare-perf.sh
  scripts/ci/trait-mock-audit.sh
  scripts/ci/trait-mock-exceptions.sh
  scripts/ci/trait-mock-exceptions.txt
  scripts/ci/wasm-slim-check.sh
  scripts/ci/wasm-test.sh
Due: none

fix(xtask): address code review findings
  Cargo.toml
  justfile
  xtask/Cargo.toml
  xtask/src/arch.rs
  xtask/src/main.rs
  xtask/src/perf_compare.rs
  xtask/src/quality.rs
  xtask/src/util.rs
  xtask/src/xcframework.rs
Due: perf, bench

refactor(ffi): thin Swift bindings with unified queue and AVPlayer-aligned API
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/Protocols.swift
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/impls/player.rs
  docs/ios-protocol.md
Due: semver, perf

feat: playback rate via resampler + Swift demo improvements
  Cargo.lock
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Package.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-app/src/app.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/rodio/source_impl.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/resource.rs
  justfile
  xtask/src/xcframework.rs
Due: semver, perf, bench

fix(demo): show Failed status badge on load errors
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

docs: add README for Apple Swift package
  apple/README.md
Due: none

feat: remote SPM distribution with just-based CI unification
  .github/workflows/ci.yml.disabled
  .github/workflows/release-apple.yml.disabled
  .gitignore
  .gitlab-ci.yml
  apple/Package.swift
  apple/README.md
  justfile
Due: none

chore: upgrade dependencies (rodio 0.22, postcard, ratatui 0.30, criterion 0.8)
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/error.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-audio/src/rodio/source_impl.rs
  crates/kithara-play/src/impls/rodio_impl.rs
  examples/examples/file_audio.rs
  examples/examples/file_rodio.rs
  examples/examples/hls_audio.rs
  examples/examples/hls_drm_audio.rs
  examples/examples/hls_rodio.rs
  examples/examples/resource_rodio.rs
  tests/Cargo.toml
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/pins_index_integration.rs
Due: semver, perf, bench

fix(test): prevent suite_heavy resource contention with threads-required
  .config/nextest.toml
Due: none

feat(stream): add is_range_ready() to Source trait
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
Due: semver, perf

feat(audio): add is_ready() to AudioWorkerSource trait
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
Due: semver, perf

feat(audio): add shared worker core types (TrackId, ServiceClass, TrackPhase, StepResult)
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
Due: semver, perf

feat(audio): add WorkerWake (Mutex+Condvar) for shared worker thread
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/worker_wake.rs
Due: semver, perf

feat(audio): add AudioWorker — cooperative multi-track shared worker
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-audio/src/pipeline/worker_wake.rs
Due: semver, perf

feat(audio): integrate Audio<S> with shared AudioWorkerHandle
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-audio/src/pipeline/worker_wake.rs
Due: semver, perf

feat(play): wire AudioWorkerHandle through Engine → ResourceConfig → Audio
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/lib.rs
  crates/kithara/src/lib.rs
Due: semver, perf

fix(audio): WASM compatibility for shared worker
  crates/kithara-audio/src/pipeline/audio_worker.rs
Due: semver, perf

chore(audio): update dead_code expect reasons for deferred ServiceClass
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-audio/src/pipeline/worker_wake.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
