Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

chore(kithara-audio): clean up workspace lints (audit clean)
  .config/idioms/baseline.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/types.rs
Due: semver, perf

chore(kithara-hls): clean up workspace lints (audit clean)
  .config/idioms/baseline.toml
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream_index.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

chore(kithara-platform): clean up workspace lints (audit clean)
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-platform/src/cancel_group.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/tokio/task/wasm.rs
  crates/kithara-stream/src/dl/batch.rs
Due: semver, perf

chore(kithara-play): clean up workspace lints (audit clean)
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/offline_backend.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/source_type.rs
  crates/kithara-play/src/internal.rs
Due: semver, perf

chore(kithara-decode): clean up workspace lints (audit clean)
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/gapless/mp3.rs
  crates/kithara-decode/src/gapless/mp4.rs
  crates/kithara-decode/src/gapless/trimmer/tests.rs
  crates/kithara-decode/src/mock.rs
  crates/kithara-decode/src/mp4/tests.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/symphonia/tests.rs
Due: semver, perf

chore(kithara-test-utils): clean up workspace lints (audit clean)
  crates/kithara-test-utils/src/hls_fixture.rs
  crates/kithara-test-utils/src/routes/stream.rs
  crates/kithara-test-utils/src/test_server.rs
  crates/kithara-test-utils/src/wav.rs
  xtask/src/similarity.rs
Due: semver, perf

chore(lints): add rust.no-sentinel-const-alias rule and clean 34 sites
  .config/ast-grep/rust.no-sentinel-const-alias.yml
  .config/ast-grep/rust.no-sentinel-fallback.yml
  Cargo.lock
  crates/kithara-abr/src/controller/throttle.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-events/src/play.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/session/segments.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-probes/src/wire.rs
  crates/kithara-queue/src/queue/state.rs
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/resource.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf, bench

chore(xtask): add 3 arch checks for single-purpose struct anti-patterns
  xtask/src/arch/checks/args_wrapper_struct.rs
  xtask/src/arch/checks/field_always_constant.rs
  xtask/src/arch/checks/field_always_equals_other_field.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/struct_index.rs
  xtask/src/arch/config.rs
Due: none

refactor(audio,events): drop redundant `task_id` from `SeekLifecycle`
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/internal.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/seek.rs
Due: semver, perf

refactor(audio,events): inline seek wrappers via `SegmentLocation`
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/lib.rs
Due: semver, perf

refactor(hls): split `build_pair` into `HlsScheduler::new` + `spawn_source`
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/mod.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

refactor(file): split `FileInner` into source + asset sub-structs
  crates/kithara-file/src/session/download.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
Due: semver, perf

refactor(hls): split `commit_fetch_inline` into request + body
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
Due: semver, perf

refactor(audio,decode): Default rollout for runtime-init fields
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-decode/src/apple/codec.rs
Due: semver, perf

refactor: phase 7 — test fixtures + xtask refinement
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-stream/src/dl/tests.rs
  xtask/src/arch/checks/field_always_constant.rs
Due: semver, perf

chore(xtask): add `cfg_density` arch check for scattered #[cfg] gates
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  xtask/src/arch/checks/cfg_density.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
Due: none

feat(probes,hls): safe-wrapper probe macro + Wave A/B fail-fast + Phase 1 ABR contract
  .config/ast-grep/idioms.join-of-join-alls.yml
  .config/ast-grep/rust.no-lint-suppression.yml
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-probe-macros/src/expand.rs
  crates/kithara-probes/Cargo.toml
  crates/kithara-probes/README.md
  crates/kithara-probes/src/lib.rs
  crates/kithara-probes/src/usdt_wire.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/timeline.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/hls_fixture.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
  crates/kithara-test-utils/src/hls_url.rs
  crates/kithara-test-utils/src/routes/stream.rs
  crates/kithara-test-utils/src/test_server.rs
  tests/Cargo.toml
  tests/tests/abr_contract/helpers.rs
  tests/tests/abr_contract/t6_init_range_outcome_ok_seg0.rs
  tests/tests/kithara_hls/prefetch_403_fails_open.rs
  tests/tests/suite_light.rs
Due: semver, perf, bench

fix(probe-macros): cfg-gate stays inside emit-entry-event branch
  crates/kithara-probe-macros/src/expand.rs
Due: semver, perf

chore(ast-grep): exempt kithara-encode from arch.no-test-in-prod
  .config/ast-grep/arch.no-test-in-prod.yml
Due: none

refactor(test-infra): Phase 1 — rename env_lock, drop wasm test_helpers, inline mp4 cursors
  .config/arch/baseline.toml
  .config/ast-grep/arch.no-test-in-prod.yml
  Cargo.lock
  crates/kithara-decode/src/mp4/test_cursors.rs
  crates/kithara-decode/src/mp4/tests.rs
  crates/kithara-platform/src/env.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/test_env.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/test_helpers.rs
  tests/tests/red_env_guard_leak_thread.rs
Due: semver, perf, bench

refactor(test-infra): extract TestPcmReader into integration tests support crate
  tests/src/audio_mock.rs
  tests/src/lib.rs
  tests/tests/kithara_play/offline_harness_smoke.rs
  tests/tests/kithara_queue/auto_advance.rs
Due: none

refactor(play): unify Resource::from_reader, extract resource tests
  .config/arch/baseline.toml
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/test_helpers.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/resource_internal.rs
Due: semver, perf

refactor(play): promote PlayerResource API, extract player_resource tests
  .config/arch/baseline.toml
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player_resource.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_resource_internal.rs
Due: semver, perf

refactor(play): replace TestPcmReader in player_processor tests with local mock
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

refactor(play): move TestPcmReader-using player_processor tests to integration
  .config/arch/baseline.toml
  Cargo.lock
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  tests/Cargo.toml
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_processor_internal.rs
Due: semver, perf, bench

refactor(play): move TestPcmReader-using player_track tests to integration
  crates/kithara-play/src/impls/player_track.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_track_internal.rs
Due: semver, perf

refactor(play): move TestPcmReader-using player tests to integration
  .config/arch/baseline.toml
  crates/kithara-play/src/impls/player.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_internal.rs
Due: semver, perf

refactor(audio): drop TestPcmReader from kithara-audio mock module
  .config/arch/baseline.toml
  crates/kithara-audio/src/mock.rs
Due: semver, perf

feat(drm,ffi): wildcard "*" + runtime DRM/network hooks + renames
  Cargo.lock
  crates/kithara-drm/README.md
  crates/kithara-drm/src/registry.rs
  crates/kithara-drm/src/tests.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/cipher.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf, bench

feat(apple,android): mirror new FFI surface in Swift/Kotlin wrappers
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Sources/Kithara/Cipher.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/Protocols.swift
Due: none

docs(apple,android): demos + tests + README on the new FFI surface
  android/example/src/main/kotlin/com/kithara/example/DrmSetup.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerItemTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerTest.kt
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/README.md
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
Due: none

fix(apple): align KitharaDemo with renamed FFI surface
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/Kithara/KitharaPlayer.swift
Due: none

feat(play): PlayerImpl owns master cancel + injects per-track child via prepare_config
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

docs(play): document cancel-hierarchy contract in README
  crates/kithara-play/README.md
Due: perf

refactor(audio,play): audio worker thread cancel cascades from player master
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

refactor(file): local source cancel cascades from file config master
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
Due: semver, perf

refactor(hls): rename HlsPeer.wake_cancel → wake_signal (semantic clarity)
  crates/kithara-hls/src/peer.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
