Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(file): rename inner.rs → stream.rs + opt-in module_layers
  .config/arch/module-layers.toml
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/stream.rs
Due: semver, perf

feat(xtask/arch): add single_impl_size check (15th)
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/single_impl_size.rs
  xtask/src/arch/config.rs
Due: perf, bench

refactor(xtask): extract shared infra to common/ for upcoming style namespace
  xtask/src/arch/checks/canonical_types.rs
  xtask/src/arch/checks/direction.rs
  xtask/src/arch/checks/duplicate_error_enums.rs
  xtask/src/arch/checks/file_density.rs
  xtask/src/arch/checks/file_size.rs
  xtask/src/arch/checks/flat_directory.rs
  xtask/src/arch/checks/max_nesting.rs
  xtask/src/arch/checks/mixed_entities.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/module_layers.rs
  xtask/src/arch/checks/readme_presence.rs
  xtask/src/arch/checks/redundant_accessors.rs
  xtask/src/arch/checks/shared_state.rs
  xtask/src/arch/checks/single_impl_size.rs
  xtask/src/arch/checks/single_word_filenames.rs
  xtask/src/arch/checks/stray_rs_files.rs
  xtask/src/arch/config.rs
  xtask/src/arch/mod.rs
  xtask/src/common/baseline.rs
  xtask/src/common/mod.rs
  xtask/src/common/parse.rs
  xtask/src/common/report.rs
  xtask/src/common/violation.rs
  xtask/src/common/walker.rs
  xtask/src/main.rs
  xtask/src/quality.rs
  xtask/src/util.rs
Due: none

feat(xtask/style): scaffold style namespace + Command::Style
  .config/style/baseline.toml
  xtask/src/main.rs
  xtask/src/style/checks/mod.rs
  xtask/src/style/config.rs
  xtask/src/style/mod.rs
Due: none

feat(xtask/style): const_locality check + initial baseline (37 entries)
  .config/style/baseline.toml
  xtask/src/common/parse.rs
  xtask/src/style/checks/const_locality.rs
  xtask/src/style/checks/mod.rs
Due: none

feat(xtask/style): struct_field_order check + baseline (243 entries)
  .config/style/baseline.toml
  xtask/src/style/checks/mod.rs
  xtask/src/style/checks/struct_field_order.rs
  xtask/src/style/config.rs
Due: none

feat(xtask/style): trait_item_order check + baseline (303 entries)
  .config/style/baseline.toml
  xtask/src/style/checks/mod.rs
  xtask/src/style/checks/trait_item_order.rs
  xtask/src/style/config.rs
Due: none

feat(xtask/style): struct_init_order check + baseline (519 entries)
  .config/style/baseline.toml
  xtask/src/style/checks/mod.rs
  xtask/src/style/checks/struct_init_order.rs
  xtask/src/style/config.rs
Due: none

chore(deps): bump rkyv 0.8.16, rustls-platform-verifier 0.7.0, uuid 1.23.1, hyper 1.9.0, clap 4.6.1
  Cargo.lock
  Cargo.toml
Due: perf, bench

feat(xtask/idioms): new namespace + branch_chains check (1 baseline entry)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/branch_chains.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
  xtask/src/idioms/mod.rs
  xtask/src/main.rs
Due: none

feat(xtask/idioms): guard_cascade check + baseline (12 entries)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/guard_cascade.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask/idioms): accumulator_loops check + baseline (6 entries)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/accumulator_loops.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask/idioms): multi_accumulator_loop + parallel_loops checks
  .config/idioms/baseline.toml
  xtask/src/common/parse.rs
  xtask/src/idioms/checks/branch_chains.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/checks/multi_accumulator_loop.rs
  xtask/src/idioms/checks/parallel_loops.rs
  xtask/src/idioms/config.rs
Due: none

feat(lint): no-error-string-match gate + introduce PlayError::Eof
  .config/ast-grep/rust.no-error-message-substring.yml
  .config/ast-grep/rust.no-error-string-match.yml
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  justfile
Due: semver, perf

feat(xtask/arch): redundant_reexport check + baseline (13 entries)
  .config/arch/baseline.toml
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/redundant_reexport.rs
  xtask/src/arch/config.rs
Due: none

refactor(xtask): unify arch/style/idioms under `cargo xtask lint`
  justfile
  xtask/src/lint.rs
  xtask/src/main.rs
Due: none

refactor(justfile): collapse subcommand variants into mode arguments
  justfile
Due: none

refactor(ci/docs): align CI, hooks, and docs with new justfile recipe surface
  .gitlab-ci.yml
  README.md
  android/README.md
  apple/README.md
  crates/kithara-wasm/README.md
  justfile
  tests/README.md
Due: perf

refactor(kithara-file/hls): rename reader_hooks module + reduce cognitive complexity
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  .zed/debug.json
  Cargo.lock
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/internal.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/session/download.rs
  crates/kithara-file/src/session/mod.rs
  crates/kithara-file/src/session/reader.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/source_impl.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/track_switch_race.rs
Due: semver, perf, bench

refactor(hls/lint): drop log-only thin wrapper + extend ast-grep rule to catch them
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

refactor(kithara-file): apply struct/init/item ordering + priority_fn_names rule
  .config/style/baseline.toml
  crates/kithara-file/src/config.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/reader.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/stream.rs
  xtask/src/style/checks/trait_item_order.rs
  xtask/src/style/config.rs
Due: semver, perf

refactor(kithara-bufpool): split pool.rs into pool/ submodule + apply orderings
  .config/arch/baseline.toml
  .config/style/baseline.toml
  crates/kithara-bufpool/src/pool.rs
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/src/pool/mod.rs
  crates/kithara-bufpool/src/pool/owned.rs
  crates/kithara-bufpool/src/pool/pooled.rs
  crates/kithara-bufpool/src/pool/reuse.rs
  crates/kithara-bufpool/src/pool/shard.rs
  crates/kithara-bufpool/src/pool/shared.rs
Due: semver, perf

refactor(kithara-platform): apply trait_item_order + struct field orderings
  .config/style/baseline.toml
  crates/kithara-platform/src/cancel_group.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mpsc.rs
Due: semver, perf

refactor(xtask/lint): better guidance for redundant_accessors + guard_cascade
  xtask/src/arch/checks/redundant_accessors.rs
  xtask/src/idioms/checks/guard_cascade.rs
  xtask/src/style/checks/struct_init_order.rs
Due: none

refactor(kithara-abr/hls): close redundant_accessors P3 by dropping the cloneable variant-index handle
  .config/arch/baseline.toml
  .config/style/baseline.toml
  crates/kithara-abr/src/abr.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara/src/internal.rs
  tests/tests/kithara_hls/seek_variant_switch_after_eof.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf, bench

refactor(kithara-abr): split state.rs into state/ + parallel-compute decision()
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  crates/kithara-abr/src/state.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-abr/src/state/error.rs
  crates/kithara-abr/src/state/mod.rs
  crates/kithara-abr/src/state/view.rs
Due: semver, perf, bench

refactor(kithara-abr): split controller.rs into controller/ + homogeneous fix check_incoherence()
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-abr/src/controller/incoherence.rs
  crates/kithara-abr/src/controller/mod.rs
  crates/kithara-abr/src/controller/peer.rs
  crates/kithara-abr/src/controller/throttle.rs
  crates/kithara-abr/src/controller/tick.rs
Due: semver, perf, bench

refactor(kithara-abr): cleanup — flat_directory + single_word_filenames + README
  .config/arch/baseline.toml
  .config/style/baseline.toml
  crates/kithara-abr/README.md
  crates/kithara-abr/src/estimator.rs
  crates/kithara-abr/src/ewma.rs
  crates/kithara-abr/src/lib.rs
  crates/kithara-abr/tests/state.rs
Due: semver, perf, bench

refactor(ast-grep): enforce declaration-only lib.rs / mod.rs across the workspace
  .config/ast-grep/style.no-functions-in-lib-or-mod-rs.yml
  .config/ast-grep/style.no-items-in-lib-or-mod-rs.yml
  .config/ast-grep/style.no-tests-in-lib-or-mod-rs.yml
  crates/kithara-abr/src/lib.rs
  crates/kithara-abr/src/state/mod.rs
  crates/kithara-abr/src/state/tests.rs
  crates/kithara-abr/tests/state.rs
  crates/kithara-decode/src/apple/decoder.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/backend/mod.rs
  crates/kithara-decode/src/backend/protocol.rs
  crates/kithara-decode/src/backend/tests.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/symphonia/decoder.rs
  crates/kithara-decode/src/symphonia/entry.rs
  crates/kithara-decode/src/symphonia/mod.rs
  crates/kithara-decode/src/symphonia/tests.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/runtime.rs
  justfile
  tests/tests/kithara_abr_integration/mod.rs
  tests/tests/kithara_abr_integration/seek_no_switch.rs
Due: semver, perf, bench

refactor(kithara-wasm): style ordering + single_word filename rename
  .config/arch/baseline.toml
  .config/style/baseline.toml
  crates/kithara-wasm/src/js.rs
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara-wasm/src/worker.rs
Due: semver, perf

fix(xtask/scope): emit `--no-deps` for clippy on per-crate scope
  xtask/src/common/scope.rs
Due: none

refactor(kithara-queue): split queue.rs into queue/ submodule + lock-free runtime atoms
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/lifecycle.rs
  crates/kithara-queue/src/queue/mod.rs
  crates/kithara-queue/src/queue/passthrough.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/state.rs
  crates/kithara-queue/src/queue/types.rs
Due: semver, perf

refactor(kithara-queue): style cleanup — apply ordering rules across the crate
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/lifecycle.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/state.rs
  crates/kithara-queue/src/track.rs
Due: semver, perf

feat(xtask/redundant_accessors): add P4 (delegate-passthrough) + cross-file aggregation
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  xtask/src/arch/checks/redundant_accessors.rs
  xtask/src/arch/config.rs
Due: none

refactor(kithara-queue): drop `player()` escape hatch, route via `delegate!`
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/passthrough.rs
Due: semver, perf

refactor(kithara-assets/pin): refcount per asset_root in PinsIndex
  crates/kithara-assets/src/index/pin.rs
Due: semver, perf

feat(kithara-assets): introduce FlushHub + Flushable trait, migrate Pins/Lru
  crates/kithara-assets/src/index/flush.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf

feat(kithara-assets): migrate AvailabilityIndex to FlushHub, drop CheckpointSignal
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/flush.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/auto_checkpoint.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
