Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(assets): share store state through one arc
  crates/kithara-assets/src/decorator/eviction/router.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/demand.rs
  crates/kithara-assets/src/index/transaction.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-assets/src/store/chain.rs
  crates/kithara-assets/src/store/handle.rs
  crates/kithara-assets/src/store/mod.rs
Due: semver, perf

refactor(assets): expose eviction limits directly
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/main.rs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/lru/mod.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/stream/hls.rs
  tests/src/hls_fixture/assets.rs
  tests/tests/kithara_assets/eviction_bytes_integration.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/index_persistence.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/processing_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/resource_state.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
Due: semver, perf

refactor(stream): remove default config requirement
  crates/kithara-stream/src/stream.rs
Due: semver, perf

feat(ffi): register protocol cache layouts
  Package.swift
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  apple/Sources/Kithara/CacheLayout.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/CacheLayoutTests.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  crates/kithara-ffi/src/core/config.rs
  crates/kithara-ffi/src/core/layout.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/config.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/native/layout.rs
  xtask/src/apple.rs
Due: semver, perf

test(assets): enforce layout callback boundary
  apple/Sources/Kithara/CacheLayout.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-assets/src/layout/contract.rs
  crates/kithara-ffi/src/core/layout.rs
  crates/kithara-ffi/src/native/layout.rs
Due: semver, perf

test(assets): align shared-store integration contracts
  tests/tests/kithara_hls/keys_integration.rs
  tests/tests/thread_budget.rs
Due: none

test(play): run socket recovery on real clock
  tests/tests/kithara_play/resource_regressions.rs
Due: none

docs(assets): define cache layout contract
  apple/README.md
  apple/Sources/Kithara/CacheLayout.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/README.md
  crates/kithara-assets/src/layout/contract.rs
  crates/kithara-assets/src/layout/resource.rs
  crates/kithara-ffi/CONTEXT.md
  crates/kithara-ffi/README.md
  crates/kithara-ffi/src/core/config.rs
  crates/kithara-ffi/src/core/layout.rs
  crates/kithara-file/CONTEXT.md
  crates/kithara-file/README.md
  crates/kithara-file/src/lib.rs
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/README.md
Due: semver, perf

feat(android): expose cache layout registry
  android/README.md
  android/lib/build.gradle.kts
  android/lib/src/main/kotlin/com/kithara/CacheLayout.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/test/kotlin/com/kithara/KitharaPlayerConfigTest.kt
  crates/kithara-ffi/CONTEXT.md
Due: perf

fix(android): restore native builds
  android/README.md
  crates/kithara-abr/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/src/native/android_test.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-resampler/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-stretch/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/probe/real/mod.rs
  crates/kithara-test-utils/src/probe/real/noop.rs
  crates/kithara-test-utils/src/probe/real/wire.rs
  crates/kithara/Cargo.toml
Due: semver, perf, bench

fix(lint): align quality gates with current contracts
  .config/xtask.toml
  crates/kithara-devtools/src/idioms/checks/retry_fallback.rs
  crates/kithara-events/src/downloader.rs
Due: semver, perf

refactor(ffi): own asset store lifecycle in Rust
  crates/kithara-assets/src/layout/registry.rs
  crates/kithara-ffi/src/core/config.rs
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/native/asset/mod.rs
  crates/kithara-ffi/src/native/asset/registry.rs
  crates/kithara-ffi/src/native/asset/store.rs
  crates/kithara-ffi/src/native/config.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/native/mod.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/src/player/mod.rs
  crates/kithara-ffi/src/player/tests.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/surface.rs
Due: semver, perf

refactor(apple): route asset configuration through Rust
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
  apple/README.md
  apple/Sources/Kithara/AssetStore.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/AssetStoreTests.swift
  apple/Tests/KitharaTests/CacheLayoutTests.swift
Due: none

refactor(android): route asset configuration through Rust
  android/README.md
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaInitTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/SilvercometEnqueueTest.kt
  android/lib/src/main/kotlin/com/kithara/AssetLayout.kt
  android/lib/src/main/kotlin/com/kithara/CacheLayout.kt
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/test/kotlin/com/kithara/KitharaPlayerConfigTest.kt
Due: none

docs(ffi): define native asset ownership
  crates/kithara-ffi/CONTEXT.md
  crates/kithara-ffi/README.md
Due: perf

feat(play): add exact session transport timeline
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/cursor.rs
  crates/kithara-audio/src/audio/cursor/varispeed.rs
  crates/kithara-audio/src/effects/transport.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/Cargo.toml
  crates/kithara-play/README.md
  crates/kithara-play/src/api/mod.rs
  crates/kithara-play/src/api/transport.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/engine/mod.rs
  crates/kithara-play/src/engine/transport.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/rt/context/commit.rs
  crates/kithara-play/src/rt/context/mod.rs
  crates/kithara-play/src/rt/context/model.rs
  crates/kithara-play/src/rt/context/node.rs
  crates/kithara-play/src/rt/mod.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-play/src/session/mod.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/state.rs
  crates/kithara-play/src/session/transport.rs
  crates/kithara-workspace-hack/Cargo.toml
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/session_transport.rs
Due: semver, perf, bench

feat(audio,play): bind analyzed tracks to session beats
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-audio/src/analysis/analyzer/session.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/track.rs
  crates/kithara-audio/src/analysis/worker/task.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/musical/map.rs
  crates/kithara-audio/src/musical/mod.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/README.md
  crates/kithara-play/src/api/binding.rs
  crates/kithara-play/src/api/mod.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/mod.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/player_track_internal.rs
  tests/tests/kithara_play/track_binding.rs
Due: semver, perf

feat(play): share one render context per graph block
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/README.md
  crates/kithara-play/src/rt/context/commit.rs
  crates/kithara-play/src/rt/context/mod.rs
  crates/kithara-play/src/rt/context/model.rs
  crates/kithara-play/src/rt/context/node.rs
  crates/kithara-play/src/rt/context/tests.rs
  crates/kithara-play/src/rt/node.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/mod.rs
  crates/kithara-play/src/rt/track/read.rs
  crates/kithara-play/src/session/graph.rs
Due: semver, perf

feat(audio,play): add source audio sidecar and range cache
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/core/tests.rs
  crates/kithara-audio/src/pipeline/decode/step.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track/decode.rs
  crates/kithara-audio/src/pipeline/track/seek.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/pipeline/track/tests/splice.rs
  crates/kithara-audio/src/renderer/node.rs
  crates/kithara-audio/src/renderer/source.rs
  crates/kithara-audio/src/renderer/tests.rs
  crates/kithara-audio/src/runtime/ports.rs
  crates/kithara-audio/src/source_audio/cache.rs
  crates/kithara-audio/src/source_audio/connection.rs
  crates/kithara-audio/src/source_audio/mod.rs
  crates/kithara-audio/src/source_audio/model.rs
  crates/kithara-audio/src/source_audio/reader.rs
  crates/kithara-audio/src/source_audio/tap.rs
  crates/kithara-audio/src/source_audio/tests.rs
  crates/kithara-play/src/resource/reader.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/source_audio_sidecar.rs
Due: semver, perf

test(assets): exercise layout contract directly
  crates/kithara-assets/tests/availability_api.rs
  crates/kithara-assets/tests/availability_persistence.rs
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-assets/tests/ctx_erasure.rs
  crates/kithara-assets/tests/eviction_subscription.rs
  crates/kithara-assets/tests/inflight_sharing.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
  crates/kithara-assets/tests/support/mod.rs
  tests/tests/kithara_assets/eviction_bytes_integration.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/index_persistence.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/processing_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/resource_state.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
  tests/tests/kithara_assets/support.rs
Due: perf

fix(devtools): configure retry identifier allowlist
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/retry_fallback.rs
  crates/kithara-devtools/src/idioms/config.rs
Due: semver, perf

fix(decode): use required pool in webcodecs factory
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

docs(play): record session transport implementation plan
  docs/plans/2026-07-15-session-transport-design.md
  docs/plans/2026-07-15-session-transport-plan.md
Due: none

fix(ffi): use canonical wasm player module
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-ffi/src/web/surface.rs
Due: semver, perf

refactor(play): isolate player platform bindings
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/mod.rs
  crates/kithara-play/src/player/platform/mod.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/state/mod.rs
  crates/kithara-play/src/player/state/playlist.rs
  crates/kithara-play/src/rt/track/mod.rs
Due: semver, perf

test(audio): avoid racy pool miss accounting
  tests/tests/kithara_audio/audio_tests.rs
Due: none

test(net): isolate unreachable URL fixture
  tests/tests/kithara_net/http_client.rs
Due: none

fix(stretch): accept exact elastic rate limits
  crates/kithara-play/src/player/track/elastic.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/src/elastic/rate_envelope.rs
  crates/kithara-stretch/src/elastic/signalsmith.rs
Due: semver, perf

feat(play): commit multi-player tempo atomically
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/engine/transport.rs
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/player/node/command.rs
  crates/kithara-play/src/player/node/processor.rs
  crates/kithara-play/src/player/node/render.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/state/playlist.rs
  crates/kithara-play/src/player/track/mod.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/transport.rs
  docs/plans/2026-07-15-session-transport-plan.md
  tests/tests/common/offline_player_harness.rs
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf

feat(play): commit transactional session seek
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/bridge/protocol.rs
  crates/kithara-play/src/engine/transport.rs
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/player/flow/binding.rs
  crates/kithara-play/src/player/flow/mod.rs
  crates/kithara-play/src/player/flow/session.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/player/mod.rs
  crates/kithara-play/src/player/node/command.rs
  crates/kithara-play/src/player/node/processor.rs
  crates/kithara-play/src/player/platform/browser.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/track/core.rs
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/native.rs
  crates/kithara-play/src/player/track/preparation.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/render/commit.rs
  crates/kithara-play/src/session/render/context.rs
  crates/kithara-play/src/session/render/tests.rs
  crates/kithara-play/src/session/transport.rs
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf

feat(play): join bound tracks at exact session beats
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/protocol.rs
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/player/flow/binding.rs
  crates/kithara-play/src/player/flow/session.rs
  crates/kithara-play/src/player/node/command.rs
  crates/kithara-play/src/player/node/render.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/track/core.rs
  crates/kithara-play/src/player/track/native.rs
  crates/kithara-play/src/player/track/preparation.rs
  crates/kithara-play/src/player/track/read.rs
  crates/kithara-play/src/session/render/context.rs
  crates/kithara-play/src/session/render/tests.rs
  docs/plans/2026-07-15-session-transport-plan.md
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf

feat(play): render file sources in reverse
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/player/flow/binding.rs
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/elastic_source.rs
  crates/kithara-play/src/player/track/preparation.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-play/src/resource/mod.rs
  crates/kithara-play/src/resource/native.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/src/elastic/capabilities.rs
  crates/kithara-stretch/src/elastic/tests.rs
  docs/plans/2026-07-15-session-transport-plan.md
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf

feat(play): render single-variant HLS in reverse
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/preparation.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-play/src/resource/reader.rs
  docs/plans/2026-07-15-session-transport-plan.md
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf
