Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(app): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf

refactor(assets): move module-level constants into functions to satisfy style.multiple-private-module-consts
  crates/kithara-assets/src/key.rs
Due: semver, perf

refactor(audio): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/runtime/scheduler.rs
Due: semver, perf

refactor(bufpool): move module-level constants and statics into functions to satisfy style.multiple-private-module-consts
  crates/kithara-bufpool/src/global.rs
  crates/kithara-bufpool/src/pool.rs
Due: semver, perf

refactor(decode): move module-level constants into functions and impls to satisfy style.multiple-private-module-consts
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/mock.rs
Due: semver, perf

refactor(drm): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-drm/src/cipher.rs
  crates/kithara-drm/src/context.rs
Due: semver, perf

refactor(encode): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/bytes.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/test_pcm.rs
Due: semver, perf

refactor(ffi): move module-level constants and statics into impls and functions to satisfy style.multiple-private-module-consts
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/logging.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

refactor(hang-detector): move module-level constants into impl blocks and functions to satisfy style.multiple-private-module-consts
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-hang-detector/src/tests.rs
Due: semver, perf

refactor(hls): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/peer.rs
Due: semver, perf

refactor(net): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-net/src/error.rs
Due: semver, perf

fix(decode): fix missing Self:: prefix in apple.rs constants
  crates/kithara-decode/src/apple.rs
Due: semver, perf

refactor(platform): move module-level constants into functions to satisfy style.multiple-private-module-consts
  crates/kithara-platform/src/thread.rs
Due: semver, perf

refactor(play): move module-level constants and statics into impl blocks and functions to satisfy style.multiple-private-module-consts
  crates/kithara-play/src/impls/offline_backend.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/internal.rs
Due: semver, perf

refactor(queue): move module-level constants into functions to satisfy style.multiple-private-module-consts
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(stream): move module-level constants into functions to satisfy style.multiple-private-module-consts
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor(test-utils): consolidate module-level constants into a shared consts module
  crates/kithara-test-utils/src/consts.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/signal_spec.rs
Due: semver, perf

refactor(storage): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-storage/src/mmap.rs
Due: semver, perf

refactor(wasm): move module-level constants and statics into impl blocks and functions to satisfy style.multiple-private-module-consts
  crates/kithara-wasm/src/js_channel.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara-wasm/src/worker_entry.rs
Due: semver, perf

refactor(storage): move constants into private struct to satisfy style.multiple-private-module-consts
  crates/kithara-storage/src/mmap.rs
Due: semver, perf

refactor(xtask): move module-level constants into functions and structs to satisfy style.multiple-private-module-consts
  xtask/src/android.rs
  xtask/src/arch.rs
  xtask/src/wasm.rs
Due: none

refactor(tests,xtask): move module-level constants and statics into appropriate scopes
  tests/src/audio_fixture.rs
  tests/tests/common/test_defaults.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/stress_seek_random.rs
  tests/tests/kithara_decode/stress_timeline.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/multi_instance/failure_resilience.rs
  xtask/src/arch.rs
  xtask/src/wasm.rs
Due: none

refactor(tests): move constants into appropriate scopes in several test files
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/ephemeral.rs
Due: none

refactor(tests): manual refactor of constants and statics in several files
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_wasm/stress.rs
Due: none

refactor(tests): relocate constants in stress_seek_lifecycle and wait_range_contract
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: none

refactor(tests): relocate constants in file_source and red_leak_small_cache_seek
  tests/perf/memory_rss.rs
  tests/tests/kithara_file/file_source.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/red_leak_small_cache_seek.rs
  tests/tests/kithara_hls/seek_past_eof.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_play/red_crossfade_hls_to_mp3_blocks_render.rs
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
Due: perf

refactor(tests): relocate constants in live_stress_real_mp3 and selenium
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_wasm/selenium.rs
Due: none

refactor(tests): relocate constants in resource_regressions.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: none

refactor(tests): relocate constants in stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
Due: none

refactor(tests): final relocation of constants and statics in tests and benches
  tests/benches/refactor_hotpaths.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: none

refactor: finalize constant relocation and fix syntax in tests
  .config/ast-grep/style.no-impl-only-consts.yml
  crates/kithara-drm/src/cipher.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-play/src/impls/session_engine.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
Due: semver, perf

fix(hls): reject text/html responses before caching (TDD)
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  tests/tests/kithara_hls/html_error_body.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(hls): add tracing log and comment for HTML content-type rejection
  crates/kithara-hls/src/loading/atomic_fetch.rs
Due: semver, perf

chore(lint): fix no-magic-numbers advisory warnings
  .config/ast-grep/style.multiple-private-module-consts.yml
  .config/ast-grep/style.no-deep-qualified-paths.yml
  .config/ast-grep/style.no-magic-numbers.yml
  .config/ast-grep/style.no-separator-comments-toml.yml
  crates/kithara-app/src/gui/app.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

feat(stream): per-request response validator on FetchCmd, reject text/html at HLS and file call sites
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-net/src/error.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
Due: semver, perf

refactor(stream): consolidate reject_html_response, fix imports and tracing
  Cargo.lock
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/mod.rs
Due: semver, perf, bench

fix(ffi,android): bridge jni 0.21 for rustls-platform-verifier init
  Cargo.lock
  Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
Due: semver, perf, bench

fix(android): allow cleartext to LE CRL endpoints for TLS revocation
  android/lib/src/main/AndroidManifest.xml
  android/lib/src/main/res/xml/network_security_config.xml
Due: none

test(android): Silvercomet enqueue regression + disable read-only API test
  android/lib/src/androidTest/AndroidManifest.xml
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerItemTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/SilvercometEnqueueTest.kt
  android/lib/src/androidTest/res/xml/network_security_config.xml
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
