Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

chore(macros): unify proc-macro deps in workspace
  Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-wasm-macros/Cargo.toml
Due: semver, perf, bench

ci: align lint toolchain with ast-grep and advisory machete
  .github/workflows/ci.yml.disabled
  .gitlab-ci.yml
Due: none

feat(wasm): add main-thread guard and assert_not_main_thread macro
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/tokio/task/wasm.rs
  crates/kithara-play/src/wasm_support.rs
  crates/kithara-wasm-macros/src/lib.rs
  crates/kithara-wasm/src/worker_entry.rs
Due: semver, perf

docs(readme): unify crate docs and refresh workspace overview
  README.md
  crates/kithara-abr/README.md
  crates/kithara-app/README.md
  crates/kithara-assets/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-events/README.md
  crates/kithara-file/README.md
  crates/kithara-hang-detector/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-tui/README.md
  crates/kithara-ui/README.md
  crates/kithara-wasm-macros/README.md
  crates/kithara-wasm/README.md
  crates/kithara/README.md
Due: perf, bench

docs(readme): restore badges and architecture mermaid
  README.md
Due: none

Revert "docs(readme): unify crate docs and refresh workspace overview"
  README.md
  crates/kithara-abr/README.md
  crates/kithara-app/README.md
  crates/kithara-assets/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-events/README.md
  crates/kithara-file/README.md
  crates/kithara-hang-detector/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-tui/README.md
  crates/kithara-ui/README.md
  crates/kithara-wasm-macros/README.md
  crates/kithara-wasm/README.md
  crates/kithara/README.md
Due: perf, bench

Revert "docs(readme): restore badges and architecture mermaid"
  README.md
Due: none

docs(readme): refresh crate docs and add missing readmes
  README.md
  crates/kithara-abr/README.md
  crates/kithara-app/README.md
  crates/kithara-assets/README.md
  crates/kithara-audio/README.md
  crates/kithara-bufpool/README.md
  crates/kithara-decode/README.md
  crates/kithara-drm/README.md
  crates/kithara-events/README.md
  crates/kithara-file/README.md
  crates/kithara-hang-detector/README.md
  crates/kithara-hls/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-play/README.md
  crates/kithara-storage/README.md
  crates/kithara-stream/README.md
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
  crates/kithara-tui/README.md
  crates/kithara-ui/README.md
  crates/kithara-wasm-macros/README.md
  crates/kithara-wasm/README.md
  crates/kithara/README.md
  scripts/README.md
  tests/README.md
Due: perf, bench

chore(lint): remove semgrep config and references
  AGENTS.md
  CLAUDE.md
  semgrep.yml
Due: none

docs: remove tracked markdown files from docs directory
  docs/plans/2026-02-20-seek-architecture-comparison.md
  docs/plans/2026-02-21-seek-refactoring-design.md
  docs/plans/2026-02-21-seek-refactoring-plan.md
Due: none

docs(readme): refine project status and intro wording
  README.md
Due: none

chore(hooks): show pre-push banner and verbose output
  .pre-commit-config.yaml
Due: none

deploy(wasm): publish optimized release build
  index.html
  kithara-wasm.js
  kithara-wasm_bg.wasm
  snippets/kithara-platform-98e2a21a0f0b811c/inline0.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline0.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline1.js
Due: none

chore(deps): run cargo upgrade
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): remove unused dependencies reported by cargo machete
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-tui/Cargo.toml
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/README.md
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara/Cargo.toml
  examples/Cargo.toml
  tests/Cargo.toml
Due: semver, perf, bench

fix(docs): make kithara-stream writer doctest url-import free
  crates/kithara-stream/src/writer.rs
Due: semver, perf

feat(ffi): add kithara-ffi crate skeleton (Phase 1.1)
  Cargo.lock
  Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf, bench

feat(ffi): add FFI types and conversions (Phase 1.2)
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf, bench

refactor(bufpool): fix buffer reuse, add stats, tune shards, generic ensure_len
  crates/kithara-audio/src/resampler.rs
  crates/kithara-bufpool/src/global.rs
  crates/kithara-bufpool/src/internal.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-bufpool/src/pool.rs
  crates/kithara-bufpool/tests/tests.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-decode/src/types.rs
Due: semver, perf

feat(ffi): add observer traits, item, player and event bridge (Phase 1.3-1.6)
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

feat(ffi): add UniFFI scaffolding with cfg_attr annotations (Phase 2.1)
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-ffi/uniffi.toml
Due: semver, perf

feat(ffi): add xcframework build script and uniffi-bindgen binary (Phase 2.2-2.3)
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/uniffi_bindgen.rs
  scripts/build-xcframework.sh
Due: semver, perf, bench

feat(ffi): add Swift wrapper layer with Combine publishers (Phase 3)
  .gitignore
  Cargo.lock
  Cargo.toml
  apple/Package.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/LockedValue.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/KitharaPlayerItemTests.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  scripts/build-xcframework.sh
Due: perf, bench

fix(tests): resolve hotpath guard panic and HLS benchmark instability
  Cargo.lock
  tests/Cargo.toml
  tests/benches/bufpool.rs
  tests/benches/refactor_hotpaths.rs
  tests/perf/pool.rs
Due: perf, bench

fix(swift): address code review findings for Phase 3
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/WeakRef.swift
Due: none

feat(swift): add demo app with XcodeGen (Phase 4)
  .gitignore
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/project.yml
Due: none

feat(ffi): wire event bridge to PlayerImpl (Phase 5)
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf

chore(lint): migrate remaining semgrep style rules to ast-grep
  justfile
  rules/ast-grep/style.no-deep-qualified-paths.yml
  rules/ast-grep/style.no-inline-qualified-paths.yml
  rules/ast-grep/style.no-local-use-in-prod-functions.yml
  rules/ast-grep/style.no-separator-comments-toml.yml
  sgconfig.yml
Due: none

test(perf): add RSS memory profiling tests for HLS playback
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/tests/alloc_free_hotpath.rs
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/tests/alloc_regression.rs
  crates/kithara-bufpool/tests/memory_budget.rs
  scripts/ci/memory-check.sh
  tests/Cargo.toml
  tests/perf/memory_rss.rs
Due: semver, perf, bench

refactor(ffi): migrate to kithara-platform primitives and apply code review fixes
  Cargo.lock
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/project.yml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf, bench

fix(ffi): spawn Resource::new on FFI_RUNTIME to provide Tokio reactor context
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf, bench

Fix flaky bufpool alloc regression tests
  Cargo.lock
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/tests/alloc_regression.rs
Due: semver, perf, bench

Consolidate workspace test suites
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/tests/alloc_regression.rs
  tests/Cargo.toml
  tests/README.md
  tests/benches/abr_estimator.rs
  tests/perf/suite_perf.rs
  tests/tests/integration.rs
  tests/tests/kithara_audio/alloc_free_hotpath.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_bufpool/alloc_regression.rs
  tests/tests/kithara_bufpool/memory_budget.rs
  tests/tests/kithara_bufpool/mod.rs
  tests/tests/kithara_bufpool/pool_core.rs
  tests/tests/kithara_bufpool/pool_reuse.rs
  tests/tests/kithara_bufpool/pool_stats.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_play/engine_tests.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_stream/architecture_progressive_download.rs
  tests/tests/kithara_stream/mod.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
  tests/tests/kithara_stream/writer_no_auto_commit.rs
  tests/tests/kithara_stream/writer_with_offset.rs
  tests/tests/suite_heavy.rs
  tests/tests/suite_light.rs
  tests/tests/timeout_guard.rs
Due: semver, perf, bench

Track kithara-ui icon assets
  .gitignore
  crates/kithara-ui/assets/icons/disc.svg
  crates/kithara-ui/assets/icons/faders.svg
  crates/kithara-ui/assets/icons/gear.svg
  crates/kithara-ui/assets/icons/music-note.svg
  crates/kithara-ui/assets/icons/pause.svg
  crates/kithara-ui/assets/icons/play.svg
  crates/kithara-ui/assets/icons/playlist.svg
  crates/kithara-ui/assets/icons/repeat-once.svg
  crates/kithara-ui/assets/icons/repeat.svg
  crates/kithara-ui/assets/icons/shuffle.svg
  crates/kithara-ui/assets/icons/skip-back.svg
  crates/kithara-ui/assets/icons/skip-forward.svg
  crates/kithara-ui/assets/icons/speaker-high.svg
  crates/kithara-ui/assets/icons/speaker-low.svg
  crates/kithara-ui/assets/icons/speaker-x.svg
Due: perf

Add tokio dep for examples
  Cargo.lock
  examples/Cargo.toml
Due: perf, bench

Clean up production merge artifacts
  Cargo.lock
  Cargo.toml
  tests/tests/kithara_stream/writer_no_auto_commit.rs
  tests/tests/kithara_stream/writer_with_offset.rs
Due: perf, bench

fix: initialize hotpath guard in memory_rss perf tests
  tests/perf/memory_rss.rs
Due: perf

refactor(tests): collect scattered audio constants into SawWav struct
  tests/tests/common/mod.rs
  tests/tests/common/test_defaults.rs
  tests/tests/kithara_decode/stress_seek_random.rs
  tests/tests/kithara_decode/stress_timeline.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
  tests/tests/suite_heavy.rs
  tests/tests/suite_light.rs
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
