Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(ffi,android): offline capture + cpal format probe JNIs for audio diagnostics
  Cargo.lock
  Cargo.toml
  android/lib/src/androidTest/assets/test.mp3
  android/lib/src/androidTest/kotlin/com/kithara/AudioFormatProbeTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/OfflineCaptureTest.kt
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android_test.rs
  crates/kithara-ffi/src/lib.rs
  xtask/src/android.rs
Due: semver, perf, bench

fix(hls): drop stale on_complete callbacks from prior seek epoch (TDD)
  crates/kithara-hls/src/peer.rs
  tests/tests/kithara_hls/cancel_isolation.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(assets): auto-flush availability.bin on commit debounce + cancel (TDD)
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/auto_checkpoint.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf, bench

test(hls): pin cleanup + no-retry-storm invariants for html-on-playlist
  tests/tests/kithara_hls/html_error_cleanup.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: none

fix(file): evict pre-allocated mmap on download failure (TDD)
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  tests/tests/kithara_file/html_error_cleanup.rs
  tests/tests/suite_light.rs
Due: semver, perf

style(tests): import kithara_platform::tokio::time helpers at file top
  crates/kithara-assets/tests/auto_checkpoint.rs
  tests/tests/kithara_file/html_error_cleanup.rs
  tests/tests/kithara_hls/html_error_cleanup.rs
Due: perf

added GEMINI.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix(tests): migrate perf tests to hotpath 0.15 API
  tests/perf/abr.rs
  tests/perf/decoder.rs
  tests/perf/memory_rss.rs
  tests/perf/pool.rs
  tests/perf/resampler.rs
  tests/perf/storage.rs
Due: perf

fix(tests): restore memory_rss timeout budget for HLS playback (TDD)
  tests/perf/memory_rss.rs
Due: perf

fix(tests/fuzz): add kithara-play features for non-wasm build
  tests/fuzz/Cargo.toml
Due: none

chore(justfile): add test-with-perf recipe for optional CI gating
  justfile
Due: none

perf(gui): slow iced tick to 2 Hz while paused
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/subscription.rs
Due: semver, perf

perf(audio): skip EQ filter chain at unity or full silence
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

perf(gui): drop event logger from info to trace level
  crates/kithara-app/src/gui/app.rs
Due: semver, perf

test(kithara-play): RED repro for silvercomet HLS/MP3 seek hang
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
Due: none

fix(audio): recover direct seek via decoder recreation, emit SeekRejected
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

test(kithara-decode): isolate root cause of decoder.seek failure
  tests/tests/kithara_decode/symphonia_seek_stale_duration.rs
  tests/tests/suite_light.rs
Due: none

fix(audio): gate direct seek on target-byte readiness before decoder.seek
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

fix(kithara-hls): lock ABR for the full pending-seek window
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

fix(kithara-hls): fall back to ABR variant when layout strands seek target
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(kithara-hls): require Reset for cross-variant seek in classify_seek
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/source/types.rs
Due: semver, perf

fix(audio): recreate decoder on variant switch during seek alignment
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

test(silvercomet): stabilize seek-hang regression on live network
  Cargo.lock
  tests/Cargo.toml
  tests/tests/kithara_play/silvercomet_seek_hang.rs
Due: perf, bench

fix(net): truncate HTTP error body in NetError::HttpError
  crates/kithara-net/src/client.rs
Due: semver, perf

test(audio): align variant-seek assertions with decoder-recreation contract
  tests/tests/kithara_audio/stream_source_tests.rs
Due: none

update AGENTS.md
  AGENTS.md
Due: none

test(hls,audio): Task 1 — property tests for seek-anchor/ABR invariants
  crates/kithara-hls/src/source/tests.rs
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_audio/recreate_boundary_property.rs
Due: semver, perf

fix(hls): Task 2 — decouple resolve_seek_anchor from ABR variant
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/tests.rs
Due: semver, perf

chore(stream): add bitflags workspace dep
  Cargo.lock
  crates/kithara-stream/Cargo.toml
Due: semver, perf, bench

refactor(stream): collapse Timeline bools into bitflags AtomicU8
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(stream): remove TransferCoordination trait
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/coordination.rs
  crates/kithara-stream/src/internal.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  crates/kithara-test-utils/src/signal_source.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/recreate_boundary_property.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: semver, perf

feat(stream): expose PLAYING flag API on Timeline
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

feat(audio): publish PLAYING on FSM transitions
  crates/kithara-audio/src/pipeline/source.rs
Due: semver, perf

feat(hls,file): priority() tracks Timeline::is_playing
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

test(stream): priority-driven Registry routing integration tests
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

Revert "fix(hls): Task 2 — decouple resolve_seek_anchor from ABR variant"
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/tests.rs
Due: semver, perf

Revert "test(hls,audio): Task 1 — property tests for seek-anchor/ABR invariants"
  crates/kithara-hls/src/source/tests.rs
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_audio/recreate_boundary_property.rs
Due: semver, perf

fix(hls): narrow resolve_seek_anchor ABR fallback to stranded layouts
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

refactor(events): migrate ABR shared vocabulary and add AbrEvent
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/abr.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-events/src/lib.rs
Due: semver, perf, bench
