Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(beat): name the click fixture constants as test constants
  crates/kithara-beat/src/dsp/clicks.rs
Due: semver, perf

refactor(analysis): publish a grid at the level the detector reports
  PROGRESS.md
  crates/kithara-analysis/src/analyzer/config.rs
  crates/kithara-analysis/src/grid/core.rs
  crates/kithara-analysis/src/grid/mod.rs
  crates/kithara-analysis/src/grid/octave.rs
Due: semver, perf

refactor(beat): keep each detector's constants in one module
  crates/kithara-beat/src/dsp/clicks.rs
  crates/kithara-beat/src/dsp/consts.rs
  crates/kithara-beat/src/dsp/decode.rs
  crates/kithara-beat/src/dsp/frames.rs
  crates/kithara-beat/src/dsp/mod.rs
  crates/kithara-beat/src/dsp/novelty.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tracker.rs
  crates/kithara-beat/src/nn/consts.rs
  crates/kithara-beat/src/nn/inference.rs
  crates/kithara-beat/src/nn/mel.rs
  crates/kithara-beat/src/nn/mod.rs
  crates/kithara-beat/src/nn/postprocess.rs
Due: semver, perf

refactor(beat): make the searched tempo a value the caller names
  PROGRESS.md
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/analyzer/config.rs
  crates/kithara-analysis/src/beat/backend/build.rs
  crates/kithara-analysis/src/beat/backend/dsp.rs
  crates/kithara-analysis/src/beat/backend/nn.rs
  crates/kithara-analysis/src/model/disabled.rs
  crates/kithara-analysis/src/model/enabled.rs
  crates/kithara-analysis/src/slots/beat.rs
  crates/kithara-beat/CONTEXT.md
  crates/kithara-beat/src/dsp/consts.rs
  crates/kithara-beat/src/dsp/mod.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tempo.rs
  crates/kithara-beat/src/dsp/tracker.rs
  crates/kithara-beat/src/lib.rs
  crates/kithara-beat/tests/degara.rs
Due: semver, perf

test(offline): render the offline harness in the browser
  tests/Cargo.toml
  tests/README.md
  tests/src/lib.rs
  tests/src/offline/host.rs
  tests/src/offline/mod.rs
  tests/src/offline/player.rs
  tests/src/offline/worker.rs
  tests/tests/kithara_play/offline_browser.rs
  tests/tests/suite_heavy.rs
Due: none

test(wasm): hear the live browser graph, and fix what kept it silent
  .cargo/config.toml
  .config/just/test.just
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/event.rs
  crates/kithara-audio/src/audio/ring.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-events/src/deferred.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-host/src/session/offline/client.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/wasm/logging.rs
  crates/kithara-platform/src/wasm/thread.rs
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/prepare.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/resource/build.rs
  crates/kithara-play/src/resource/config.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/worker/reader.rs
  tests/Cargo.toml
  tests/src/audio_mock.rs
  tests/tests/kithara_ffi_web/stress.rs
  tests/tests/kithara_play/player_internal.rs
  tests/tests/suite_live_web_audio.rs
Due: semver, perf, bench

fix(host): let a dropped web stream reach the restart owner
  crates/kithara-host/src/session/dispatch.rs
  crates/kithara-host/src/session/state.rs
  crates/kithara-host/src/session/web/bridge.rs
Due: semver, perf

test(wasm): name the stage a lost session died at, and split the harness by target
  .config/just/test.just
  crates/kithara-events/src/deferred.rs
  crates/kithara-platform/src/wasm/logging.rs
  tests/src/offline/host.rs
  tests/src/offline/mod.rs
  tests/src/offline/owner.rs
  tests/src/offline/ticker.rs
  tests/src/offline/worker/mod.rs
  tests/src/offline/worker/native.rs
  tests/src/offline/worker/wasm.rs
  tests/tests/suite_live_web_audio.rs
Due: semver, perf

feat(host)!: carry the web audio backend on wasm32 unconditionally
  .config/just/platform.just
  .config/just/test.just
  .config/xtask.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-host/Cargo.toml
  crates/kithara/ARCHITECTURE.md
  crates/kithara/Cargo.toml
  tests/Cargo.toml
Due: semver, perf

feat(platform): abort a spawned task on wasm32
  .config/just/test.just
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/wasm/tokio/task.rs
Due: semver, perf

test(platform): run the cancel tests in the browser through the platform facade
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-platform/src/common/cancel/token.rs
Due: semver, perf

style(ci): drop the redundant comment on the wasm host check
  .config/just/platform.just
Due: none

revert(ci): keep the xtask feature-invariant comment untouched
  .config/xtask.toml
Due: none

docs(ci): name the browser backend by how it arrives, not by a feature
  .config/xtask.toml
Due: none

fix(ffi): enable the host facade in wasm builds
  crates/kithara-ffi/Cargo.toml
Due: semver, perf

chore(android): keep the native-test Gradle cache out of git
  .gitignore
Due: none

fix(decode): let the Android extractor open a source of unknown length
  crates/kithara-decode/src/android/media_extractor.rs
Due: semver, perf

fix(xtask,decode): lint the Android backends, and fix what that finds
  .config/xtask.toml
  crates/kithara-decode/src/android/aformat.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/error.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/jni.rs
  crates/kithara-decode/src/android/media_codec.rs
  crates/kithara-decode/src/android/media_extractor.rs
  crates/kithara-decode/src/android/media_extractor_demuxer.rs
  crates/kithara-decode/src/demuxer.rs
  xtask/src/android.rs
  xtask/tests/fixtures/ci-lane-commands.txt
Due: semver, perf

fix(devtools): format JSON through tidy-json stdin, and list files from git
  crates/kithara-beat/tests/fixtures/golden_degara.json
  crates/kithara-beat/tests/fixtures/golden_degara_track.json
  crates/kithara-beat/tests/fixtures/golden_degara_track_windowed.json
  crates/kithara-beat/tests/fixtures/golden_degara_track_windowed_from7.json
  crates/kithara-beat/tests/fixtures/golden_degara_windowed.json
  crates/kithara-beat/tests/fixtures/golden_small.json
  crates/kithara-devtools/src/format.rs
  crates/kithara-ui/assets/lottie/probe.json
  crates/kithara-ui/assets/lottie/pulse.json
  crates/kithara-ui/assets/lottie/spark.json
  tests/crates/integration/webdriver.json
  xtask/tests/agent_hook_runner.rs
  xtask/tests/fixtures/xcresult-tests.json
Due: semver, perf

test(usdt): run observer contracts through tracing backend
  .config/xtask.toml
  .gitlab/ci/apple.yml
  .gitlab/ci/lanes.yml
  crates/kithara-devtools/src/test.rs
  crates/kithara-test-utils/src/test/mod.rs
  crates/kithara-test-utils/src/test/tracing_init.rs
  crates/kithara-test-utils/src/test/usdt.rs
  tests/crates/hls/Cargo.toml
  tests/crates/hls/tests/hls_variant_playlists_concurrent.rs
  tests/crates/integration/Cargo.toml
  tests/crates/integration/src/lib.rs
  tests/crates/integration/src/swallow_detector.rs
  tests/crates/integration/src/usdt_observer.rs
  tests/crates/integration/src/usdt_trace.rs
  tests/crates/integration/tests/usdt_observer.rs
  tests/crates/play/Cargo.toml
  tests/crates/play/tests/rate_response.rs
  tests/crates/queue/Cargo.toml
  tests/crates/queue/tests/flac_swallow_fixture.rs
  tests/crates/queue/tests/full_playthrough_census.rs
  xtask/tests/fixtures/ci-lane-commands.txt
Due: semver, perf

fix(play): replace cancelled prepared launches
  crates/kithara-audio/src/audio/ring.rs
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/bridge/protocol.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/player/protocol.rs
  crates/kithara-play/src/resource/reader/tests.rs
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/feeder.rs
  crates/kithara-warp/src/sync/group.rs
  tests/crates/play/tests/sync_product_matrix.rs
Due: semver, perf

fix(devtools): make stream test support discoverable
  tests/crates/stream/Cargo.toml
  tests/crates/stream/src/lib.rs
Due: none

fix(hls): reconcile the ABR seek lock where a switch is planned
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/transition.rs
Due: semver, perf

fix(ci): repair invalid target bootstrap
  .gitlab/ci/common.yml
  xtask/tests/gitlab_pipelines.rs
Due: none

fix(queue): retain autoplay policy in production runtime
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/queue/state.rs
Due: semver, perf

fix(ci): keep stream support test-only
  tests/crates/stream/Cargo.toml
  tests/crates/stream/src/lib.rs
  tests/crates/stream/tests/source.rs
  tests/crates/stream/tests/suite.rs
Due: none

fix(queue): start explicit selections when autoplay is disabled
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/selection/apply.rs
  crates/kithara-queue/src/queue/selection/pending.rs
  crates/kithara-queue/src/queue/state.rs
  tests/crates/queue/tests/auto_advance.rs
Due: semver, perf

test(play): request compatible cpal block size
  tests/crates/play/tests/engine_cpal_tests.rs
Due: none

test(queue): remove probe-only admission barrier
  crates/kithara-queue/src/loader.rs
Due: semver, perf

test(abr): pin throughput estimator arithmetic
  crates/kithara-abr/src/estimator.rs
Due: semver, perf, bench

fix(apple): configure demo audio session
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/UnitTests/HostedTestScaffoldingTests.swift
Due: none

fix(tests): make integration regression closure complete
  tests/Cargo.toml
  tests/src/lib.rs
Due: none

fix(android): derive test packages from product graph
  tests/crates/abr/Cargo.toml
  tests/crates/assets/Cargo.toml
  tests/crates/audio/Cargo.toml
  tests/crates/bufpool/Cargo.toml
  tests/crates/decode/Cargo.toml
  tests/crates/events/Cargo.toml
  tests/crates/file/Cargo.toml
  tests/crates/hls/Cargo.toml
  tests/crates/integration/Cargo.toml
  tests/crates/net/Cargo.toml
  tests/crates/platform/Cargo.toml
  tests/crates/play/Cargo.toml
  tests/crates/queue/Cargo.toml
  tests/crates/storage/Cargo.toml
  tests/crates/stream/Cargo.toml
  xtask/src/android/native.rs
  xtask/src/android/native/build.rs
Due: none

test(file): remove stale fixture module
  tests/crates/file/tests/suite.rs
Due: none

refactor(android): move test selection into lane config
  .config/xtask.toml
  crates/kithara-devtools/src/test.rs
  tests/crates/abr/Cargo.toml
  tests/crates/assets/Cargo.toml
  tests/crates/audio/Cargo.toml
  tests/crates/bufpool/Cargo.toml
  tests/crates/decode/Cargo.toml
  tests/crates/events/Cargo.toml
  tests/crates/file/Cargo.toml
  tests/crates/hls/Cargo.toml
  tests/crates/integration/Cargo.toml
  tests/crates/net/Cargo.toml
  tests/crates/platform/Cargo.toml
  tests/crates/play/Cargo.toml
  tests/crates/queue/Cargo.toml
  tests/crates/storage/Cargo.toml
  tests/crates/stream/Cargo.toml
  xtask/src/android/native.rs
  xtask/src/android/native/build.rs
  xtask/src/config.rs
Due: semver, perf

refactor(ci): remove the static android test baseline
  .config/xtask.toml
  crates/kithara-devtools/src/test.rs
  xtask/src/android.rs
  xtask/src/android/results.rs
  xtask/src/ci/run.rs
  xtask/src/config.rs
Due: semver, perf

refactor(stream): drop the seek variant selector nothing consults
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/pipeline/track/tests/splice.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf, bench
