Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(xtask): perf slow aggregation and slow-list rendering
  xtask/src/perf/cli.rs
  xtask/src/perf/mod.rs
  xtask/src/perf/slow.rs
Due: none

fix(net): scale apple short-body fixture above NSURLSession delivery threshold
  crates/kithara-net/src/backend/apple/tests.rs
Due: semver, perf

feat(xtask): perf trace xctrace escalation wrapper
  xtask/src/perf/cli.rs
  xtask/src/perf/mod.rs
  xtask/src/perf/trace.rs
Due: none

feat(xtask): perf matrix lane runner with junit capture
  Cargo.lock
  Cargo.toml
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/perf/cli.rs
  xtask/src/perf/junit.rs
  xtask/src/perf/lanes.rs
  xtask/src/perf/matrix.rs
  xtask/src/perf/mod.rs
Due: perf, bench

feat(xtask): perf profile batch samply runner with nextest list resolution
  xtask/src/perf/cli.rs
  xtask/src/perf/list.rs
  xtask/src/perf/mod.rs
  xtask/src/perf/profile.rs
Due: none

fix(play): stop engine-starting unit tests from opening real CoreAudio
  .config/arch/thresholds.toml
  crates/kithara-play/src/impls/player/core.rs
  crates/kithara-play/src/impls/player/queue.rs
  crates/kithara-play/src/impls/session/mod.rs
  crates/kithara-play/src/impls/session/testing.rs
Due: semver, perf

perf(tests): route deliberate pacing through flash virtual clock (wave 1)
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/phase_continuity/common.rs
Due: none

perf(tests): seek-middle families use deterministic segment gates (wave 2)
  tests/src/hls_server.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_middle_stress_long.rs
Due: none

fix(tests): stop abr_mode_switch blocking reads from parking the test runtime
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

fix(audio): make post-seek pcm drain epoch-aware to stop dropping seek-target chunks
  crates/kithara-audio/src/audio.rs
Due: semver, perf

fix(tests): deflake stress_seek_audio open-count contract (write-side acquire bound)
  tests/tests/kithara_hls/stress_seek_audio.rs
Due: none

feat(xtask): symbolicate samply profiles via presymbolicate sidecar
  xtask/src/perf/profile.rs
Due: none

fix(tests): deflake invalid-url fixtures and surface shared_download read errors
  tests/tests/kithara_file/shared_download.rs
  tests/tests/kithara_hls/basic_playback.rs
  tests/tests/kithara_hls/keys_integration.rs
  tests/tests/kithara_hls/smoke_test.rs
Due: none

test(hls,stream): enrich flake failure diagnostics for next firing
  crates/kithara-stream/src/dl/tests.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
Due: semver, perf

refactor(xtask-core): move thin wrappers into the core, add CoreCommand
  Cargo.lock
  xtask-core/Cargo.toml
  xtask-core/src/ast_grep.rs
  xtask-core/src/format.rs
  xtask-core/src/lib.rs
  xtask-core/src/manifest.rs
  xtask-core/src/orphans.rs
  xtask-core/src/similarity.rs
  xtask-core/src/typos.rs
  xtask/src/main.rs
Due: perf, bench

perf(tests): bulk byte-verification instead of per-byte expected_byte_at
  tests/src/hls_server.rs
  tests/tests/kithara_hls/stress_seek_random.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: none

refactor(xtask-core): move test/health/quality/scope/perf-compare/viz into the core
  xtask-core/src/health.rs
  xtask-core/src/lib.rs
  xtask-core/src/perf_compare.rs
  xtask-core/src/quality.rs
  xtask-core/src/scope.rs
  xtask-core/src/test.rs
  xtask-core/src/viz.rs
  xtask/src/main.rs
Due: none

feat(xtask-core): gate syn-heavy lint and viz behind default-on features
  xtask-core/Cargo.toml
  xtask-core/src/lib.rs
Due: none

feat(xtask-core): workspace-scan excludes and zero-config project name
  xtask-core/src/common/project.rs
  xtask-core/src/common/walker.rs
  xtask-core/src/ctx.rs
  xtask-core/src/util.rs
  xtask-core/tests/config_contract.rs
Due: none

refactor(stretch): config+pool, standard traits, require-a-backend, region to audio
  Cargo.lock
  crates/kithara-app/src/gui/studio/timestretch.rs
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/effects/timestretch/controls.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/effects/timestretch/region_tests.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/region.rs
  crates/kithara-audio/src/waveform/beat_grid.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/Cargo.toml
  crates/kithara-stretch/README.md
  crates/kithara-stretch/src/backends/bungee.rs
  crates/kithara-stretch/src/backends/mod.rs
  crates/kithara-stretch/src/backends/signalsmith.rs
  crates/kithara-stretch/src/config.rs
  crates/kithara-stretch/src/factory.rs
  crates/kithara-stretch/src/kind.rs
  crates/kithara-stretch/src/lib.rs
Due: semver, perf, bench

perf(flash): event-driven pacer — park until next deadline, not a 1ms tick
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
Due: semver, perf

feat(xtask-core): move kithara-specific config out of the core via [ext]
  .config/xtask.toml
  xtask-core/src/common/project.rs
  xtask-core/tests/config_contract.rs
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/apple_docgen.rs
  xtask/src/config.rs
  xtask/src/main.rs
  xtask/src/publish.rs
  xtask/src/release.rs
  xtask/src/wasm.rs
Due: none

docs(xtask-core): expand README and add CONTEXT
  xtask-core/CONTEXT.md
  xtask-core/README.md
Due: none

feat(xtask-core): init command scaffolds config and baselines for new consumers
  xtask-core/src/init.rs
  xtask-core/src/lib.rs
  xtask-core/tests/init_contract.rs
Due: none

refactor(stretch): rename StretchBackendKind to StretchKind + backend contract tests
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/studio/timestretch.rs
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/README.md
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/effects/timestretch/controls.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/effects/timestretch/region_tests.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/src/factory.rs
  crates/kithara-stretch/src/factory_tests.rs
  crates/kithara-stretch/src/kind.rs
  crates/kithara-stretch/src/kind_tests.rs
  crates/kithara-stretch/src/lib.rs
  crates/kithara/src/lib.rs
Due: semver, perf

refactor(stretch): default-flip - signalsmith on by default
  crates/kithara-app/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf

refactor(stretch): expose stretch feature to apple/android device builds
  crates/kithara-ffi/Cargo.toml
  crates/kithara-stretch/CONTEXT.md
  xtask/src/android.rs
  xtask/src/apple.rs
Due: semver, perf

refactor(stretch): W5 integration - publish order, facade audit, docs, hakari
  crates/kithara-audio/CONTEXT.md
  crates/kithara/src/lib.rs
  xtask/src/publish.rs
Due: semver, perf

fix(flash): stop the event-driven pacer unparking itself (busy-spin)
  crates/kithara-platform/src/flash/system/pace.rs
  crates/kithara-platform/src/flash/system/sched.rs
Due: semver, perf

perf(test-utils): store probe field-name keys as &'static str, not String
  crates/kithara-test-utils/src/probe/capture/event.rs
  crates/kithara-test-utils/src/probe/capture/layer.rs
Due: semver, perf

fix(audio): make post-seek pcm drain epoch-aware to stop dropping seek-target chunks (#97)
  crates/kithara-audio/src/audio.rs
Due: semver, perf

feat(kithara-devtools): port xtask perf pipeline as config-driven Perf command
  .config/ast-grep/arch.no-direct-thread-wait.yml
  .config/nextest.toml
  .config/xtask.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-devtools/CONTEXT.md
  crates/kithara-devtools/Cargo.toml
  crates/kithara-devtools/README.md
  crates/kithara-devtools/src/common/project.rs
  crates/kithara-devtools/src/init.rs
  crates/kithara-devtools/src/lib.rs
  crates/kithara-devtools/src/perf/cli.rs
  crates/kithara-devtools/src/perf/gecko.rs
  crates/kithara-devtools/src/perf/junit.rs
  crates/kithara-devtools/src/perf/lanes.rs
  crates/kithara-devtools/src/perf/list.rs
  crates/kithara-devtools/src/perf/matrix.rs
  crates/kithara-devtools/src/perf/mod.rs
  crates/kithara-devtools/src/perf/profile.rs
  crates/kithara-devtools/src/perf/report.rs
  crates/kithara-devtools/src/perf/slow.rs
  crates/kithara-devtools/src/perf/trace.rs
  crates/kithara-devtools/src/test.rs
  crates/kithara-devtools/tests/config_contract.rs
Due: semver, perf, bench

refactor(stretch): extract time-stretch backend into kithara-stretch crate (#100)
  Cargo.lock
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/studio/timestretch.rs
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/src/analysis/beat/grid.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/effects/timestretch/bungee.rs
  crates/kithara-audio/src/effects/timestretch/controls.rs
  crates/kithara-audio/src/effects/timestretch/mod.rs
  crates/kithara-audio/src/effects/timestretch/processor.rs
  crates/kithara-audio/src/effects/timestretch/region_tests.rs
  crates/kithara-audio/src/effects/timestretch/stretch_factory.rs
  crates/kithara-audio/src/effects/timestretch/stretch_kind.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/region.rs
  crates/kithara-audio/src/waveform/beat_grid.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-stretch/CONTEXT.md
  crates/kithara-stretch/Cargo.toml
  crates/kithara-stretch/README.md
  crates/kithara-stretch/src/backend.rs
  crates/kithara-stretch/src/backends/bungee.rs
  crates/kithara-stretch/src/backends/mod.rs
  crates/kithara-stretch/src/backends/signalsmith.rs
  crates/kithara-stretch/src/config.rs
  crates/kithara-stretch/src/factory.rs
  crates/kithara-stretch/src/factory_tests.rs
  crates/kithara-stretch/src/kind.rs
  crates/kithara-stretch/src/kind_tests.rs
  crates/kithara-stretch/src/lib.rs
  crates/kithara/Cargo.toml
  crates/kithara/src/lib.rs
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/publish.rs
Due: semver, perf, bench

chore(deps): bump time to 0.3.53
  Cargo.lock
Due: perf, bench
