Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

fix(apple): use explicit Info.plist for KitharaDemo, ignore Swift build artifacts
  .gitignore
  apple/Examples/KitharaDemo/Sources/Info.plist
  apple/Examples/KitharaDemo/project.yml
Due: none

fix: MP3 probe, duration, and cache collision for extensionless URLs
  crates/kithara-assets/src/key.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-stream/src/media.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: semver, perf

fix: drop container from FileSource media_info, remove dead default_container
  crates/kithara-file/src/session.rs
  crates/kithara-stream/src/media.rs
  tests/tests/kithara_audio/file_ephemeral_mp3.rs
Due: semver, perf

fix(hls): truncate playlist parsing errors to avoid binary data in logs
  crates/kithara-hls/src/parsing.rs
Due: semver, perf

chore(apple): demo logging, local dev path, FFI and Swift live tests
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Examples/KitharaDemo/project.yml
  apple/Tests/KitharaTests/LiveStreamTests.swift
  crates/kithara-ffi/src/item.rs
Due: semver, perf

feat(ffi): add PlayerConfig with EQ band count, expose EQ methods
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

feat(ffi): add ABR variant types, events, and mode control
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

feat(swift): add EQ, ABR types, and PlayerConfig to Swift wrapper
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
Due: none

feat(demo): add EQ sliders UI with band labels and reset
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

feat(demo): add ABR variant quality label under track name
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

feat(app): add playrate picker to GUI transport controls
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

fix(app): move playrate buttons inline with shuffle/repeat row
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

fix(eq): raise minimum EQ frequency from 30 Hz to 60 Hz
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

fix(eq): raise min frequency to 200 Hz, fix ineffective low shelf
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

fix(eq): compensate shelf gain for accurate dB at one octave from cutoff
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

fix(eq): sanitize output to prevent NaN/Inf reaching audio driver
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

refactor(eq): replace parametric EQ with isolator crossover architecture
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-app/src/config.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/shared_eq.rs
Due: semver, perf

feat(app): display ABR variant label in now-playing section
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

refactor: migrate eprintln to tracing and fix lint warnings
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player_track.rs
  tests/tests/kithara_hls/drm_stream_integrity.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf

refactor(events): unify EventBus — remove dual-channel AudioEvent
  crates/kithara-app/src/controls.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/mock.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-events/src/bus.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-file/src/config.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/resource.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

refactor(abr): make AbrController Clone-able with runtime mode switching
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/estimator.rs
  crates/kithara-abr/src/ewma.rs
  crates/kithara-abr/src/lib.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-hls/src/downloader.rs
  tests/benches/abr_estimator.rs
  tests/perf/abr.rs
Due: semver, perf, bench

refactor(hls): change HlsConfig.abr from AbrOptions to Option<AbrController>
  crates/kithara-abr/src/controller.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-play/src/impls/config.rs
  tests/benches/refactor_hotpaths.rs
  tests/perf/memory_rss.rs
  tests/src/hls_fixture/builders.rs
  tests/tests/kithara_decode/hls_abr_variant_switch.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/deferred_abr_debug.rs
  tests/tests/kithara_hls/driver_test.rs
  tests/tests/kithara_hls/drm_stream_integrity.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/seek_past_eof.rs
  tests/tests/kithara_hls/seek_variant_switch_after_eof.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_hls/stress_seek_random.rs
  tests/tests/kithara_hls/sync_reader_hls_test.rs
  tests/tests/kithara_hls/wait_range_contract.rs
  tests/tests/kithara_wasm/stress.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
  tests/tests/thread_budget.rs
Due: semver, perf, bench

feat(abr): use controller lock/unlock for seek ABR freeze
  crates/kithara-hls/src/downloader.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

test(abr): two tracks sharing controller with lock/unlock
  crates/kithara-abr/src/controller.rs
Due: semver, perf, bench

refactor(play): ResourceConfig.abr → Option<AbrController>
  crates/kithara-abr/src/controller.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf, bench

feat(play): PlayerImpl owns shared ABR controller
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

feat: runtime ABR mode switching in FFI and kithara-app GUI
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf

fix(play): create default ABR controller for preferred_peak_bitrate
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

feat: ABR quality picker in Settings tab and Swift demo
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

feat(events): hierarchical shared EventBus
  Cargo.lock
  crates/kithara-app/src/controls.rs
  crates/kithara-app/src/events.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/app.rs
  crates/kithara-events/src/bus.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/play.rs
  crates/kithara-events/src/receiver.rs
  crates/kithara-events/src/scope.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-play/src/events.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-play/src/time.rs
  crates/kithara-play/src/traits/dj/bpm.rs
  crates/kithara-play/src/traits/engine.rs
  crates/kithara-play/src/traits/session.rs
  crates/kithara-play/src/types.rs
  crates/kithara/src/lib.rs
  tests/tests/kithara_play/engine_tests.rs
Due: semver, perf, bench

perf(events): topic-based routing with cached senders
  Cargo.lock
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/bus.rs
  crates/kithara-events/src/receiver.rs
Due: semver, perf, bench

refactor(events): use delegate! macro for EventReceiver
  Cargo.lock
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/receiver.rs
Due: semver, perf, bench

fix(gui): quality picker highlights only the selected variant
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

test(hls): RED — runtime ABR mode switch must produce VariantApplied
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/suite_stress.rs
Due: none

test(hls): ABR mode switching and shared controller across tracks
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

test(hls): RED — ABR switch must not re-download covered segments
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

refactor(hls): introduce SegmentId type for download plan addressing
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/ids.rs
Due: semver, perf

test(hls): RED — populate_cached_segments must preserve init_len
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

fix(hls): preserve init_len during cache rescan
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
