Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(wasm-tests): migrate stress.rs to #[kithara::test(wasm)]
  tests/Cargo.toml
  tests/tests/kithara_wasm/stress.rs
Due: none

fix(kithara): gate tokio/full and native-only dev-deps for WASM compat
  crates/kithara/Cargo.toml
Due: semver, perf

feat(wasm): green WASM unit tests across entire workspace
  Cargo.lock
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/tests/tests.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/tests/source_internal_cases.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/blocking.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/pool.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread_pool_init.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/tests/engine_tests.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara/Cargo.toml
  crates/kithara/examples/player.rs
Due: semver, perf, bench

fix(tests): relax live stress thresholds for parallel execution
  tests/tests/integration.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

fix(platform): gate Duration type alias with cfg(wasm32) to fix doc-tests
  crates/kithara-assets/src/cache.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-audio/tests/stream_source_tests.rs
  crates/kithara-coverage/tests/index_integration.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/src/channel.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/wasm.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-storage/src/mmap.rs
  crates/kithara/examples/player.rs
  tests/bin/wasm_test_runner.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_storage/atomic.rs
  tests/tests/kithara_storage/streaming.rs
  tests/tests/multi_instance/thread_lifecycle.rs
Due: semver, perf

Fix wasm test infrastructure bootstrap
  crates/kithara-test-macros/src/lib.rs
  tests/bin/wasm_test_runner.rs
Due: semver, perf

Fix wasm playback flow and add Selenium scenarios
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/traits.rs
  crates/kithara-wasm/index.html
  scripts/wasm_player_scenarios.py
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_net/fixture.rs
Due: semver, perf

fix rodio examples
  Cargo.lock
  crates/kithara-assets/src/mem_store.rs
  crates/kithara/Cargo.toml
Due: semver, perf, bench

refactor: use delegate crate for ResourceExt boilerplate in decorators
  Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/process.rs
Due: semver, perf, bench

feat: add StaleDetector with feature wiring across workspace
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/stale.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara/Cargo.toml
  tests/Cargo.toml
Due: semver, perf, bench

feat: add StaleDetector to storage wait_range loop
  crates/kithara-storage/src/driver.rs
Due: semver, perf

feat: add StaleDetector to audio pipeline, fix next_chunk preloaded reuse
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
Due: semver, perf

fix: add DecodeError::is_interrupted, symphonia catch_unwind, decode loop interrupt handling
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/symphonia.rs
Due: semver, perf

feat: time-based StaleDetector, ResourceExt contains_range/next_gap
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/src/stale.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/resource.rs
  crates/kithara-storage/src/unified.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/backend.rs
Due: semver, perf

refactor: remove kithara-coverage from HLS crate
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/tests/source_internal_cases.rs
Due: semver, perf, bench

refactor: remove kithara-coverage from File crate
  Cargo.lock
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
Due: semver, perf, bench

refactor: delete kithara-coverage crate and all references
  Cargo.lock
  Cargo.toml
  README.md
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/coverage_manager_contract.rs
  crates/kithara-coverage/Cargo.toml
  crates/kithara-coverage/README.md
  crates/kithara-coverage/src/index.rs
  crates/kithara-coverage/src/internal.rs
  crates/kithara-coverage/src/lib.rs
  crates/kithara-coverage/src/manager.rs
  crates/kithara-coverage/src/mem.rs
  crates/kithara-coverage/tests/index_integration.rs
  crates/kithara-hls/README.md
  scripts/ci/trait-mock-exceptions.txt
Due: semver, perf, bench

refactor: stateless MemAssetStore, remove HashMap and remove_on_evict
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: semver, perf

refactor: Capabilities bitflag replaces enabled flags and supports_* methods
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf, bench

refactor: delegate! macro for Assets trait in decorators
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/process.rs
Due: semver, perf

fix: HLS ephemeral cache_capacity 256 to prevent segment data loss
  crates/kithara-hls/src/inner.rs
Due: semver, perf

fix: stale detector resets only on progress for the waited range
  crates/kithara-hls/src/source.rs
Due: semver, perf

fix: enable stale-detector in all examples
  crates/kithara/Cargo.toml
Due: semver, perf

extract hang detector crate and replace stale detector API
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-hang-detector/src/lib.rs
  crates/kithara-hang-detector/src/watchdog_macro.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/stale.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/driver.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/backend.rs
  crates/kithara/Cargo.toml
  tests/Cargo.toml
Due: semver, perf, bench

fix: hang detector reset only when range_ready is true
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/tests/source_internal_cases.rs
Due: semver, perf

fix: segment_loaded_for_demand checks init+media resources
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

fix: ReadOutcome::Retry + TOCTOU guard for evicted resources
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

update initial volume
  crates/kithara/examples/common/controls.rs
Due: perf

feat: PlanOutcome::Idle, backfill guard, hang detector fix, RED tests
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/downloader.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: semver, perf

fix: ephemeral LRU correctness — resource-aware range_ready + throttle
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/tests/source_internal_cases.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/wait_range_contract.rs
Due: semver, perf

fix: seek past EOF after ABR switch + WASM cache capacity
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-wasm/src/worker_entry.rs
Due: semver, perf

fix: stabilize ephemeral stress test + stream.read watchdog timeout
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: semver, perf

fix: restore hang/seek stability after rollback
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/memory.rs
  scripts/wasm_player_scenarios.py
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: semver, perf

fix: increase hang timeout for ABR variant switch test
  tests/tests/kithara_decode/hls_abr_variant_switch.rs
Due: none

chore: add clippy approx_constant, semgrep magic-numbers rule, gitignore
  .gitignore
  Cargo.toml
  semgrep.yml
Due: perf, bench
