Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

build(ios): keep env-filter out of device closure
  .config/hakari.toml
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

build(apple): trim native framework dependency graph
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/flash/tokio/broadcast.rs
  crates/kithara-platform/src/flash/tokio/mod.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/native/sync/notify.rs
  crates/kithara-platform/src/native/time.rs
  crates/kithara-platform/src/native/tokio/mod.rs
  crates/kithara-platform/src/native/tokio/runtime.rs
  crates/kithara-platform/src/native/tokio/sync.rs
  crates/kithara-platform/src/native/tokio/task.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

refactor(platform): route tokio aliases through backend modules
  crates/kithara-platform/src/native/sync/notify.rs
  crates/kithara-platform/src/native/time.rs
  crates/kithara-platform/src/native/tokio/mod.rs
  crates/kithara-platform/src/native/tokio/runtime.rs
  crates/kithara-platform/src/native/tokio/sync.rs
  crates/kithara-platform/src/native/tokio/task.rs
  crates/kithara-platform/src/wasm/sync/notify.rs
  crates/kithara-platform/src/wasm/tokio/mod.rs
  crates/kithara-platform/src/wasm/tokio/sync.rs
  crates/kithara-platform/src/wasm/tokio/task.rs
Due: semver, perf

build(apple): strip release frameworks and drop x86 simulator
  Cargo.toml
  xtask/src/apple.rs
Due: perf, bench

build(apple): omit embedded bitcode in release frameworks
  xtask/src/apple.rs
Due: none

build(apple): build release frameworks with rebuilt std
  xtask/src/apple.rs
Due: none

chore(apple,stream): clean up apple test integration
  Cargo.lock
  apple/Compatibility/Zvuk/KitharaZvukCompatibility.swift
  apple/Compatibility/Zvuk/KitharaZvukPlayerItemService.swift
  apple/Compatibility/Zvuk/README.md
  crates/kithara-net/src/backend/apple/tests.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf, bench

perf(hls): load variant media playlists concurrently
  crates/kithara-hls/src/playlist/variant_playlist.rs
  crates/kithara-stream/src/dl/batch.rs
  tests/tests/kithara_queue/hls_variant_playlists_concurrent.rs
  tests/tests/kithara_queue/mod.rs
Due: semver, perf

chore: checkpoint in-flight work before framework rebuild
  Cargo.lock
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/fmp4/mod.rs
  crates/kithara-decode/src/fmp4/test_layout.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/mp4/mod.rs
  crates/kithara-decode/src/mp4/scan.rs
  crates/kithara-hls/src/playlist/parse.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-net/src/backend/apple/delegate.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/zvuk_prod_aac_to_flac_switch.rs
  tests/tests/suite_e2e.rs
Due: semver, perf, bench

test(hls): parametrize variant-playlist batch test over decoder backends
  tests/tests/kithara_queue/hls_variant_playlists_concurrent.rs
Due: none

feat(platform/flash): sync-primitive diagnostics registry for hang dumps
  crates/kithara-platform/src/common/flash_inert.rs
  crates/kithara-platform/src/flash/api.rs
  crates/kithara-platform/src/flash/diag/mod.rs
  crates/kithara-platform/src/flash/diag/registry.rs
  crates/kithara-platform/src/flash/diag/thread.rs
  crates/kithara-platform/src/flash/diag/toggle.rs
  crates/kithara-platform/src/flash/mod.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/mutex.rs
  crates/kithara-platform/src/flash/sync/rwlock.rs
  crates/kithara-platform/src/native/sync/condvar.rs
  crates/kithara-test-macros/src/test/expand_async.rs
Due: semver, perf

feat(platform/flash): label engine primitives + parked task in hang dump
  crates/kithara-platform/src/flash/diag/registry.rs
  crates/kithara-platform/src/flash/sync/condvar.rs
  crates/kithara-platform/src/flash/sync/notify.rs
  crates/kithara-platform/src/flash/system/dump.rs
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/system/wake.rs
  crates/kithara-platform/src/flash/tokio/broadcast.rs
  crates/kithara-platform/src/flash/tokio/mpsc.rs
  crates/kithara-platform/src/flash/tokio/oncecell.rs
  crates/kithara-platform/src/flash/tokio/oneshot.rs
  crates/kithara-platform/src/flash/tokio/semaphore.rs
  crates/kithara-platform/src/flash/tokio/watch.rs
Due: semver, perf

feat(xtask): print the exact failing violations before the ratchet bails
  xtask/src/arch/mod.rs
  xtask/src/ast_grep.rs
  xtask/src/common/report.rs
Due: none

fix(abr): escape non-delivering variant via AbrState escape flag
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/core.rs
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-events/src/abr.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/segment/fetch.rs
  crates/kithara-hls/src/segment/size.rs
  crates/kithara-hls/src/segment/state.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/variant/io/fetch.rs
  crates/kithara-hls/src/variant/map/media.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-stream/src/dl/mod.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/red_abr_no_escape_from_stalled_variant.rs
  tests/tests/suite_light.rs
Due: semver, perf, bench

fix(audio,hls): resolve on-device ABR-switch HLS playback livelock
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/runtime/ports.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/decoder.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/signal.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/variant/io/fetch.rs
  crates/kithara-hls/src/variant/map/descriptor.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-test-macros/src/hang_watchdog/expand.rs
  crates/kithara-test-utils/src/hang/noop.rs
  crates/kithara-test-utils/src/hang/real/detector_native.rs
  crates/kithara-test-utils/src/hang/real/detector_wasm.rs
  crates/kithara-test-utils/src/hang/real/tests.rs
  tests/tests/kithara_hls/red_abr_no_escape_from_stalled_variant.rs
Due: semver, perf, bench

chore(deps): upgrade hotpath 0.18, log 0.4.33
  Cargo.lock
  Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

feat(net): add Net::post_bytes for retried POST across all backends
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/README.md
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/backend/apple/request.rs
  crates/kithara-net/src/backend/mod.rs
  crates/kithara-net/src/backend/native/mod.rs
  crates/kithara-net/src/backend/native/shared.rs
  crates/kithara-net/src/backend/selected.rs
  crates/kithara-net/src/backend/wasm/fetch.rs
  crates/kithara-net/src/backend/wasm/mod.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/metrics.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/timeout.rs
  crates/kithara-net/src/traits.rs
  tests/src/net_fixture.rs
  tests/tests/kithara_net/retry.rs
  tests/tests/kithara_net/timeout.rs
Due: semver, perf

feat(ffi): add init_logging_to_file for on-device log capture
  crates/kithara-ffi/src/native/logging.rs
Due: semver, perf

docs(apple): add Kithara DocC catalog (overview, getting-started, ABR)
  apple/Sources/Kithara/Kithara.docc/AdaptiveBitrate.md
  apple/Sources/Kithara/Kithara.docc/GettingStarted.md
  apple/Sources/Kithara/Kithara.docc/Kithara.md
Due: none

revert(ffi): drop init_logging_to_file — redundant FFI surface
  crates/kithara-ffi/src/native/logging.rs
Due: semver, perf

feat(xtask): config-driven DocC docgen, doc completeness gate, release artifacts
  .config/xtask.toml
  .github/workflows/gh-pages.yml.disabled
  .gitignore
  Cargo.lock
  Cargo.toml
  apple/Sources/Kithara/Cipher.swift
  apple/Sources/Kithara/Kithara.docc/AdaptiveBitrate.md
  apple/Sources/Kithara/Kithara.docc/GettingStarted.md
  apple/Sources/Kithara/Kithara.docc/Kithara.md
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  clippy.toml
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/uniffi.toml
  justfile
  xtask/Cargo.toml
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/apple_docgen.rs
  xtask/src/common/project.rs
  xtask/src/main.rs
  xtask/src/orphans.rs
  xtask/src/quality.rs
  xtask/src/release.rs
  xtask/src/util.rs
  xtask/src/wasm.rs
Due: semver, perf, bench

fix(decode/apple): decode native FLAC via AudioFileServices
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  tests/tests/kithara_decode/protocol_tests.rs
Due: semver, perf

chore(apple): regenerate uniffi bindings
  apple/Sources/KitharaFFI/KitharaFFI.swift
Due: none

fix(apple): lazy streaming open for FLAC — drop full-file packet-count scan
  assets/sawtooth.flac
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/flac.rs
  crates/kithara-decode/src/apple/mod.rs
Due: semver, perf

fix(apple): streamed FLAC — sized open + surface not-ready as Pending
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
Due: semver, perf

fix(apple): streamed FLAC — live file size, not a frozen open-time snapshot
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
Due: semver, perf

chore(apple): trace live FLAC size re-query for on-device diagnosis
  crates/kithara-decode/src/apple/audio_file.rs
Due: semver, perf

fix(apple): FLAC streaming open via size-aware lazy path, no O(N) frame scan
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
Due: semver, perf

fix(ffi): loaded-ranges from live decoded frontier (fix VBR FLAC start + seek-after-pause freeze)
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-play/src/impls/player/query.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/queue/mod.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/types.rs
  crates/kithara-stream/src/playhead.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

fix(rt): lock-free storage availability + drop RT-path decode trace
  crates/kithara-audio/src/worker/decoder.rs
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/backend/resource/lifecycle.rs
  crates/kithara-storage/src/backend/resource/state.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
Due: semver, perf

Add code review skill
  .agents/skills/code-hygiene/SKILL.md
  .claude/agents/rust-architecture-guardian.md
Due: none

refactor(assets): one Asset Store for file and HLS via Ctx erasure
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/eviction.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/ctx_erasure.rs
  crates/kithara-assets/tests/eviction_subscription.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-drm/src/context.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-drm/src/lib.rs
  crates/kithara-file/src/config.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/decrypt_processor.rs
  crates/kithara-hls/src/invalidation.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

refactor(assets): fold StoreOptions construction into AssetStoreBuilder
  crates/kithara-app/src/config.rs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/store.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/stream.rs
Due: semver, perf

fix(hls): lock-free produce-core seek-state, reduce rtsan-hls to #39 residual
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/signal.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/flow/cas_anchor.rs
  crates/kithara-hls/src/variant/flow/probe.rs
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/flow/seqlock.rs
  crates/kithara-hls/src/variant/flow/size.rs
  crates/kithara-hls/src/variant/map/offsets.rs
  crates/kithara-hls/src/variant/mod.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf, bench

refactor(decode): de-stringify DecodeError into typed fields (S1 error-standard pilot)
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/error.rs
  crates/kithara-decode/src/android/media_extractor.rs
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/flac.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/symphonia/probe.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

fix(test): update integration-test DecodeError sites to typed variants
  tests/tests/kithara_decode/symphonia_tests.rs
  tests/tests/kithara_play/player_resource_internal.rs
Due: none

Add code review skill (#87)
  .agents/skills/code-hygiene/SKILL.md
  .claude/agents/rust-architecture-guardian.md
Due: none
