Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(audio): RED — shared worker starvation on sync-blocking decode
  crates/kithara-audio/src/worker/handle.rs
Due: semver, perf

test(audio): RED — measure chunk delivery gap during track mixing
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

fix(stream): short wait_range timeout prevents multi-track starvation
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor(stream): remove playback_mode — use fixed 10ms wait_range timeout
  crates/kithara-stream/src/stream.rs
Due: semver, perf

fix(stream): budget exceeded without seek must retry, not return false "seek pending"
  .config/nextest.toml
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/thread_budget.rs
Due: semver, perf

fix merge conflict
  .claude/rules/00-core.md
  .cursor/rules/00-core.mdc
  .docs/2026-03-13-hls-seek-debug-journal.md
  .docs/plans/.gitignore
  .docs/plans/_template.md
  .docs/workflow/pr-description.md
  .docs/workflow/rust-ai.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  WARP.md
Due: none

fix(audio): eliminate crossfade glitches on shared worker
  .config/nextest.toml
  .gitignore
  .zed/tasks.json
  Cargo.toml
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/offline_backend.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/internal.rs
  tests/Cargo.toml
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/suite_heavy.rs
  tests/tests/suite_stress.rs
Due: semver, perf, bench

perf(hang-detector): cache env timeout lookup with OnceLock
  crates/kithara-hang-detector/src/detector.rs
Due: semver, perf

refactor(play,app): extract PlayerImpl::prepare_config to eliminate duplication
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

perf(build): opt-level=2 for symphonia-bundle-flac in dev profile
  Cargo.toml
Due: perf, bench

update of apple playground example
  apple/.gitignore
  apple/Examples/KitharaPlayground.playground/contents.xcplayground
Due: none

fix(hls): ABR variant switch stuck in tail state when all old segments downloaded
  .config/nextest.toml
  crates/kithara-hls/src/downloader.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/suite_stress.rs
Due: semver, perf

fix(hls): ABR variant switch stuck in tail state when all old segments downloaded (#33)
  .config/nextest.toml
  apple/.gitignore
  apple/Examples/KitharaPlayground.playground/contents.xcplayground
  crates/kithara-hls/src/downloader.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/suite_stress.rs
Due: semver, perf

move ast-grep rules to .config folder
  .config/ast-grep/rust.no-thin-async-wrapper.yml
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  .config/ast-grep/style.no-deep-qualified-paths.yml
  .config/ast-grep/style.no-functions-in-lib-or-mod-rs.yml
  .config/ast-grep/style.no-inline-qualified-paths.yml
  .config/ast-grep/style.no-local-use-in-prod-functions.yml
  .config/ast-grep/style.no-magic-numbers.yml
  .config/ast-grep/style.no-separator-comments-rs.yml
  .config/ast-grep/style.no-separator-comments-toml.yml
  .config/ast-grep/style.no-tests-in-lib-or-mod-rs.yml
  sgconfig.yml
Due: none

refactor(xtask): regroup CLI, promote util helpers, move arch to quality
  Cargo.lock
  Cargo.toml
  justfile
  xtask/Cargo.toml
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/main.rs
  xtask/src/quality.rs
  xtask/src/util.rs
Due: perf, bench

feat(xtask): add wasm build and postbuild commands
  Cargo.toml
  xtask/src/main.rs
  xtask/src/util.rs
  xtask/src/wasm.rs
Due: perf, bench

refactor: wire up Trunk/justfile, delete bash scripts
  crates/kithara-wasm/Trunk.toml
  crates/kithara-wasm/build-wasm.sh
  crates/kithara-wasm/post-build.sh
  justfile
Due: perf

fix(wasm): gate workspace-hack behind cfg(not(wasm32)), add runtime shim
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hang-detector-macros/Cargo.toml
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/tokio/mod.rs
  crates/kithara-platform/src/tokio/runtime.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf, bench

fix(android): downgrade jni to 0.21 to match cpal/rustls-platform-verifier
  Cargo.lock
  Cargo.toml
Due: perf, bench

fix(apple): set KITHARA_LOCAL_DEV in apple-demo to use local xcframework
  apple/Sources/KitharaFFI/KitharaFFI.swift
  justfile
Due: none

update gitlab-ci
  .gitlab-ci.yml
Due: none

ci: fix PATH for cargo-installed tools, add Apple release pipeline
  .github/workflows/release-apple.yml.disabled
  .gitlab-ci.yml
  apple/Package.swift
Due: none

fix(deny): resolve all cargo-deny failures
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  deny.toml
  examples/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: semver, perf, bench

chore(deps): remove unused dependencies detected by cargo-machete
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hang-detector-macros/Cargo.toml
  crates/kithara-hls/Cargo.toml
  tests/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: semver, perf, bench

style: remove separator comments across codebase
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
  tests/bin/fixture_server.rs
  tests/perf/memory_rss.rs
  tests/src/audio_fixture.rs
  tests/src/hls_fixture/abr.rs
  tests/src/hls_fixture/scalable_server.rs
  tests/src/hls_fixture/server.rs
  tests/tests/kithara_audio/alloc_free_hotpath.rs
  tests/tests/kithara_bufpool/memory_budget.rs
  tests/tests/kithara_decode/fixture.rs
  tests/tests/kithara_hls/fixture/abr.rs
  tests/tests/kithara_hls/fixture/scalable_server.rs
  tests/tests/kithara_hls/fixture/server.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/thread_budget.rs
  tests/tests/timeout_guard.rs
Due: semver, perf

style: move local use imports to file/module top
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/key.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

style: extract functions from lib.rs/mod.rs to sibling modules
  .config/ast-grep/style.no-functions-in-lib-or-mod-rs.yml
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/mod.rs
  crates/kithara-hang-detector/src/lib.rs
  crates/kithara-hang-detector/src/tests.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/test_env.rs
  crates/kithara-platform/src/tokio/mod.rs
  crates/kithara-platform/src/tokio/thread_pool.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/log_filter.rs
Due: semver, perf

style: refine no-thin-sync-wrapper rule to exclude standard patterns
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
Due: none

fix(deps): restore kithara-workspace-hack in fuzz and xtask
  Cargo.lock
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: perf, bench

feat(xtask): add publish command for crates.io release
  crates/kithara-drm/Cargo.toml
  crates/kithara-hang-detector-macros/Cargo.toml
  justfile
  xtask/src/main.rs
  xtask/src/publish.rs
Due: semver, perf

fix(deps): remove duplicate workspace-hack entry in kithara-hang-detector, regenerate hakari
  Cargo.lock
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

fix(tests): restore serial_test dep, fix spawn_blocking import
  Cargo.lock
  tests/Cargo.toml
  tests/tests/kithara_decode/timeline_tests.rs
Due: perf, bench

fix(ci): add seek_sequence_from_log_real_stream_drm to flaky retries
  .config/nextest.toml
Due: none

fix(ci): increase flaky test retries from 2 to 5
  .config/nextest.toml
Due: none

refactor(abr): restore associated constants in ThroughputEstimator
  crates/kithara-abr/src/estimator.rs
Due: semver, perf, bench

docs: add PR description skill and summary rules
  .agents/skills/pr/SKILL.md
  .claude/skills
  .docs/workflow/pr-description.md
  AGENTS.md
Due: none
