Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

fix(demo/ios,demo/android): don't reset PlayerStatus on track change
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(demo/ios,demo/android): derive header status from isPlaying + hasTracks
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/res/values/strings.xml
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
Due: none

feat(demo/ios,demo/android): set self-managed cache dir at init
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

feat(demo/ios): surface first item-level error per track
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(demo/ios): use explicit class name for static cacheDir ref
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(queue,ffi): real crossfade auto-advance + drop resume time blip
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(queue,ffi): move position caching into Queue, drop FFI blip hack
  crates/kithara-app/src/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-drm/src/registry.rs
  crates/kithara-events/src/audio.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

fix(demo/ios): don't reset currentTime on track change
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  crates/kithara-app/src/config.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

fix(queue): advance on fatal end-of-track, not only on reaching duration
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(queue): parametrize pre-end crossfade tests, dedupe trailing end-event
  Cargo.lock
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/queue.rs
Due: semver, perf, bench

refactor(tests): unify #[test]/#[tokio::test] under #[kithara::test]
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/drm.rs
  crates/kithara-drm/src/cipher.rs
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/error.rs
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/bytes.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/traits.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-hang-detector/src/tests.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/track.rs
  crates/kithara-stream/src/media_rfc6381.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/fmp4/codec.rs
  crates/kithara-test-utils/src/fmp4/mux.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/routes/signal.rs
  crates/kithara-test-utils/src/signal_pcm.rs
  crates/kithara-test-utils/src/signal_source.rs
  crates/kithara-test-utils/src/signal_source_utils.rs
  crates/kithara-test-utils/src/signal_spec.rs
  crates/kithara-test-utils/src/test_server.rs
  crates/kithara-test-utils/src/wav.rs
  tests/tests/red_env_guard_leak_thread.rs
Due: semver, perf, bench

fix(play/tests): construct non-exhaustive AudioFormat via ::new
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

fix(demo/ios,app): DRM domain wildcard + BinaryCipherKey default
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  crates/kithara-app/src/config.rs
Due: semver, perf

refactor(play): make SessionState generic over AudioBackend
  crates/kithara-play/src/impls/session_engine.rs
Due: semver, perf

feat(play): offline backend hook via init_offline_backend
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/internal.rs
Due: semver, perf

test(integration): real-playlist per-track smoke with offline backend
  Cargo.lock
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  tests/Cargo.toml
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/suite_heavy.rs
Due: semver, perf, bench

test(integration): queue playlist scenario — pause/resume/crossfade/auto-advance
  tests/tests/kithara_queue/real_playlist.rs
Due: none

fix(queue): make select idempotent on currently-playing track
  crates/kithara-queue/src/queue.rs
Due: semver, perf

feat(audio,rt): add kithara-rt scheduler and wire audio worker nodes
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-audio/src/worker/types.rs
  crates/kithara-audio/src/worker/wake.rs
  crates/kithara-rt/Cargo.toml
  crates/kithara-rt/README.md
  crates/kithara-rt/src/lib.rs
  crates/kithara-rt/src/node.rs
  crates/kithara-rt/src/observer.rs
  crates/kithara-rt/src/ports.rs
  crates/kithara-rt/src/schedule.rs
  crates/kithara-rt/src/scheduler.rs
  crates/kithara-rt/src/wake.rs
Due: semver, perf, bench

refactor(app,hls): unified KeyProcessorRegistry + DRM auth + in-memory key cache
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/drm.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-hls/src/loading/keys.rs
Due: semver, perf

refactor(assets,drm,tests): rkyv 0.7→0.8 + aes 0.8→0.9 + index persistence test
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/index/schema.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-test-utils/src/hls_stream.rs
  crates/kithara-workspace-hack/Cargo.toml
  tests/src/hls_fixture/crypto.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/index_persistence.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/mod.rs
Due: semver, perf, bench

chore(deps): rand 0.10.0 → 0.10.1
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): axum 0.8.8 → 0.8.9
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): uniffi 0.31.0 → 0.31.1
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): tokio 1.50.0 → 1.52.1
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): hotpath 0.14 → 0.15
  Cargo.lock
  Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

chore(deps): lru 0.16 → 0.17
  Cargo.lock
  Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

chore(deps): biquad 0.5 → 0.6
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): jni 0.21 → 0.22
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): rustls-platform-verifier 0.6.2 → 0.7.0
  Cargo.lock
  Cargo.toml
Due: perf, bench

chore(deps): rubato 1.0 → 2.0 + audioadapter-buffers 2.0 → 3.0
  Cargo.lock
  Cargo.toml
Due: perf, bench

refactor(audio): drop stuck pass outcome and harden decoder outlet handling
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/runtime/mod.rs
  crates/kithara-audio/src/runtime/node.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/ports.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-audio/src/worker/types.rs
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-rt/Cargo.toml
  crates/kithara-rt/README.md
  crates/kithara-rt/src/lib.rs
  crates/kithara-rt/src/schedule.rs
  tests/Cargo.toml
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf, bench

Decoder scheduler refactoring (#57)
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/runtime/mod.rs
  crates/kithara-audio/src/runtime/node.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/ports.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-audio/src/worker/types.rs
  crates/kithara-audio/src/worker/wake.rs
  crates/kithara-hang-detector/src/detector.rs
  tests/Cargo.toml
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

style: cargo fmt + clippy after PR #57 cherry-pick
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/runtime/ports.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/traits.rs
Due: semver, perf

chore(style): add ast-grep rules for no-op impls, duplicates, and masked args
  .config/ast-grep/style.no-duplicate-impl.yml
  .config/ast-grep/style.no-masked-unused-arg.yml
  .config/ast-grep/style.no-noop-in-impl.yml
  crates/kithara-hls/src/peer.rs
  justfile
Due: semver, perf

chore(xtask): downgrade trait-mock-exceptions check to advisory warning
  xtask/src/quality.rs
  xtask/trait-mock-exceptions.txt
Due: none

chore(style): refine const/static lints to allow single shared constants
  .config/ast-grep/style.multiple-private-module-consts.yml
  .config/ast-grep/style.no-impl-only-consts.yml
  justfile
Due: none

refactor(abr): move module-level constants into impl blocks to satisfy style.multiple-private-module-consts
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/ewma.rs
Due: semver, perf, bench

chore(style): fix multiple-private-module-consts inside clause stopBy boundary
  .config/ast-grep/style.multiple-private-module-consts.yml
Due: none
