Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

chore(release): point Package.swift at v0.0.1-alpha1 + new checksum
  Package.swift
Due: none

chore(gitignore): ignore release-artifacts/
  .gitignore
Due: none

docs(apple): full abstract coverage across Kithara + KitharaRx
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/Logging.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/Protocols.swift
  apple/Sources/KitharaRx/KitharaRx.swift
Due: none

chore(release): unblock crates.io publish for 0.0.1-alpha1
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  xtask/src/publish.rs
Due: semver, perf, bench

chore(xtask): auto-resume publish by checking crates.io per crate
  xtask/src/publish.rs
Due: none

fix(test-macros): enable syn `extra-traits` for standalone build
  crates/kithara-test-macros/Cargo.toml
Due: semver, perf

fix(play,queue): propagate symphonia feature for standalone builds
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
Due: semver, perf

feat(decode): HE-AAC v1/v2 in AppleCodec via kAudioFormatMPEG4AAC_HE/_HE_V2
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
Due: semver, perf

chore(deps): isolate backends — workspace default-features=false + drop fdk-aac from kithara/apple
  Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf, bench

chore(ffi,app): opt in to kithara-queue backend-cpal explicitly
  crates/kithara-app/Cargo.toml
  crates/kithara-ffi/Cargo.toml
Due: semver, perf

chore(tests): explicit opt-in to kithara-decode/fdk-aac + queue/backend-cpal
  tests/Cargo.toml
Due: none

test(decode): parameterize fmp4 decoder factory matrix by codec × backend
  tests/tests/kithara_decode/fixture_integration.rs
Due: none

feat(xtask,just): apple xcframework symbol audit + just apple release gate
  justfile
  xtask/src/apple.rs
Due: none

feat(apple): discrete variant publishers — Discovered/Selected/Applied + Rx mirrors
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/KitharaRx/KitharaRx.swift
Due: none

chore(release): bump Package.swift to 0.0.1-alpha2 + new xcframework checksum
  Package.swift
Due: none

refactor(canon): consolidate AudioCodec/ContainerFormat/MediaInfo in kithara-stream
  Cargo.lock
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/codec.rs
  crates/kithara-encode/src/error.rs
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/lib.rs
  crates/kithara-encode/src/traits.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-stream/src/media_rfc6381.rs
  tests/src/fixture_protocol.rs
  tests/src/hls_spec.rs
  tests/src/native/fmp4/codec.rs
  tests/src/native/fmp4/mux.rs
  tests/src/native/hls_stream.rs
  tests/src/test_server.rs
  tests/tests/abr_contract/helpers.rs
  tests/tests/kithara_decode/gapless_encoding_parity.rs
  tests/tests/kithara_decode/gapless_parity.rs
  tests/tests/kithara_encode/aac_tests.rs
  tests/tests/kithara_encode/error_tests.rs
  tests/tests/kithara_encode/factory_tests.rs
  tests/tests/kithara_encode/flac_tests.rs
  tests/tests/kithara_encode/types_tests.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: semver, perf, bench

refactor(test-utils): collapse fallback_timeout fn to FALLBACK_TIMEOUT const + drop tautological test
  .config/idioms/baseline.toml
  crates/kithara-test-utils/src/hang/noop.rs
  crates/kithara-test-utils/src/hang/real/detector.rs
  crates/kithara-test-utils/src/hang/real/mod.rs
  crates/kithara-test-utils/src/hang/real/tests.rs
Due: semver, perf

refactor(play): split session_engine.rs into impls/session/* — eliminate inline target_arch gates
  .config/ast-grep/arch.no-target-os-outside-platform.yml
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session/client.rs
  crates/kithara-play/src/impls/session/host_native.rs
  crates/kithara-play/src/impls/session/host_web.rs
  crates/kithara-play/src/impls/session/mod.rs
  crates/kithara-play/src/impls/session/state.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/wasm_support.rs
Due: semver, perf

refactor(ffi): drop kithara-ffi-macros — manual wasm-bindgen free fns in web/player.rs
  .config/arch/thresholds.toml
  .config/ast-grep/style.no-items-in-lib-or-mod-rs.yml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-ffi-macros/Cargo.toml
  crates/kithara-ffi-macros/README.md
  crates/kithara-ffi-macros/src/lib.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/README.md
  crates/kithara-ffi/src/web/player.rs
  crates/kithara-ffi/src/web/worker.rs
  justfile
  xtask/src/arch/config.rs
  xtask/src/orphans.rs
  xtask/src/similarity.rs
Due: semver, perf, bench

refactor(workspace): wasm32 baseline — kithara-assets/-audio/-stream/-queue MaybeSend cascade
  .config/arch/baseline.toml
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/flush/mod.rs
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/flush/worker_stub.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/index/availability/mod.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/lru/disk.rs
  crates/kithara-assets/src/index/lru/mod.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-assets/src/index/pin/disk.rs
  crates/kithara-assets/src/index/pin/mod.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-platform/src/sync/mutex.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-storage/src/decorator/atomic/core.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

fix(abr): preserve pending intent under lock; rely on invalidate_pending for seek drop
  crates/kithara-abr/src/state/core.rs
Due: semver, perf, bench

chore(xtask): refresh idioms baseline after refactor drift
  .config/idioms/baseline.toml
Due: none

fix(queue,storage,file): cluster I local_track_plays — crossfade event ordering + atomic_chunked tmp claim
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/stream.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-storage/src/decorator/chunked/tests.rs
  crates/kithara-storage/src/error.rs
  tests/tests/kithara_queue/local_track_plays.rs
Due: semver, perf

chore(lint): rust-idioms refactor Wave 0 — derive crates + 8 report-only ast-grep rules
  .config/ast-grep/arch.no-arc-mutex-collection.yml
  .config/ast-grep/arch.no-arc-mutex-godmap.yml
  .config/ast-grep/arch.no-test-in-prod.yml
  .config/ast-grep/arch.prefer-dashmap-dashset.yml
  .config/ast-grep/idioms.join-of-join-alls.yml
  .config/ast-grep/rust.no-to-string-method.yml
  .config/ast-grep/rust.prefer-from-not-to-into.yml
  .config/ast-grep/rust.prefer-from-trait.yml
  .config/ast-grep/rust.prefer-fromstr.yml
  .config/ast-grep/rust.prefer-tryfrom-trait.yml
  .config/ast-grep/style.no-pub-fields-inside-crate.yml
  .config/ast-grep/style.prefer-default-derive.yml
  Cargo.toml
  xtask/src/idioms/checks/loop_allocation.rs
Due: perf, bench

chore(lint): rust-idioms Cat 12 — std trait bridges (ToString / FromIterator / io::Write+Read)
  .config/ast-grep/rust.no-inherent-to-string.yml
  .config/ast-grep/rust.prefer-from-iterator.yml
  .config/ast-grep/rust.prefer-io-write-read.yml
Due: none

refactor(net,test-utils): rust-idioms Wave 1 — Display impl for RangeSpec (Cat 2)
  .config/ast-grep/rust.no-to-string-method.yml
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/types.rs
  crates/kithara-test-utils/src/hang/noop.rs
  crates/kithara-test-utils/src/hang/real/detector.rs
Due: semver, perf

refactor(workspace): rust-idioms Wave 2 — From trait for infallible from_X (Cat 1a)
  .config/ast-grep/rust.prefer-from-trait.yml
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/lru/disk.rs
  crates/kithara-assets/src/key.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/android/aformat.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/media_codec.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/gapless/trimmer/tests.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-net/src/types.rs
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/response.rs
  tests/fuzz/fuzz_targets/assets_key.rs
  tests/tests/kithara_audio/gapless_crossfade.rs
  tests/tests/kithara_decode/gapless_parity.rs
Due: semver, perf, bench

refactor(decode): rust-idioms Wave 3 — TryFrom for fallible AacStreamConfig (Cat 1b)
  crates/kithara-decode/src/symphonia/aac_fdk.rs
Due: semver, perf

refactor(workspace): rust-idioms Wave 4 — From for to_X/into_X non-String (Cat 1c/1d)
  .config/ast-grep/rust.prefer-from-not-to-into.yml
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/lru/disk.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/error.rs
  crates/kithara-decode/src/gapless/mp4.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-events/src/play.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

chore(stream,lint): rust-idioms Wave 5 — FromStr guard for AudioCodec parsers (Cat 3)
  .config/ast-grep/rust.prefer-fromstr.yml
  crates/kithara-stream/src/media.rs
Due: semver, perf

refactor(workspace): rust-idioms — replace 17 lint suppresses with real refactors
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-events/src/play.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/types.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-storage/src/backend/memory/driver.rs
  crates/kithara-storage/src/backend/memory/tests.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-test-utils/src/hang/noop.rs
  crates/kithara-test-utils/src/hang/real/detector.rs
  crates/kithara-test-utils/src/hang/real/native.rs
  crates/kithara-test-utils/src/hang/real/tests.rs
  crates/kithara-test-utils/src/hang/real/wasm.rs
  tests/perf/decoder.rs
  tests/tests/kithara_decode/aac_priming_regression.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/protocol_tests.rs
  tests/tests/kithara_decode/symphonia_tests.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_storage/streaming.rs
Due: semver, perf

refactor(workspace): rust-idioms Wave 6 — Default trait derive/manual decision (Cat 4)
  .config/ast-grep/style.prefer-default-derive.yml
  Cargo.toml
  crates/kithara-abr/src/estimator.rs
  crates/kithara-app/src/crossfade.rs
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/flush/worker_stub.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/hang_observer.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/types.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/converter.rs
  crates/kithara-drm/src/registry.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-net/src/types.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf, bench

refactor(workspace): rust-idioms Wave 10 — pub fields inside pub(crate) structs (Cat 7)
  .config/ast-grep/style.no-pub-fields-inside-crate.yml
  crates/kithara-app/src/gui/subscription.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/symphonia/config.rs
  crates/kithara-play/src/impls/crossfade.rs
Due: semver, perf

refactor(workspace): rust-idioms Wave 12 — match-self-conversion suppress + Wave 10 EvictConfig revert (Cat 10)
  .config/ast-grep/idioms.match-self-conversion.yml
  crates/kithara-assets/src/key.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-net/src/error.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-storage/src/backend/mmap/driver.rs
  crates/kithara-storage/src/unified.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

chore(lint): rust-idioms Wave 7 — expand prefer-config-over-new-params to pub(crate)/pub(super) (Cat 6)
  .config/ast-grep/arch.prefer-config-over-new-params.yml
Due: none

refactor(play): rust-idioms Wave 8 — IntoIterator for ArenaRegistry (Cat 5)
  crates/kithara-play/src/impls/arena_registry.rs
Due: semver, perf

refactor(decode): rust-idioms Wave 9 — AsRef impls for slice-yielding types (Cat 8)
  crates/kithara-decode/src/android/media_codec.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/types.rs
Due: semver, perf

chore(lint): rust-idioms Wave 11 — enable PartialEq/Eq/Hash/Ord consistency clippy lints (Cat 9)
  Cargo.toml
Due: perf, bench
