Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(encode): stream AAC-LC through the in-tree fdk-aac
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/src/fdk/aac_he.rs
  crates/kithara-encode/src/fdk/aac_lc.rs
  crates/kithara-encode/src/fdk/encoder.rs
  crates/kithara-encode/src/fdk/mod.rs
  crates/kithara-encode/src/offline.rs
  crates/kithara-encode/src/stream.rs
  crates/kithara-encode/src/test_pcm.rs
Due: semver, perf

refactor(encode): make the stream encoder name the backend it opens
  Cargo.lock
  crates/kithara-broadcast/src/service.rs
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/error.rs
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
  crates/kithara-encode/src/ffmpeg/pcm.rs
  crates/kithara-encode/src/ffmpeg/stream.rs
  crates/kithara-encode/src/lib.rs
  crates/kithara-encode/src/offline.rs
  crates/kithara-encode/src/stream.rs
  crates/kithara-encode/src/test_pcm.rs
  tests/tests/kithara_broadcast/packaging_tests.rs
  tests/tests/kithara_encode/stream_tests.rs
Due: semver, perf, bench

refactor(play): express tap interleave with iterators
  crates/kithara-play/src/rt/tap.rs
Due: semver, perf

refactor(encode): name the stream seam and take the cfg walls down
  Cargo.lock
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/fdk/aac_he.rs
  crates/kithara-encode/src/fdk/aac_lc.rs
  crates/kithara-encode/src/fdk/encoder.rs
  crates/kithara-encode/src/ffmpeg/stream.rs
  crates/kithara-encode/src/offline/bytes.rs
  crates/kithara-encode/src/offline/mod.rs
  crates/kithara-encode/src/offline/packaged.rs
  crates/kithara-encode/src/offline/tests.rs
  crates/kithara-encode/src/stream.rs
  crates/kithara-encode/src/stream/encoder.rs
  crates/kithara-encode/src/stream/mod.rs
  crates/kithara-encode/src/stream/tests.rs
Due: semver, perf, bench

refactor(hls): consolidate live packaging seams
  Cargo.lock
  crates/kithara-broadcast/src/service.rs
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/Cargo.toml
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
  crates/kithara-encode/src/ffmpeg/stream.rs
  crates/kithara-encode/src/stream/encoder.rs
  crates/kithara-encode/src/stream/tests.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/hls_conformance.rs
  tests/tests/kithara_broadcast/origin.rs
  tests/tests/kithara_broadcast/origin_tests.rs
  tests/tests/kithara_broadcast/packaging_tests.rs
  tests/tests/kithara_encode/stream_tests.rs
Due: semver, perf, bench

docs(encode): align stream contract with builder
  crates/kithara-encode/CONTEXT.md
Due: perf

fix(app,play): wait for measured broadcast rate
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/protocol.rs
Due: semver, perf

feat(app): wire broadcast service
  Cargo.lock
  Cargo.toml
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/main.rs
  tests/Cargo.toml
Due: semver, perf, bench

fix(app): stop broadcasts off the ui thread
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/update.rs
Due: semver, perf

feat(ui): let a status dot show which state it is in
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/src/atoms/design/status_dot.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/site.rs
  crates/kithara-ui/src/render/tree/control.rs
  crates/kithara-ui/src/render/tree/node.rs
Due: semver, perf

feat(app): put the broadcast toggle in the studio bar
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/studio-bar.kmodule.ron
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_reads/broadcast.rs
  crates/kithara-app/src/gui/studio_reads/mod.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/tests.rs
Due: semver, perf

fix(tests,ui,ci): the checks a fresh backend and a new atom walked into
  .config/xtask.toml
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/render/tree/atom.rs
  crates/kithara-ui/src/render/tree/control.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/origin_tests.rs
Due: semver, perf

fix(app,ui,tests): the names and limits a newer base asks for
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-ui/src/render/tree/control.rs
  tests/src/encoder_crates.rs
Due: semver, perf

fix(encode): let the trait impl be the encoder's only entry
  crates/kithara-encode/src/ffmpeg/stream.rs
Due: semver, perf

refactor(app): let the app always be able to go on air
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/Cargo.toml
  crates/kithara-app/assets/ui/modules/studio-bar.kmodule.ron
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio_reads/broadcast.rs
  crates/kithara-app/src/gui/studio_reads/root.rs
  crates/kithara-app/src/gui/studio_ui/endpoints.rs
  crates/kithara-app/src/gui/studio_ui/events.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
Due: semver, perf

fix(play): give the engine back the rate it asks a resampler for
  crates/kithara-app/src/broadcast.rs
  crates/kithara-play/src/bridge/mod.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/mod.rs
  crates/kithara-play/src/session/protocol.rs
Due: semver, perf

refactor(app): let the REC cell be the only way on air
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/broadcast.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/main.rs
Due: semver, perf

fix(ui): stop the clock mock shadowing deck reads, restore expand exhaustiveness
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/examples/gallery/mock/clock.rs
  crates/kithara-ui/examples/gallery/mock/pivot.rs
  crates/kithara-ui/examples/gallery/mock/reads.rs
  crates/kithara-ui/src/atoms/design/portal_map.rs
  crates/kithara-ui/src/atoms/design/range.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/render/typography.rs
Due: semver, perf

fix(ui): move pivot UI copy into the gallery asset, round pivot geometry
  crates/kithara-ui/assets/modules/pivot-portals.kmodule.ron
  crates/kithara-ui/assets/modules/pivot-portals/row.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/mock-data.ron
  crates/kithara-ui/examples/gallery/mock/pivot.rs
  crates/kithara-ui/examples/gallery/mock_data.rs
Due: perf

feat(ui): resolve document text through a catalog resource
  crates/kithara-app/src/gui/studio_ui/compile.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/assets/kithara-en.ktext.ron
  crates/kithara-ui/assets/modules/deck-micro.kmodule.ron
  crates/kithara-ui/assets/modules/deck/quality.kmodule.ron
  crates/kithara-ui/assets/modules/deck/quality/auto.kmodule.ron
  crates/kithara-ui/assets/modules/deck/transport.kmodule.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/examples/gallery/main.rs
  crates/kithara-ui/src/atoms/design/crossfader.rs
  crates/kithara-ui/src/atoms/knob.rs
  crates/kithara-ui/src/builtin.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/envelope.rs
  crates/kithara-ui/src/doc/mod.rs
  crates/kithara-ui/src/doc/skin/controls.rs
  crates/kithara-ui/src/doc/skin/panels.rs
  crates/kithara-ui/src/doc/text.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/binding_subst.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/lib.rs
  crates/kithara-ui/src/render/mod.rs
  crates/kithara-ui/src/render/skin.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/widgets/button.rs
  crates/kithara-ui/src/widgets/module/preview.rs
  crates/kithara-ui/src/widgets/nav/tree.rs
  crates/kithara-ui/src/widgets/track_list.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
  crates/kithara-ui/tests/render_scope.rs
  crates/kithara-ui/tests/skin.rs
  crates/kithara-ui/tests/swatch.rs
  crates/kithara-ui/tests/text.rs
Due: semver, perf

feat(ui): key the remaining canon copy
  crates/kithara-ui/assets/kithara-en.ktext.ron
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/assets/modules/deck/key-lock.kmodule.ron
  crates/kithara-ui/assets/modules/master-clock.kmodule.ron
  crates/kithara-ui/assets/modules/pivot-portals.kmodule.ron
  crates/kithara-ui/tests/text.rs
Due: perf

feat(ui): key the menu copy carried by include arguments
  crates/kithara-ui/assets/kithara-en.ktext.ron
  crates/kithara-ui/assets/modules/app-menu.kmodule.ron
  crates/kithara-ui/tests/text.rs
Due: perf

refactor(ui): drop the priority no adaptivity ever read
  crates/kithara-app/assets/ui/modules/app-deck.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-library.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-overview-row.kmodule.ron
  crates/kithara-ui/assets/modules/deck-micro.kmodule.ron
  crates/kithara-ui/assets/modules/deck.kmodule.ron
  crates/kithara-ui/assets/modules/deck/transport.kmodule.ron
  crates/kithara-ui/assets/modules/library.kmodule.ron
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/examples/gallery/assets/modules/tabs/library2.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/tracklist.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/tree.kmodule.ron
  crates/kithara-ui/src/doc/module/binding.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/site.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

test(app): pin the scoped key the mode menu and the deck must share
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

feat(ui): let a node pick its form from the box it is given
  crates/kithara-app/assets/ui/modules/app-strip.kmodule.ron
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/measured.rs
  crates/kithara-ui/src/widgets/mod.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

feat(ui): pick one form of a place by a measured number
  crates/kithara-app/assets/ui/modules/app-strip/eq-mode-row.kmodule.ron
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/mod.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/spec.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/read.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

refactor(app): let one EQ mode answer one question at a time
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/modules/app-strip.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-strip/eq-mode-row.kmodule.ron
  crates/kithara-app/src/gui/reads/deck.rs
  crates/kithara-app/src/gui/reads/root.rs
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/endpoints.rs
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

feat(ui): let a layout pick its shape from the window it fills
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/module/preview.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

test(app): make an empty tree walk fail instead of pass over nothing
  crates/kithara-app/src/gui/ui/tests.rs
  crates/kithara-ui/CONTEXT.md
Due: semver, perf

feat(ui): let a bar reveal cells as the room for them appears
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/benches/ui.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand/machine.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/spec.rs
  crates/kithara-ui/src/render/tree/geometry.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/adaptive/measured.rs
  crates/kithara-ui/src/widgets/adaptive/mod.rs
  crates/kithara-ui/src/widgets/adaptive/revealed.rs
  crates/kithara-ui/src/widgets/mod.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

feat(app): let the window shrink to the bar it can always draw
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/app-single.klayout.ron
  crates/kithara-app/assets/ui/app.klayout.ron
  crates/kithara-app/assets/ui/modules/app-bar-micro.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-bar.kmodule.ron
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-app/src/gui/ui/scope.rs
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

refactor(app): give the micro player one document to live in
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/app-single.klayout.ron
  crates/kithara-app/assets/ui/app.klayout.ron
  crates/kithara-app/assets/ui/modules/app-bar-micro.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-micro.kmodule.ron
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

fix(app): ask the window for both axes before drawing the whole tree
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/app-single.klayout.ron
  crates/kithara-app/assets/ui/app.klayout.ron
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

feat(ui): let the tree work out the room it needs
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/assets/ui/app-single.klayout.ron
  crates/kithara-app/assets/ui/app.klayout.ron
  crates/kithara-app/assets/ui/modules/app-bar-micro.kmodule.ron
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/tests.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/kithara-dark.kskin.ron
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/doc/skin/panels.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/lib.rs
  crates/kithara-ui/src/room.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

refactor(app): let one place know that a bar carries the app menu
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-app/src/gui/ui/tests.rs
  crates/kithara-ui/CONTEXT.md
Due: semver, perf

feat(ui): make a layout answer for the box it declares
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/room.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf
