Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(abr): drop pending invalidation the seek path does not call
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state/core.rs
  tests/crates/abr/tests/abr_contract/mod.rs
  tests/crates/abr/tests/abr_contract/probe_seek_invalidates_stale_pending.rs
Due: semver, perf, bench

fix(ui): build kithara-ui for wasm32 without the tiny-skia renderer
  .config/just/platform.just
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-ui/Cargo.toml
Due: semver, perf, bench

chore(release): 0.0.1-alpha5
  CHANGELOG.md
  Package.swift
Due: none

bench: keep the layout baseline to DSP building blocks
  tests/benches/refactor_hotpaths.rs
Due: none

fix(ffi): ship the analysis contracts and Glide on Android and Apple (#477)
  crates/kithara-analysis/src/slots/nowaveform.rs
  crates/kithara-app/src/state.rs
  crates/kithara-ffi/Cargo.toml
  tests/crates/sync/tests/sync_product_matrix.rs
  xtask/src/android/native/prepare.rs
Due: semver, perf

fix(sync,warp): latch the sounding map at one cut frame
  crates/kithara-sync/src/owner/placement.rs
  crates/kithara-sync/src/owner/preparation.rs
  crates/kithara-sync/src/owner/tests/lifecycle.rs
  crates/kithara-sync/src/owner/tests/modes.rs
  crates/kithara-sync/src/owner/tests/relocation.rs
  crates/kithara-sync/src/owner/timeline.rs
  crates/kithara-warp/src/warp/map.rs
  crates/kithara-warp/src/warp/plan.rs
Due: semver, perf

feat(config): introduce retained protocol and pool owner (#468)
  Cargo.lock
  Cargo.toml
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/document/load.rs
  crates/kithara-app/src/document/schema.rs
  crates/kithara-app/tests/config_document.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/src/buffer/owned.rs
  crates/kithara-bufpool/src/config.rs
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/src/pool/shard.rs
  crates/kithara-bufpool/src/pool/tests.rs
  crates/kithara-config/Cargo.toml
  crates/kithara-config/README.md
  crates/kithara-config/src/__private.rs
  crates/kithara-config/src/config.rs
  crates/kithara-config/src/lib.rs
  crates/kithara-config/tests/protocol.rs
  crates/kithara-derive/Cargo.toml
  crates/kithara-derive/src/config/mod.rs
  crates/kithara-derive/src/config/patch/attribute.rs
  crates/kithara-derive/src/config/patch/implementation.rs
  crates/kithara-derive/src/config/patch/mod.rs
  crates/kithara-derive/src/config/retained/field.rs
  crates/kithara-derive/src/config/retained/implementation.rs
  crates/kithara-derive/src/config/retained/mod.rs
  crates/kithara-derive/src/lib.rs
  crates/kithara-derive/tests/patch.rs
  crates/kithara-play/src/player/player_impl.rs
  crates/kithara-play/src/resource/build.rs
  crates/kithara-warp/src/warp/config.rs
Due: semver, perf, bench

feat(apple): vDSP ztoc/ctoz and strided scopy layout wrappers
  crates/kithara-apple/src/accelerate/ffi.rs
  crates/kithara-apple/src/accelerate/layout.rs
  crates/kithara-apple/src/accelerate/mod.rs
  crates/kithara-apple/src/accelerate/tests.rs
Due: semver, perf

fix(decode): read streamed apple mp3 through the mpeg demuxer
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/build.rs
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/factory/apple_mp3_tests.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/fmp4/mod.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/gapless/mod.rs
  crates/kithara-decode/src/gapless/mp3.rs
  crates/kithara-decode/src/gapless/probe.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/symphonia/adapter.rs
  crates/kithara-decode/tests/resampled.rs
Due: semver, perf

fix(perf): make the perf suite build and size resampler output by its maximum
  tests/perf/decoder.rs
  tests/perf/pool.rs
  tests/perf/resampler.rs
Due: perf

fix(health): run stages without the runner's CARGO_PKG_NAME
  crates/kithara-devtools/src/health.rs
Due: semver, perf

feat(dsp): kithara-dsp crate with Accelerate and fearless_simd layout kernels
  .cargo/config.toml
  .config/arch/direction.toml
  .config/hakari.toml
  .config/just/perf.just
  .config/just/test.just
  .config/xtask.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-dsp/Cargo.toml
  crates/kithara-dsp/README.md
  crates/kithara-dsp/benches/kernels.rs
  crates/kithara-dsp/src/backend/accelerate.rs
  crates/kithara-dsp/src/backend/mod.rs
  crates/kithara-dsp/src/backend/portable.rs
  crates/kithara-dsp/src/backend/traits.rs
  crates/kithara-dsp/src/lib.rs
  crates/kithara-dsp/tests/alloc_free.rs
  crates/kithara-dsp/tests/common/mod.rs
  crates/kithara-dsp/tests/common/oracle.rs
  crates/kithara-dsp/tests/parity.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

fix(fmt): format Markdown in an unscoped run
  CHANGELOG.md
  crates/kithara-beat/README.md
  crates/kithara-devtools/src/format.rs
  crates/kithara-test-fixtures/README.md
  crates/kithara/ARCHITECTURE.md
  docs/guides/ci-host.md
  tests/README.md
Due: semver, perf

feat(dsp): sanitize kernel, panic restriction lints and the kithara-dsp-tests suite
  .config/xtask.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-dsp/benches/kernels.rs
  crates/kithara-dsp/src/backend/accelerate.rs
  crates/kithara-dsp/src/backend/portable.rs
  crates/kithara-dsp/src/backend/traits.rs
  crates/kithara-dsp/src/lib.rs
  crates/kithara-dsp/tests/alloc_free.rs
  crates/kithara-dsp/tests/common/oracle.rs
  crates/kithara-dsp/tests/parity.rs
  tests/crates/dsp/Cargo.toml
  tests/crates/dsp/README.md
  tests/crates/dsp/tests/sanitize.rs
  tests/crates/dsp/tests/suite.rs
Due: semver, perf, bench

fix(wasm): run the release wasm-opt pass with SIMD enabled
  crates/kithara-ffi/index.html
Due: perf

fix(app): name obfstr as reached only from generated code
  crates/kithara-app/Cargo.toml
Due: semver, perf

refactor(audio): keep one decoder panic_message in decode/core
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/generation.rs
  crates/kithara-audio/src/pipeline/rebuild/port.rs
Due: semver, perf

refactor(ffi): marshal web reply fields through observer::marshal
  crates/kithara-ffi/src/web/interop.rs
Due: semver, perf

refactor(net): share non_identity_content_encoding through backend/common
  crates/kithara-net/src/backend/apple/response.rs
  crates/kithara-net/src/backend/common.rs
  crates/kithara-net/src/backend/host/protocol.rs
Due: semver, perf

fix(app): name obfstr as reached only from generated code (#480)
  crates/kithara-app/Cargo.toml
Due: semver, perf

refactor(apple): drop the unused accelerate BiquadFilter
  crates/kithara-apple/src/accelerate/biquad.rs
  crates/kithara-apple/src/accelerate/ffi.rs
  crates/kithara-apple/src/accelerate/mod.rs
  crates/kithara-apple/src/accelerate/tests.rs
Due: semver, perf

fix(app): tell machete obfstr is used by the baked config table
  crates/kithara-app/Cargo.toml
Due: semver, perf

refactor(dsp): route firewheel DSP helpers through the kithara_dsp facade
  .config/arch/thresholds.toml
  Cargo.lock
  crates/kithara-devtools/src/arch/checks/context.rs
  crates/kithara-devtools/src/arch/checks/firewheel_dsp_facade.rs
  crates/kithara-devtools/src/arch/checks/mod.rs
  crates/kithara-devtools/src/arch/checks/smoothing_primitive_sites.rs
  crates/kithara-devtools/src/arch/config.rs
  crates/kithara-dsp/Cargo.toml
  crates/kithara-dsp/README.md
  crates/kithara-dsp/src/fade.rs
  crates/kithara-dsp/src/lib.rs
  crates/kithara-dsp/src/param.rs
  crates/kithara-effects/Cargo.toml
  crates/kithara-effects/src/dsp/gain.rs
  crates/kithara-effects/src/eq/config.rs
  crates/kithara-effects/src/eq/isolator.rs
  crates/kithara-effects/src/node/eq/master.rs
  crates/kithara-host/Cargo.toml
  crates/kithara-host/src/session/state.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/engine/config.rs
  crates/kithara-play/src/rt/node.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/session.rs
  crates/kithara-warp/Cargo.toml
  crates/kithara-warp/src/warp/render/renderer.rs
  crates/kithara-warp/src/warp/render/renderer_render.rs
  crates/kithara-warp/src/warp/render/tests/timeline.rs
  tests/Cargo.toml
  tests/crates/play/Cargo.toml
  tests/crates/play/tests/parameter_smoothing.rs
  tests/src/smoothing.rs
Due: semver, perf, bench

fix(mpa): publish no duration for a headerless MP3 whose leading bitrates differ
  Cargo.lock
  crates/kithara-mpa/Cargo.toml
  crates/kithara-mpa/README.md
  crates/kithara-mpa/src/common.rs
  crates/kithara-mpa/src/demuxer.rs
  crates/kithara-mpa/src/header.rs
  crates/kithara-mpa/tests/estimated_duration.rs
  crates/kithara-test-fixtures/src/lib.rs
  crates/kithara-test-fixtures/src/mp3.rs
  tests/crates/audio/tests/file_ephemeral_mp3.rs
Due: semver, perf, bench

refactor(play,host): crossfade gains speak firewheel FadeCurve
  Cargo.lock
  crates/kithara-host/src/api.rs
  crates/kithara-play/src/api/crossfade.rs
  tests/crates/dsp/Cargo.toml
  tests/crates/dsp/tests/curves.rs
  tests/crates/dsp/tests/suite.rs
Due: semver, perf, bench

fix(ci): the Windows guest has a sound card and the FFI retry test a portable path
  crates/kithara-ffi/src/player/tests.rs
  xtask/src/ci/host/linux/windows.rs
Due: semver, perf

docs(app,ui): trim plugin and collection documentation
  crates/kithara-app-library/README.md
  crates/kithara-app-library/src/context.rs
  crates/kithara-app-library/src/page.rs
  crates/kithara-app-library/src/source.rs
  crates/kithara-app-zvuk/README.md
  crates/kithara-app-zvuk/src/ui/page.rs
  crates/kithara-app-zvuk/src/ui/source/core.rs
  crates/kithara-app-zvuk/tests/source/lifecycle.rs
  crates/kithara-app/src/gui/library/pages.rs
  crates/kithara-app/src/gui/library/shell.rs
  crates/kithara-app/src/gui/library/sources.rs
  crates/kithara-app/src/gui/library/tests.rs
  crates/kithara-app/src/gui/reads/library.rs
  crates/kithara-app/src/gui/retained.rs
  crates/kithara-app/src/gui/ui/package.rs
  crates/kithara-app/src/gui/ui/tests.rs
  crates/kithara-ui-gallery/src/fixture.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module/measure.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/doc/package.rs
  crates/kithara-ui/src/expand/machine/expander.rs
  crates/kithara-ui/src/expand/machine/slot.rs
  crates/kithara-ui/src/expand/node/tree.rs
  crates/kithara-ui/src/expand/structural.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/size/spec.rs
  crates/kithara-ui/src/source/mem.rs
  crates/kithara-ui/src/source/uri.rs
  crates/kithara-ui/src/validate/fill.rs
  crates/kithara-ui/src/validate/module.rs
  crates/kithara-ui/src/validate/path.rs
  crates/kithara-ui/tests/doc/package.rs
  crates/kithara-ui/tests/parity/used/fill.rs
Due: semver, perf

fix(xtask): the Apple staging and consumer dirs are tempfile dirs
  xtask/src/apple.rs
Due: none
