Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(kithara-decode): delete backend/ and internal.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/backend/mod.rs
  crates/kithara-decode/src/backend/source_alias.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/internal.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/traits.rs
Due: semver, perf

refactor(kithara-decode): fold HookedDecoder into UniversalDecoder
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/hooks.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

refactor(kithara-decode): zero-alloc codec API — write into &mut PcmBuf
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

refactor(kithara-decode): zero-copy demuxer — Frame<'_> borrowed slice
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

refactor(kithara-decode): drop dead `gapless` field, document pool propagation
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/tests.rs
Due: semver, perf

refactor(kithara-decode): drop `SeekError` alias, mark `DecodeError` non-exhaustive
  crates/kithara-audio/src/mock.rs
  crates/kithara-decode/src/error.rs
  crates/kithara-decode/src/types.rs
  tests/tests/kithara_audio/alloc_free_hotpath.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

feat(xtask): autofix engine + --fix for typos & ast-grep
  .config/ast-grep/style.no-noop-in-impl.yml
  .config/ast-grep/style.no-separator-comments-toml.yml
  .config/typos.toml
  justfile
  xtask/src/ast_grep.rs
  xtask/src/common/fix/README.md
  xtask/src/common/fix/block.rs
  xtask/src/common/fix/mod.rs
  xtask/src/common/fix/rewriter.rs
  xtask/src/common/fix/tests.rs
  xtask/src/common/mod.rs
  xtask/src/typos.rs
  xtask/src/util.rs
Due: none

chore: apply `just audit-fix` to the workspace
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-decode/src/universal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-queue/src/loader.rs
  tests/tests/kithara_queue/track_switch_race.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
  xtask/src/common/fix/block.rs
  xtask/src/common/fix/rewriter.rs
Due: semver, perf

feat(xtask): style autofix — struct_init_order, struct_field_order, trait_item_order
  justfile
  xtask/src/common/fix/block.rs
  xtask/src/common/fix/mod.rs
  xtask/src/common/fix/rewriter.rs
  xtask/src/lint.rs
  xtask/src/style/checks/mod.rs
  xtask/src/style/checks/struct_field_order.rs
  xtask/src/style/checks/struct_init_order.rs
  xtask/src/style/checks/trait_item_order.rs
  xtask/src/style/mod.rs
Due: none

fix(xtask): autofix correctness for ambiguous comments and shorthand moves
  xtask/src/common/fix/block.rs
  xtask/src/style/checks/struct_init_order.rs
Due: none

chore: tighten lint baselines after audit-fix
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
Due: none

refactor(justfile): replace `audit-fix` recipe with `audit --autofix` flag
  justfile
Due: none

feat(xtask): allocation-hotspot ast-grep rules + drop wired blocking filter
  .config/ast-grep/perf.no-global-pool-accessor.yml
  .config/ast-grep/perf.prefer-byte-pool.yml
  .config/ast-grep/perf.prefer-pcm-pool.yml
  .config/ast-grep/rust.no-thin-sync-wrapper.yml
  .config/ast-grep/style.no-deep-qualified-paths.yml
  .config/ast-grep/style.no-inline-qualified-paths.yml
  .config/ast-grep/style.no-local-use-in-prod-functions.yml
  .config/ast-grep/style.no-magic-numbers.yml
  .config/ast-grep/style.no-separator-comments-rs.yml
  justfile
  xtask/src/ast_grep.rs
Due: none

refactor(bufpool): Default impls replace global byte_pool/pcm_pool accessors
  .config/ast-grep/perf.no-global-pool-accessor.yml
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/resource_state.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-bufpool/src/global.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/mock.rs
  crates/kithara-decode/src/pcm/conversion.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-decode/src/universal.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-storage/src/backend/memory/driver.rs
  tests/benches/refactor_hotpaths.rs
  tests/perf/pool.rs
  tests/perf/resampler.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/pins_index_integration.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_storage/atomic.rs
Due: semver, perf

refactor(configs): + #[non_exhaustive] + Setters builders for top-level configs
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-app/src/main.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/tests/protocol.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-file/src/config.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/types.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/offline_backend.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-test-utils/src/fixtures.rs
  tests/benches/abr_estimator.rs
  tests/benches/refactor_hotpaths.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_abr_integration/multi_track_contention.rs
  tests/tests/kithara_abr_integration/switch_midfetch.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_file/early_stream_close.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_play/engine_tests.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf, bench

refactor(configs): + #[non_exhaustive] for hybrid configs (B2)
  crates/kithara-app/src/config.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

refactor(configs): + #[non_exhaustive] for field-blocker configs (B3)
  Cargo.lock
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/persist.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/backend/mmap/driver.rs
  tests/fuzz/fuzz_targets/storage_mmap_resource.rs
  tests/perf/storage.rs
  tests/tests/kithara_storage/atomic.rs
  tests/tests/kithara_storage/streaming.rs
Due: semver, perf, bench

feat(xtask): A1 detectors — Arc-shared-state hotspots
  .config/arch/thresholds.toml
  .config/ast-grep/arch.no-arc-mutex-collection.yml
  .config/ast-grep/arch.no-arc-mutex-godmap.yml
  xtask/src/arch/checks/arc_clone_hotspots.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
Due: none

feat(xtask): A2 detectors — component hierarchy
  .config/arch/thresholds.toml
  xtask/src/arch/checks/god_module.rs
  xtask/src/arch/checks/god_struct.rs
  xtask/src/arch/checks/god_trait.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/pub_struct_open_fields.rs
  xtask/src/arch/checks/trait_impl_count.rs
  xtask/src/arch/config.rs
Due: none

feat(xtask): A3+A4 detectors — function complexity & primitive spread
  .config/arch/thresholds.toml
  .config/ast-grep/style.pub-primitive-spread.yml
  xtask/src/arch/checks/fn_arg_count.rs
  xtask/src/arch/checks/generic_param_count.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/config.rs
Due: none

chore(xtask): refresh arch baseline for Phase A detectors
  .config/arch/baseline.toml
Due: none

feat(xtask): Phase B detectors — naming, hygiene, globals discipline
  .config/arch/baseline.toml
  .config/arch/thresholds.toml
  .config/ast-grep/rust.no-anyhow-in-pub-api.yml
  .config/ast-grep/rust.no-debug-prints.yml
  .config/ast-grep/rust.no-expect-bare-string.yml
  .config/ast-grep/style.bool-naming.yml
  .config/ast-grep/style.narrow-pub-inputs.yml
  .config/ast-grep/style.no-vague-type-suffix.yml
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/no_lib_statics.rs
  xtask/src/arch/config.rs
Due: none

feat(xtask): Phase C detectors — determinism & test discipline
  .config/ast-grep/arch.no-implicit-clock.yml
  .config/ast-grep/arch.no-implicit-rng.yml
  .config/ast-grep/arch.no-implicit-sleep.yml
  .config/ast-grep/arch.tests-use-pub-only.yml
Due: none

chore(lint): suppress perf.no-global-pool-accessor on test fixtures + Clone trait
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/pcm/conversion.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-decode/src/universal.rs
Due: semver, perf

refactor(hls): inject byte pool through PlaylistCache/KeyManager + suppress test/fallback sites
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

chore(lint): close remaining perf.no-global-pool-accessor warnings
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/internal.rs
Due: semver, perf

fix(audio): non-blocking PcmReader::next_chunk via preload latch
  crates/kithara-audio/src/audio.rs
Due: semver, perf

chore(lint): clear workspace warnings (criterion, dead_code, unused Result)
  tests/benches/abr_estimator.rs
  tests/benches/bufpool.rs
  tests/benches/refactor_hotpaths.rs
  tests/tests/common/reader_helpers.rs
  tests/tests/common/test_defaults.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/red_flaky_small_cache_hot_refetch.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
Due: none

fix(audio): pin timeline.byte_position from decoder's landed_byte after seek
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
Due: semver, perf

chore(lint): 7 ast-grep rules for rust-way + performance smells (D-1)
  .config/ast-grep/arch.no-std-sync-mutex.yml
  .config/ast-grep/arch.no-std-time.yml
  .config/ast-grep/perf.no-collect-iter-roundtrip.yml
  .config/ast-grep/perf.no-iter-count.yml
  .config/ast-grep/perf.prefer-cloned.yml
  .config/ast-grep/style.prefer-any.yml
  .config/ast-grep/style.prefer-expect.yml
  crates/kithara-abr/src/state/core.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/runtime/observer.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/fmp4/parsing.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/universal.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-play/src/impls/offline_backend.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/queue/state.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-test-utils/src/hls_fixture.rs
Due: semver, perf, bench

chore(lint): promote 9 clippy lints to deny (D-3)
  Cargo.toml
Due: perf, bench

feat(xtask): manual_question_mark idiom check + suppress helper (D-2.0/2.1)
  xtask/src/common/mod.rs
  xtask/src/common/suppress.rs
  xtask/src/common/violation.rs
  xtask/src/idioms/checks/manual_question_mark.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask): loop_allocation idiom check (D-2.2)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/loop_allocation.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask): box_concrete_type idiom check (D-2.3)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/box_concrete_type.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask): arc_mutex_collection idiom check (D-2.4)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/arc_mutex_collection.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask): await_under_guard idiom check (D-2.5)
  xtask/src/idioms/checks/await_under_guard.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/config.rs
Due: none

chore(audit): tighten idiom thresholds + ratchet baseline
  .config/idioms/baseline.toml
  .config/idioms/thresholds.toml
  xtask/src/idioms/config.rs
Due: none

perf(stream): typed wait-budget error replaces hot-loop string match
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-stream/src/error.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
