Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

feat(decode): add stream-based mp4 gapless scanner
  .docs/reports/gapless_research.md
  Cargo.lock
  crates/kithara-audio/src/mock.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/gapless/info.rs
  crates/kithara-decode/src/gapless/mod.rs
  crates/kithara-decode/src/gapless/mp4.rs
  crates/kithara-decode/src/gapless/trimmer.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/mp4.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf, bench

chore(ci): add mutants-ci + ci-full-run + docker-compose for remote full-cycle runs
  .docs/workflow/docker-ci.md
  docker/ci.Dockerfile
  docker/docker-compose.yml
  justfile
Due: none

chore(ci): add sccache-backed `ci-full-fast` compose service
  .docs/workflow/docker-ci.md
  docker/ci.Dockerfile
  docker/docker-compose.yml
Due: none

refactor(bufpool): extract Pool::acquire to deduplicate get_with between Pool and SharedPool
  crates/kithara-bufpool/src/pool.rs
Due: semver, perf

refactor(audio): merge set_recreating_decoder + set_waiting_recreation via RecreateKind
  crates/kithara-audio/src/internal.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

chore(ci): cap mutants-ci parallelism at 12, add MUTANTS_JOBS override
  justfile
Due: none

test(net): extract retry helpers to reduce boilerplate in retry tests
  tests/tests/kithara_net/retry.rs
Due: none

test(multi_instance): unify read_*_to_eof / read_*_for_concurrency_check via generic over StreamType
  tests/tests/multi_instance/concurrent_mixed.rs
Due: none

test(net): dedupe http_client key-request tests via helpers + rstest parametrisation
  tests/tests/kithara_net/http_client.rs
Due: none

refactor(hls): remove dead stream_index::reconcile_segment (94.40% dup of commit_segment)
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

chore(ci): mutants-ci only mutates production code
  justfile
Due: none

refactor(assets): introduce delegate_to_store! macro to dedupe AssetStore enum dispatch
  crates/kithara-assets/src/unified.rs
Due: semver, perf

chore(ci): exclude wasm and hang-detector crates from mutants-ci
  justfile
Due: none

chore(ci): fix integration-tests/fuzz exclude glob (they live in tests/, not crates/)
  justfile
Due: none

chore(deps): remove unused tracing from kithara-abr, gate kithara-play in kithara-ffi for cargo-machete
  crates/kithara-abr/Cargo.toml
  crates/kithara-ffi/Cargo.toml
Due: semver, perf, bench

refactor(assets): split evict_candidates by extracting evict_one
  crates/kithara-assets/src/evict.rs
Due: semver, perf

refactor(decode): split create_with_backend to lift cognitive complexity below 20/20
  crates/kithara-decode/src/factory.rs
Due: semver, perf

refactor(assets): extract delete_and_forget from evict_one to drop cognitive complexity below 20
  crates/kithara-assets/src/evict.rs
Due: semver, perf

refactor(decode/apple): extract helpers to drop try_new/next_chunk/seek below 20/20
  crates/kithara-decode/src/apple.rs
Due: semver, perf

refactor(audio/resampler): extract helpers to drop flush/resample/process below 20/20
  crates/kithara-audio/src/resampler.rs
Due: semver, perf

refactor(hls/loading): extract helpers to drop atomic_fetch/segment_loader/size_estimation below 20/20
  Cargo.lock
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_estimation.rs
Due: semver, perf, bench

refactor(audio): extract helpers to drop 8 cognitive_complexity violations in audio/
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/runtime/scheduler.rs
Due: semver, perf

refactor(hls): extract helpers to drop 8 cognitive_complexity violations in hls core
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

refactor(play): extract helpers to drop 4 cognitive_complexity violations in play
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session_engine.rs
Due: semver, perf

refactor(decode/apple): final complexity fix for try_new + seek
  crates/kithara-decode/src/apple.rs
Due: semver, perf

refactor(test-macros): decompose generate() to drop cognitive_complexity + too_many_lines
  crates/kithara-test-macros/src/lib.rs
Due: semver, perf

refactor(wasm-macros): extract helpers to drop wasm_export cognitive complexity
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara-wasm-macros/src/lib.rs
Due: semver, perf

refactor(workspace): final cleanup to satisfy `just clippy -- -D warnings` + `just lint-fast`
  Cargo.lock
  crates/kithara-app/src/gui/update.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-stream/src/dl/cmd.rs
  crates/kithara-test-macros/src/lib.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_decode/fixture_integration.rs
  tests/tests/kithara_decode/timeline_tests.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/multi_instance/concurrent_mixed.rs
Due: semver, perf, bench

refactor(decode): extract shared pcm/ module from android/format.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm/conversion.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/pcm/timeline.rs
Due: semver, perf

refactor(decode): decompose symphonia.rs into symphonia/ submodules
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-decode/src/symphonia/adapter.rs
  crates/kithara-decode/src/symphonia/config.rs
  crates/kithara-decode/src/symphonia/inner.rs
  crates/kithara-decode/src/symphonia/mod.rs
  crates/kithara-decode/src/symphonia/probe.rs
Due: semver, perf

refactor(decode): extract apple FFI/consts/parser/converter submodules
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/converter.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/apple/parser.rs
Due: semver, perf

refactor(decode): extract apple/config and apple/inner; drop dead prime_info
  crates/kithara-decode/src/apple/config.rs
  crates/kithara-decode/src/apple/consts.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/apple/inner.rs
  crates/kithara-decode/src/apple/mod.rs
Due: semver, perf

refactor(decode): split factory.rs into focused submodules
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/factory/hardware.rs
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/factory/symphonia_entry.rs
Due: semver, perf

refactor(decode): replace hardware.rs with backend/ + per-platform impls
  crates/kithara-decode/src/android/backend.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/android/source.rs
  crates/kithara-decode/src/apple/backend.rs
  crates/kithara-decode/src/apple/inner.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/backend/current.rs
  crates/kithara-decode/src/backend/mod.rs
  crates/kithara-decode/src/factory/hardware.rs
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/factory/symphonia_entry.rs
  crates/kithara-decode/src/hardware.rs
  crates/kithara-decode/src/lib.rs
Due: semver, perf

test(decode): add cross-decoder protocol test suite
  crates/kithara-decode/tests/decoder_protocol.rs
Due: perf

docs(decode): document new module layout and cross-decoder test
  crates/kithara-decode/README.md
Due: perf

feat(test-utils,encode): support packaged hls encoder delay metadata
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-decode/src/gapless/trimmer.rs
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-test-utils/src/fmp4/bytes.rs
  crates/kithara-test-utils/src/fmp4/mux.rs
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
  crates/kithara-test-utils/src/test_server.rs
  tests/tests/kithara_decode/fixture_integration.rs
Due: semver, perf

refactor(decode/mock): extract shared helper from inner decoder mocks
  crates/kithara-decode/src/mock.rs
Due: semver, perf

feat(test-utils): add sweep signal fixtures
  crates/kithara-test-utils/README.md
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/routes/signal.rs
  crates/kithara-test-utils/src/signal_pcm.rs
  crates/kithara-test-utils/src/signal_spec.rs
  crates/kithara-test-utils/src/signal_url.rs
  crates/kithara-test-utils/src/test_server.rs
  crates/kithara-test-utils/src/test_server/native.rs
  crates/kithara-test-utils/src/test_server/wasm.rs
  tests/README.md
  tests/tests/kithara_decode/fixture_integration.rs
Due: semver, perf

fix(apple): wire prime info into gapless track info
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/hardware.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
