Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

refactor(file): FileSource/FilePeer consume narrow seek/activity handles
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/source.rs
Due: semver, perf

refactor(stream): extract HLS-only Source methods into VariantControl handle
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor(stream): delete dead Source methods commit_seek_landing/current_segment_range/current_variant
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

refactor(stream): Stream read/snapshot off Timeline to narrow handles; drop dead segment_position
  crates/kithara-audio/src/audio.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(audio): FSM consumes narrow seek/playhead/activity handles (keep seek_time_anchor)
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(stream): delete write-only dead playhead state (committed_frame_end, last_sample_rate)
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

feat(stream): extract PlayheadState + PlayheadRead/Write; Timeline delegates playhead
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/playhead.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(audio): decoder_node + worker consume SeekObserve handle; drop AudioWorkerSource::timeline()
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-stream/src/timeline.rs
Due: semver, perf

refactor(stream): SegmentLayout → ByteMap, fold seek_time_anchor into anchor_at_time
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_decode/timeline_tests.rs
Due: semver, perf

refactor(stream): coords own PlayheadState/SeekState inline; Source vends 5 required handles, drop Source::timeline()
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-file/src/session/tests.rs
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/playhead.rs
  crates/kithara-stream/src/seek_state.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/src/memory_source.rs
  tests/src/signal_source.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
Due: semver, perf

refactor(stream): delete Timeline struct; migrate seek/playhead tests to SeekState/PlayheadState
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/src/types.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-stream/src/dl/tests.rs
  crates/kithara-stream/src/hooks.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/playhead.rs
  crates/kithara-stream/src/seek_state.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
  crates/kithara-test-utils/src/probe/real/wire.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/src/memory_source.rs
  tests/src/signal_source.rs
  tests/tests/kithara_queue/flac_swallow_fixture.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
Due: semver, perf

fix(hls): hold EOF while segment sizes are incomplete — kill immediate-seek auto-advance
  crates/kithara-hls/README.md
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/layout.rs
  crates/kithara-stream/README.md
  tests/src/hls_server.rs
  tests/src/native/routes/stream.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server/native.rs
  tests/tests/kithara_hls/early_seek_withheld_segment.rs
  tests/tests/kithara_queue/early_seek_size_withheld_advance.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

test(harness): deterministic segment-withhold gate for HLS (Phase 0b)
  tests/src/hls_server.rs
  tests/src/lib.rs
  tests/src/native/routes/stream.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server.rs
  tests/src/test_server/native.rs
Due: none

fix(audio,play,queue): block construction reads off-RT; close engine/queue start races
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/README.md
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/state.rs
  tests/src/lib.rs
  tests/src/native/routes/stream.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server.rs
  tests/src/test_server/native.rs
  tests/tests/kithara_hls/probe_not_ready_at_creation.rs
  tests/tests/kithara_queue/track_switch_race.rs
Due: semver, perf

refactor(audio): replace Audio::new retry loop with deterministic init-range readiness gate
  crates/kithara-audio/src/audio.rs
  tests/tests/kithara_hls/probe_not_ready_at_creation.rs
Due: semver, perf

fix(decode): rebuild fdk-aac decoder on reset to clear stale MDCT/SBR overlap after seek
  crates/kithara-decode/src/symphonia/aac_fdk.rs
  tests/tests/phase_continuity/file.rs
Due: semver, perf

fix(audio): retry transient Interrupted during Audio::new instead of failing creation
  crates/kithara-audio/src/audio.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/probe_not_ready_at_creation.rs
  tests/tests/suite_light.rs
Due: semver, perf

docs(eof): cross-source end-of-stream contract + HLS withheld-segment guard
  crates/kithara-file/README.md
  crates/kithara-hls/README.md
  crates/kithara-stream/README.md
  tests/tests/kithara_hls/early_seek_withheld_segment.rs
  tests/tests/suite_light.rs
Due: perf

fix(audio): resume mid-playback recreate from decode head, not committed
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/composed.rs
Due: semver, perf

fix(audio): park playback worker on the forward read-ahead window to kill busy-spin (flake F5)
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_hls/forward_withheld_segment_busy_spin.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(decode): re-seek on resume to kill Symphonia read-ahead byte-strand at not-ready segment boundary
  crates/kithara-decode/README.md
  crates/kithara-decode/src/symphonia/demuxer.rs
  tests/src/hls_server.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/segment_boundary_strand.rs
  tests/tests/suite_light.rs
Due: semver, perf

fix(audio): tag terminal markers with the decode epoch, not the live timeline epoch
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/traits.rs
Due: semver, perf

refactor(time): route all std::time through kithara_platform::time; no-std-time → error gate
  .config/ast-grep/arch.no-std-time.yml
  crates/kithara-abr/src/state/decision.rs
  crates/kithara-abr/src/state/view.rs
  crates/kithara-app/src/gui/url_bar.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-decode/src/pcm_time.rs
  crates/kithara-net/src/client.rs
  crates/kithara-storage/src/backend/resource/wait.rs
  crates/kithara-test-utils/src/hang/real/shared.rs
  crates/kithara-test-utils/src/hang/real/tests.rs
  crates/kithara-test-utils/src/probe/noop.rs
  tests/perf/memory_rss.rs
  tests/src/abr_fixtures.rs
  tests/src/hls_server.rs
  tests/src/signal_pcm.rs
  tests/src/wav.rs
  tests/tests/browser_runner_smoke.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_app/waveform_analyzer.rs
  tests/tests/kithara_file/html_error_cleanup.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
  tests/tests/kithara_hls/prefetch_403_fails_open.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_past_end_terminates.rs
  tests/tests/kithara_queue/file_replay_from_warm_cache.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/loader_starvation.rs
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/rapid_scrub_decode_failure.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/track_replay_after_switch.rs
  tests/tests/kithara_queue/track_switch_race.rs
  tests/tests/kithara_queue/user_simulation/actions.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
  tests/tests/kithara_queue/user_simulation/scenarios.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_stage_drm_e2e.rs
Due: semver, perf, bench

build(lint): enforce no-std-time / no-web-time on tests via a full-tree scan pass
  .config/ast-grep/arch.no-web-time.yml
  .config/xtask.toml
  xtask/src/ast_grep.rs
  xtask/src/common/project.rs
Due: none

feat(platform): sim-time virtual clock primitive (WS 2a)
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/README.md
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/tests.rs
Due: semver, perf

build(lint): also forbid direct std::thread::park_timeout in no-direct-time gate
  .config/ast-grep/arch.no-direct-time.yml
Due: none

build(lint): split no-direct-time gate into clocks + thread-wait rules
  .config/ast-grep/arch.no-direct-thread-wait.yml
  .config/ast-grep/arch.no-direct-time.yml
  .config/xtask.toml
Due: none

feat(platform): quiescence virtual-clock engine + equivalence harness (sim-time Inc 0)
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/sched.rs
  crates/kithara-platform/src/time/sim/tests.rs
Due: semver, perf

feat(platform): engine-back park_timeout + Condvar under sim-time; intrinsic lazy-credit participants (Inc 1)
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-platform/README.md
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/sched.rs
  crates/kithara-platform/src/time/sim/tests.rs
  tests/Cargo.toml
  tests/tests/phase_continuity/file.rs
Due: semver, perf

feat(audio,app): colored frequency waveform for the deck
  Cargo.lock
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-app/README.md
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/README.md
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/waveform/analyzer.rs
  crates/kithara-audio/src/waveform/bucket.rs
  crates/kithara-audio/src/waveform/bucketize.rs
  crates/kithara-audio/src/waveform/envelope.rs
  crates/kithara-audio/src/waveform/mod.rs
  crates/kithara-audio/src/waveform/peaks.rs
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/player.rs
  tests/tests/kithara_app/waveform_analyzer.rs
  tests/tests/kithara_play/player_internal.rs
Due: semver, perf, bench

feat(net,hls): downloader-owned terminal give-up + HLS Segment<Failed>
  Cargo.lock
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-net/src/retry.rs
  crates/kithara-net/src/types.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/response.rs
  crates/kithara-stream/src/error.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/probe_not_ready_at_creation.rs
  tests/tests/kithara_hls/segment_boundary_strand.rs
  tests/tests/kithara_net/http_client.rs
  tests/tests/kithara_net/retry.rs
Due: semver, perf, bench

feat(platform,net): virtualize escaped waits under sim-time (Inc 2 + 3 roots)
  .docs/sim-time/blocking-primitive-coverage.md
  Cargo.toml
  crates/kithara-file/src/coord.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mod.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/sched.rs
  crates/kithara-platform/src/time/sim/tests.rs
  crates/kithara-platform/src/tokio/mod.rs
  crates/kithara-platform/src/tokio/sync/mod.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/wake.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/shared.rs
  tests/src/offline/session.rs
  tests/src/test_server/shared.rs
  tests/tests/phase_continuity/file.rs
Due: semver, perf, bench

refactor(time): delete real_timeout; callers use plain time::timeout
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/shared.rs
Due: semver, perf

refactor(time): delete io-pacing (io_guard/io_pending/IO_PACE/Advance.paced)
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/sched.rs
Due: semver, perf

refactor(time): rename feature sim-time -> flash-time
  .config/ast-grep/arch.no-direct-thread-wait.yml
  Cargo.toml
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/README.md
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/sim.rs
  crates/kithara-platform/src/time/sim/sched.rs
  crates/kithara-platform/src/tokio/sync/mod.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  crates/kithara-test-macros/src/test/expand_async.rs
  crates/kithara-test-macros/src/test/shared.rs
  tests/Cargo.toml
  tests/src/offline/session.rs
  tests/src/test_server/shared.rs
  tests/tests/phase_continuity/file.rs
Due: semver, perf, bench

refactor(time): rename module + types sim -> flash
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/task.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/flash.rs
  crates/kithara-platform/src/time/flash/sched.rs
  crates/kithara-platform/src/time/flash/tests.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  tests/src/test_server/shared.rs
Due: semver, perf

refactor(platform,net): clear campaign xtask lint debt (file splits, dead export, const grouping, retry-state)
  crates/kithara-app/src/state.rs
  crates/kithara-assets/src/index/demand.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-net/src/resumable.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/time/flash.rs
  crates/kithara-platform/src/time/flash/participant.rs
  crates/kithara-platform/src/time/flash/sched.rs
  crates/kithara-platform/src/time/flash/tests.rs
  crates/kithara-platform/src/time/flash/wake.rs
  crates/kithara-platform/src/tokio/sync/mod.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/unbounded.rs
  crates/kithara-platform/src/tokio/task/mod.rs
  crates/kithara-platform/src/tokio/task/spawn.rs
Due: semver, perf

feat(flash): FLASH_AMBIENT/FLASH_ACTIVE flags + enter_dynamic/ambient_scope (default real)
  crates/kithara-platform/src/time.rs
  crates/kithara-platform/src/time/flash.rs
  crates/kithara-platform/src/time/flash/tests.rs
Due: semver, perf

feat(flash): condvar/notify/mpsc/oneshot branch real vs engine on flash_enabled()
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/notify.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-platform/src/tokio/sync/mpsc.rs
  crates/kithara-platform/src/tokio/sync/oneshot.rs
Due: semver, perf
