Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

Enable unimock APIs for assets and byte recorder traits
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/evict.rs
Due: semver, perf

Add hotpath::main to file_rodio and hls_rodio examples
  crates/kithara/examples/file_rodio.rs
  crates/kithara/examples/hls_rodio.rs
Due: perf

Enable unimock generation for bufpool Reuse trait
  Cargo.lock
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-bufpool/src/pool.rs
  crates/kithara-bufpool/src/tests.rs
Due: semver, perf, bench

Track and validate non-unimock trait exceptions in CI
  .gitlab-ci.yml
  scripts/ci/lint.sh
  scripts/ci/trait-mock-exceptions.sh
  scripts/ci/trait-mock-exceptions.txt
Due: none

Parametrize decode codec marker tests with rstest
  crates/kithara-decode/src/traits.rs
Due: semver, perf

Add hotpath::main to remaining examples
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/hls_audio.rs
  crates/kithara/examples/hls_drm_audio.rs
Due: perf

Parametrize thread pool tests with rstest
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/pool.rs
Due: semver, perf

Raise rstest gate to 441 and sync lockfile
  .gitlab-ci.yml
  Cargo.lock
Due: perf, bench

Parametrize loaded segment method checks in download state tests
  crates/kithara-hls/src/download_state.rs
Due: semver, perf

Parametrize fetch and partial-stream tests with rstest
  crates/kithara-hls/src/fetch.rs
Due: semver, perf

Parametrize wait_range unblock tests with rstest
  crates/kithara-hls/src/source.rs
Due: semver, perf

Parametrize shared player sample-rate tests with rstest
  crates/kithara-play/src/impls/shared_player_state.rs
Due: semver, perf

Fix wasm build/runtime compatibility and restore wasm stress tests
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/pool.rs
  tests/Cargo.toml
  tests/tests/kithara_wasm/stress.rs
Due: semver, perf, bench

Parametrize resource read tests with rstest
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

Parametrize processor track command tests with rstest
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

Parametrize player resource accessor tests with rstest
  crates/kithara-play/src/impls/player_resource.rs
Due: semver, perf

Add hotpath instrumentation to kithara-storage
  Cargo.lock
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/coverage.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-storage/src/mmap.rs
  crates/kithara/Cargo.toml
Due: semver, perf, bench

Parametrize resource config parsing tests with rstest
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

Parametrize player track state transition tests with rstest
  crates/kithara-play/src/impls/player_track.rs
Due: semver, perf

Raise rstest CI gate to 454
  .gitlab-ci.yml
Due: none

Parametrize effect bridge processing tests with rstest
  crates/kithara-play/src/impls/effect_bridge.rs
Due: semver, perf

Raise rstest CI gate to 455
  .gitlab-ci.yml
Due: none

Add kithara-play file-to-hls crossfade example
  crates/kithara/Cargo.toml
  crates/kithara/examples/play_crossfade_audio.rs
Due: semver, perf

Parametrize writer with offset tests with rstest
  crates/kithara-stream/tests/writer_with_offset.rs
Due: perf

Raise rstest CI gate to 456
  .gitlab-ci.yml
Due: none

Parametrize decoder factory probe tests with rstest
  crates/kithara-decode/src/factory.rs
Due: semver, perf

Raise rstest CI gate to 462
  .gitlab-ci.yml
Due: none

Parametrize player queue behavior tests with rstest
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

Raise rstest CI gate to 466
  .gitlab-ci.yml
Due: none

Parametrize engine initial and error state tests with rstest
  crates/kithara-play/src/impls/engine_tests.rs
Due: semver, perf

Raise rstest CI gate to 468
  .gitlab-ci.yml
Due: none

Parametrize symphonia decoder input tests with rstest
  crates/kithara-decode/src/symphonia.rs
Due: semver, perf

Raise rstest CI gate to 470
  .gitlab-ci.yml
Due: none

Parametrize EQ generation and channel tests with rstest
  crates/kithara-audio/src/effects/eq.rs
Due: semver, perf

Raise rstest CI gate to 472
  .gitlab-ci.yml
Due: none

Parametrize WASM ring buffer tests with rstest
  Cargo.lock
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/src/ring_buffer.rs
Due: semver, perf, bench

Raise rstest CI gate to 474
  .gitlab-ci.yml
Due: none

Parametrize perf pool scenarios with rstest
  tests/perf/pool.rs
Due: perf

Raise rstest CI gate to 475
  .gitlab-ci.yml
Due: none

Switch wasm player to kithara-play with playlist UI and EQ
  Cargo.lock
  crates/kithara-play/src/impls/effect_bridge.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/shared_eq.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/README.md
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
Due: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
