Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(events): remove HlsEvent ABR variants, migrate subscribers to AbrEvent
  crates/kithara-app/src/events.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-hls/README.md
  tests/tests/kithara_decode/hls_abr_variant_switch.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/driver_test.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: semver, perf

refactor(abr): move AbrSettings/AbrDecision/AbrPeerId back to kithara-abr
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-abr/src/state.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-events/src/abr.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/registry.rs
Due: semver, perf, bench

feat(hls): implement HlsPeer::progress for buffer-aware ABR decisions
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

feat(ffi,play,hls): wire runtime ABR mode and bandwidth cap through PeerHandle
  Cargo.lock
  crates/kithara-app/src/gui/update.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/source/source_impl.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/queue.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: semver, perf, bench

test(abr): add integration test suite and proptest state machine
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/tests/state_machine.rs
  tests/tests/kithara_abr_integration/bandwidth_scenarios_golden.rs
  tests/tests/kithara_abr_integration/mod.rs
  tests/tests/kithara_abr_integration/multi_track_contention.rs
  tests/tests/kithara_abr_integration/seek_no_switch.rs
  tests/tests/kithara_abr_integration/switch_midfetch.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
  tests/tests/suite_light.rs
Due: semver, perf, bench

refactor(abr): move event bus from Abr trait into AbrHandle
  crates/kithara-abr/src/abr.rs
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-hls/src/peer.rs
  tests/benches/abr_estimator.rs
  tests/tests/kithara_abr_integration/multi_track_contention.rs
  tests/tests/kithara_abr_integration/seek_no_switch.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
Due: semver, perf, bench

refactor(queue): remove autoplay, require explicit select
  crates/kithara-app/src/main.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-queue/README.md
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/queue.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: semver, perf

feat(queue): seek-hang watchdog with pre-panic state dump
  Cargo.lock
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/seek_watchdog.rs
Due: semver, perf, bench

test(e2e): add suite_e2e for real-network and cpal hardware tests
  justfile
  tests/Cargo.toml
  tests/tests/kithara_audio/mod.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/suite_e2e.rs
Due: none

chore(hang-detector): pull in serde/serde_json for upcoming context dumps
  Cargo.lock
  crates/kithara-hang-detector/Cargo.toml
Due: semver, perf, bench

feat(hang-detector): introduce HangDump trait + NoContext marker
  crates/kithara-hang-detector/src/dump.rs
  crates/kithara-hang-detector/src/lib.rs
  crates/kithara-hang-detector/src/tests.rs
Due: semver, perf

feat(hang-detector): universal context-dump mechanism
  Cargo.lock
  crates/kithara-hang-detector-macros/src/lib.rs
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-hang-detector/src/dump.rs
  crates/kithara-hang-detector/src/tests.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/seek_watchdog.rs
Due: semver, perf, bench

refactor(queue): drop SeekWatchdog — rely on #[hang_watchdog] downstream
  Cargo.lock
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/queue.rs
Due: semver, perf, bench

refactor(abr,audio): drop dead public API and expand just dead scope
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/handle.rs
  crates/kithara-audio/src/internal.rs
  justfile
Due: semver, perf, bench

refactor(audio): collapse make_registration variants + add just similarity
  crates/kithara-audio/src/worker/handle.rs
  justfile
Due: semver, perf

refactor(net): extract retry_loop helper for RetryNet methods
  crates/kithara-net/src/retry.rs
Due: semver, perf

refactor(decode): unify error-chain walkers via generic traversal
  crates/kithara-decode/src/error.rs
Due: semver, perf

refactor(net): extract send_checked helper for HttpClient methods
  crates/kithara-net/src/client.rs
Due: semver, perf

refactor(platform): extract forward_tww_handle for wasm spawn helpers
  crates/kithara-platform/src/tokio/task/wasm.rs
Due: semver, perf

refactor(audio): extract build_recreate_state helper in test internal
  crates/kithara-audio/src/internal.rs
Due: semver, perf

chore(lint): tighten complexity thresholds in clippy.toml
  Cargo.toml
  clippy.toml
Due: perf, bench

chore(quality): add cargo-mutants recipe + ast-grep fallback rules
  .config/ast-grep/rust.no-fallback-if-let-else.yml
  .config/ast-grep/rust.no-fallback-or-else-fn.yml
  justfile
Due: none

refactor(assets): extract wrap (process) and open_index_resource (cache)
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/process.rs
Due: semver, perf

refactor(platform): extract counted helper for spawn_named variants
  crates/kithara-platform/src/thread.rs
Due: semver, perf

refactor(assets): collapse LeaseAssets::new into with_byte_recorder
  crates/kithara-assets/src/lease.rs
Due: semver, perf

refactor(stream): collapse FetchCmd::get/head via with_method helper
  crates/kithara-stream/src/dl/cmd.rs
Due: semver, perf

refactor(decode): collapse OwnedFormat::get_u16/get_u32 into generic get_uint
  crates/kithara-decode/src/android/media_format.rs
Due: semver, perf

refactor(stream): collapse PeerHandle::execute/batch via make_imperative helper
  crates/kithara-stream/src/dl/peer.rs
Due: semver, perf

refactor(encode): extract wasm_unsupported helper to deduplicate factory branches
  crates/kithara-encode/src/factory.rs
Due: semver, perf

refactor(decode): inline new_with_probe wrappers into probe_with_seek call
  crates/kithara-decode/src/symphonia.rs
Due: semver, perf

refactor(play): collapse Resource::from_file / from_hls into generic from_stream_audio
  crates/kithara-play/src/impls/resource.rs
Due: semver, perf

refactor(decode): collapse pcm16/float-to-f32 into convert_pcm_to_f32 helper
  crates/kithara-decode/src/android/format.rs
Due: semver, perf

refactor(hls): extract shared DRM decrypt-context preparation helpers
  crates/kithara-hls/src/loading/segment_loader.rs
Due: semver, perf

refactor(hls): extract segment_total_size helper for offset/segment lookups
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

refactor(queue): collapse Queue::append / insert into Placement-driven insert_entry
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(test-utils): extract audio_sample_entry helper for aac/flac
  crates/kithara-test-utils/src/fmp4/codec.rs
Due: semver, perf

test(isolation): route recent tests through isolated StoreOptions cache dir
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_decode/stress_seek_random.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/real_playlist.rs
Due: none

chore(justfile): rename --cargo-profile to --profile for cargo-mutants 27
  justfile
Due: none

chore(justfile): use --test-tool=nextest for cargo-mutants
  justfile
Due: none

chore(justfile): add --test-workspace=true to cargo-mutants recipes
  justfile
Due: none

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
