Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

feat(apple): expose drm salt helpers
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
  apple/Sources/Kithara/DrmSalt.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/native/mod.rs
  crates/kithara-ffi/src/native/salt.rs
Due: semver, perf

refactor(apple): name drm salt helpers by format
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Sources/Kithara/DrmSalt.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/native/salt.rs
Due: semver, perf

fix(assets): delegate url cache naming
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/naming.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-file/CONTEXT.md
  crates/kithara-file/src/stream.rs
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/naming.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/tests/size_estimation_cache_first.rs
  tests/tests/kithara_file/file_source.rs
Due: semver, perf

feat(apple): add zvuk compatibility overlay
  apple/Compatibility/Zvuk/KitharaZvukCompatibility.swift
  apple/Compatibility/Zvuk/KitharaZvukPlayerItemService.swift
  apple/Compatibility/Zvuk/README.md
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelBase.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModelCombine.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/Protocols.swift
  apple/Sources/KitharaRx/KitharaRx.swift
  apple/Tests/KitharaTests/KitharaPlayerItemTests.swift
  justfile
Due: none

chore(xtask): route release packaging through xtask
  justfile
  xtask/src/android.rs
  xtask/src/apple.rs
  xtask/src/release.rs
Due: none

chore: apply lint autofixes and refresh sdk docs
  Package.swift
  android/README.md
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerItemTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerTest.kt
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  apple/Examples/KitharaDemo/KitharaPlayground.playground/Contents.swift
  apple/README.md
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/gui/widgets/waveform_viewport.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/track_analysis.rs
  crates/kithara-audio/src/analysis/worker.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-ffi/README.md
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-play/src/impls/player/phase.rs
  crates/kithara-play/src/impls/player/queue.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-storage/CONTEXT.md
  crates/kithara-storage/src/backend/resource/handle.rs
  justfile
Due: semver, perf

chore(release): prepare 0.0.1-alpha3 artifacts
  .config/xtask.toml
  Cargo.lock
  Cargo.toml
  Kithara.podspec
  Package.swift
  apple/README.md
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-beat/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-encode/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
  xtask/src/apple.rs
  xtask/src/main.rs
  xtask/src/release.rs
Due: semver, perf, bench

fix(player): harden streaming route recovery
  Cargo.lock
  Cargo.toml
  apple/Compatibility/Zvuk/KitharaZvukCompatibility.swift
  apple/Compatibility/Zvuk/KitharaZvukPlayerItemService.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/Kithara/Protocols.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  apple/Tests/KitharaTests/KitharaPlayerItemTests.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
  crates/kithara-app/src/analysis.rs
  crates/kithara-assets/src/naming.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/effects/timestretch/region_tests.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/mod.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/source_io.rs
  crates/kithara-decode/src/gapless/mod.rs
  crates/kithara-decode/src/gapless/mp3.rs
  crates/kithara-decode/src/gapless/probe.rs
  crates/kithara-ffi/src/core/item.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/surface.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player/core.rs
  crates/kithara-play/src/impls/session/client.rs
  crates/kithara-play/src/impls/session/host_native.rs
  crates/kithara-play/src/impls/session/state.rs
  crates/kithara-play/src/traits/engine.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-storage/src/backend/resource/handle.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

chore(release): refresh 0.0.1-alpha3 mobile artifacts
  Kithara.podspec
  Package.swift
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-decode/src/gapless/mod.rs
Due: semver, perf

fix(release): shrink beat crate package
  crates/kithara-audio/Cargo.toml
  crates/kithara-beat/Cargo.toml
  crates/kithara-beat/src/lib.rs
Due: semver, perf

fix(release): declare test macro syn feature
  crates/kithara-test-macros/Cargo.toml
Due: semver, perf

fix(release): verify publish dry-runs against registry
  xtask/src/publish.rs
Due: none

fix(release): publish Apple artifacts without CocoaPods
  .config/xtask.toml
  Kithara.podspec
  apple/README.md
  xtask/src/apple.rs
  xtask/src/common/project.rs
  xtask/src/main.rs
  xtask/src/release.rs
Due: none

fix(release): publish alpha3 artifacts without CocoaPods (#83)
  .config/xtask.toml
  Kithara.podspec
  apple/README.md
  xtask/src/apple.rs
  xtask/src/common/project.rs
  xtask/src/main.rs
  xtask/src/publish.rs
  xtask/src/release.rs
Due: none

fix(apple): preserve external item identity
  apple/Compatibility/Zvuk/KitharaZvukCompatibility.swift
  apple/Compatibility/Zvuk/KitharaZvukPlayerItemService.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Tests/KitharaTests/KitharaPlayerTests.swift
Due: none

feat(apple/compat): call load() in makePlayerItem; resolve load() via FFI
  apple/Compatibility/Zvuk/KitharaZvukCompatibility.swift
  apple/Compatibility/Zvuk/KitharaZvukPlayerItemService.swift
Due: none

feat(net): single-stack wreq backend for DRM keyserver anti-bot bypass
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/error.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/types.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara/Cargo.toml
  justfile
Due: semver, perf, bench

refactor(hls): layered Segment/handle skeleton checkpoint (S1–S6)
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/handle/mod.rs
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-hls/src/segment/fetch.rs
  crates/kithara-hls/src/segment/mod.rs
  crates/kithara-hls/src/segment/size.rs
  crates/kithara-hls/src/segment/state.rs
  crates/kithara-hls/src/signal.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/layout.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(hls): narrow SegmentPeer/VariantPeer fetch wrappers (S7)
  crates/kithara-hls/src/handle/mod.rs
  crates/kithara-hls/src/handle/segment_peer.rs
  crates/kithara-hls/src/handle/variant_peer.rs
  crates/kithara-hls/src/loading/size_estimation.rs
Due: semver, perf

refactor(hls): StreamPeer single transport/storage owner (S8)
  crates/kithara-hls/src/handle/downloader.rs
  crates/kithara-hls/src/handle/mod.rs
  crates/kithara-hls/src/loading/size_estimation.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

refactor(hls): relocate parsing+loading into playlist/, MasterPlaylist→ParsedMaster (S9a)
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/playlist/atomic_fetch.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/playlist/parse.rs
  crates/kithara-hls/src/playlist/playlist_cache.rs
  crates/kithara-hls/src/playlist/size_estimation.rs
  crates/kithara-hls/src/playlist/state.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  tests/tests/kithara_hls/abr_integration.rs
Due: semver, perf

refactor(hls): MasterPlaylist/VariantPlaylist loadables, fold playlist load out of Hls::create (S9b)
  crates/kithara-hls/src/playlist/master.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/playlist/variant_playlist.rs
  crates/kithara-hls/src/stream.rs
Due: semver, perf

refactor(hls): FromWithParams conversion trait replaces assemble/new/variant_info (S9c)
  Cargo.lock
  crates/kithara-hls/src/conv.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/playlist/parse.rs
  crates/kithara-hls/src/playlist/state.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  tests/fuzz/Cargo.toml
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
Due: semver, perf, bench

refactor(hls): rename variant/layout.rs to offsets.rs (S10a)
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/offsets.rs
  crates/kithara-hls/src/variant/segment_store.rs
Due: semver, perf

refactor(hls): dissolve SegmentStore into HlsVariant (S10b)
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

chore(hls): fix clippy::useless_vec in state.rs tests (S9c follow-up)
  crates/kithara-hls/src/playlist/state.rs
Due: semver, perf

refactor(hls): extract init-segment methods into variant/init.rs (S10c)
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/init.rs
Due: semver, perf

refactor(hls): fold stream.rs + coord.rs + source/ into stream/ module (S11a)
  .config/arch/baseline.toml
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/reader.rs
  crates/kithara-hls/src/source/mod.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-hls/src/stream/mod.rs
  crates/kithara-hls/src/stream/source.rs
Due: semver, perf

feat(apple/rx): vend rxLoadedRanges as [any ItemLoadedRangeSource]
  apple/Sources/KitharaRx/KitharaRx.swift
Due: none

refactor(hls): decompose variant + typed handle layer; segment owns size mutation
  crates/kithara-hls/src/handle/atomic.rs
  crates/kithara-hls/src/handle/mod.rs
  crates/kithara-hls/src/handle/segment_peer.rs
  crates/kithara-hls/src/playlist/atomic_fetch.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/playlist/playlist_cache.rs
  crates/kithara-hls/src/playlist/size_estimation.rs
  crates/kithara-hls/src/segment/mod.rs
  crates/kithara-hls/src/segment/resolve.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/descriptor.rs
  crates/kithara-hls/src/variant/dispatch.rs
  crates/kithara-hls/src/variant/init.rs
  crates/kithara-hls/src/variant/read.rs
Due: semver, perf

fix(hls): skip eager probes for segment-aware streams
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-hls/src/playlist/size_estimation.rs
  crates/kithara-hls/src/playlist/state.rs
  crates/kithara-hls/src/segment/size.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/init.rs
  crates/kithara-hls/src/variant/offsets.rs
  crates/kithara-hls/src/variant/read.rs
  crates/kithara-hls/src/variant/reader_runtime.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-hls/tests/size_estimation_cache_first.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-stream/src/source.rs
  tests/src/hls_server.rs
  tests/src/native/routes/stream.rs
  tests/src/native/test_server_state.rs
  tests/src/test_server/native.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/startup_no_eager_size_probe_storm.rs
  tests/tests/kithara_queue/early_seek_size_withheld_advance.rs
  tests/tests/suite_stress.rs
Due: semver, perf

refactor(hls): split variant ownership and lazy size resolve
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/handle/downloader.rs
  crates/kithara-hls/src/handle/mod.rs
  crates/kithara-hls/src/handle/segment_peer.rs
  crates/kithara-hls/src/handle/variant_peer.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist/mod.rs
  crates/kithara-hls/src/playlist/size_estimation.rs
  crates/kithara-hls/src/playlist/state.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-hls/src/segment/fetch.rs
  crates/kithara-hls/src/segment/resolve.rs
  crates/kithara-hls/src/segment/size.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/flow/cursor.rs
  crates/kithara-hls/src/variant/flow/evict.rs
  crates/kithara-hls/src/variant/flow/lifecycle.rs
  crates/kithara-hls/src/variant/flow/queue.rs
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/flow/size.rs
  crates/kithara-hls/src/variant/io/dispatch.rs
  crates/kithara-hls/src/variant/io/fetch.rs
  crates/kithara-hls/src/variant/io/init.rs
  crates/kithara-hls/src/variant/io/read.rs
  crates/kithara-hls/src/variant/map/descriptor.rs
  crates/kithara-hls/src/variant/map/layout.rs
  crates/kithara-hls/src/variant/map/media.rs
  crates/kithara-hls/src/variant/map/offsets.rs
  crates/kithara-hls/src/variant/mod.rs
  crates/kithara-hls/src/variant/state/cancel.rs
  crates/kithara-hls/src/variant/state/reader.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-hls/tests/size_estimation_cache_first.rs
Due: semver, perf

fix(hls): keep segment-aware recreate preroll queued
  crates/kithara-hls/src/variant/flow/queue.rs
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-net/src/retry.rs
  tests/src/swallow_detector.rs
  tests/tests/kithara_hls/startup_no_eager_size_probe_storm.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_queue/flac_swallow_fixture.rs
  tests/tests/kithara_queue/track_switch_race.rs
  tests/tests/kithara_queue/user_simulation/actions.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
  tests/tests/kithara_queue/user_simulation/scenarios.rs
Due: semver, perf

build(ffi): keep uniffi bindgen out of device staticlib
  Cargo.toml
  crates/kithara-ffi/Cargo.toml
  xtask/src/android.rs
Due: semver, perf, bench

build(test-utils): feature-gate test-only surface out of device build
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/hang/noop.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/probe/mod.rs
  tests/Cargo.toml
Due: semver, perf, bench

build(deps): narrow firewheel to volume_pan-only feature set for device builds
  Cargo.lock
  Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

refactor(net): split HTTP client into per-platform backend modules behind Net
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/src/backend/mod.rs
  crates/kithara-net/src/backend/native/mod.rs
  crates/kithara-net/src/backend/native/reqwest.rs
  crates/kithara-net/src/backend/native/shared.rs
  crates/kithara-net/src/backend/native/wreq.rs
  crates/kithara-net/src/backend/wasm/fetch.rs
  crates/kithara-net/src/backend/wasm/mod.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/error.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/mock.rs
  crates/kithara-net/src/timeout.rs
Due: semver, perf

feat(net): NSURLSession client-apple backend behind Net (size-reduction B1)
  .config/ast-grep/rust.no-lint-suppression.yml
  Cargo.lock
  Cargo.toml
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/backend/apple/delegate.rs
  crates/kithara-net/src/backend/apple/mod.rs
  crates/kithara-net/src/backend/apple/request.rs
  crates/kithara-net/src/backend/apple/response.rs
  crates/kithara-net/src/backend/apple/session.rs
  crates/kithara-net/src/backend/apple/stream.rs
  crates/kithara-net/src/backend/apple/tests.rs
  crates/kithara-net/src/backend/mod.rs
  crates/kithara-net/src/backend/selected.rs
  crates/kithara-net/src/error.rs
  crates/kithara-net/src/lib.rs
  crates/kithara-net/src/traits.rs
Due: semver, perf, bench

build(net/apple): route Apple framework HTTP through client-apple (size-reduction B2)
  crates/kithara-app/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara/Cargo.toml
  tests/Cargo.toml
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
