Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

test(queue): drop pre-arm-at-tail expectation for cf=0
  crates/kithara-queue/src/queue/playback.rs
Due: semver, perf

fix(test-utils): restore per-variant codec override in packaged HLS fixture
  crates/kithara-test-utils/src/hls_spec.rs
  crates/kithara-test-utils/src/hls_stream.rs
Due: semver, perf

fix(play): drain tail samples on QueueEnded instead of cutting render
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-queue/src/queue/selection.rs
Due: semver, perf

fix(play,queue): evict cancelled track resources from player items
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/queue/selection.rs
Due: semver, perf

fix(queue): split current() (navigation) from current_index() (player)
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/selection.rs
Due: semver, perf

fix(decode/aac): wire MP4 udta gapless probe through factory + drop double-fold
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/gapless/codec_priming.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-test-utils/src/fmp4/mux.rs
Due: semver, perf

fix(decode/mp3): probe Xing/LAME tag through factory + drop double-fold
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/gapless/codec_priming.rs
  crates/kithara-decode/src/gapless/mod.rs
  crates/kithara-decode/src/gapless/mp3.rs
Due: semver, perf

refactor(play/processor): consume TrackReadOutcome in shared_state update
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
Due: semver, perf

chore(lint): remove ast-grep no-lint-suppression rules + dangling expect/allow shims
  .config/ast-grep/rust.no-lint-suppression.yml
  .config/ast-grep/style.multiple-private-module-consts.yml
  crates/kithara-assets/src/lease.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/ids.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-test-utils/src/test_server.rs
  tests/benches/refactor_hotpaths.rs
  tests/tests/abr_contract/helpers.rs
  tests/tests/common/reader_helpers.rs
  tests/tests/common/test_defaults.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_hls/source_seek.rs
  xtask/src/common/parse.rs
  xtask/src/common/style.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/style/checks/mod.rs
Due: semver, perf

chore: remove pre-existing dead code surfaced by clippy
  crates/kithara-assets/src/lease.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-decode/src/factory/tests.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm/conversion.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/pcm/timeline.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/ids.rs
  crates/kithara-hls/src/scheduler/helpers.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_node.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-test-utils/src/test_server.rs
  tests/tests/kithara_play/hls_seek_past_end_terminates.rs
  xtask/src/common/parse.rs
  xtask/src/common/style.rs
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/mod.rs
  xtask/src/style/checks/mod.rs
  xtask/src/style/mod.rs
Due: semver, perf

feat(ast-grep): style.no-interleaved-use — flag use after non-import sibling
  .config/ast-grep/style.no-interleaved-use.yml
Due: none

feat(ast-grep): style.no-trivial-method — flag impls whose body is literal/self
  .config/ast-grep/style.no-trivial-method.yml
Due: none

feat(ast-grep): idioms.match-self-conversion — suggest From impl over match-on-self
  .config/ast-grep/idioms.match-self-conversion.yml
Due: none

feat(ast-grep): arch.no-target-os-outside-platform — restrict target gates to platform crates
  .config/ast-grep/arch.no-target-os-outside-platform.yml
Due: none

feat(ast-grep): arch.no-cfg-on-statement — flag inline cfg gates inside fn bodies
  .config/ast-grep/arch.no-cfg-on-statement.yml
Due: none

feat(ast-grep): rust.no-sentinel-fallback — flag unwrap_or(MAX/MIN/INFINITY/NAN)
  .config/ast-grep/rust.no-sentinel-fallback.yml
Due: none

feat(ast-grep): perf.no-take-after-zip — prefer slicing over .take after .zip
  .config/ast-grep/perf.no-take-after-zip.yml
Due: none

feat(ast-grep): idioms.for-if-filter-shape — suggest .filter().for_each() over for+if
  .config/ast-grep/idioms.for-if-filter-shape.yml
Due: none

feat(ast-grep): rust.no-discard-result — flag let _ = fallible_call(...)
  .config/ast-grep/rust.no-discard-result.yml
Due: none

feat(xtask): multi_constructor — flag impls with >1 non-self constructor
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/multi_constructor.rs
  xtask/src/arch/config.rs
Due: none

feat(xtask): field_passthrough — flag duplicate ownership across nested struct fields
  xtask/Cargo.toml
  xtask/src/arch/checks/field_passthrough.rs
  xtask/src/arch/checks/mod.rs
Due: none

feat(xtask): pointwise_loop — flag for-loops doing pointwise ops over zipped iters
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/checks/pointwise_loop.rs
  xtask/src/idioms/config.rs
Due: none

feat(xtask): fat_loop_body — flag fat for/while/loop bodies with nested ctrl flow
  xtask/src/idioms/checks/fat_loop_body.rs
  xtask/src/idioms/checks/mod.rs
Due: none

feat(xtask): loop_flag_accumulator — flag bool flag flipped under if/loop, suggest .any()
  xtask/src/idioms/checks/loop_flag_accumulator.rs
  xtask/src/idioms/checks/mod.rs
Due: none

feat(xtask): const_group_enum_shape — detect enum-shaped const groups (FFI-aware)
  xtask/src/idioms/checks/const_group_enum_shape.rs
  xtask/src/idioms/checks/mod.rs
Due: none

feat(xtask): nested_if_let_pyramid — flag depth-2+ if-let chains; suggest let-else / ?
  xtask/src/idioms/checks/mod.rs
  xtask/src/idioms/checks/nested_if_let_pyramid.rs
Due: none

chore(lint): snapshot baselines for new arch+idioms detectors and cross-link consts rule
  .config/arch/baseline.toml
  .config/ast-grep/style.multiple-private-module-consts.yml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  Cargo.lock
Due: perf, bench

chore(ast-grep): strip debt-style ignores so linters surface all bad code
  .config/ast-grep/arch.no-arc-mutex-collection.yml
  .config/ast-grep/arch.no-arc-mutex-godmap.yml
  .config/ast-grep/arch.no-implicit-clock.yml
  .config/ast-grep/arch.no-implicit-rng.yml
  .config/ast-grep/arch.no-implicit-sleep.yml
  .config/ast-grep/arch.no-std-sync-mutex.yml
  .config/ast-grep/arch.no-std-time.yml
  .config/ast-grep/perf.no-collect-iter-roundtrip.yml
  .config/ast-grep/perf.no-global-pool-accessor.yml
  .config/ast-grep/perf.no-iter-count.yml
  .config/ast-grep/perf.prefer-byte-pool.yml
  .config/ast-grep/perf.prefer-cloned.yml
  .config/ast-grep/perf.prefer-pcm-pool.yml
  .config/ast-grep/rust.no-anyhow-in-pub-api.yml
  .config/ast-grep/rust.no-debug-prints.yml
  .config/ast-grep/rust.no-expect-bare-string.yml
  .config/ast-grep/rust.no-lint-suppression.yml
  .config/ast-grep/style.bool-naming.yml
  .config/ast-grep/style.narrow-pub-inputs.yml
  .config/ast-grep/style.no-inline-qualified-paths.yml
  .config/ast-grep/style.no-vague-type-suffix.yml
  .config/ast-grep/style.prefer-any.yml
  .config/ast-grep/style.prefer-expect.yml
  .config/ast-grep/style.pub-primitive-spread.yml
Due: none

Revert "chore(ast-grep): strip debt-style ignores so linters surface all bad code"
  .config/ast-grep/arch.no-arc-mutex-collection.yml
  .config/ast-grep/arch.no-arc-mutex-godmap.yml
  .config/ast-grep/arch.no-implicit-clock.yml
  .config/ast-grep/arch.no-implicit-rng.yml
  .config/ast-grep/arch.no-implicit-sleep.yml
  .config/ast-grep/arch.no-std-sync-mutex.yml
  .config/ast-grep/arch.no-std-time.yml
  .config/ast-grep/perf.no-collect-iter-roundtrip.yml
  .config/ast-grep/perf.no-global-pool-accessor.yml
  .config/ast-grep/perf.no-iter-count.yml
  .config/ast-grep/perf.prefer-byte-pool.yml
  .config/ast-grep/perf.prefer-cloned.yml
  .config/ast-grep/perf.prefer-pcm-pool.yml
  .config/ast-grep/rust.no-anyhow-in-pub-api.yml
  .config/ast-grep/rust.no-debug-prints.yml
  .config/ast-grep/rust.no-expect-bare-string.yml
  .config/ast-grep/rust.no-lint-suppression.yml
  .config/ast-grep/style.bool-naming.yml
  .config/ast-grep/style.narrow-pub-inputs.yml
  .config/ast-grep/style.no-inline-qualified-paths.yml
  .config/ast-grep/style.no-vague-type-suffix.yml
  .config/ast-grep/style.prefer-any.yml
  .config/ast-grep/style.prefer-expect.yml
  .config/ast-grep/style.pub-primitive-spread.yml
Due: none

chore(ast-grep): drop only kithara-app prod carve-outs from ignores; keep test+macro shims
  .config/ast-grep/arch.no-implicit-clock.yml
  .config/ast-grep/arch.no-implicit-rng.yml
  .config/ast-grep/arch.no-implicit-sleep.yml
  .config/ast-grep/arch.no-std-time.yml
  .config/ast-grep/rust.no-anyhow-in-pub-api.yml
Due: none

ci(cross): switch aarch64 linux to cargo-zigbuild with glibc 2.17 pin
  .gitlab-ci.yml
  docker/ci-cross.Dockerfile
Due: none

chore(xtask): cargo fmt --all + fix 6 pre-existing clippy errors
  xtask/src/arch/checks/field_passthrough.rs
  xtask/src/arch/checks/multi_constructor.rs
  xtask/src/arch/config.rs
  xtask/src/idioms/checks/const_group_enum_shape.rs
  xtask/src/idioms/checks/fat_loop_body.rs
  xtask/src/idioms/checks/guard_cascade.rs
  xtask/src/idioms/checks/loop_flag_accumulator.rs
  xtask/src/idioms/checks/nested_if_let_pyramid.rs
  xtask/src/idioms/checks/pointwise_loop.rs
  xtask/src/idioms/config.rs
Due: none

fix(decode/codec): restore MP3 LAME default priming + gate extra fold
  crates/kithara-decode/src/gapless/codec_priming.rs
  crates/kithara-decode/src/symphonia/codec.rs
Due: semver, perf

fix(decode/codec): drop codec_priming fallback in SymphoniaCodec
  crates/kithara-decode/src/symphonia/codec.rs
Due: semver, perf

fix(test-utils/mux): gate edts on raw delays + align mux unit-tests with native priming fold
  crates/kithara-test-utils/src/fmp4/mux.rs
Due: semver, perf

fix(play): restore src payload in PlayerNotification Loaded/Unloaded/Changed
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/internal.rs
Due: semver, perf

feat(hls/parsing): extract #EXT-X-MAP:BYTERANGE into InitSegment.byte_range_len
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-play/src/impls/shared_player_state.rs
Due: semver, perf

feat(hls/playlist): propagate init_byte_range_len through VariantState
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source/segmented.rs
  crates/kithara-hls/src/source/tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(hls/source): use playlist BYTERANGE as primary init range source
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source/core.rs
Due: semver, perf
