Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

docs: cut the context files back to contracts
  crates/kithara-audio/CONTEXT.md
  crates/kithara-decode/CONTEXT.md
  crates/kithara-hls/CONTEXT.md
  crates/kithara-play/CONTEXT.md
Due: perf

refactor(audio,play): name the seek's control half after what it does
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/seek.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/traits/mod.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/feeder.rs
  tests/src/audio_mock.rs
  tests/src/offline/player.rs
  tests/tests/kithara_play/rt_metrics.rs
Due: semver, perf

docs(hls,play): point the doc links at items that exist
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/source.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-play/src/bridge/metrics.rs
  crates/kithara-play/src/rt/processor.rs
Due: semver, perf

refactor(play): fold the slot forwarders into a delegate block
  crates/kithara-play/src/rt/slots.rs
Due: semver, perf

docs: shorten the doc comments added on this branch
  crates/kithara-audio/src/audio/seek.rs
  crates/kithara-audio/src/effects/eq/filter.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-decode/src/pcm/retire.rs
  crates/kithara-decode/src/pcm/units.rs
  crates/kithara-decode/tests/resampled.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/bridge/metrics.rs
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/slots.rs
  crates/kithara-play/src/rt/track/fade.rs
  crates/kithara-play/src/rt/track/feeder.rs
  crates/kithara-stream/src/source.rs
  tests/src/offline/player.rs
Due: semver, perf

docs: wrap comments to the column the formatter allows
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/seek.rs
  crates/kithara-audio/src/effects/limiter.rs
  crates/kithara-audio/src/pipeline/rebuild/port.rs
  crates/kithara-audio/src/renderer/source.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/pcm/retire.rs
  crates/kithara-decode/src/pcm/sample.rs
  crates/kithara-decode/src/pcm/units.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/stream/source.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/metrics.rs
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/slots.rs
  crates/kithara-play/src/rt/track/core.rs
  crates/kithara-play/src/rt/track/feeder.rs
  crates/kithara-play/src/rt/track/sink.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/no_block.rs
  tests/src/audio_mock.rs
  tests/src/offline/player.rs
  tests/tests/kithara_audio/dsp_properties.rs
  tests/tests/kithara_play/player_processor_internal.rs
  tests/tests/kithara_play/rt_click.rs
  tests/tests/kithara_play/rt_metrics.rs
Due: semver, perf

refactor(play): give the slot set one reason to hand a track back
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/slots.rs
Due: semver, perf

docs: drop the doc comments on non-public items
  crates/kithara-audio/src/audio/seek.rs
  crates/kithara-audio/src/effects/eq/filter.rs
  crates/kithara-audio/src/effects/eq/isolator.rs
  crates/kithara-audio/src/effects/limiter.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/rebuild/retire.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/stream/shared.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/resampled.rs
  crates/kithara-decode/tests/resampled.rs
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/playlist/master.rs
  crates/kithara-hls/src/playlist/variant_playlist.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-hls/src/signal.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/map/media.rs
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/bridge/metrics.rs
  crates/kithara-play/src/bridge/playback.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/rt/processor.rs
  crates/kithara-play/src/rt/render.rs
  crates/kithara-play/src/rt/slots.rs
  crates/kithara-play/src/rt/track/fade.rs
  crates/kithara-play/src/rt/track/feeder.rs
  tests/benches/rt_block_budget.rs
  tests/tests/kithara_audio/dsp_properties.rs
  tests/tests/kithara_play/player_processor_internal.rs
  tests/tests/kithara_play/player_resource_internal.rs
  tests/tests/kithara_play/rt_click.rs
  tests/tests/kithara_play/rt_metrics.rs
Due: semver, perf

docs: stop restating constants the code owns
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/rt/track/feeder.rs
Due: semver, perf

refactor(decode,audio): rename the retire sink off a taken name
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/generation.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-audio/src/pipeline/rebuild/retire.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/pcm/mod.rs
  crates/kithara-decode/src/pcm/retire.rs
Due: semver, perf

fix(hls): reclaim displaced layout frames on the writer thread
  crates/kithara-hls/src/variant/map/offsets.rs
Due: semver, perf

fix(assets): answer the availability probes from the aggregate alone
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/store/handle.rs
  crates/kithara-assets/tests/crash_recovery.rs
Due: semver, perf

fix(hls): leave the seek fetch plan to the download peer
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(test): let the rtsan-async lane compile its own tests
  .config/just/test.just
Due: none

refactor(hls,assets): tighten the review findings around the RT fixes
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/store/handle.rs
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/map/offsets.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(hls): point the skip-fetch guard at the availability manifest
  crates/kithara-hls/src/handle/resource.rs
Due: semver, perf

style(hls,assets): cut the new comments down to contract size
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/store/handle.rs
  crates/kithara-assets/tests/crash_recovery.rs
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/variant/flow/seek.rs
  crates/kithara-hls/src/variant/map/offsets.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(xtask): rebuild the cache when the cached binary cannot maintain it
  justfile
  xtask/README.md
Due: none

fix(xtask): let the self-cache read only the section it owns
  justfile
  xtask/README.md
  xtask/src/config.rs
  xtask/src/self_cache/command.rs
  xtask/src/self_cache/manifest.rs
  xtask/tests/self_cache_runner.rs
Due: none

refactor(tests): share one goertzel probe across the signal tests
  tests/tests/kithara_play/gapless_offline_e2e.rs
  tests/tests/kithara_play/seamless_queue_advance.rs
  tests/tests/kithara_queue/advance_boundary_provenance.rs
Due: none

feat(encode): make streaming AAC-LC the canonical encode path
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/README.md
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/bytes.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-encode/src/ffmpeg/flac.rs
  crates/kithara-encode/src/ffmpeg/mod.rs
  crates/kithara-encode/src/ffmpeg/pcm.rs
  crates/kithara-encode/src/ffmpeg/stream.rs
  crates/kithara-encode/src/ffmpeg/test_pcm.rs
  crates/kithara-encode/src/lib.rs
  crates/kithara-encode/src/types.rs
  tests/src/encode_ext.rs
  tests/src/goertzel.rs
  tests/src/lib.rs
  tests/tests/kithara_encode/stream_tests.rs
  tests/tests/suite_light.rs
Due: semver, perf

test(encode): group the in-crate test constants under Consts
  crates/kithara-encode/src/ffmpeg/aac.rs
  crates/kithara-encode/src/ffmpeg/stream.rs
Due: semver, perf

feat(broadcast): package a live AAC-LC stream into an HLS window
  Cargo.lock
  Cargo.toml
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/Cargo.toml
  crates/kithara-broadcast/README.md
  crates/kithara-broadcast/src/adts.rs
  crates/kithara-broadcast/src/error.rs
  crates/kithara-broadcast/src/lib.rs
  crates/kithara-broadcast/src/segment.rs
  crates/kithara-broadcast/src/window.rs
Due: semver, perf, bench

feat(play): tap the post-limiter mix into a ring for one consumer
  .config/just/test.just
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/bridge/mod.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/rt/mod.rs
  crates/kithara-play/src/rt/tap.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/state.rs
  tests/src/offline/mod.rs
  tests/src/offline/session.rs
  tests/tests/common/offline_player_harness.rs
  tests/tests/kithara_play/mix_tap.rs
  tests/tests/kithara_play/mod.rs
Due: semver, perf

fix(broadcast): frame an access unit before it advances the media clock
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/adts.rs
  crates/kithara-broadcast/src/error.rs
  crates/kithara-broadcast/src/segment.rs
  crates/kithara-broadcast/src/window.rs
  tests/tests/kithara_broadcast/packaging_tests.rs
Due: semver, perf

test(broadcast): decode the packaged segments back to the source tone
  tests/Cargo.toml
  tests/tests/kithara_broadcast/packaging_tests.rs
  tests/tests/suite_light.rs
Due: none

feat(broadcast): serve the live window from an in-process origin
  Cargo.lock
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/Cargo.toml
  crates/kithara-broadcast/README.md
  crates/kithara-broadcast/src/error.rs
  crates/kithara-broadcast/src/feed.rs
  crates/kithara-broadcast/src/lib.rs
  crates/kithara-broadcast/src/server.rs
  crates/kithara-broadcast/src/service.rs
Due: semver, perf, bench

feat(broadcast): package the live window the way a client reloads it
  Cargo.lock
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/Cargo.toml
  crates/kithara-broadcast/README.md
  crates/kithara-broadcast/src/config.rs
  crates/kithara-broadcast/src/error.rs
  crates/kithara-broadcast/src/id3.rs
  crates/kithara-broadcast/src/lib.rs
  crates/kithara-broadcast/src/segment.rs
  crates/kithara-broadcast/src/window.rs
  tests/tests/kithara_broadcast/packaging_tests.rs
Due: semver, perf, bench

fix(play): end the mix tap feed when the device rate changes
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/bridge/channels.rs
  crates/kithara-play/src/rt/tap.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/graph.rs
  crates/kithara-play/src/session/state.rs
  tests/tests/kithara_play/mix_tap.rs
Due: semver, perf

fix(broadcast): announce one target duration and check the one announced
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/id3.rs
  crates/kithara-broadcast/src/segment.rs
  crates/kithara-broadcast/src/server.rs
  crates/kithara-broadcast/src/service.rs
  crates/kithara-broadcast/src/window.rs
  tests/tests/kithara_broadcast/origin.rs
Due: semver, perf

test(broadcast): hold the served stream to RFC 8216
  tests/src/lib.rs
  tests/src/packed_audio.rs
  tests/tests/kithara_broadcast/hls_conformance.rs
  tests/tests/kithara_broadcast/origin.rs
  tests/tests/kithara_broadcast/origin_tests.rs
  tests/tests/suite_light.rs
Due: none

docs(broadcast): say what the playlist span invariant covers and what stop joins
  crates/kithara-broadcast/CONTEXT.md
Due: perf

test(broadcast): wait for the ring to drain before judging the audio after a break
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/feed.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
Due: semver, perf

fix(broadcast): end a stop on the line the feed draws, and break the timeline behind the gap
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/feed.rs
  crates/kithara-broadcast/src/service.rs
  tests/tests/kithara_broadcast/origin.rs
Due: semver, perf

test(broadcast): judge the on-air tests on signal, and fix the rate the mock reads a signal at
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/feed.rs
  tests/src/audio_mock.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/vod_tail.rs
Due: semver, perf

feat(broadcast,hls): take the engine mix on air and play its tail back
  Cargo.lock
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/Cargo.toml
  crates/kithara-broadcast/README.md
  crates/kithara-broadcast/src/feed.rs
  crates/kithara-broadcast/src/lib.rs
  crates/kithara-hls/src/playlist/parse.rs
  tests/src/audio_mock.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/origin.rs
  tests/tests/kithara_broadcast/origin_tests.rs
  tests/tests/kithara_broadcast/vod_tail.rs
  tests/tests/suite_light.rs
Due: semver, perf, bench

docs(broadcast): say which clock a broadcast test runs on and why
  crates/kithara-broadcast/CONTEXT.md
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/origin_tests.rs
  tests/tests/kithara_broadcast/vod_tail.rs
Due: perf

fix(broadcast): keep the origin thread out of the virtual-clock participants
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/src/error.rs
  crates/kithara-broadcast/src/server.rs
  tests/tests/kithara_broadcast/origin_tests.rs
Due: semver, perf

fix(broadcast): count a ring's losses against the audio already handed over
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/README.md
  crates/kithara-broadcast/src/feed.rs
  crates/kithara-broadcast/src/service.rs
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/vod_tail.rs
Due: semver, perf

feat(broadcast): take the live path off the system FFmpeg
  Cargo.toml
  crates/kithara-broadcast/CONTEXT.md
  crates/kithara-broadcast/Cargo.toml
  crates/kithara-broadcast/src/service.rs
  tests/Cargo.toml
  tests/tests/kithara_broadcast/engine_e2e.rs
  tests/tests/kithara_broadcast/packaging_tests.rs
  tests/tests/kithara_encode/stream_tests.rs
Due: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
