Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

fix(audio): wake shared worker on seek + update README for AudioWorker
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
Due: semver, perf

feat(play): ServiceClass bridge — map TrackState to worker priority
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/lib.rs
  crates/kithara/src/lib.rs
Due: semver, perf

feat(audio): wake shared worker on consumer pop (backpressure relief)
  crates/kithara-audio/src/pipeline/audio.rs
Due: semver, perf

fix(wasm): reduce Web Worker count and add selenium worker count test
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-wasm/src/worker_entry.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf

fix: redirect pre-push hook output to stderr, fix duplicated URL
  .pre-commit-config.yaml
  crates/kithara-app/src/app.rs
  scripts/build-xcframework.sh
Due: semver, perf

chore: integrate cargo-hakari for unified workspace feature resolution
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-abr/Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-drm/Cargo.toml
  crates/kithara-events/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-play/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara-workspace-hack/.gitattributes
  crates/kithara-workspace-hack/Cargo.toml
  crates/kithara-workspace-hack/build.rs
  crates/kithara-workspace-hack/src/lib.rs
  crates/kithara/Cargo.toml
  tests/fuzz/Cargo.toml
  xtask/Cargo.toml
Due: semver, perf, bench

fix(hakari): use variant A publishing (publish=false, dep-format-version=4)
  .config/hakari.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf

fix: move pre-push hook out of prek to avoid output buffering
  .pre-commit-config.yaml
Due: none

feat: add Android FFI bindings and Gradle test harness
  .gitignore
  Cargo.lock
  Cargo.toml
  android/build.gradle.kts
  android/example/build.gradle.kts
  android/example/src/main/AndroidManifest.xml
  android/example/src/main/kotlin/com/kithara/example/MainActivity.kt
  android/gradle.properties
  android/gradle/gradle-daemon-jvm.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/lib/build.gradle.kts
  android/lib/consumer-rules.pro
  android/lib/src/androidTest/kotlin/com/kithara/KitharaInitTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerItemTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerTest.kt
  android/lib/src/main/AndroidManifest.xml
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  android/lib/src/main/kotlin/com/kithara/KitharaConfig.kt
  android/lib/src/main/kotlin/com/kithara/KitharaError.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  android/lib/src/main/kotlin/com/kithara/KitharaStoreOptions.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  android/settings.gradle.kts
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/config.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-ffi/uniffi.toml
  scripts/README.md
  scripts/build-android-bindings.sh
Due: semver, perf, bench

fix: restore kithara-ffi check hygiene
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/item_bridge.rs
  crates/kithara-ffi/src/lib.rs
Due: semver, perf

feat(audio): add FilterKind enum and smooth EQ gain transitions
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/lib.rs
Due: semver, perf

refactor(play): simplify Equalizer trait and remove EqBand enum
  crates/kithara-play/README.md
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/traits/dj/eq.rs
  crates/kithara-play/src/traits/mixer.rs
  crates/kithara-play/src/types.rs
Due: semver, perf

feat(play): add smooth EQ transitions to MasterEqProcessor and use Vec<EqBandConfig> layout
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/main.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/master_eq_node.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/traits/dj/eq.rs
  tests/tests/kithara_play/engine_tests.rs
Due: semver, perf

refactor(app): make GUI EQ dynamic instead of hardcoded 3-band
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

update test settings
  tests/fuzz/Cargo.toml
Due: none

chore(gitignore): ignore fuzz artifacts and coverage outputs
  .gitignore
  tests/fuzz/Cargo.toml
  tests/fuzz/FUZZ_CANDIDATES.md
  tests/fuzz/fuzz_targets/aes_decrypt.rs
  tests/fuzz/fuzz_targets/file_config.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
  tests/fuzz/fuzz_targets/hls_parsing.rs
  tests/fuzz/fuzz_targets/play_resource_config.rs
  tests/fuzz/fuzz_targets/storage_mem_resource.rs
  tests/fuzz/fuzz_targets/storage_mmap_resource.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
Due: none

tests(fuzz): add assets key fuzz target
  tests/fuzz/Cargo.toml
  tests/fuzz/FUZZ_CANDIDATES.md
  tests/fuzz/fuzz_targets/assets_key.rs
Due: none

docs: add workspace reuse and dependency audit
  REUSE_AUDIT.md
Due: none

apple: add interactive swift playground example
  apple/Examples/KitharaPlayground.playground/Contents.swift
  apple/README.md
Due: none

apple: fix seek callback isolation in playground
  apple/Examples/KitharaPlayground.playground/Contents.swift
Due: none

update docs
  .gitignore
  docs/ios-protocol.md
Due: none

rm docs
  REUSE_AUDIT.md
  tests/fuzz/FUZZ_CANDIDATES.md
Due: none

refactor(play): encapsulate track arena/index in processor
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

refactor(play): unify slot and track registries with generic arena map
  crates/kithara-play/src/impls/arena_registry.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

Fix kithara-play engine build
  crates/kithara-play/src/impls/arena_registry.rs
  crates/kithara-play/src/impls/engine.rs
Due: semver, perf

Enable workspace lints for macro crates
  crates/kithara-test-macros/Cargo.toml
  crates/kithara-wasm-macros/Cargo.toml
Due: semver, perf

Add Zed debug presets for kithara-app
  .gitignore
  .zed/debug.json
Due: none

Fix kithara-play test registry check
  crates/kithara-play/src/impls/arena_registry.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

fix(audio): fail fast when initial pcm recv stalls
  crates/kithara-audio/src/pipeline/audio.rs
Due: semver, perf

update KITHARA_HANG_TIMEOUT_SECS env during tests
  tests/tests/kithara_decode/hls_abr_variant_switch.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

refactor(hls): non-destructive seek with SeekLayout classification
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

integrate openspec
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-propose/SKILL.md
  .gemini/commands/opsx/apply.toml
  .gemini/commands/opsx/archive.toml
  .gemini/commands/opsx/explore.toml
  .gemini/commands/opsx/propose.toml
  .gemini/skills/openspec-apply-change/SKILL.md
  .gemini/skills/openspec-archive-change/SKILL.md
  .gemini/skills/openspec-explore/SKILL.md
  .gemini/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  openspec/config.yaml
Due: none

tests should fail faster
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-hang-detector/src/watchdog_macro.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

rm openspec
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-propose/SKILL.md
  .gemini/commands/opsx/apply.toml
  .gemini/commands/opsx/archive.toml
  .gemini/commands/opsx/explore.toml
  .gemini/commands/opsx/propose.toml
  .gemini/skills/openspec-apply-change/SKILL.md
  .gemini/skills/openspec-archive-change/SKILL.md
  .gemini/skills/openspec-explore/SKILL.md
  .gemini/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  .gitignore
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  openspec/config.yaml
Due: none

feat: unify Kithara FFI API, add PlayerViewModel, migrate builds to xtask
  .gitignore
  Cargo.lock
  Cargo.toml
  android/README.md
  android/example/build.gradle.kts
  android/example/src/main/AndroidManifest.xml
  android/example/src/main/kotlin/com/kithara/example/MainActivity.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerRoute.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/kotlin/com/kithara/example/ui/theme/Color.kt
  android/example/src/main/kotlin/com/kithara/example/ui/theme/Theme.kt
  android/example/src/main/res/values/strings.xml
  android/example/src/main/res/values/themes.xml
  android/gradle/libs.versions.toml
  android/lib/build.gradle.kts
  android/lib/src/androidTest/kotlin/com/kithara/KitharaInitTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerItemTest.kt
  android/lib/src/androidTest/kotlin/com/kithara/KitharaPlayerTest.kt
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  android/lib/src/main/kotlin/com/kithara/KitharaConfig.kt
  android/lib/src/main/kotlin/com/kithara/KitharaError.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  android/lib/src/main/kotlin/com/kithara/KitharaStoreOptions.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/config.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  justfile
  scripts/build-android-bindings.sh
  scripts/build-xcframework.sh
  xtask/src/android.rs
  xtask/src/main.rs
Due: semver, perf, bench

wip fix performance + tests
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/error.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/backend.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf
