Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

update tests
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: none

fix(hls): StreamIndex byte_map gap handling + downloader seek coordination
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-test-utils/src/fixtures.rs
Due: semver, perf

fix(test): reset_layout test — match segment data size, add expected_sizes
  tests/tests/kithara_hls/source_internal_cases.rs
Due: none

fix(hls): per-variant expected_sizes in StreamIndex
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/stream_index.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(audio): step_awaiting_resume transitions to WaitingForSource when source not ready
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

fix(audio): step_awaiting_resume transitions to WaitingForSource, anchor demand only for readiness
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

fix(hls): phase_at tolerates decoder position below layout base offset
  crates/kithara-assets/src/cache.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

fix(hls): base_offset tolerance in segment_for_offset, wait_range, read_at
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

fix(audio): trigger decoder recreation on same-codec variant switch
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
Due: semver, perf

refactor(hls): per-variant byte maps, ABR isolated from seek
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-play/src/impls/engine.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(hls): initialize layout_variant from ABR, remove had_midstream_switch from stall detection
  crates/kithara-hls/src/source.rs
Due: semver, perf

fix(hls): detect variant change in format_change, fix demand routing
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/downloader.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(audio,hls): epoch-based seek interruption, wait_range no false Interrupted
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

fix(hls): is_below_switch_floor skips layout_variant demand
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

fix(tests): increase stress test timeouts for ABR variant recreation
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
Due: none

fix(hls): prevent layout_variant switch during active seek
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
Due: semver, perf

fix(hls): remove unused mut in test
  crates/kithara-hls/src/source.rs
Due: semver, perf

test(hls): add ABR switch playback regression test
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/suite_heavy.rs
Due: none

test(hls): RED — real fMP4 assets hang worker on basic playback
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

test(hls): ABR switch playback test with real fMP4 assets
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

fix(audio): add StepResult::Waiting, rewrite worker loop
  crates/kithara-audio/src/pipeline/audio_worker.rs
  crates/kithara-audio/src/pipeline/worker_types.rs
Due: semver, perf

test(hls): RED — DRM stream hangs after seek sequence
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

test(hls): RED — parameterize seek sequence across HLS, DRM, MP3
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

test(hls): fix seek test to read limited samples, not wall-time
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

fix(audio): resolve DRM HLS hang after ABR variant switch
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: semver, perf

Revert "fix(audio): resolve DRM HLS hang after ABR variant switch"
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: semver, perf

refactor(audio): extract worker/ and audio.rs to crate root
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/rodio/source_impl.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-audio/src/worker/mod.rs
  crates/kithara-audio/src/worker/thread_wake.rs
  crates/kithara-audio/src/worker/traits.rs
  crates/kithara-audio/src/worker/types.rs
  crates/kithara-audio/src/worker/wake.rs
Due: semver, perf

chore: test-release profile, parallel nextest, relaxed stress timeouts
  .config/nextest.toml
  Cargo.toml
  justfile
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
Due: perf, bench

test: add thread budget tests (RED) for thread sprawl regression
  tests/tests/suite_light.rs
  tests/tests/thread_budget.rs
Due: none

feat(stream): Backend reuses shared runtime handle, no extra tokio runtime
  crates/kithara-file/src/config.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-stream/src/backend.rs
Due: semver, perf

feat(play): ResourceConfig propagates runtime handle to stream configs
  crates/kithara-play/src/impls/config.rs
Due: semver, perf

feat(play,app): inject shared worker + runtime into all tracks
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

feat(ffi): inject shared worker + runtime into AudioPlayerItem
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf

fix(app): TUI uses multi-thread tokio runtime
  crates/kithara-app/src/tui/mod.rs
Due: semver, perf

fix: thread budget tests GREEN — shared worker + runtime eliminates sprawl
  crates/kithara-stream/src/backend.rs
  tests/tests/thread_budget.rs
Due: semver, perf

fix(app): cap tokio blocking pool to 4 threads in TUI mode
  crates/kithara-app/src/tui/mod.rs
Due: semver, perf

feat(stream): downloader as async task — zero OS threads per stream
  crates/kithara-file/src/downloader.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/maybe_send.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/downloader.rs
  tests/tests/thread_budget.rs
Due: semver, perf
