Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

Split file stream coordination from source state
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/lib.rs
  crates/kithara-file/src/session.rs
Due: semver, perf

Block reads from unprocessed asset resources
  crates/kithara-assets/src/process.rs
Due: semver, perf

Split HLS topology layout and coordination
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/layout.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

Make audio seek wait on source readiness
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

Update integration test stream harnesses
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_stream/reader_seek_overflow.rs
  tests/tests/kithara_stream/timeline_source_of_truth.rs
Due: none

Add player resource regression scenarios
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Clean stream refactor test and lint fallout
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/layout.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/coordination.rs
  crates/kithara-stream/src/demand.rs
  crates/kithara-stream/src/layout.rs
  crates/kithara-stream/src/stream.rs
  tests/fuzz/fuzz_targets/stream_read_seek.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: semver, perf

Add HLS seek planner regression tests
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

Fix init-less HLS planner init requests
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

Update init-less HLS planner regression
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

Add player resource regression scenarios
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Rearm preload after seek epochs
  crates/kithara-audio/src/pipeline/audio_worker.rs
  tests/tests/kithara_audio/audio_tests.rs
Due: semver, perf

Tighten player resource regression diagnostics
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Add shared-worker lifecycle regressions
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Add sequential HLS session regressions
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Replace is_range_ready() with demand_range() on Source trait
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-test-utils/src/memory_source.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

Migrate asset tests to acquire_resource
  .docs/2026-03-13-hls-seek-debug-journal.md
  crates/kithara-hls/src/internal.rs
  tests/tests/kithara_assets/eviction_bytes_integration.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/processing_integration.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
Due: semver, perf

Fix sequential HLS session test deadlock on CurrentThread runtime
  tests/tests/kithara_play/resource_regressions.rs
Due: none

Fix OnceCell deadlock in handle_batch demand processing
  crates/kithara-stream/src/backend.rs
Due: semver, perf

Add efficient HEAD handler to HLS test server for encrypted segments
  tests/src/hls_fixture/scalable_server.rs
Due: none

Add HTTP Range support to AudioTestServer
  tests/src/audio_fixture.rs
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
Due: none

Share byte_len handle between decoder factory and ReadSeekAdapter
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

Fix DRM ephemeral re-download livelock and reconciliation drift
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

Fix DRM offset resolution and improve seek byte_len tracking
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

feat: add mobile playlist controls and playback end events
  Cargo.lock
  Cargo.toml
  android/example/src/main/kotlin/com/kithara/example/FileUtils.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerRoute.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/res/values/strings.xml
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/events.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_track.rs
Due: semver, perf, bench

feat(hls): add StreamIndex with per-variant storage and RangeMap compositor
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

feat(assets): add on_invalidated callback for cache displacement
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/store.rs
Due: semver, perf

refactor(hls): migrate downloader + source + context from DownloadState to StreamIndex
  crates/kithara-hls/src/context.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
Due: semver, perf

refactor(hls): remove dead layout.rs module
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/layout.rs
  crates/kithara-hls/src/lib.rs
Due: semver, perf

refactor(hls): remove dead loaded_segment_offset_mismatch function and tests
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

test(hls): restore drm_stream_integrity test and register module
  tests/tests/kithara_hls/drm_stream_integrity.rs
  tests/tests/kithara_hls/mod.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: none

fix(hls): call switch_variant on initial variant != 0 and fix byte_len test
  crates/kithara-hls/src/downloader.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf

feat: add mobile playlist controls and playback end events (#29)
  Cargo.lock
  Cargo.toml
  android/example/src/main/kotlin/com/kithara/example/FileUtils.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerRoute.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/res/values/strings.xml
  android/lib/src/main/kotlin/com/kithara/Kithara.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Examples/KitharaDemo/Sources/KitharaDemoApp.swift
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/android.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/events.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_track.rs
Due: semver, perf, bench

refactor(stream): remove timeline total_bytes cache
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/base.rs
  crates/kithara-assets/src/cache.rs
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/processing_reopen.rs
  crates/kithara-assets/tests/resource_state.rs
  crates/kithara-file/src/coord.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/download_state.rs
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/fetch.rs
  crates/kithara-hls/src/ids.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
  crates/kithara-stream/src/timeline.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_hls/drm_stream_integrity.rs
  tests/tests/kithara_hls/source_internal_cases.rs
  tests/tests/suite_heavy.rs
Due: semver, perf, bench

fix(assets,hls): checkpoint lifecycle and landed seek fixes
  crates/kithara-assets/src/lease.rs
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
  tests/tests/kithara_assets/resource_path_test.rs
  tests/tests/kithara_assets/streaming_resources_comprehensive.rs
  tests/tests/kithara_hls/ephemeral.rs
Due: semver, perf

fix(file): wake downloader on post-seek demand
  crates/kithara-file/src/session.rs
Due: semver, perf

fix(hls): preserve fetched init for decoder resets
  crates/kithara-hls/src/downloader.rs
Due: semver, perf

fix(hls): preserve absolute seek-reset layout coordinates
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/stream_index.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(hls): follow mixed-layout owner after switch
  crates/kithara-hls/src/source.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

fix(audio): wait for decoder recreate input boundary
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/pipeline/source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
Due: semver, perf
