Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

chore(queue): scaffold kithara-queue crate
  Cargo.lock
  Cargo.toml
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/README.md
  crates/kithara-queue/src/lib.rs
Due: semver, perf, bench

feat(queue): add core types and config
  Cargo.lock
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/error.rs
  crates/kithara-queue/src/events.rs
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/track.rs
Due: semver, perf, bench

feat(queue): navigation with shuffle/repeat
  crates/kithara-queue/src/navigation.rs
Due: semver, perf

feat(queue): async track loader with parallelism cap
  Cargo.lock
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf, bench

feat(queue): Queue facade with select/advance + crossfade filter
  Cargo.lock
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/queue.rs
Due: semver, perf, bench

feat(queue): unify event stream on shared bus
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/queue.rs
  crates/kithara-queue/src/error.rs
  crates/kithara-queue/src/events.rs
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/track.rs
Due: semver, perf

refactor(app): adopt kithara-queue as orchestration layer
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/controls.rs
  crates/kithara-app/src/drm.rs
  crates/kithara-app/src/frontend.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/playlist.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf, bench

fix(app): defer queue.set_tracks into frontend runtime context
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-app/src/tui/runner.rs
Due: semver, perf

fix(queue): mark tracks Consumed after select_item to enable re-select
  crates/kithara-queue/src/queue.rs
Due: semver, perf

feat(queue): emit QueueEvent::CrossfadeStarted for UI progress
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-events/src/queue.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

chore(queue): finalize docs
  crates/kithara-queue/README.md
  crates/kithara-queue/src/queue.rs
Due: semver, perf

feat(ffi): depend on kithara-queue
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
Due: semver, perf, bench

feat(ffi): route AudioPlayer through kithara_queue::Queue
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf

feat(ffi): expose QueueEvent variants through player stream
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-ffi/src/types.rs
Due: semver, perf

chore(ios): regen UniFFI bindings for Queue-backed AudioPlayer
  apple/Sources/KitharaFFI/KitharaFFI.swift
Due: none

feat(ios): surface TrackStatus + AVQueuePlayer-style selectItem
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/PlayerState.swift
Due: none

refactor(demo/ios): simplify PlayerViewModel on Queue-backed SDK
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(android): handle new FfiPlayerEvent variants in exhaustive when
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
Due: none

refactor(queue): accept optional Arc<PlayerImpl> in QueueConfig
  crates/kithara-app/src/main.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(queue): drop net/store from QueueConfig
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

feat(queue,ffi,ios,android): explicit Transition on select/advance
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerRoute.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/PlayerState.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-queue/src/lib.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

fix(queue): respawn Consumed tracks via stored TrackSource
  crates/kithara-play/src/impls/config.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/track.rs
Due: semver, perf

feat(queue,app): remove track + auto-advance / UI selection
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

refactor(downloader): share one Downloader per app/ffi, drop runtime field
  Cargo.lock
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/frontend.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf, bench

feat(events): introduce DownloaderEvent + `downloader` feature
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/downloader.rs
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/lib.rs
Due: semver, perf

feat(downloader): own LoadSlow signal via peer bus, retire NetOptions.on_slow
  Cargo.lock
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/audio.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/types.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-stream/src/dl/config.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/peer.rs
  crates/kithara-stream/src/dl/registry.rs
Due: semver, perf, bench

refactor: retire HlsEvent/FileEvent::LoadSlow + HlsConfig.net + ResourceConfig.net
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-events/src/file.rs
  crates/kithara-events/src/hls.rs
  crates/kithara-ffi/src/config.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-queue/src/loader.rs
  tests/benches/refactor_hotpaths.rs
  tests/tests/kithara_play/resource_regressions.rs
Due: semver, perf

test(stream/dl): cover end-to-end LoadSlow pipeline on peer bus
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

fix(queue): sync TrackStatus polling truth with event stream via Tracks
  crates/kithara-queue/src/loader.rs
  crates/kithara-queue/src/queue.rs
  crates/kithara-queue/src/track.rs
Due: semver, perf

feat(demo): highlight slow/failed tracks in iOS + Android playlists
  android/example/src/main/kotlin/com/kithara/example/PlayerUiState.kt
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
  android/example/src/main/kotlin/com/kithara/example/ui/PlayerScreen.kt
  android/example/src/main/kotlin/com/kithara/example/ui/theme/Color.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/PlayerState.kt
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(ffi): enter FFI runtime before Queue methods that spawn tasks
  crates/kithara-ffi/src/player.rs
Due: semver, perf

chore(demo/ios): drop verbose slow-status log from handleTrackStatus
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(queue): retry Failed tracks on explicit re-select
  crates/kithara-queue/src/queue.rs
Due: semver, perf

feat(demo/android): add default playlist matching iOS demo
  android/example/src/main/kotlin/com/kithara/example/PlayerViewModel.kt
Due: none

feat(demo/ios): swipe-to-delete tracks in playlist
  apple/Examples/KitharaDemo/Sources/PlayerView.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
Due: none

fix(queue,gui): extract track name from ResourceConfig, show selected row
  crates/kithara-app/src/gui/view.rs
  crates/kithara-queue/src/queue.rs
Due: semver, perf

fix(gui): show selected-row highlight immediately on click
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

feat(drm): domain-scoped KeyProcessorRegistry
  Cargo.lock
  crates/kithara-drm/Cargo.toml
  crates/kithara-drm/src/lib.rs
  crates/kithara-drm/src/registry.rs
Due: semver, perf, bench

feat(hls): route DRM keys through KeyProcessorRegistry
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/loading/keys.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

refactor(ffi,drm,hls,demos): domain-scoped DRM via KeyProcessorRegistry
  Cargo.lock
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  apple/Examples/KitharaDemo/Sources/DrmSetup.swift
  apple/Examples/KitharaDemo/Sources/PlayerViewModel.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/Kithara/KitharaPlayerItem.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-app/src/drm.rs
  crates/kithara-app/src/sources.rs
  crates/kithara-drm/Cargo.toml
  crates/kithara-drm/src/registry.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/keys.rs
  tests/src/hls_fixture/assets.rs
  tests/tests/kithara_hls/keys_integration.rs
Due: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
