Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

feat(events): player transport, crossfade, advance-reason, session, and DJ bpm/beat events
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/play.rs
  crates/kithara-events/src/queue.rs
  crates/kithara-play/src/impls/player/core.rs
  crates/kithara-play/src/impls/player/phase_fsm.rs
  crates/kithara-play/src/impls/player/queue.rs
  crates/kithara-play/src/impls/player_notification.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-queue/src/queue/access.rs
  crates/kithara-queue/src/queue/lifecycle.rs
  crates/kithara-queue/src/queue/passthrough.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  tests/src/offline/player.rs
  tests/tests/kithara_queue/advance_boundary_provenance.rs
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
Due: semver, perf

test(decode): verify HE-AAC v2 decode via WebCodecs in a real browser
  assets/he_aac_v2_init.mp4
  assets/he_aac_v2_segment.m4s
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/tests/webcodecs_browser.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
Due: perf

refactor(audio): W7 track FSM split by sub-machine, coordinator collapse
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/consumer.rs
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/format.rs
  crates/kithara-audio/src/pipeline/decode/gate.rs
  crates/kithara-audio/src/pipeline/decode/mod.rs
  crates/kithara-audio/src/pipeline/decode/resume.rs
  crates/kithara-audio/src/pipeline/decode/step.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/rebuild/mod.rs
  crates/kithara-audio/src/pipeline/rebuild/policy.rs
  crates/kithara-audio/src/pipeline/rebuild/port.rs
  crates/kithara-audio/src/pipeline/rebuild/state.rs
  crates/kithara-audio/src/pipeline/seek/anchor.rs
  crates/kithara-audio/src/pipeline/seek/emit.rs
  crates/kithara-audio/src/pipeline/seek/engine.rs
  crates/kithara-audio/src/pipeline/seek/mod.rs
  crates/kithara-audio/src/pipeline/seek/recover.rs
  crates/kithara-audio/src/pipeline/seek/skip.rs
  crates/kithara-audio/src/pipeline/seek/state.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track/decode.rs
  crates/kithara-audio/src/pipeline/track/fsm.rs
  crates/kithara-audio/src/pipeline/track/mod.rs
  crates/kithara-audio/src/pipeline/track/phase.rs
  crates/kithara-audio/src/pipeline/track/rebuild.rs
  crates/kithara-audio/src/pipeline/track/recreate.rs
  crates/kithara-audio/src/pipeline/track/seek.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/pipeline/track/tests/splice.rs
  crates/kithara-audio/src/pipeline/track/tests/state.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/renderer/handle.rs
  crates/kithara-audio/src/renderer/node.rs
  crates/kithara-audio/src/renderer/source.rs
  crates/kithara-audio/src/renderer/tests.rs
Due: semver, perf

feat(events): surface decoder transparency on native FFI (FfiItemEvent)
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
Due: semver, perf

feat(kithara): expose webcodecs feature through the facade crate
  crates/kithara/Cargo.toml
Due: semver, perf

fix(decode): correct seek trim for queue codecs whose PCM lags the fed packet
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/tests/webcodecs_browser.rs
Due: semver, perf

feat(events): surface audio-pipeline and HLS transparency on native FFI
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
Due: semver, perf

refactor(audio): W8 audio.rs -> audio/ facade and owners
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/cursor.rs
  crates/kithara-audio/src/audio/event.rs
  crates/kithara-audio/src/audio/mod.rs
  crates/kithara-audio/src/audio/park.rs
  crates/kithara-audio/src/audio/ring.rs
Due: semver, perf

test(decode): verify HE-AAC v1 decode via WebCodecs; parameterize HE-AAC encoder
  assets/he_aac_v1_init.mp4
  assets/he_aac_v1_segment.m4s
  crates/kithara-decode/tests/webcodecs_browser.rs
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/README.md
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/fdk/aac_he.rs
  crates/kithara-encode/src/fdk/mod.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  tests/src/native/fmp4/codec.rs
  tests/src/rfc6381.rs
  tests/src/test_server.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
Due: semver, perf

refactor(audio,decode): make Fetch a sum type so terminal markers carry no payload
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-decode/src/types.rs
  tests/src/decode_ext.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

feat(lint): syn-based derive-collapse autofix (Display/From/Deref) + idioms --fix
  .config/ast-grep/idioms.derive-deref-candidate.yml
  .config/ast-grep/idioms.derive-display-candidate.yml
  .config/ast-grep/idioms.derive-from-candidate.yml
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/derivable_deref.rs
  crates/kithara-devtools/src/idioms/checks/derivable_display.rs
  crates/kithara-devtools/src/idioms/checks/derivable_from.rs
  crates/kithara-devtools/src/idioms/checks/derivable_support.rs
  crates/kithara-devtools/src/idioms/checks/mod.rs
  crates/kithara-devtools/src/idioms/config.rs
  crates/kithara-devtools/src/idioms/mod.rs
  crates/kithara-devtools/src/lint.rs
  crates/kithara-platform/src/flash/diag/thread.rs
  crates/kithara-platform/src/flash/tokio/broadcast.rs
  crates/kithara-platform/src/flash/tokio/errors.rs
Due: semver, perf

refactor(audio,play): budget-check player scratch growth via ensure_len
  crates/kithara-audio/src/audio.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf

feat(lint): add delegate! autofix to derivable_delegation
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
Due: semver, perf

refactor(audio): W9 config split + privatize config/Fetch
  crates/kithara-audio/src/audio/cursor.rs
  crates/kithara-audio/src/audio/event.rs
  crates/kithara-audio/src/audio/ring.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-audio/src/pipeline/config/audio.rs
  crates/kithara-audio/src/pipeline/config/chain.rs
  crates/kithara-audio/src/pipeline/config/decoder.rs
  crates/kithara-audio/src/pipeline/config/mod.rs
  crates/kithara-audio/src/pipeline/config/tests.rs
  crates/kithara-audio/src/pipeline/decode/step.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/renderer/handle.rs
  crates/kithara-audio/src/renderer/node.rs
  crates/kithara-audio/src/renderer/tests.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player/core.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_decode/decoder_seek_tests.rs
  tests/tests/kithara_queue/false_eof_rapid_scrub.rs
  tests/tests/kithara_queue/packaged_drm_seek.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/kithara_queue/zvuk_prod_aac_to_flac_switch.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
  tests/tests/kithara_queue/zvuk_stage_drm_e2e.rs
Due: semver, perf

feat(events): surface loader (downloader + file) transparency on native FFI
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
Due: semver, perf, bench

refactor: remove redundant field accessors; limited fieldwork derive
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/scope.rs
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-decode/src/android/media_extractor.rs
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
Due: semver, perf, bench

feat(events): surface DRM key/decrypt transparency on native FFI
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
Due: semver, perf

refactor(bufpool): make PcmBuf a nominal slice-deref guard to forbid raw PCM growth
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-bufpool/CONTEXT.md
  crates/kithara-bufpool/src/global.rs
  tests/tests/kithara_audio/alloc_free_hotpath.rs
  tests/tests/kithara_audio/audio_tests.rs
  tests/tests/kithara_hls/segment_boundary_strand.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

feat(events): surface queue lifecycle + advance-reason on native FFI
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
Due: semver, perf

feat(events): surface engine/session/DJ/asset transparency on native FFI
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
Due: semver, perf

fix(bench): box the resampler in refactor_hotpaths build helper
  tests/benches/refactor_hotpaths.rs
Due: none

perf(decode,audio,beat,stretch): cut hot-path allocations and O(n^2) tail scan
  crates/kithara-audio/src/analysis/beat/analyzer.rs
  crates/kithara-beat/src/runtime.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-stretch/src/backends/bungee.rs
Due: semver, perf

test(bench): add perf-audit criterion benches
  tests/Cargo.toml
  tests/benches/perf_audit.rs
Due: none

refactor(storage,hls,file): narrow lock guards and drop a redundant clone
  crates/kithara-file/src/session/source.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
Due: semver, perf

refactor(ffi): extract shared event->FFI converters into core::convert
  crates/kithara-ffi/src/core/convert.rs
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
Due: semver, perf

feat(devtools): add opt-in cargo xtask audit-clippy sweep
  .config/xtask.toml
  crates/kithara-devtools/src/audit_clippy.rs
  crates/kithara-devtools/src/common/project.rs
  crates/kithara-devtools/src/lib.rs
  crates/kithara-devtools/src/test.rs
  justfile
Due: semver, perf

docs(guides): add performance antipattern guide and wire reference chain
  AGENTS.md
  docs/guides/performance.md
  docs/guides/red-flags.md
  docs/workflows/rust-ai.md
Due: none

feat(events): surface new player-level events on web/wasm FFI
  crates/kithara-ffi/src/web/observer/router.rs
  crates/kithara-ffi/src/web/observer/source.rs
Due: semver, perf

perf(stretch): use workspace fast-interleave for bungee (de)interleave
  crates/kithara-stretch/Cargo.toml
  crates/kithara-stretch/src/backends/bungee.rs
Due: semver, perf

chore(stretch): record fast-interleave in Cargo.lock
  Cargo.lock
Due: perf, bench

refactor(audio): W11 clear last cfg_density, zero the arch baseline
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  crates/kithara-audio/src/exports.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track/mod.rs
  crates/kithara-audio/src/pipeline/track/tests/mod.rs
  crates/kithara-audio/src/pipeline/track/tests/rebuild.rs
  crates/kithara-audio/src/pipeline/track/tests/splice.rs
  crates/kithara-audio/src/pipeline/track/tests/state.rs
  tests/tests/kithara_app/waveform_analyzer.rs
  tests/tests/kithara_file/waveform_shared_download.rs
Due: semver, perf

docs(guides): rewrite performance guide as the full antipattern catalog
  docs/guides/performance.md
Due: none

perf(net,beat,play,stretch): drop the avoidable collect() allocations
  crates/kithara-beat/src/inference.rs
  crates/kithara-net/src/backend/native/shared.rs
  crates/kithara-play/src/impls/session/state.rs
  crates/kithara-stretch/src/backends/bungee.rs
Due: semver, perf

docs(guides): split performance guide into a router + per-theme sub-guides
  docs/guides/performance.md
  docs/guides/performance/allocation.md
  docs/guides/performance/api-iterators.md
  docs/guides/performance/async.md
  docs/guides/performance/benchmarking.md
  docs/guides/performance/dispatch-build.md
  docs/guides/performance/dsp-layout.md
  docs/guides/performance/io-ffi.md
  docs/guides/performance/realtime.md
Due: none

feat(events): surface per-item events on web/wasm FFI + restore green wasm build
  crates/kithara-ffi/src/web/observer/decode.rs
  crates/kithara-ffi/src/web/observer/decode_item.rs
  crates/kithara-ffi/src/web/observer/encode.rs
  crates/kithara-ffi/src/web/observer/encode_item.rs
  crates/kithara-ffi/src/web/observer/marshal.rs
  crates/kithara-ffi/src/web/observer/mod.rs
  crates/kithara-ffi/src/web/observer/router.rs
  crates/kithara-ffi/src/web/observer/shim.rs
  crates/kithara-ffi/src/web/observer/source.rs
Due: semver, perf

refactor(audio): W12 cooperative analyzer over runtime scheduler
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/analysis/analyzer/mod.rs
  crates/kithara-audio/src/analysis/analyzer/session.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/beat/mod.rs
  crates/kithara-audio/src/analysis/beat/pass.rs
  crates/kithara-audio/src/analysis/mod.rs
  crates/kithara-audio/src/analysis/model/disabled.rs
  crates/kithara-audio/src/analysis/model/enabled.rs
  crates/kithara-audio/src/analysis/run.rs
  crates/kithara-audio/src/analysis/slots/beat.rs
  crates/kithara-audio/src/analysis/slots/nobeat.rs
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/analysis/worker.rs
  crates/kithara-audio/src/analysis/worker/handle.rs
  crates/kithara-audio/src/analysis/worker/mod.rs
  crates/kithara-audio/src/analysis/worker/node.rs
  crates/kithara-audio/src/analysis/worker/observer.rs
  crates/kithara-audio/src/analysis/worker/task.rs
  crates/kithara-platform/src/flash/tokio/watch.rs
Due: semver, perf

perf: drop the redundant clones and Arc<Vec> flagged by the audit-clippy sweep
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/main.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-devtools/src/arch/checks/module_layers.rs
  crates/kithara-devtools/src/perf/list.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-hls/src/stream/coord.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-play/src/impls/engine.rs
Due: semver, perf

refactor(ffi): express event->FFI conversions as TryFrom impls
  crates/kithara-ffi/src/core/convert.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
  crates/kithara-ffi/src/web/observer/source.rs
Due: semver, perf
