Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(platform): flash engine dump via Display trait
  crates/kithara-platform/src/flash/system/sched.rs
Due: semver, perf

fix(xtask): line-insensitive ratchet matching for named violations
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  xtask/src/common/baseline.rs
Due: none

refactor(platform): W6 — tokio quarantine
  Cargo.lock
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/tui/frontend.rs
  crates/kithara-app/src/tui/runner.rs
  crates/kithara-assets/Cargo.toml
  crates/kithara-platform/src/flash/tokio/mod.rs
  crates/kithara-platform/src/native/tokio/mod.rs
  crates/kithara-queue/src/loader.rs
  crates/kithara-stream/Cargo.toml
  crates/kithara-test-utils/src/probe/noop.rs
  crates/kithara-test-utils/src/probe/real/wire.rs
Due: semver, perf, bench

refactor: complete tokio quarantine — drop dead app/ffi/queue tokio deps
  crates/kithara-app/Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/native/android_test.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-queue/Cargo.toml
Due: semver, perf

feat(xtask): W7 — platform_layer_hygiene + tokio_dep_quarantine guards
  .config/arch/thresholds.toml
  crates/kithara-platform/src/flash/tokio/task.rs
  xtask/src/arch/checks/mod.rs
  xtask/src/arch/checks/platform_layer_hygiene.rs
  xtask/src/arch/checks/tokio_dep_quarantine.rs
  xtask/src/arch/config.rs
Due: semver, perf

feat(platform,audio,hls,stream,storage,assets): unify wait/notify gates + event-driven off-RT read wait
  crates/kithara-assets/src/process.rs
  crates/kithara-audio/src/runtime/wake.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/segment_store.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-platform/src/common/gate.rs
  crates/kithara-platform/src/common/mod.rs
  crates/kithara-platform/src/flash/sync/mod.rs
  crates/kithara-platform/src/native/sync/mod.rs
  crates/kithara-platform/src/wasm/sync/mod.rs
  crates/kithara-storage/src/backend/resource/io.rs
  crates/kithara-storage/src/backend/resource/lifecycle.rs
  crates/kithara-storage/src/backend/resource/state.rs
  crates/kithara-storage/src/backend/resource/wait.rs
  crates/kithara-stream/src/stream.rs
  tests/tests/kithara_hls/seek_variant_switch_after_eof.rs
Due: semver, perf

feat(stream,hls,audio): event-driven audio-worker wake on HLS data-arrival
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/peer.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/stream.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/wake.rs
Due: semver, perf

fix(hls,test): deterministic hls_seek_near_end_skips_prefix under flash
  crates/kithara-hls/src/peer.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
Due: semver, perf

fix(hls): re-queue orphaned in-flight segments in dispatch so a seek can't strand them
  crates/kithara-hls/src/variant.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(decode): keep already-read prefix on mid-fill segment-end shrink
  crates/kithara-decode/src/fmp4/source_io.rs
Due: semver, perf

feat(platform): name quiescence-slot holders in flash hang dump
  crates/kithara-platform/src/common/flash_inert.rs
  crates/kithara-platform/src/flash/ctx.rs
  crates/kithara-platform/src/flash/participant.rs
  crates/kithara-platform/src/flash/system/credit.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/flash/system/inner.rs
  crates/kithara-platform/src/flash/system/mod.rs
  crates/kithara-platform/src/flash/system/sched.rs
  crates/kithara-platform/src/flash/tests.rs
  crates/kithara-platform/src/flash/tokio/task.rs
  crates/kithara-test-macros/src/test/expand_async.rs
Due: semver, perf

fix(stream): drop trailing yield in batch::process that stranded segments under flash
  crates/kithara-stream/src/dl/batch.rs
Due: semver, perf

test(hls): drive ABR mode/switch tests on state, not timers
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
Due: none

test(flash): canonical read/wait helpers + flash control-surface lockdown
  .config/ast-grep/arch.no-raw-flash-toggle.yml
  crates/kithara-platform/src/flash/api.rs
  tests/src/flash_pace.rs
  tests/src/lib.rs
  tests/src/reads.rs
  tests/src/test_server/native.rs
  tests/src/waits.rs
  tests/tests/common/continuity.rs
  tests/tests/common/mod.rs
  tests/tests/common/reader_helpers.rs
  tests/tests/kithara_abr_integration/variant_switch_coherence.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/abr_mode_switch.rs
  tests/tests/kithara_hls/abr_switch_playback.rs
  tests/tests/kithara_hls/drm_stream_integrity.rs
  tests/tests/kithara_hls/red_leak_native_drm_seek_resume.rs
  tests/tests/kithara_hls/red_leak_pattern.rs
  tests/tests/kithara_hls/red_leak_small_cache_seek.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_middle_stress.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/user_simulation/harness.rs
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/thread_budget.rs
Due: semver, perf

test(flash): dedup wait_for_*/render_until_position onto the lib helpers
  tests/src/waits.rs
  tests/tests/kithara_play/hls_seek_middle_no_queue.rs
  tests/tests/kithara_play/hls_seek_middle_stress.rs
  tests/tests/kithara_play/hls_seek_middle_stress_long.rs
  tests/tests/kithara_queue/cold_seek_cpal.rs
  tests/tests/kithara_queue/cold_seek_middle.rs
  tests/tests/kithara_queue/cpal_cold_seek_synthetic.rs
  tests/tests/kithara_queue/file_replay_from_warm_cache.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
  tests/tests/kithara_queue/hls_seek_near_end_stress.rs
  tests/tests/kithara_queue/loader_starvation.rs
  tests/tests/kithara_queue/local_track_plays.rs
  tests/tests/kithara_queue/real_playlist.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_stage_drm_e2e.rs
  tests/tests/thread_budget.rs
Due: none

test(flash): drop unused time imports left by the timer->event conversions
  tests/src/hls_server.rs
  tests/tests/kithara_hls/cancel_isolation.rs
  tests/tests/kithara_hls/forward_withheld_segment_busy_spin.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_random.rs
  tests/tests/kithara_play/gapless_startup_regressions.rs
  tests/tests/kithara_play/player_queue_api_regressions.rs
  tests/tests/kithara_play/resource_regressions.rs
  tests/tests/kithara_queue/flac_swallow_fixture.rs
  tests/tests/kithara_queue/track_switch_race.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
  tests/tests/kithara_queue/zvuk_prod_drm_e2e.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
Due: none

fix(hls): observe EOF at range.start==total over zero-width range_ready
  crates/kithara-hls/src/variant.rs
Due: semver, perf

test(flash): tolerate broadcast Lagged when waiting for first bus event
  tests/tests/kithara_hls/basic_playback.rs
Due: none

test(flash): make user_sim tick driver flash-active so its sleep is virtual
  tests/tests/kithara_queue/user_simulation/harness.rs
Due: none

fix(hls): commit pending manual switch and re-aim codec-backoff landing during seek
  crates/kithara-hls/src/peer.rs
Due: semver, perf

feat(test): hang watchdog reports stuck + last-progress source location
  crates/kithara-test-macros/src/hang_watchdog/expand.rs
  crates/kithara-test-utils/src/hang/real/detector_native.rs
  crates/kithara-test-utils/src/hang/real/detector_wasm.rs
  crates/kithara-test-utils/src/hang/real/native.rs
  crates/kithara-test-utils/src/hang/real/tests.rs
  crates/kithara-test-utils/src/hang/real/wasm.rs
Due: semver, perf

feat(decode): InputRequirement contract gates recreate by demuxer input shape
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/input.rs
  crates/kithara-decode/src/lib.rs
Due: semver, perf

test(decode): gate backend tests on target_os, retire never-enabled test features
  tests/Cargo.toml
  tests/tests/kithara_decode/factory_tests.rs
  tests/tests/kithara_decode/protocol_tests.rs
  tests/tests/kithara_queue/user_simulation/tests.rs
Due: none

test(hls): force deterministic seek_backwards repro after manual switch
  tests/tests/kithara_hls/abr_mode_switch.rs
Due: none

docs: trim InputRequirement README sections and doc-comments to overview
  crates/kithara-audio/README.md
  crates/kithara-decode/README.md
  crates/kithara-decode/src/demuxer.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/input.rs
Due: semver, perf

feat(xtask): apple release flow (prepare/publish) + stretch-all zed debug profile
  .config/xtask.toml
  .zed/debug.json
  xtask/src/common/project.rs
  xtask/src/main.rs
  xtask/src/release.rs
Due: none

fix(typos): allowlist legit identifiers flagged as false positives
  .config/typos.toml
Due: none

test(decode): dedupe fmp4 build_test_layout via a codec param
  crates/kithara-decode/src/fmp4/tests.rs
Due: semver, perf

feat(waveform): waveform view zoom/pan controls; beat grid visualization
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-app/README.md
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/gui/widgets/waveform_viewport.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/README.md
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/track_analysis.rs
  crates/kithara-audio/src/analysis/run.rs
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/analysis/worker.rs
  crates/kithara-audio/src/waveform/analyzer.rs
  tests/tests/kithara_app/waveform_analyzer.rs
Due: semver, perf, bench

feat(waveform): waveform view zoom/pan controls; beat grid visualization (#81)
  Cargo.toml
  crates/kithara-app/Cargo.toml
  crates/kithara-app/README.md
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/gui/widgets/waveform_viewport.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-audio/README.md
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/track_analysis.rs
  crates/kithara-audio/src/analysis/run.rs
  crates/kithara-audio/src/analysis/tests.rs
  crates/kithara-audio/src/analysis/worker.rs
  crates/kithara-audio/src/waveform/analyzer.rs
  tests/tests/kithara_app/waveform_analyzer.rs
Due: semver, perf, bench

fix(decode): avoid tail-probing streaming apple mp3 startup
  crates/kithara-audio/src/audio.rs
  crates/kithara-decode/src/apple/audio_file.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/ffi.rs
  crates/kithara-decode/src/factory/inner.rs
  justfile
Due: semver, perf

fix(decode): infer apple mp3 streaming startup
  crates/kithara-audio/src/audio.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/factory/inner.rs
Due: semver, perf

feat(apple): restore single framework xtask tooling
  .config/xtask.toml
  .gitignore
  Cargo.lock
  Cargo.toml
  justfile
  xtask/Cargo.toml
  xtask/src/apple.rs
  xtask/src/common/project.rs
  xtask/src/release.rs
Due: perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
