Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

chore: enable ralph-loop plugin in Claude settings
  .claude/settings.json
Due: none

refactor: overhaul examples — playlist TUI for player, minimal style for others
  crates/kithara-play/src/impls/player.rs
  crates/kithara/examples/common/controls.rs
  crates/kithara/examples/common/player_tui.rs
  crates/kithara/examples/common/tui.rs
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/file_rodio.rs
  crates/kithara/examples/hls_audio.rs
  crates/kithara/examples/hls_drm_audio.rs
  crates/kithara/examples/hls_rodio.rs
  crates/kithara/examples/player.rs
Due: semver, perf

refactor: make examples self-contained single-file demos
  crates/kithara/examples/common/events.rs
  crates/kithara/examples/common/playback.rs
  crates/kithara/examples/file_audio.rs
  crates/kithara/examples/file_rodio.rs
  crates/kithara/examples/hls_audio.rs
  crates/kithara/examples/hls_drm_audio.rs
  crates/kithara/examples/hls_rodio.rs
  crates/kithara/examples/resource_rodio.rs
Due: perf

fix(stream): restore current-thread HLS runtime and retry non-flush interruptions
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
Due: semver, perf

feat: add asset server for local HLS/file serving
  Cargo.lock
  Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/asset_server.rs
  crates/kithara-test-utils/src/lib.rs
  tests/bin/fixture_server.rs
Due: semver, perf, bench

test: use local asset server instead of silvercomet.top
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_wasm/stress.rs
Due: none

Revert "fix: restore hang/seek stability after rollback"
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/memory.rs
  scripts/wasm_player_scenarios.py
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: semver, perf

test(hls): add regressions for variant-fence and midstream repush
  crates/kithara-hls/tests/source_internal_cases.rs
Due: perf

fix: remove residual soft_fail/NO_PROXY from live_stress tests
  tests/tests/kithara_hls/live_stress_real_stream.rs
Due: none

fix(hls): respect variant fence in on-demand requests, prevent duplicate repush, preserve total_bytes across seeks
  .claude/settings.json
  .gitignore
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
Due: semver, perf

chore: remove redundant hang_watchdog timeout overrides
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-hls/src/source.rs
Due: semver, perf

fix(seek): split flushing into flushing + seek_pending, fix epoch ordering
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/worker.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-stream/src/timeline.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
Due: semver, perf

ci: add GitHub Pages deployment workflow (disabled)
  .github/workflows/gh-pages.yml.disabled
Due: none

refactor: remove ThreadPool, use direct thread spawning
  crates/kithara-audio/README.md
  crates/kithara-audio/src/pipeline/audio.rs
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-file/README.md
  crates/kithara-file/src/config.rs
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-platform/README.md
  crates/kithara-platform/src/internal.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-platform/src/pool.rs
  crates/kithara-platform/src/thread_pool_init.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/internal.rs
  crates/kithara-play/tests/engine_tests.rs
  crates/kithara-stream/src/backend.rs
  crates/kithara-stream/src/stream.rs
  crates/kithara-wasm/README.md
  crates/kithara/src/lib.rs
  tests/tests/kithara_wasm/stress.rs
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
  tests/tests/multi_instance/mod.rs
  tests/tests/multi_instance/thread_lifecycle.rs
Due: semver, perf

docs: add seek stabilization merge report for worktree agent
  .claude/seek-stabilization-report.md
Due: none

feat(test-macros): add `serial` parameter to `#[kithara::test]`
  crates/kithara-test-macros/src/lib.rs
  tests/tests/kithara_decode/stress_seek_random.rs
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_hls/ephemeral.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_abr_audio.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
  tests/tests/kithara_hls/stress_seek_random.rs
  tests/tests/kithara_hls/wait_range_contract.rs
  tests/tests/kithara_wasm/stress.rs
  tests/tests/multi_instance/concurrent_file.rs
  tests/tests/multi_instance/concurrent_hls.rs
  tests/tests/multi_instance/concurrent_mixed.rs
  tests/tests/multi_instance/failure_resilience.rs
Due: semver, perf

refactor(hls): decompose commit_segment, extract resolve_current_variant
  crates/kithara-hls/src/downloader.rs
  crates/kithara-hls/src/source.rs
  crates/kithara-hls/src/source_wait_range.rs
Due: semver, perf

fix(wasm): fix WASM build errors after platform refactor
  crates/kithara-platform/src/thread.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/wasm_support.rs
Due: semver, perf

fix(wasm): update build-std config for nightly 1.95+
  .cargo/config.toml
Due: none

deploy: gh-pages WASM player build
  _headers
  coi-serviceworker.js
  index.html
  kithara-wasm.js
  kithara-wasm_bg.wasm
  logo.svg
  snippets/wasm_safe_thread-6af64f6626d30659/inline0.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline1.js
  snippets/wasm_safe_thread-6af64f6626d30659/inline2.js
Due: none

refactor(wasm): move playlist to JS, remove Vec<String> from wasm_bindgen boundary
  .cargo/config.toml
  .gitignore
  Cargo.lock
  crates/kithara-bufpool/src/global.rs
  crates/kithara-bufpool/src/growth.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-bufpool/src/pool.rs
  crates/kithara-file/src/downloader.rs
  crates/kithara-file/src/session.rs
  crates/kithara-hang-detector/Cargo.toml
  crates/kithara-hang-detector/src/detector.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-storage/Cargo.toml
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/bindings.rs
  crates/kithara-wasm/src/commands.rs
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara-wasm/src/worker_entry.rs
  scripts/wasm_diagnostic_test.py
  scripts/wasm_hls_test.py
  scripts/wasm_player_scenarios.py
Due: semver, perf, bench

refactor(app): unify TUI/GUI shared logic, add Mode enum, fix GUI audio
  crates/kithara-app/src/app.rs
  crates/kithara-app/src/events.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/main_gui.rs
  crates/kithara-ui/src/listeners.rs
Due: semver, perf

feat(ui): port kithara-ui from Slint to iced 0.14
  Cargo.lock
  Cargo.toml
  crates/kithara-app/src/app.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/main_gui.rs
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/build.rs
  crates/kithara-ui/src/callbacks.rs
  crates/kithara-ui/src/icons.rs
  crates/kithara-ui/src/lib.rs
  crates/kithara-ui/src/listeners.rs
  crates/kithara-ui/src/message.rs
  crates/kithara-ui/src/setup.rs
  crates/kithara-ui/src/state.rs
  crates/kithara-ui/src/theme.rs
  crates/kithara-ui/src/update.rs
  crates/kithara-ui/src/view.rs
  crates/kithara-ui/ui/app.slint
  crates/kithara-ui/ui/components/button.slint
  crates/kithara-ui/ui/components/dj.slint
  crates/kithara-ui/ui/components/equalizer.slint
  crates/kithara-ui/ui/components/footer.slint
  crates/kithara-ui/ui/components/header.slint
  crates/kithara-ui/ui/components/icons.slint
  crates/kithara-ui/ui/components/playback.slint
  crates/kithara-ui/ui/components/playlist.slint
  crates/kithara-ui/ui/components/progress.slint
  crates/kithara-ui/ui/components/settings.slint
  crates/kithara-ui/ui/components/utils.slint
  crates/kithara-ui/ui/components/volume.slint
Due: semver, perf, bench

feat(play,abr): Phase 0 — iOS readiness + runtime default_rate + ABR bandwidth cap
  crates/kithara-abr/src/controller.rs
  crates/kithara-abr/src/types.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf, bench

deploy: update WASM player (redesigned UI, optimized binary)
  index.html
  kithara-wasm.js
  kithara-wasm_bg.wasm
Due: none

fix(wasm): restore struct Player API, patch firewheel-web-audio TLS init
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/thread.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-play/src/wasm_support.rs
  crates/kithara-wasm/index.html
  crates/kithara-wasm/src/internal.rs
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara-wasm/src/worker_entry.rs
Due: semver, perf, bench

fix(style): fix separator comment semgrep rules, remove all separators
  crates/kithara-platform/src/sync/condvar.rs
  crates/kithara-platform/src/sync/mpsc.rs
  crates/kithara-platform/src/sync/mutex.rs
  crates/kithara-platform/src/sync/rwlock.rs
  crates/kithara-platform/src/thread.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-storage/src/memory.rs
  crates/kithara-test-macros/src/lib.rs
  crates/kithara-test-utils/src/fixture_protocol.rs
  crates/kithara-wasm/src/player.rs
  semgrep.yml
Due: semver, perf

fix(wasm): stabilize worker lifecycle, firefox support, and UI parity
  Cargo.lock
  Cargo.toml
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-play/src/impls/session_engine.rs
  crates/kithara-wasm-macros/Cargo.toml
  crates/kithara-wasm-macros/src/lib.rs
  crates/kithara-wasm/Cargo.toml
  crates/kithara-wasm/index.html
  crates/kithara-wasm/post-build.sh
  crates/kithara-wasm/src/bindings.rs
  crates/kithara-wasm/src/commands.rs
  crates/kithara-wasm/src/js_channel.rs
  crates/kithara-wasm/src/lib.rs
  crates/kithara-wasm/src/player.rs
  crates/kithara-wasm/src/worker_entry.rs
  scripts/wasm_player_scenarios.py
Due: semver, perf, bench

fix(wasm-ui): adjust eq slider bounds and default volume
  crates/kithara-wasm/index.html
Due: perf

chore(hooks): migrate from lefthook to prek
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  lefthook.yml
  scripts/pre-commit
Due: none

chore(worktrunk): add project config and onboarding docs
  .config/wt.toml
  CONTRIBUTING.md
  README.md
Due: none

test(wasm): port selenium scripts to thirtyfour integration tests
  Cargo.lock
  Cargo.toml
  crates/kithara-net/src/timeout.rs
  crates/kithara-storage/src/atomic.rs
  scripts/wasm_diagnostic_test.py
  scripts/wasm_hls_test.py
  scripts/wasm_player_scenarios.py
  tests/Cargo.toml
  tests/README.md
  tests/tests/kithara_wasm/mod.rs
  tests/tests/kithara_wasm/selenium.rs
Due: semver, perf, bench

docs(tests): record agent-browser adoption decision
  tests/README.md
Due: none

chore(scripts): remove shell wrappers and document ci scripts
  .github/workflows/perf.yml.disabled
  scripts/README.md
  scripts/ci/bench-test.sh
  scripts/ci/coverage.sh
  scripts/ci/lint.sh
  scripts/ci/perf-test.sh
  scripts/ci/test.sh
Due: none

chore(lint): migrate rust static checks to ast-grep
  justfile
  rules/ast-grep/rust.no-thin-async-wrapper.yml
  rules/ast-grep/rust.no-thin-sync-wrapper.yml
  rules/ast-grep/style.no-functions-in-lib-or-mod-rs.yml
  rules/ast-grep/style.no-magic-numbers.yml
  rules/ast-grep/style.no-separator-comments-rs.yml
  rules/ast-grep/style.no-tests-in-lib-or-mod-rs.yml
  sgconfig.yml
Due: none
