Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

test(server): fold kithara_hls/cancel_isolation onto shared behavior catalog
  tests/src/test_server/native.rs
  tests/tests/kithara_hls/cancel_isolation.rs
Due: none

test(fixture-cache): content-addressed L2 disk cache + route signal encoding through it
  tests/src/fixture_cache.rs
  tests/src/lib.rs
  tests/src/native/routes/signal.rs
Due: none

test(fixture-cache): route packaged HLS variant encoding through L2
  tests/src/native/fmp4/mux.rs
  tests/src/native/hls_stream.rs
Due: none

test(fixture-cache): nextest setup-script + enable L2 in just test
  .config/nextest.toml
  justfile
  tests/Cargo.toml
  tests/bin/fixture-cache-setup.rs
Due: none

test(fixture-cache): make L2 opt-in via the nextest `cache` profile
  .config/nextest.toml
  justfile
Due: none

test(fixture-cache): document signal L2 key's Debug-repr stability contract
  tests/src/native/routes/signal.rs
Due: none

test(fixture-cache): replace as-casts in L2 framing with num-traits AsPrimitive
  tests/src/native/hls_stream.rs
Due: none

fix(decode): advance fMP4 segment cursor by index, not byte offset
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-stream/src/timeline.rs
  tests/src/lib.rs
  tests/src/swallow_detector.rs
  tests/tests/kithara_queue/flac_swallow_fixture.rs
  tests/tests/kithara_queue/mod.rs
  tests/tests/kithara_queue/zvuk_prod_flac_swallow.rs
Due: semver, perf

docs(test-crates): fix incorrect publish=false claim, drop refactor-phase reference
  crates/kithara-test-macros/README.md
  crates/kithara-test-utils/README.md
Due: perf

chore(lint): re-anchor idioms ratchet baseline to current line numbers
  .config/idioms/baseline.toml
Due: none

refactor(lint): autofix style.no-stale-file-header-doc
  crates/kithara-app/src/baked.rs
  crates/kithara-app/tests/stage_drm_burst_e2e.rs
  crates/kithara-decode/src/symphonia/aac_fdk.rs
  crates/kithara-decode/src/symphonia/registry.rs
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  tests/bin/fixture-cache-setup.rs
  tests/tests/kithara_decode/aac_priming_regression.rs
  tests/tests/kithara_decode/apple_mp3_priming_probe.rs
  tests/tests/kithara_queue/false_eof_rapid_scrub.rs
  tests/tests/kithara_queue/rapid_scrub_decode_failure.rs
Due: semver, perf

refactor(lint): autofix struct_init_order + const_locality (Tier 1 G.1/G.2)
  .config/style/baseline.toml
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/flush/worker.rs
  crates/kithara-assets/src/flush/worker_stub.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/worker/decoder_node.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-decode/src/apple/audio_file_demuxer.rs
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/mp4/scan.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/shared_player_state.rs
Due: semver, perf

feat(ffi): Track 1.5 Wave 0+1a — feature rename + symphonia device hygiene
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/cipher.rs
  crates/kithara-ffi/src/config.rs
  crates/kithara-ffi/src/item.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/logging.rs
  crates/kithara-ffi/src/observer.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/types.rs
  crates/kithara-ffi/src/web/player.rs
  crates/kithara-ffi/src/web/worker.rs
  crates/kithara-play/Cargo.toml
  xtask/src/android.rs
  xtask/src/apple.rs
Due: semver, perf

refactor(idioms): control-flow → iterator/match (Tier1 E.1/E.2/F.3/F.4/F.5)
  .config/idioms/baseline.toml
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/tui/dashboard.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-audio/src/effects/eq.rs
  crates/kithara-audio/src/resampler.rs
  crates/kithara-audio/src/runtime/scheduler.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-encode/src/fdk/aac_he_v2.rs
  crates/kithara-ffi/src/event_bridge.rs
  crates/kithara-hls/src/coord.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-stream/src/dl/batch.rs
  crates/kithara-test-macros/src/probe/expand.rs
Due: semver, perf

refactor(ffi): Track 1.5 Wave 1 — extract core/ + native/ submodules
  .config/arch/baseline.toml
  crates/kithara-ffi/src/core/config.rs
  crates/kithara-ffi/src/core/item.rs
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/core/observer.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/native/android.rs
  crates/kithara-ffi/src/native/android_test.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/bridge/item_bridge.rs
  crates/kithara-ffi/src/native/bridge/mod.rs
  crates/kithara-ffi/src/native/cipher.rs
  crates/kithara-ffi/src/native/config.rs
  crates/kithara-ffi/src/native/logging.rs
  crates/kithara-ffi/src/native/mod.rs
  crates/kithara-ffi/src/native/runtime.rs
  crates/kithara-ffi/src/player.rs
Due: semver, perf

refactor(arch): redundant_reexport + field_always_constant + trait_impl_count (Tier1 C.2/C.3)
  .config/arch/baseline.toml
  crates/kithara-abr/src/handle.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-test-utils/src/test/mod.rs
Due: semver, perf, bench

fix(integration-tests): import AudioCodec/ContainerFormat in factory_tests
  tests/tests/kithara_decode/factory_tests.rs
Due: none

refactor(idioms): arc_mutex_collection->DashMap + parallel_loops + await_under_guard (Tier2)
  .config/idioms/baseline.toml
  Cargo.lock
  crates/kithara-stream/Cargo.toml
  crates/kithara-stream/src/dl/registry.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf, bench

chore(deps): drop unused strum, trim derive_more to used feature (Wave 99 #5)
  Cargo.toml
Due: perf, bench

docs(wave99): add Trait Bridges sections to crate READMEs
  crates/kithara-assets/README.md
  crates/kithara-decode/README.md
  crates/kithara-events/README.md
  crates/kithara-net/README.md
  crates/kithara-platform/README.md
  crates/kithara-stream/README.md
Due: perf

refactor(ffi): Track 1.5 Wave 2 — extract NativeInner, AudioPlayer becomes facade
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/core/registry.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/native/bridge/event_bridge.rs
  crates/kithara-ffi/src/native/inner.rs
  crates/kithara-ffi/src/native/mod.rs
  crates/kithara-ffi/src/player.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/src/player/mod.rs
  crates/kithara-ffi/src/player/tests.rs
Due: semver, perf

refactor(lint): remove stale suppression markers (zero-suppress G.5)
  crates/kithara-test-macros/src/test/fixture_args.rs
Due: semver, perf

feat(ffi): Track 1.5 Wave 3 — wasm Worker owns Queue, expanded WorkerCmd
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/web/bridge.rs
  crates/kithara-ffi/src/web/commands.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/js.rs
  crates/kithara-ffi/src/web/mod.rs
  crates/kithara-ffi/src/web/queue.rs
  crates/kithara-ffi/src/web/worker.rs
  crates/kithara-play/src/impls/player.rs
Due: semver, perf

feat(ffi): Track 1.5 Wave 4 — cross-platform AudioPlayer facade, WasmInner + observer bridge
  Cargo.lock
  Cargo.toml
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/core/item.rs
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/core/observer.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/lib.rs
  crates/kithara-ffi/src/player/facade.rs
  crates/kithara-ffi/src/web/bridge.rs
  crates/kithara-ffi/src/web/commands.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/mod.rs
  crates/kithara-ffi/src/web/observer/mod.rs
  crates/kithara-ffi/src/web/observer/router.rs
  crates/kithara-ffi/src/web/observer/shim.rs
  crates/kithara-ffi/src/web/observer/source.rs
  crates/kithara-ffi/src/web/queue.rs
  crates/kithara-ffi/src/web/surface.rs
  crates/kithara-ffi/src/web/worker.rs
Due: semver, perf, bench

feat(ffi): Track 1.5 Wave 5 — wasm DRM round-trip, ABR, setup_network
  Cargo.lock
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/web/bridge.rs
  crates/kithara-ffi/src/web/commands.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/js.rs
  crates/kithara-ffi/src/web/key_processor_bridge.rs
  crates/kithara-ffi/src/web/mod.rs
  crates/kithara-ffi/src/web/observer/shim.rs
  crates/kithara-ffi/src/web/observer/source.rs
  crates/kithara-ffi/src/web/player.rs
  crates/kithara-ffi/src/web/surface.rs
  crates/kithara-ffi/src/web/worker.rs
  crates/kithara-platform/src/sync/mpsc.rs
Due: semver, perf, bench

feat(ffi): Track 1.5 Wave 6 — demo migration, legacy removal, wasm-clippy zero
  .config/arch/baseline.toml
  .gitignore
  crates/kithara-ffi/README.md
  crates/kithara-ffi/index.html
  crates/kithara-ffi/src/core/item.rs
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-ffi/src/web/bridge.rs
  crates/kithara-ffi/src/web/commands.rs
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/js.rs
  crates/kithara-ffi/src/web/mod.rs
  crates/kithara-ffi/src/web/observer/router.rs
  crates/kithara-ffi/src/web/observer/shim.rs
  crates/kithara-ffi/src/web/player.rs
  crates/kithara-ffi/src/web/queue.rs
  crates/kithara-ffi/src/web/worker.rs
  crates/kithara-play/src/impls/player.rs
  crates/kithara-play/src/impls/session/host_web.rs
  crates/kithara-play/src/impls/session/mod.rs
  crates/kithara-play/src/impls/shared_player_state.rs
  crates/kithara-play/src/wasm_support.rs
  tests/tests/kithara_ffi_web/selenium.rs
  xtask/src/wasm.rs
Due: semver, perf

fix(xtask): type-aware call resolution in function_branch_density
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/function_branch_density.rs
Due: none

feat(xtask): build-time LLVM-IR workspace call graph (phase A)
  .config/idioms/callgraph.json
  xtask/src/callgraph/mod.rs
  xtask/src/callgraph/parser.rs
  xtask/src/main.rs
Due: none

feat(xtask): function_branch_density walks the real LLVM-IR call graph (phase B)
  .config/idioms/baseline.toml
  xtask/src/idioms/checks/function_branch_density.rs
Due: none

refactor(assets): functional-style rewrite of branch-heavy loops/guards
  .config/idioms/baseline.toml
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/index/lru/core.rs
  crates/kithara-assets/src/unified.rs
Due: semver, perf

refactor(queue,file): functional-style rewrite of branch-heavy guards/loops
  .config/idioms/baseline.toml
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/segments.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-queue/src/queue/playback.rs
  crates/kithara-queue/src/queue/selection.rs
  crates/kithara-queue/src/queue/types.rs
Due: semver, perf

refactor(play,stream): functional-style rewrite of branch-heavy guards/loops
  .config/idioms/baseline.toml
  crates/kithara-play/src/impls/session/state.rs
  crates/kithara-stream/src/media.rs
Due: semver, perf

refactor(ffi): rename web/js.rs -> web/interop.rs
  .config/idioms/baseline.toml
  crates/kithara-ffi/src/web/inner.rs
  crates/kithara-ffi/src/web/interop.rs
  crates/kithara-ffi/src/web/mod.rs
  crates/kithara-ffi/src/web/worker.rs
Due: semver, perf

refactor(app): TrackRow state enum replaces (is_failed,is_slow,is_current) bool-tuple
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/track.rs
  crates/kithara-app/src/tui/dashboard.rs
Due: semver, perf

fix(arch,style): root-fix violations the TrackRow refactor surfaced
  .config/arch/baseline.toml
  .config/idioms/baseline.toml
  .config/style/baseline.toml
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-file/src/session/segments.rs
  crates/kithara-play/src/impls/player_resource.rs
  crates/kithara-queue/src/queue/selection.rs
  tests/tests/kithara_play/player_resource_internal.rs
Due: semver, perf

refactor(idioms): functional rewrites — try_fast_check, probe_codec, abr handle test
  .config/idioms/baseline.toml
  crates/kithara-abr/src/handle.rs
  crates/kithara-decode/src/factory/probe.rs
  crates/kithara-storage/src/backend/mmap/io.rs
Due: semver, perf, bench

refactor(style): clear comment_hygiene in non-decode crates (relocate docs to README, drop trivial comments)
  .config/style/baseline.toml
  crates/kithara-assets/README.md
  crates/kithara-assets/src/flush/core.rs
  crates/kithara-assets/src/index/pin/core.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/process.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/tests/shared_flush_hub.rs
  crates/kithara-audio/README.md
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/traits.rs
  crates/kithara-bufpool/src/lib.rs
  crates/kithara-drm/src/decrypt.rs
  crates/kithara-hls/README.md
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/reader.rs
  crates/kithara-hls/src/variant.rs
  crates/kithara-platform/src/lib.rs
  crates/kithara-play/src/impls/config.rs
  crates/kithara-storage/README.md
  crates/kithara-storage/src/decorator/chunked/core.rs
  crates/kithara-test-macros/README.md
  crates/kithara-test-macros/src/probe/parse.rs
  crates/kithara-test-macros/src/test/entry.rs
  crates/kithara-test-utils/README.md
  crates/kithara-test-utils/src/probe/capture/mod.rs
Due: semver, perf

refactor(style): clear comment_hygiene in kithara-decode (relocate seek/gapless/codec invariants to README)
  .config/style/baseline.toml
  crates/kithara-decode/README.md
  crates/kithara-decode/src/apple/codec.rs
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/factory/mod.rs
  crates/kithara-decode/src/fmp4/demuxer.rs
  crates/kithara-decode/src/fmp4/tests.rs
  crates/kithara-decode/src/symphonia/codec.rs
  crates/kithara-decode/src/symphonia/demuxer.rs
  crates/kithara-decode/src/traits.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
