Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

fix(app): let the micro wave stand in place of the drag strip
  crates/kithara-app/assets/ui/modules/app-bar-micro.kmodule.ron
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

feat(ui): make a node answer for the box it declares
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/assets/modules/master-clock.kmodule.ron
  crates/kithara-ui/examples/gallery/assets/modules/tabs/clock.kmodule.ron
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/room.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

feat(app): let the window take its blocks one at a time
  crates/kithara-app/assets/ui/app-single.klayout.ron
  crates/kithara-app/assets/ui/app.klayout.ron
  crates/kithara-app/assets/ui/modules/app-bar-micro.kmodule.ron
  crates/kithara-app/assets/ui/modules/app-micro.kmodule.ron
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/endpoints.rs
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-app/src/gui/ui/tests.rs
Due: semver, perf

refactor(ui,app): drop the docs a private item does not get
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/reads/deck.rs
  crates/kithara-app/src/gui/ui/compile.rs
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-app/src/gui/ui/scope.rs
  crates/kithara-app/src/gui/ui/tests.rs
  crates/kithara-ui/examples/gallery/mock/clock.rs
  crates/kithara-ui/examples/gallery/mock/endpoints.rs
  crates/kithara-ui/examples/gallery/mock/menu.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module/node.rs
  crates/kithara-ui/src/expand/node.rs
  crates/kithara-ui/src/expand/spec.rs
  crates/kithara-ui/src/render/tree/node.rs
  crates/kithara-ui/src/render/tree/read.rs
  crates/kithara-ui/src/room.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/src/widgets/adaptive/measured.rs
  crates/kithara-ui/src/widgets/adaptive/revealed.rs
  crates/kithara-ui/src/widgets/module/preview.rs
  crates/kithara-ui/src/widgets/wave/mini.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/common/mod.rs
  crates/kithara-ui/tests/compile.rs
Due: semver, perf

docs(ui,app): keep a context file to the contract it owns
  crates/kithara-app/CONTEXT.md
  crates/kithara-ui/CONTEXT.md
Due: perf

fix(bufpool): release what a trimmed return gave back
  crates/kithara-bufpool/src/pool/core.rs
  crates/kithara-bufpool/src/pool/shard.rs
  crates/kithara-bufpool/tests/region.rs
Due: semver, perf

fix(analysis): aim a run's window at a gap instead of halving it
  crates/kithara-app/src/analysis.rs
  crates/kithara-app/src/wave_cache.rs
  crates/kithara-audio/src/analysis/analyzer/session.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/analyzer/track.rs
  crates/kithara-audio/src/analysis/tests/schedule.rs
  crates/kithara-audio/src/analysis/worker/schedule.rs
  crates/kithara-audio/src/analysis/worker/task.rs
Due: semver, perf

fix(devtools,xtask): a job's build directory stops reading as claimed the moment the job lets it go
  crates/kithara-devtools/src/lease.rs
  crates/kithara-devtools/src/lib.rs
  crates/kithara-devtools/src/lock.rs
  xtask/src/ci/bridge/ledger.rs
  xtask/src/ci/bridge/reconcile.rs
  xtask/src/ci/build_cache.rs
  xtask/src/ci/environment.rs
  xtask/src/ci/verdict.rs
  xtask/src/self_cache/lease.rs
Due: semver, perf

fix(tests,audio,play): let a session that renders through the callback defer its worker wakes
  crates/kithara-audio/src/pipeline/config/audio.rs
  crates/kithara-play/src/session/protocol.rs
  tests/src/offline/session.rs
  tests/src/ring/session.rs
  tests/tests/kithara_play/mixing.rs
  tests/tests/kithara_play/quality_switch_continuity/underrun.rs
Due: semver, perf

fix(audio): publish a reader's events through the lane it already defers
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/event.rs
Due: semver, perf

test(ci): let the realtime lane hear a decoded stream, not only a synthetic one
  .config/just/test.just
Due: none

ci(github): give the Linux lanes the shared fixture store
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lanes.yml
  .github/workflows/miri.yml
  .github/workflows/mutants.yml
  .github/workflows/quality.yml
  .github/workflows/rtsan.yml
  .github/workflows/stress.yml
Due: none

fix(audio): resolve the gapless tail compensation when the source ends
  crates/kithara-audio/src/pipeline/decode/generation.rs
Due: semver, perf

fix(audio,stream): withhold the gapless tail compensation where the frame it buys is tapered
  crates/kithara-audio/src/pipeline/decode/generation.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-stream/src/media.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

test(play): let the fused fixture accept either rounding of its ratio
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: none

style: drop the prose these changes did not need
  .config/just/test.just
  crates/kithara-audio/src/audio/event.rs
  crates/kithara-audio/src/pipeline/config/audio.rs
  crates/kithara-audio/src/pipeline/decode/generation.rs
  crates/kithara-audio/src/pipeline/gapless.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-stream/src/media.rs
  tests/src/offline/session.rs
  tests/src/ring/session.rs
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: semver, perf

revert(ci): take the realtime lane change out of this pull request
  .config/just/test.just
Due: none

fix(hls): hold a segment's resource across its reads
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/flow/evict.rs
  crates/kithara-hls/src/variant/io/init.rs
  crates/kithara-hls/src/variant/map/media.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

fix(app): resolve a browser row through the group it was drawn from
  crates/kithara-app/src/gui/reads/library.rs
  crates/kithara-app/src/gui/ui/cache.rs
  crates/kithara-app/src/gui/ui/events.rs
Due: semver, perf

fix(assets,hls): drop availability claims the store root no longer backs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/backend/disk.rs
  crates/kithara-assets/src/backend/mod.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/index/availability/mod.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

test(assets): a segment deleted after a checkpoint is refetched
  crates/kithara-assets/tests/crash_recovery.rs
Due: perf

docs(assets,hls,app): say it once
  crates/kithara-app/src/gui/reads/library.rs
  crates/kithara-app/src/gui/ui/events.rs
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/backend/disk.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/src/variant/core.rs
  crates/kithara-hls/src/variant/tests.rs
Due: semver, perf

refactor(assets): reconcile the hydrated index from the store builder
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/store/builder.rs
Due: semver, perf

docs(beat,analysis): let the code carry the explanation
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/beat/backend/kind.rs
  crates/kithara-analysis/src/beat/backend/mod.rs
  crates/kithara-analysis/src/beat/mod.rs
  crates/kithara-analysis/src/model/enabled.rs
  crates/kithara-beat/CONTEXT.md
  crates/kithara-beat/src/dsp/clicks.rs
  crates/kithara-beat/src/dsp/decode.rs
  crates/kithara-beat/src/dsp/frames.rs
  crates/kithara-beat/src/dsp/novelty.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tracker.rs
  crates/kithara-beat/tests/degara.rs
  crates/kithara-beat/tests/fixtures/README.md
  crates/kithara-beat/tests/fixtures/record_degara_golden.py
Due: semver, perf

feat(app): let a build select the signal-processing beat detector
  crates/kithara-app/Cargo.toml
  crates/kithara/Cargo.toml
Due: semver, perf

fix(beat): bound the period interpolation to the peak it refines
  crates/kithara-beat/src/dsp/period.rs
Due: semver, perf

fix(beat): search the period between lags, and stop inflating the long ones
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tracker.rs
  crates/kithara-beat/tests/degara.rs
  crates/kithara-beat/tests/fixtures/README.md
  crates/kithara-beat/tests/fixtures/golden_degara_track.json
  crates/kithara-beat/tests/fixtures/record_degara_golden.py
  crates/kithara-beat/tests/fixtures/track_excerpt_mono_22050.f32le
Due: semver, perf

test(beat): pin that the detector answers the same audio the same way
  crates/kithara-beat/src/dsp/tracker.rs
Due: semver, perf

test(beat): score the fixtures the way the pass calls the detector
  crates/kithara-beat/tests/degara.rs
Due: perf

fix(analysis): keep one resampler per run instead of restarting it per block
  crates/kithara-analysis/src/analyzer/config.rs
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/beat/mod.rs
  crates/kithara-analysis/src/beat/runs.rs
  crates/kithara-analysis/src/model/enabled.rs
  crates/kithara-analysis/src/progress.rs
Due: semver, perf

test(analysis): read a whole track through the real scheduler
  crates/kithara-analysis/src/tests/mod.rs
  crates/kithara-analysis/src/tests/probe.rs
Due: semver, perf

fix(analysis): let the beat pass wait for room instead of giving audio up
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/analyzer/config.rs
  crates/kithara-analysis/src/analyzer/session.rs
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/beat/mod.rs
  crates/kithara-analysis/src/beat/pass.rs
  crates/kithara-analysis/src/beat/runs.rs
  crates/kithara-analysis/src/grid/core.rs
  crates/kithara-analysis/src/grid/mod.rs
  crates/kithara-analysis/src/progress.rs
  crates/kithara-analysis/src/slots/beat.rs
  crates/kithara-analysis/src/tests/ingest.rs
  crates/kithara-analysis/src/tests/mod.rs
  crates/kithara-analysis/src/tests/schedule.rs
  crates/kithara-analysis/src/worker/schedule.rs
  crates/kithara-analysis/src/worker/task.rs
Due: semver, perf

feat(analysis): count a grid at the rate the track is played
  crates/kithara-analysis/src/analyzer/config.rs
  crates/kithara-analysis/src/grid/core.rs
  crates/kithara-analysis/src/grid/mod.rs
  crates/kithara-analysis/src/grid/octave.rs
Due: semver, perf

fix(analysis): let a run release what it has fed the detector
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/beat/runs.rs
  crates/kithara-analysis/src/tests/schedule.rs
Due: semver, perf

test(beat): score the dsp backend against windowed reference recordings
  crates/kithara-beat/tests/degara.rs
  crates/kithara-beat/tests/fixtures/README.md
  crates/kithara-beat/tests/fixtures/golden_degara_track_windowed.json
  crates/kithara-beat/tests/fixtures/golden_degara_track_windowed_from7.json
  crates/kithara-beat/tests/fixtures/golden_degara_windowed.json
  crates/kithara-beat/tests/fixtures/record_degara_golden.py
Due: perf

fix(beat): mirror the reference's stages in the dsp detector
  crates/kithara-beat/src/dsp/decode.rs
  crates/kithara-beat/src/dsp/frames.rs
  crates/kithara-beat/src/dsp/novelty.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tracker.rs
Due: semver, perf

test(beat): pin that the degara reference carries no downbeats
  crates/kithara-beat/tests/degara.rs
Due: perf

fix(analysis): hold enough that the detector always has a window to read
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/src/beat/analyzer.rs
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/ingest.rs
  crates/kithara-analysis/src/tests/mod.rs
Due: semver, perf

feat(beat,analysis): let a build choose the beat model it embeds
  .gitignore
  crates/kithara-analysis/CONTEXT.md
  crates/kithara-analysis/Cargo.toml
  crates/kithara-analysis/src/analyzer/session.rs
  crates/kithara-analysis/src/beat/backend/kind.rs
  crates/kithara-analysis/src/beat/runs.rs
  crates/kithara-analysis/src/grid/mod.rs
  crates/kithara-analysis/src/model/enabled.rs
  crates/kithara-analysis/src/tests/hold.rs
  crates/kithara-analysis/src/tests/probe.rs
  crates/kithara-analysis/src/worker/schedule.rs
  crates/kithara-analysis/src/worker/task.rs
  crates/kithara-app/Cargo.toml
  crates/kithara-beat/CONTEXT.md
  crates/kithara-beat/Cargo.toml
  crates/kithara-beat/README.md
  crates/kithara-beat/build.rs
  crates/kithara-beat/scripts/fetch-beat-models.sh
  crates/kithara-beat/src/dsp/decode.rs
  crates/kithara-beat/src/dsp/novelty.rs
  crates/kithara-beat/src/dsp/period.rs
  crates/kithara-beat/src/dsp/tracker.rs
  crates/kithara-beat/src/lib.rs
  crates/kithara-beat/src/nn/mod.rs
  crates/kithara-beat/src/nn/models.rs
  crates/kithara-test-fixtures/Cargo.toml
  crates/kithara/Cargo.toml
  tests/Cargo.toml
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
