Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

refactor(02): collapse SegmentLoad wrapper into (bool, SegmentMeta) tuple
  crates/kithara-hls/src/loading/segment_loader.rs
Due: semver, perf

refactor(02): split Downloader into shared pool + per-track TrackHandle
  crates/kithara-file/src/inner.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/loading/atomic_fetch.rs
  crates/kithara-hls/src/loading/keys.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/noop_cmd_stream.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/loading/size_probe.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/handle.rs
  crates/kithara-stream/src/dl/tests.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

chore(02): delete dead Writer<E> + WriterItem + WriterError trio
  crates/kithara-hls/src/error.rs
  crates/kithara-stream/src/internal.rs
  crates/kithara-stream/src/lib.rs
  crates/kithara-stream/src/writer.rs
  tests/tests/kithara_stream/mod.rs
  tests/tests/kithara_stream/writer_no_auto_commit.rs
  tests/tests/kithara_stream/writer_with_offset.rs
Due: semver, perf

chore(02): delete dead TrackHandle::execute_batch + execute_batch_blocking
  crates/kithara-stream/src/dl/handle.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

chore(02): delete dead KeyError enum
  crates/kithara-hls/src/loading/keys.rs
Due: semver, perf

chore(02): delete dead SegmentType enum + SegmentMeta.segment_type field
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/segment_loader.rs
Due: semver, perf

chore(02): delete dead parsing fields (EncryptionMethod::None, KeyInfo.key_format*, MediaSegment.variant_id)
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/parsing.rs
  crates/kithara-hls/src/playlist.rs
  tests/fuzz/fuzz_targets/hls_internal_parsing.rs
Due: semver, perf

chore(02): delete VariantSizeMap.init_size + ReadSegment::end_offset + unused unimock mock
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-hls/src/source/types.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

chore(02): collapse DownloadCursor enum into plain struct
  crates/kithara-hls/src/scheduler/cursor.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

chore(02): delete SegmentMeta dead fields (variant, sequence, key, container)
  crates/kithara-hls/src/loading/segment_loader.rs
Due: semver, perf

chore(02): delete SourcePhase::Stopped variant + defensive consumers
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-stream/src/source.rs
Due: semver, perf

chore(02): collapse StreamError<E> to single Source(E) variant
  crates/kithara-stream/src/error.rs
Due: semver, perf

chore(02): remove kithara-hls #![allow(dead_code, unused_imports)], keep unreachable_pub
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/playlist.rs
  crates/kithara-hls/src/scheduler/commit.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/size_map.rs
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/source/core.rs
  crates/kithara-hls/src/source/read.rs
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/source_impl.rs
Due: semver, perf

chore(02): remove #![allow(unfulfilled_lint_expectations)] + stale expects
  crates/kithara-hls/src/lib.rs
  crates/kithara-hls/src/source/demand.rs
  crates/kithara-hls/src/source/source_impl.rs
Due: semver, perf

refactor(02): #[non_exhaustive] on HlsConfig, MediaInfo, SourceSeekAnchor
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-hls/src/config.rs
  crates/kithara-hls/src/source/seek.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-stream/src/source.rs
  crates/kithara-test-utils/src/signal_source.rs
  tests/tests/kithara_audio/stream_source_tests.rs
  tests/tests/kithara_decode/decoder_tests.rs
  tests/tests/kithara_hls/source_internal_cases.rs
Due: semver, perf

feat(decode): hardware backend abstraction and symphonia fallback
  Cargo.lock
  README.md
  android/README.md
  android/lib/build.gradle.kts
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/README.md
  crates/kithara-decode/src/android.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/config.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/error.rs
  crates/kithara-decode/src/android/extractor.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-decode/src/android/jni.rs
  crates/kithara-decode/src/android/media_format.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/android/source.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/hardware.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara/Cargo.toml
  docker/ci-android.Dockerfile
  xtask/src/android.rs
Due: semver, perf, bench

docs(agents): align core rules and slim claude router
  .agents/skills/pr/SKILL.md
  .claude/rules/00-core.md
  .cursor/rules/00-core.mdc
  AGENTS.md
  CLAUDE.md
Due: none

feat(decode): hardware backend abstraction and symphonia fallback (#54)
  Cargo.lock
  README.md
  android/README.md
  android/lib/build.gradle.kts
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
  crates/kithara-audio/Cargo.toml
  crates/kithara-audio/src/pipeline/config.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/README.md
  crates/kithara-decode/src/android.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/config.rs
  crates/kithara-decode/src/android/decoder.rs
  crates/kithara-decode/src/android/error.rs
  crates/kithara-decode/src/android/extractor.rs
  crates/kithara-decode/src/android/ffi.rs
  crates/kithara-decode/src/android/format.rs
  crates/kithara-decode/src/android/jni.rs
  crates/kithara-decode/src/android/media_format.rs
  crates/kithara-decode/src/android/mod.rs
  crates/kithara-decode/src/android/source.rs
  crates/kithara-decode/src/apple.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/hardware.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/traits.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara/Cargo.toml
  docker/ci-android.Dockerfile
  xtask/src/android.rs
Due: semver, perf, bench

docs(agents): align core rules and slim claude router (#55)
  .agents/skills/pr/SKILL.md
  .claude/rules/00-core.md
  .cursor/rules/00-core.mdc
  AGENTS.md
  CLAUDE.md
Due: none

fix(02): per-track cancel in fetch_only (SS3)
  crates/kithara-stream/src/dl/downloader.rs
  crates/kithara-stream/src/dl/handle.rs
  crates/kithara-stream/src/dl/tests.rs
Due: semver, perf

refactor(02): move Fetch<C> + EpochValidator to kithara-audio (SS19)
  crates/kithara-audio/src/audio.rs
  crates/kithara-audio/src/internal.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-audio/src/pipeline/fetch.rs
  crates/kithara-audio/src/pipeline/mod.rs
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-audio/src/pipeline/track_fsm.rs
  crates/kithara-audio/src/worker/handle.rs
  crates/kithara-stream/src/internal.rs
  crates/kithara-stream/src/lib.rs
Due: semver, perf

feat(02): Downloader::new_track() API + delete NoopCmdStream (A9)
  crates/kithara-hls/src/inner.rs
  crates/kithara-hls/src/internal.rs
  crates/kithara-hls/src/loading/mod.rs
  crates/kithara-hls/src/loading/noop_cmd_stream.rs
  crates/kithara-hls/src/source/tests.rs
  crates/kithara-stream/src/dl/downloader.rs
  tests/src/hls_fixture/assets.rs
Due: semver, perf

refactor(02): DashMap for loading primitives (Agent 2 Finding 1+2)
  Cargo.lock
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/loading/playlist_cache.rs
  crates/kithara-hls/src/loading/segment_loader.rs
Due: semver, perf, bench

feat(4c): extract fetch_plan into scheduler/cmd_builder.rs
  crates/kithara-hls/src/scheduler/cmd_builder.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/worker.rs
Due: semver, perf

feat(4c): ordered commit callback queue on HlsScheduler
  crates/kithara-hls/src/scheduler/state.rs
  crates/kithara-hls/src/scheduler/worker.rs
  crates/kithara-hls/src/source/core.rs
Due: semver, perf

feat(4c): expose demand_notify via Arc<Notify>
  crates/kithara-hls/src/coord.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
Due: semver, perf

feat(assets): add Availability single-file index module (P-1)
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/mod.rs
Due: semver, perf, bench

feat(assets): wire AvailabilityIndex into AssetStore (P-2)
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/availability_api.rs
Due: semver, perf

feat(storage+assets): AvailabilityObserver wired to AvailabilityIndex (P-3)
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-storage/src/driver.rs
  crates/kithara-storage/src/lib.rs
Due: semver, perf

feat(assets): explicit checkpoint persistence for availability index (P-4)
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/availability_persistence.rs
Due: semver, perf

refactor(hls): read path queries AssetStore availability API (P-5)
  crates/kithara-hls/src/source/read.rs
Due: semver, perf

refactor(hls): scheduler + segment_loader query AssetStore availability (P-6)
  crates/kithara-assets/README.md
  crates/kithara-hls/README.md
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/scheduler/state.rs
Due: semver, perf

fix(assets): clear availability aggregate on mem-backend LRU eviction
  crates/kithara-assets/src/store.rs
Due: semver, perf

refactor(assets): migrate index serialization from postcard to rkyv (zero-copy)
  Cargo.lock
  Cargo.toml
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/error.rs
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/index/lru.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/index/pin.rs
  crates/kithara-assets/src/index/schema.rs
  crates/kithara-assets/src/internal.rs
  crates/kithara-assets/src/lib.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  tests/Cargo.toml
  tests/tests/kithara_assets/eviction_integration.rs
  tests/tests/kithara_assets/integration_storage_assets.rs
Due: semver, perf, bench

update test settings
  .config/nextest.toml
Due: none

fix(assets): resolve flakiness in HLS stress tests
  crates/kithara-assets/src/index/availability.rs
  crates/kithara-assets/src/mem_store.rs
  crates/kithara-hls/src/source/read.rs
Due: semver, perf

fix(decode): support standard MP4 container for standalone files
  crates/kithara-decode/src/android/media_format.rs
  crates/kithara-decode/src/factory.rs
  crates/kithara-decode/src/symphonia.rs
  crates/kithara-encode/src/types.rs
  crates/kithara-stream/src/media.rs
  crates/kithara-stream/src/media_rfc6381.rs
  xtask/src/android.rs
Due: semver, perf

refactor(hls): decouple scheduler into a pure synchronous state machine
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/scheduler/worker.rs
Due: semver, perf

Revert "refactor(hls): decouple scheduler into a pure synchronous state machine"
  crates/kithara-hls/src/loading/segment_loader.rs
  crates/kithara-hls/src/scheduler/mod.rs
  crates/kithara-hls/src/scheduler/plan.rs
  crates/kithara-hls/src/scheduler/trait_impl.rs
  crates/kithara-hls/src/scheduler/worker.rs
Due: semver, perf

test: accelerate workspace testing cycle from 7m to ~1.5m
  .config/nextest.toml
  Cargo.lock
  Cargo.toml
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/fixtures.rs
  justfile
  tests/tests/kithara_file/live_stress_real_mp3.rs
  tests/tests/kithara_hls/abr_auto_switch.rs
  tests/tests/kithara_hls/live_stress_real_stream.rs
  tests/tests/kithara_hls/stress_chunk_integrity.rs
  tests/tests/kithara_hls/stress_seek_abr.rs
  tests/tests/kithara_hls/stress_seek_audio.rs
  tests/tests/kithara_hls/stress_seek_lifecycle.rs
Due: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
