Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

semver:
  stage: test
  needs:
  - lint
  before_script:
  - apt-get update -qq && apt-get install -y -qq libasound2-dev
  - test -f "$CARGO_HOME/bin/cargo-semver-checks" || cargo install cargo-semver-checks --locked
  script:
  - cargo semver-checks check-release --workspace
  allow_failure: true

perf:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/perf-test.sh
  artifacts:
    paths:
    - perf-results.txt
    expire_in: 30 days

bench:
  stage: quality
  needs:
  - test
  script:
  - bash scripts/ci/bench-test.sh
  artifacts:
    paths:
    - bench-results.txt
    expire_in: 30 days

feat(play): retarget queued bound successors
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/session.rs
  crates/kithara-play/src/player/platform/mod.rs
  crates/kithara-play/src/player/platform/native.rs
  crates/kithara-play/src/player/platform/wasm.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/state/mod.rs
  crates/kithara-play/src/player/track/elastic_renderer.rs
  crates/kithara-play/src/player/track/mod.rs
  crates/kithara-play/src/player/track/native.rs
  crates/kithara-play/src/player/track/preparation.rs
  docs/plans/2026-07-15-session-transport-plan.md
  tests/tests/kithara_play/elastic_offline.rs
Due: semver, perf

test(play): use unified test harness
  crates/kithara-play/src/player/state/playlist.rs
  crates/kithara-play/src/player/track/rendering.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/session/transport.rs
  tests/tests/kithara_play/silvercomet_seek_hang.rs
Due: semver, perf

fix(play): round elastic marker splits to frames
  crates/kithara-play/src/player/track/elastic.rs
Due: semver, perf

test(play): render deterministic transport artifact
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/transport_artifact.rs
Due: none

fix(audio): defer pooled buffer retirement off RT core
  crates/kithara-audio/CONTEXT.md
  crates/kithara-audio/src/pipeline/decode/core.rs
  crates/kithara-audio/src/pipeline/decode/core/tests.rs
  crates/kithara-audio/src/renderer/node.rs
Due: semver, perf

fix(audio): use current atomic update API
  crates/kithara-audio/src/source_audio/reader.rs
Due: semver, perf

fix(test): activate async RTSan poll checks
  crates/kithara-platform/src/no_block/clock.rs
  crates/kithara-test-utils/src/lib.rs
  crates/kithara-test-utils/src/no_block.rs
  justfile
Due: semver, perf

test(play): configure pools for Apple fused fixture
  tests/tests/kithara_play/gapless_offline_e2e.rs
Due: none

test(play): stress bounded transport preparation
  crates/kithara-play/src/player/track/preparation.rs
Due: semver, perf

test(audio): use unified test harness
  crates/kithara-audio/src/analysis/analyzer/config.rs
  crates/kithara-audio/src/analysis/analyzer/set.rs
  crates/kithara-audio/src/analysis/grid/core.rs
  crates/kithara-audio/src/effects/transport.rs
  crates/kithara-audio/src/region.rs
Due: semver, perf

fix(platform): avoid nested browser worker bootstrap
  crates/kithara-platform/src/wasm/tokio/thread_pool.rs
Due: semver, perf

test(wasm): isolate browser transport acceptance
  .cargo/config.toml
  justfile
  tests/Cargo.toml
  tests/tests/kithara_play/wasm_transport.rs
  tests/tests/suite_wasm.rs
Due: none

fix(build): keep Android TLS target-specific
  .config/hakari.toml
  Cargo.lock
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

fix(ffi): keep Android diagnostics probe-free
  crates/kithara-ffi/Cargo.toml
Due: semver, perf

fix(android): classify forwarded FFI events
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  android/lib/src/main/kotlin/com/kithara/KitharaPlayerItem.kt
Due: none

fix(android): package shared C++ runtime
  xtask/src/android.rs
Due: none

fix(decode): match Android media format ABI
  crates/kithara-decode/src/android/aformat.rs
  crates/kithara-decode/src/android/codec.rs
  crates/kithara-decode/src/android/ffi.rs
Due: semver, perf

fix(ffi): render Android diagnostic WAV safely
  crates/kithara-ffi/src/native/android_test.rs
Due: semver, perf

fix(apple): refresh generated ffi event bindings
  apple/Examples/KitharaDemo/Sources/PlayerViewModelCombine.swift
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/src/core/types.rs
  xtask/src/apple.rs
Due: semver, perf

fix(apple): link native audio dependencies
  Cargo.toml
  Package.swift
  xtask/src/apple.rs
Due: perf, bench

docs(plan): close transport platform gates
  docs/plans/2026-07-15-session-transport-plan.md
Due: none

feat(events): define transport sync vocabulary
  crates/kithara-events/CONTEXT.md
  crates/kithara-events/src/event.rs
  crates/kithara-events/src/lib.rs
  crates/kithara-events/src/play.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/README.md
  crates/kithara-play/src/api/binding.rs
  crates/kithara-play/src/api/mod.rs
  crates/kithara-play/src/api/types.rs
  crates/kithara-play/src/lib.rs
Due: semver, perf

feat(play): publish committed transport sync events
  crates/kithara-play/src/bridge/protocol.rs
  crates/kithara-play/src/engine/core.rs
  crates/kithara-play/src/player/flow/notify.rs
  crates/kithara-play/src/player/node/command.rs
  crates/kithara-play/src/session/dispatch.rs
  crates/kithara-play/src/session/protocol.rs
  crates/kithara-play/src/session/state.rs
  crates/kithara-play/src/session/transport.rs
  tests/src/offline/player.rs
  tests/tests/kithara_play/session_transport.rs
Due: semver, perf

feat(app): modular renderer with controls, preset windows and view settings
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/modular/controls.rs
  crates/kithara-app/src/gui/modular/dispatch.rs
  crates/kithara-app/src/gui/modular/filter.rs
  crates/kithara-app/src/gui/modular/mini_wave.rs
  crates/kithara-app/src/gui/modular/mod.rs
  crates/kithara-app/src/gui/modular/msg.rs
  crates/kithara-app/src/gui/modular/reads.rs
  crates/kithara-app/src/gui/modular/settings.rs
  crates/kithara-app/src/gui/modular/state.rs
  crates/kithara-app/src/gui/modular/update.rs
  crates/kithara-app/src/gui/modular/view.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/styles.rs
Due: semver, perf

fix(ui): enforce schema limits and tighten binding, id and weight validation
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand.rs
  crates/kithara-ui/src/resolve.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/common/mod.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

feat(ui): scaffold kithara-ui crate
  Cargo.lock
  Cargo.toml
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/README.md
  crates/kithara-ui/src/lib.rs
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

fix(lint): appease clippy 1.97 lints across workspace
  crates/kithara-devtools/src/common/walker.rs
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
  crates/kithara-devtools/src/perf_compare.rs
  crates/kithara-ffi/src/core/convert.rs
  crates/kithara-hls/src/reader.rs
  tests/tests/kithara_play/player_resource_internal.rs
  tests/tests/kithara_play/player_track_internal.rs
  tests/tests/kithara_queue/hls_seek_cancels_stale_fetches.rs
Due: semver, perf

fix(app): respect configured palette in icon_button
  crates/kithara-app/src/gui/view.rs
Due: semver, perf

fix(build): gate hotpath to non-wasm so workspace-hack builds on wasm32
  .config/hakari.toml
  Cargo.lock
  crates/kithara-audio/Cargo.toml
  crates/kithara-bufpool/Cargo.toml
  crates/kithara-decode/Cargo.toml
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
  crates/kithara-net/Cargo.toml
  crates/kithara-storage/Cargo.toml
  crates/kithara-stream/Cargo.toml
  crates/kithara-workspace-hack/Cargo.toml
Due: semver, perf, bench

feat(ffi): expose transport sync events
  android/lib/src/main/kotlin/com/kithara/KitharaPlayer.kt
  apple/Sources/Kithara/KitharaPlayer.swift
  apple/Sources/KitharaFFI/KitharaFFI.swift
  crates/kithara-ffi/CONTEXT.md
  crates/kithara-ffi/src/core/convert.rs
  crates/kithara-ffi/src/core/convert_transport.rs
  crates/kithara-ffi/src/core/mod.rs
  crates/kithara-ffi/src/core/types.rs
  crates/kithara-ffi/src/web/observer/decode.rs
  crates/kithara-ffi/src/web/observer/encode.rs
Due: semver, perf

docs(plan): close transport event migration
  docs/plans/2026-07-15-session-transport-plan.md
Due: none

feat(ui): bottom-up sizing model for modular UI
  crates/kithara-app/src/gui/modular/filter.rs
  crates/kithara-app/src/gui/modular/view.rs
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/envelope.rs
  crates/kithara-ui/src/doc/layout.rs
  crates/kithara-ui/src/doc/mod.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/doc/ron_io.rs
  crates/kithara-ui/src/expand.rs
  crates/kithara-ui/src/lib.rs
  crates/kithara-ui/src/registry.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/common/mod.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
  crates/kithara-ui/tests/roundtrip.rs
Due: semver, perf

feat(app): modular canvas is the sole UI; delete compact/studio/dj
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/dj.rs
  crates/kithara-app/src/gui/fonts.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/icons.rs
  crates/kithara-app/src/gui/message.rs
  crates/kithara-app/src/gui/mod.rs
  crates/kithara-app/src/gui/modular/dispatch.rs
  crates/kithara-app/src/gui/modular/endpoints.rs
  crates/kithara-app/src/gui/modular/mod.rs
  crates/kithara-app/src/gui/modular/msg.rs
  crates/kithara-app/src/gui/modular/state.rs
  crates/kithara-app/src/gui/modular/update.rs
  crates/kithara-app/src/gui/modular/view.rs
  crates/kithara-app/src/gui/studio/deck.rs
  crates/kithara-app/src/gui/studio/library.rs
  crates/kithara-app/src/gui/studio/mod.rs
  crates/kithara-app/src/gui/studio/shell.rs
  crates/kithara-app/src/gui/studio/status.rs
  crates/kithara-app/src/gui/studio/styles.rs
  crates/kithara-app/src/gui/studio/timestretch.rs
  crates/kithara-app/src/gui/studio/tokens.rs
  crates/kithara-app/src/gui/studio/topbar.rs
  crates/kithara-app/src/gui/tokens.rs
  crates/kithara-app/src/gui/update.rs
  crates/kithara-app/src/gui/url_bar.rs
  crates/kithara-app/src/gui/view.rs
  crates/kithara-app/src/gui/widgets/mod.rs
  crates/kithara-app/src/gui/widgets/play_button.rs
  crates/kithara-app/src/gui/widgets/speed_slider.rs
  crates/kithara-app/src/gui/widgets/ts_slider.rs
  crates/kithara-app/src/gui/widgets/vfader.rs
  crates/kithara-app/src/gui/widgets/waveform.rs
  crates/kithara-app/src/gui/widgets/waveform_viewport.rs
  crates/kithara-app/src/theme.rs
  crates/kithara-ui/assets/modules/deck/transport.kmodule.ron
  crates/kithara-ui/tests/common/mod.rs
Due: semver, perf

feat(app): derive window size from the compiled UI, drop hardcoded modes
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/modular/endpoints.rs
  crates/kithara-app/src/gui/modular/update.rs
  crates/kithara-ui/src/registry.rs
Due: semver, perf

feat(ui): UiConfig on bon + config-driven window sizing
  Cargo.lock
  crates/kithara-app/CONTEXT.md
  crates/kithara-app/src/config.rs
  crates/kithara-app/src/gui/app.rs
  crates/kithara-app/src/gui/frontend.rs
  crates/kithara-app/src/gui/modular/dispatch.rs
  crates/kithara-app/src/gui/modular/endpoints.rs
  crates/kithara-app/src/gui/modular/filter.rs
  crates/kithara-app/src/gui/modular/mod.rs
  crates/kithara-app/src/gui/modular/update.rs
  crates/kithara-app/src/gui/widgets/styles.rs
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/source.rs
  crates/kithara-ui/tests/builtin_presets.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
Due: semver, perf, bench

feat(ui): intern compiled-tree strings in a bounded arena
  Cargo.lock
  crates/kithara-app/src/gui/modular/controls.rs
  crates/kithara-app/src/gui/modular/dispatch.rs
  crates/kithara-app/src/gui/modular/endpoints.rs
  crates/kithara-app/src/gui/modular/filter.rs
  crates/kithara-app/src/gui/modular/reads.rs
  crates/kithara-app/src/gui/modular/settings.rs
  crates/kithara-app/src/gui/modular/view.rs
  crates/kithara-ui/CONTEXT.md
  crates/kithara-ui/Cargo.toml
  crates/kithara-ui/src/compile.rs
  crates/kithara-ui/src/doc/module.rs
  crates/kithara-ui/src/error.rs
  crates/kithara-ui/src/expand.rs
  crates/kithara-ui/src/ids.rs
  crates/kithara-ui/src/registry.rs
  crates/kithara-ui/src/size.rs
  crates/kithara-ui/src/source.rs
  crates/kithara-ui/src/validate.rs
  crates/kithara-ui/tests/common/mod.rs
  crates/kithara-ui/tests/compile.rs
  crates/kithara-ui/tests/multi_deck.rs
Due: semver, perf, bench

fix(app): render command buttons without a read binding
  crates/kithara-app/src/gui/modular/controls.rs
Due: semver, perf

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock
