Repository zvuk/kithara: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semver, perf, bench

Path conditions:
  semver: any of: crates/*/src/**/*, crates/*/Cargo.toml
  perf: any of: crates/**/*, tests/perf/**/*, Cargo.toml, Cargo.lock
  bench: any of: crates/kithara-abr/**/*, Cargo.toml, Cargo.lock

style: collapse method chains flattened by the clone-fix commit
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-hls/src/stream/hls.rs
  crates/kithara-play/src/impls/engine.rs
Due: semver, perf

perf: build report/error strings with write! instead of push_str(format!)
  crates/kithara-devtools/src/common/report.rs
  crates/kithara-devtools/src/health.rs
  crates/kithara-devtools/src/perf/report.rs
  crates/kithara-devtools/src/perf/slow.rs
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/client.rs
  xtask/src/release.rs
Due: semver, perf

refactor(assets): make asset events unconditional, drop the events feature + noop twin
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/evict.rs
  crates/kithara-assets/src/evict/events_noop.rs
  crates/kithara-assets/src/lease.rs
  crates/kithara-assets/src/lease/events_noop.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-hls/Cargo.toml
Due: semver, perf

fix(tooling): repair drifted health/CI recipes; guard against argv drift
  .gitlab-ci.yml
  crates/kithara-devtools/src/health.rs
  docs/guides/tooling.md
  justfile
Due: semver, perf

chore(tooling): gate typos + style/idioms ratchets, add front-door recipes
  .config/typos.toml
  .gitlab-ci.yml
  justfile
Due: none

refactor(xtask): move the audit runner into xtask; single-source audit/health stages
  crates/kithara-devtools/src/audit.rs
  crates/kithara-devtools/src/common/style.rs
  crates/kithara-devtools/src/health.rs
  crates/kithara-devtools/src/lib.rs
  crates/kithara-devtools/src/stages.rs
  docs/guides/tooling.md
  justfile
Due: semver, perf

feat(lint): getter->fieldwork autofix checker (derivable_getter) + proof
  .config/ast-grep/idioms.derive-getter-candidate.yml
  .config/idioms/thresholds.toml
  Cargo.lock
  crates/kithara-apple/Cargo.toml
  crates/kithara-apple/src/foundation/urlsession.rs
  crates/kithara-devtools/src/arch/mod.rs
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
  crates/kithara-devtools/src/idioms/checks/derivable_support.rs
  crates/kithara-devtools/src/idioms/checks/mod.rs
  crates/kithara-devtools/src/idioms/config.rs
  crates/kithara-devtools/src/idioms/mod.rs
  crates/kithara-devtools/src/manifest.rs
  crates/kithara-hls/Cargo.toml
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-platform/Cargo.toml
  crates/kithara-platform/src/common/cancel/group.rs
  crates/kithara-platform/src/common/maybe_send.rs
  crates/kithara-platform/src/flash/sync/mutex.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player_processor.rs
Due: semver, perf, bench

refactor: collapse hand-written getters into fieldwork across the workspace
  Cargo.lock
  crates/kithara-abr/Cargo.toml
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-app/Cargo.toml
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-apple/src/audio_toolbox/file.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
  crates/kithara-events/Cargo.toml
  crates/kithara-events/src/bus.rs
  crates/kithara-events/src/play.rs
  crates/kithara-file/Cargo.toml
  crates/kithara-file/src/coord.rs
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-net/Cargo.toml
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/traits.rs
  crates/kithara-platform/src/flash/sync/mutex.rs
  crates/kithara-platform/src/wasm/tokio/task.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara-queue/src/navigation.rs
  crates/kithara-test-utils/Cargo.toml
  crates/kithara-test-utils/src/probe/capture/recorder.rs
Due: semver, perf, bench

feat(lint): delegate! subset detection in derivable_delegation
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
  crates/kithara-devtools/src/idioms/checks/derivable_support.rs
  crates/kithara-devtools/src/idioms/config.rs
Due: semver, perf

fix(test-macros): splice probe body statements to avoid nested-block braces
  crates/kithara-test-macros/src/probe/expand.rs
Due: semver, perf

feat(lint): universal attr passthrough + semicolon forwarders in derivable_delegation
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
  crates/kithara-devtools/src/idioms/config.rs
Due: semver, perf

fix(lint): keep generic forwarders manual in derivable_delegation
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
Due: semver, perf

feat(lint): format delegate! signatures + gate #[expr] output
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
Due: semver, perf

feat(lint): delegate to self + blank-line and multiline-attr formatting
  crates/kithara-devtools/src/idioms/checks/derivable_delegation.rs
Due: semver, perf

feat(lint): detect with_* owned setters -> fieldwork with in derivable_getter
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
Due: semver, perf

refactor: collapse with_* setters into fieldwork with
  Cargo.lock
  crates/kithara-audio/src/pipeline/source.rs
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/gapless/trimmer/core.rs
  crates/kithara-queue/src/config.rs
Due: semver, perf, bench

fix(lint): keep qualification-prone getters manual (config-driven)
  .config/idioms/thresholds.toml
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
  crates/kithara-devtools/src/idioms/config.rs
Due: semver, perf

refactor: collapse eligible getters into fieldwork get
  Cargo.lock
  crates/kithara-devtools/Cargo.toml
  crates/kithara-devtools/src/common/violation.rs
  crates/kithara-test-utils/src/hang/real/detector_native.rs
  crates/kithara-test-utils/src/hang/real/detector_wasm.rs
Due: semver, perf, bench

fix(lint): do not merge accessor docs into fields in derivable_getter
  crates/kithara-devtools/src/idioms/checks/derivable_getter.rs
Due: semver, perf

refactor: restore field docs mangled by accessor-doc merge
  crates/kithara-abr/src/controller/core.rs
  crates/kithara-app/src/state.rs
  crates/kithara-app/src/waveform.rs
  crates/kithara-assets/src/scope.rs
  crates/kithara-audio/src/audio.rs
  crates/kithara-devtools/src/common/violation.rs
  crates/kithara-events/src/bus.rs
  crates/kithara-hls/src/handle/resource.rs
  crates/kithara-hls/src/segment/core.rs
  crates/kithara-net/src/traits.rs
  crates/kithara-platform/src/flash/sync/mutex.rs
  crates/kithara-platform/src/flash/system/gate.rs
  crates/kithara-platform/src/wasm/tokio/task.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/player_processor.rs
  crates/kithara-play/src/impls/player_track.rs
  crates/kithara-play/src/impls/resource.rs
  crates/kithara-queue/src/config.rs
  crates/kithara-queue/src/navigation.rs
  crates/kithara-test-utils/src/probe/capture/recorder.rs
Due: semver, perf, bench

feat(decode): WebCodecs browser decode backend (HE-AAC on wasm) (#109)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  assets/he_aac_v1_init.mp4
  assets/he_aac_v1_segment.m4s
  assets/he_aac_v2_init.mp4
  assets/he_aac_v2_segment.m4s
  crates/kithara-audio/Cargo.toml
  crates/kithara-decode/CONTEXT.md
  crates/kithara-decode/Cargo.toml
  crates/kithara-decode/src/codec.rs
  crates/kithara-decode/src/composed.rs
  crates/kithara-decode/src/factory/inner.rs
  crates/kithara-decode/src/lib.rs
  crates/kithara-decode/src/webcodecs/codec.rs
  crates/kithara-decode/src/webcodecs/host.rs
  crates/kithara-decode/src/webcodecs/mod.rs
  crates/kithara-decode/src/webcodecs/probe.rs
  crates/kithara-decode/src/webcodecs/protocol.rs
  crates/kithara-decode/tests/webcodecs_browser.rs
  crates/kithara-encode/CONTEXT.md
  crates/kithara-encode/README.md
  crates/kithara-encode/src/factory.rs
  crates/kithara-encode/src/fdk/aac_he.rs
  crates/kithara-encode/src/fdk/mod.rs
  crates/kithara-encode/src/ffmpeg/core.rs
  crates/kithara-ffi/Cargo.toml
  crates/kithara-ffi/src/web/bindings.rs
  crates/kithara-play/Cargo.toml
  crates/kithara-play/src/wasm_support.rs
  crates/kithara-queue/Cargo.toml
  crates/kithara/Cargo.toml
  justfile
  tests/src/native/fmp4/codec.rs
  tests/src/rfc6381.rs
  tests/src/test_server.rs
  tests/tests/kithara_hls/aac_he_v2_hls_decode.rs
Due: semver, perf, bench

fix(test): restore flash-aware sleep in playlist stall test
  tests/tests/kithara_queue/playlist_stall_fails_load.rs
Due: none

fix(platform): remove stale flash import
  crates/kithara-platform/src/flash/diag/thread.rs
Due: semver, perf

fix(tests): remove stale PCM trait import
  tests/tests/phase_continuity/file.rs
Due: none

fix(audio): publish consumer events without worker flush
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/event.rs
Due: semver, perf

fix(audio): publish consumer events without worker flush (#115)
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/event.rs
Due: semver, perf

feat(audio,play): consume-side varispeed transport with live pitch-bend
  crates/kithara-audio/src/audio/build.rs
  crates/kithara-audio/src/audio/core.rs
  crates/kithara-audio/src/audio/cursor.rs
  crates/kithara-audio/src/audio/ring.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/effects/transport.rs
  crates/kithara-audio/src/traits/reader.rs
  crates/kithara-play/src/bridge/protocol.rs
  crates/kithara-play/src/player/core.rs
  crates/kithara-play/src/player/flow/control.rs
  crates/kithara-play/src/player/flow/transport.rs
  crates/kithara-play/src/player/state/items.rs
  crates/kithara-play/src/player/state/params.rs
  crates/kithara-play/src/resource/reader.rs
  crates/kithara-play/src/rt/command.rs
  crates/kithara-play/src/rt/track/feeder.rs
  tests/tests/kithara_play/mod.rs
  tests/tests/kithara_play/pitch_bend_transport.rs
Due: semver, perf

feat(play): portable session mixer, batch gain command, and peak limiter node
  crates/kithara-app/src/lib.rs
  crates/kithara-app/src/main.rs
  crates/kithara-app/src/mix.rs
  crates/kithara-audio/src/effects/limiter.rs
  crates/kithara-audio/src/effects/mod.rs
  crates/kithara-audio/src/lib.rs
  crates/kithara-play/CONTEXT.md
  crates/kithara-play/src/error.rs
  crates/kithara-play/src/impls/engine.rs
  crates/kithara-play/src/impls/limiter_node.rs
  crates/kithara-play/src/impls/mix.rs
  crates/kithara-play/src/impls/mod.rs
  crates/kithara-play/src/impls/session/client.rs
  crates/kithara-play/src/impls/session/mod.rs
  crates/kithara-play/src/impls/session/state.rs
  crates/kithara-play/src/lib.rs
  crates/kithara-play/src/traits/dj/crossfade.rs
  crates/kithara-play/src/traits/mixer.rs
  crates/kithara-play/src/traits/mod.rs
  tests/tests/kithara_play/mixing.rs
  tests/tests/kithara_play/mod.rs
Due: semver, perf

fix(cache): repair corrupt resources atomically
  crates/kithara-assets/CONTEXT.md
  crates/kithara-assets/src/disk_store.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/index/availability/disk.rs
  crates/kithara-assets/src/index/mod.rs
  crates/kithara-assets/src/index/transaction.rs
  crates/kithara-assets/src/layout.rs
  crates/kithara-assets/src/store.rs
  crates/kithara-assets/src/unified.rs
  crates/kithara-assets/tests/availability_api.rs
  crates/kithara-assets/tests/availability_persistence.rs
  crates/kithara-file/src/session/inner.rs
  crates/kithara-file/src/session/peer.rs
  crates/kithara-hls/CONTEXT.md
  crates/kithara-hls/src/handle/atomic.rs
  crates/kithara-hls/src/playlist/keys.rs
  crates/kithara-hls/src/playlist/playlist_cache.rs
  crates/kithara-hls/tests/support/playlist_cache.rs
  crates/kithara-net/CONTEXT.md
  crates/kithara-net/src/backend/apple/client.rs
  crates/kithara-net/src/backend/apple/delegate.rs
  crates/kithara-net/src/backend/apple/request.rs
  crates/kithara-net/src/backend/apple/response.rs
  crates/kithara-net/src/backend/apple/session.rs
  crates/kithara-net/src/backend/apple/tests.rs
  crates/kithara-net/src/backend/native/shared.rs
  crates/kithara-net/src/client.rs
  crates/kithara-net/src/types.rs
  tests/tests/kithara_assets/resource_state.rs
Due: semver, perf

refactor(assets): make resource keys opaque
  Cargo.lock
  crates/kithara-assets/Cargo.toml
  crates/kithara-assets/src/backend/disk.rs
  crates/kithara-assets/src/decorator/lease/layer.rs
  crates/kithara-assets/src/index/availability/core.rs
  crates/kithara-assets/src/layout/mod.rs
  crates/kithara-assets/src/layout/resource.rs
  crates/kithara-assets/src/store/builder.rs
  crates/kithara-file/src/stream.rs
Due: semver, perf, bench
